<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
	<title>设计师个人中心-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
	<meta name="description" content="{$config['shop_info_store_desc']}" />
	<link rel="stylesheet" href="__MOBILE__/css/mobile_designer.css">
    <style>

    </style>
</head>
<body style="padding-bottom:6.6rem;position:relative;">
	<div class="topSearch">
		<a href="javascript:history.go(-1);" class="back"></a>
		<p>设计师</p>
	</div>
	<div class="designer-details">
		<ul class="designer-infos-shows">
			<li class="designer-head-Img">
			    <img src="{$userList.head_pic|default='images/big.jpg'}" alt="头像">
			</li>
			<li class="designer-infos-details">
				<!-- <p class="designer-names"><strong>{$worksList.designer_name}</strong><span>广东深圳</span></p> -->
				<p class="designer-names"><strong>{$supplierList.supplier_name}</strong></p>
				<p class="designer-fans">设计师类型：<span>{$supplierList.company_type}</span></p>
				
				<a id="attention" onclick="addAttention({$supplierList.supplier_id})" href="javascript:void(0);">关注</a>
			</li>
		</ul>
	</div>
	<p class="designer-introdution">
		个人简介：<span>{$supplierList.introduction}</span>
	</p>
	<ul class="page-tab">
		
		<li><a href="{:url('Mobile/Works/DesignerCenter1',array('id'=>$supplierList.supplier_id))}">作品</a></li>
		<!-- <li><a href="{:url('Mobile/Works/DesignerCenter2')}" class="tabCur">在售作品</a></li> -->
		<li><a href="JavaScript:void(0);" class="tabCur">在售作品</a></li>
	</ul>
	<div class="page-container">
		<div class="designer-works-sell page-tab-col pageCur" style="padding:0;" id="ajaxAppend">
			
			<foreach name="goodsList" item="v" key="k">
				<div class="works-sell-col-1">
				    <a href="{:Url('/Mobile/Works/GoodsInfo',array('id'=>$v[goods_id]))}">

						<div class="works-sell-img-1">
						    <img src="{$v.goods_thumb|default='public/static/images/tou2.png'}" alt="">
						</div>
						<div class="works-sell-name-price-1">
							<p class="works-sell-name-1">{$v.goods_name}</p>
							<p class="works-price-1">¥<span>{$v.shop_price}</span></p>
						</div>
					</a>
				</div>
			</foreach>

		</div>
	</div>

	<!--<a href="http://wpa.qq.com/msgrd?v=3&uin=956553800&site=qq&menu=yes— Eidson" id="chat">和他/她沟通</a>-->
	<a href="javascript:void(0);" id="chat">和他/她沟通</a>

	<div class="model-bg">
		<div class="contact-infos">
			<p>微信号：<span>{$supplierList.guimo}</span></p>
			<p>Q   Q：<span>{$supplierList.qq}</span></p>
		</div>
	</div>


	<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/sourch_submit.js"></script>
	<script>
		$(function () {
			var H = $(window).height();
			$('.model-bg').css('height',H);

			$('#chat').click(function (event) {
				$('.model-bg').fadeIn(100);
				return false;
			})

			$(document).click(function () {
				$('.model-bg').fadeOut(100);
			});
		});

		var  page = 2;
	    /**
	     * ajax加载更多作品
	     */
	    function ajax_sourch_submit()
	    {
	        if(page > 15){
			   return;
			   }
	        $.ajax({
	            type : "get",
	            url:"{:Url('Mobile/Works/DesignerCenter2')}",//+tab,

	            data:{id:'{$Request.param.id}',sort:'{$Request.param.sort}',sort_asc:'{$Request.param.sort_asc}',sel:'{$Request.param.sel}',is_ajax:1,p:page},
	            success: function(data)
	            {

	            	if(data){
                        $("#ajaxAppend").append(data);
              		}

	            }
	        });
	        page++;
	    }


	    function addAttention(id){
	        $.ajax({
	            type : "get",
	            dataType: "json",
	            url:"/index.php?m=Mobile&c=Works&a=collect_supplier&id="+id,//+tab,

	            success: function (data) {
	                if (data.status== 1) 
	                {
						
	                	$('#attention').text('已关注');
	                } else if(data.status== -1)
	                {
	                	
	                    $('#attention').text('关注');
	                }
	            },
	            error:function(){
                    alert('服务器繁忙，请刷新页面后重试');
                },

	        });
	    }

	</script>
</body>
</html>
