<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>设计师个人中心-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
	<meta name="description" content="{$config['shop_info_store_desc']}" />
	<link rel="stylesheet" href="__MOBILE__/css/mobile_designer.css">
    <style>

    </style>
</head>
<body style="padding-bottom:6.6rem;">
	<div class="designer-details">
		<ul class="designer-infos-shows">
			<li class="designer-head-Img"></li>
			<li class="designer-infos-details">
				<p class="designer-names"><strong>天高任鸟飞天高任鸟飞天高任鸟飞天高任鸟飞天高任鸟飞</strong><span>广东深圳</span></p>
				<p class="designer-fans">粉丝：<span>124</span></p>
				<a href="#" id="attention">关注</a>
			</li>
		</ul>
	</div>
	<p class="designer-introdution">
		个人简介：<span>乡愁是一份沉重的爱。离开故土的游子，默默将爱收藏在心底。在异乡打拼，心里异常孤独，对着城市的钢筋水泥，对着那些永远都不可能与之说心里话的人，心中充满惆怅。在寂寞的时候，对着荷塘月色，想起故乡的袅袅炊烟，想起脸上堆满皱纹的阿爸阿妈，想起故乡的那条清澈的小河，想起儿时的玩伴，心中不由泛起甜蜜而酸涩的涟漪。</span>
	</p>
	<ul class="page-tab">
		<li><a href="javascript:void(0);" class="tabCur">作品(<span>10</span>)</a></li>
		<li><a href="javascript:void(0);">在售作品</a></li>
	</ul>
	<div class="page-container">
		<div class="designer-works page-tab-col pageCur">
			<div class="designer-works-show-col">
				<div class="design-imgs-book"></div>
				<h4 class="design-works-name">作品名称,乡愁是一份沉重的爱。离开故土的游子，默默将爱收藏在心底。在异乡打拼，心里异常孤独，对着城市的钢筋水泥，对着那些永远都不可</h4>
				<dl class="works-type-infos">
					<dt><span>书籍设计</span>-<span>作品类型</span></dt>
					<dd>浏览<span>508</span></dd>
					<dd>收藏<span>68</span></dd>
				</dl>
			</div>
			<div class="designer-works-show-col">
				<div class="design-imgs-book"></div>
				<h4 class="design-works-name">作品名称,乡愁是一份沉重的爱。离开故土的游子，默默将爱收藏在心底。在异乡打拼，心里异常孤独，对着城市的钢筋水泥，对着那些永远都不可</h4>
				<dl class="works-type-infos">
					<dt><span>书籍设计</span>-<span>作品类型</span></dt>
					<dd>浏览<span>508</span></dd>
					<dd>收藏<span>68</span></dd>
				</dl>
			</div>
			<div class="designer-works-show-col">
				<div class="design-imgs-book"></div>
				<h4 class="design-works-name">作品名称,乡愁是一份沉重的爱。离开故土的游子，默默将爱收藏在心底。在异乡打拼，心里异常孤独，对着城市的钢筋水泥，对着那些永远都不可</h4>
				<dl class="works-type-infos">
					<dt><span>书籍设计</span>-<span>作品类型</span></dt>
					<dd>浏览<span>508</span></dd>
					<dd>收藏<span>68</span></dd>
				</dl>
			</div>
		</div>
		<div class="designer-works-sell page-tab-col">
			<div class="works-sell-col">
				<a href="#">
					<div class="works-sell-img"></div>
					<p class="works-sell-name">作品名称,乡愁是一份沉重的爱。离开故土的游子</p>
					<p class="works-price">¥<span>198</span></p>
				</a>
			</div>
			<div class="works-sell-col">
				<a href="#">
					<div class="works-sell-img"></div>
					<p class="works-sell-name">作品名称,乡愁是一份沉重的爱。离开故土的游子</p>
					<p class="works-price">¥<span>198</span></p>
				</a>
			</div>
			<div class="works-sell-col">
				<a href="#">
					<div class="works-sell-img"></div>
					<p class="works-sell-name">作品名称,乡愁是一份沉重的爱。离开故土的游子</p>
					<p class="works-price">¥<span>198</span></p>
				</a>
			</div>
		</div>
	</div>

	<!--<a href="http://wpa.qq.com/msgrd?v=3&uin=956553800&site=qq&menu=yes— Eidson" id="chat">和他/她沟通</a>-->
	<a href="tel:15011677115" id="chat">和他/她沟通</a>

	<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script>
		$(function () {
			$('.page-tab li').each(function () {
				$(this).children('a').click(function () {
					$(this).addClass('tabCur');
					var n = $(this).parent('li').index();
					$(this).parent('li').siblings().children('a').removeClass('tabCur')
					$('.page-tab-col').eq(n).addClass('pageCur').siblings('.page-tab-col').removeClass('pageCur')
				})
			})
		})
	</script>
</body>
</html>
