<foreach name="list" item="vo" key="k" >
    <div class="supplier-col">
        <a href="{:Url('Supplier/index',array('id'=>$vo['supplier_id']))}" class="stores">
            <div class="supplier-logo"><img src="{$vo.logo_img}" alt=""></div>
            <div class="supplier-info">
                <h6>{$vo[supplier_name]}</h6>
                <p>{$vo[introduction]}</p>
                <dl class="show_number">
                    <dt>推荐指数：</dt>
                    <dd>
                        <div class="atar_Show">
                            <p tip="{$vo.number}"></p>
                        </div>
                    </dd>
                </dl>
            </div>
        </a>
    </div>
</foreach>
<script>
    $(function () {
        //推荐度 星星10分为满分
        $(".show_number dd p").each(function() {
            var num = $(this).attr("tip");
            var www = num * 2 * 0.2; //
            $(this).css("width",www + 'rem');
        });
    })

</script>