<include file="public/header" title="所有分类"/>
<link rel="stylesheet" href="__MOBILE__/css/mobile.css">
<style>
    body{
        background: #fff;
        padding-top: 4rem;
    }
    .topAS{
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        z-index:99999;
    }
  	.catalogTab a{
        text-decoration: none;
    }
</style>
<div class="topAS">
    <div class="classreturn">
        <div class="content">
            <div class="ds-in-bl return">
                <a href="/"><img src="__STATIC__/images/logo.png" alt="一礼通"></a>
            </div>
            <div class="ds-in-bl search" style="margin-left:15%;">
                <form action="" method="post">
                    <div class="sear-input">
                        <a href="{:Url('Goods/ajaxSearch')}">
                            <input type="text" value="" placeholder="搜索礼品/商铺/设计师">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 分类 start -->
    <ul class="catalogTab clearfix">
        <li><a href="{:url('Goods/gift')}">送礼攻略</a></li>
        <li><a href="{:url('Goods/categoryList')}">商品分类</a></li>
        <li><a href="{:url('Supplier/recsupplier')}" class="catalogTabAct">店铺精选</a><span></span></li>
    </ul>
    <!-- 分类 end -->
</div>
    <!-- 星级 评分 start -->
    <div class="catalogTab-list">
        <div class="catalogTab-col supplier-list" id="supplier-list">

        </div>
    </div>
    <!-- 星级 评分 end -->
    <div style="height: 2.5rem"></div>

    <!--底部-start-->
    <include file="public/footer"/>
    <!--底部-end-->
<script type="text/javascript" src="__STATIC__/mobile/js/sourch_submit.js"></script>
<script>
    var page = 1;
    function ajax_sourch_submit(){
        if(page > 10){
            return;
        }
        $.ajax({
            type : "get",
            url:"/index.php?m=Mobile&c=Supplier&a=ajax_recsupplier_list&p="+page,
            success: function(data)
            {
                if(data){
                    $("#supplier-list").append(data);
                }
            }
        });
        page++;
    }
    ajax_sourch_submit();


    $(function () {


        //点击切换2 3级分类
        var array=new Array();
        $('.category1 li').each(function(){
            array.push($(this).position().top-0);
        });
        $('.branchList').eq(0).show().siblings().hide();
        $('.category1 li').click(function() {
            var index = $(this).index() ;
            $('.category1').delay(200).animate({scrollTop:array[index]},300);
            $(this).addClass('cur').siblings().removeClass();
            $('.branchList').eq(index).show().siblings().hide();
            $('.category2').scrollTop(0);
        });

    });
</script>
	</body>
</html>
