<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计师-我的账户-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">

    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
</head>

<body style="background:#f7f7f7;">
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<div class="user-home" style="background:#2e2e2e;">
    <div class="inner clearfix">
        <div class="logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
                <p>（返回一礼通商城首页）</p>
            </a>
        </div>
        <a href="{:Url('Home/User/index')}" class="exit">退出设计师后台</a>
    </div>
</div>


<div class="inner clearfix m-top-20">
    <!-- design-left  start -->
    <include file="public/designerLeftNav" />
    <!-- designer-left end -->

    <!-- design-right  start -->
    <div class="design-authentication-index">
        <div class="design-authentication-index-col">
            <p class="trade-title">
                我的收入<span style="padding-left:10px;font-size:12px;font-weight:normal;color:#888;">--提现</span>
                <a href="javascript:history.go(-1);">返回上级</a>
            </p>
        </div>

        <div class="design-authentication-index-col" style="margin-top:1px;">
            <p class="income-pay-title">资产提现 <span style="float:right;color:#ccc;">提现明细</span></p>
        </div>

        <div class="design-authentication-index-col" style="margin-top:1px;padding-bottom:60px;">
            <div class="DrawCashContainer">
                <dl class="DrawCashTitle">
                    <dt>可提现资产</dt>
                    <dd>合计：<span id="totalMoney">{$info['user_money']}</span>元</dd>
                </dl>
                <form action="" id="cashform">
                    <div class="DrawCashDom" id="DrawCashDom">
                        <div class="DrawCashDom-col">
                            <label>提现账号：</label>
                            <input type="text" name="account" class="DrawCashDom-text" placeholder="输入您的账号" maxlength="35">
                            <span class="DrawCash-tips">注：请输入您的支付宝账号</span>
                        </div>
                        <div class="DrawCashDom-col">
                            <label>你的姓名：</label>
                            <input type="text" name="real_name" class="DrawCashDom-text" placeholder="输入您的姓名">
                            <span class="DrawCash-tips">注：请输入您的支付宝账号绑定的真实姓名</span>
                        </div>
                        <div class="DrawCashDom-col">
                            <label>提现金额：</label>
                            <input type="text" name="num" class="DrawCashDom-text" placeholder="输入您的提现金额" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            <span class="DrawCash-tips">请输入您的提现金额</span>
                        </div>
                        <div class="DrawCashDom-col">
                            <label>验证码：</label>
                            <input type="text" name="code" class="DrawCashDom-text" placeholder="输入验证码" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            <a href="javascript:void(0);" class="DrawCashDom-tel-code" id="DrawCashDom-tel-code" onClick="send_sms_reg_code()">获取验证码</a>
                        </div>
                        <div class="DrawCashDom-col">
                            <label class="DrawCashDom-red-icon">注意：</label>
                            <span class="DrawCash-tips">请务必填写正确的提现账号与正确的账号姓名，否则后果自负</span>
                        </div>
                        <a href="javascript:void(0);" class="DrawCashDom-btn" onclick="cash_model()">提现</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- designer-right end -->
</div>


<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->

<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/layer/layer.js"></script><!-- 弹窗js 参考文档 http://layer.layui.com/-->

<script type="text/javascript">
    // 发送手机短信  --start
    function send_sms_reg_code(){
        var account = $('input[name="account"]').val();
        if(account == '')
        {
            layer.alert('提现账号不能为空',{icon: 2});
            return false;
        }
		var mobile = {$info.mobile};
        var url = "/index.php?m=Home&c=Api&a=send_validate_code&scene=1&type=5&mobile="+mobile;
        $.get(url,function(res){
            if(res.status == 1)
            {
                $('#DrawCashDom-tel-code').attr("disabled","disabled");
                intAs = 90; // 手机短信超时时间
                jsInnerTimeout('DrawCashDom-tel-code',intAs);
                layer.alert(res.msg, {icon: 1});
            }else{
                layer.alert(res.msg, {icon: 2});
            }
        })
    }
    $('#DrawCashDom-tel-code').removeAttr("disabled");
    //倒计时函数
    function jsInnerTimeout(id,intAs)
    {
        var codeObj=$("#"+id);
        //var intAs = parseInt(codeObj.attr("IntervalTime"));

        intAs--;
        if(intAs<=-1)
        {
            codeObj.removeAttr("disabled");
//            codeObj.attr("IntervalTime",60);
            codeObj.text("发送");
            return true;
        }

        codeObj.text(intAs+'秒');
//        codeObj.attr("IntervalTime",intAs);

        setTimeout("jsInnerTimeout('"+id+"',"+intAs+")",1000);
    }
    // 发送手机短信  --end


    //提现模态框
    function cash_model()
    {
        var totalMoney = $('#totalMoney').text();
        var mobile = $('input[name="mobile"]').val();
        var name = $('input[name="real_name"]').val();
        var num = $('input[name="num"]').val();
        var code = $('input[name="code"]').val();
        if(mobile == ''){
            layer.alert('提现账号不能为空', {icon: 2});// alert('请输入正确的手机号码');
            return false;
        }else if(name == ''){
            layer.alert('真实姓名不能为空', {icon: 2});// alert('请输入真实姓名');
            return false;
        }else if(num == ''){
            layer.alert('提现金额不能为空', {icon: 2});// alert('请输入提现金额');
            return false;
        }else if(num > parseFloat(totalMoney)){
            layer.alert('提现金额不能超过总金额', {icon: 2});// alert('请输入验证码');
            return false;
        }else if(parseFloat(num) < 10){
            layer.alert('提现金额不能少于10元', {icon: 2});// alert('请输入验证码');
            return false;
        }else if(code == ''){
            layer.alert('验证码不能为空', {icon: 2});// alert('请输入验证码');
            return false;
        }
        $('.cashModel-bg').fadeIn();
        $('.cashModel-account-num').text(mobile);
        $('.cashModel-account-name').text(name);
        $('.cashModel-account-money').text(num);
		drawCash();
    }

    //确认提现
    function drawCash()
    {
        $.ajax({
            type:'POST',
            url:'/Home/Designer/DrawCash',
            data:$('#cashform').serialize(),
            dataType:'json',
            success:function(data){
                
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function(){
                        //成功提交后页面跳转的路径
                        //alert(123);
                        location.href = "Account";
                    });
                
            },
            error:function(){
                layer.alert('服务器繁忙, 请联系客服')
            }
        })
    }





</script>
</body>
</html>