

<div class="personal-infos-bg">
    <div class="personal-infos-bg-cneter">
        <img src="__STATIC__/images/designer_banner_bg.jpg" alt="">
        <!--<a href="javascript:void(0);" class="uploadBanner">编辑</a>-->
    </div>
</div>


<script>
    $(function () {
        //搜索下拉选择
        $('.search-type').on('click',function () {
            $('.search-type-list').css('display','block');
        });
        $('.search-type').on('mouseleave',function () {
            $('.search-type-list').css('display','none');
        });

        $('.search-type-list li').each(function () {
            $(this).click(function () {
                $('.searching-type').text($(this).text());
            })
        });

        //搜索赋值
        $('.search-type-list li').each(function () {
            $(this).click(function(){
                $('#searching-type').val($(this).children('input').val());  //把选择对应的类型的值赋予搜索状态值
            })
        });
    })


    var searchForm = document.getElementById('searchForm');
    var searchType = document.getElementById('searching-type');
    function searchFormbb()
    {
        if(searchType.value == 1)
        {
            //alert(1111);
            searchForm.action="{:Url('Home/Works/worksList')}";
            searchForm.submit();
        }
        else if(searchType.value == 2)
        {
            //alert(2222);
            searchForm.action="{:Url('Home/Works/designsList')}";
            searchForm.submit();
        }
        else if(searchType.value == 3)
        {
            //alert(333);
            searchForm.action="http://www.baidu.com";
            searchForm.submit();
        }
        else if(searchType.value == 4)
        {
            //alert(444);
            searchForm.action="http://www.baidu.com";
            searchForm.submit();
        }

    }



</script>