<include file="public/layout" />
<script type="text/javascript">
  $(function(){
     $("#colseX").click(function(){
        $(".show").hide();
     })
  })
  //  $(".show").show().delay(300).fadeOut();
</script>
<style>
    .err{color:#F00; display:none;}
    .ui-tooltip{
        display:none;
        display:none !important;
    }
    .line{
        width: 1100;
        margin:50px auto 20px;
        border-bottom: 1px solid #000;  
    }

    .content{
        width: 1000px;
        margin:0px auto 20px;
    }
    .content li{
        display: block;
        height: 30px;
    }
    
    .content li span{
        font-size: 16px;
        display: block;
        width: 150px;
        float: left;
        line-height: 30px;
        margin-right: 10px;
    }
    .content ul li .t_tips{
        width: 80px;
        margin-right: 0px;
    }
    .list_table {        
        border:1px #d2d2d2 solid;
        font-size: 16px;
        line-height: 30px;  
        color: #333;  
     }
    .content ul li .t_address{
        width: 200px;
     }
   .list_table thead tr th{
        font-weight: bold;
        text-align: center;
        background: #ccc;
     }
   .list_table tbody tr td{
        text-align: center;
      }
    .ask_list{
        padding-top:10px; 
    }
    /*报价方*/
    .hDiv{
        background-color: #F5F5F5;
        clear: both;
        border-style: solid none;
        border-width: 1px 0;
        border-color: #FFF transparent;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .show{
        background: #ccc;
        max-height: 850px;
        width: 1000px;
        min-height:400px;
        padding: 25px 0px;
        /* // overflow: hidden;*/
        position: absolute;
        z-index:100;
        margin:0 auto;
        top:30%;
        left: 20%;
        
        display: none;
    }
    
    .show span{
        color: #fff;
        float: right;
        display: block;
        float:rihgt;
        font-size: 20px;
        width: 12px;
        line-height: 12px;
    

        margin-right: 20px;
      
    }
    .check_table{
        background: #fff;
        width: 900px;
        margin: 0 auto;
    }

    
  
</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<!-- 省市区插件 -->
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="__PUBLIC__/static/css/index.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/js/apply_one.css" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>询报价详情</h3>
            </div>
        </div>
    </div>
  <!--   询价方信息 -->
    <div class="content">
        <ul>
            <li >
                <span>基础信息</span>
            </li>
            <li >
                <span class="t_tips">
                    采购标题：
                </span>
                <span>
                   {$info.title}
                </span>
              <span class="t_tips">询价时间：</span>
              <span>{$info.inquiry_time|date="Y-m-d ",###}</span>
              <span class="t_tips">截止时间：</span>
              <span> {$info.dead_time|date="Y-m-d ",###}</span>
            </li>
            <li>
                <span class="t_tips">期望收货：</span>
                <span>{$info.expect_time|date="Y-m-d ",###}</span>
                <span class="t_tips">是否定制：</span>
                <span><if $info.sustomized eq 1> 是</if> <if $info.sustomized eq 0>否</if></span>

            </li>
            <li>
                <span class="t_tips">收货地址：</span>
                <span class="t_address">{$info.address}</span>
            </li>
        </ul>
        <div class="ask_list">
            <div style="font-size: 16px;">询价清单</div>
            <table cellspacing="0" cellpadding="0" border="1px solid #000" class="list_table">
                <thead>
                    <tr>
                         <th width="200" height="30">产品名称</th>
                         <th width="200" height="30">规格</th>
                         <th width="200" height="30">颜色</th>
                         <th width="200" height="30">品牌</th>
                         <th width="200" height="30">单位</th>
                         <th width="200" height="30">数量</th>
                    </tr>
                </thead>
                <tbody>
                <volist name="purchase_list" id='item'>
                    <tr>
                        <td>{$item.goods_name}</td>
                        <td>{$item.goods_norm}</td>
                        <td>{$item.goods_color}</td>
                        <td>{$item.goods_brand}</td>
                        <td>{$item.goods_unit}</td>
                        <td>{$item.goods_num}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div  class="line"></div>
    <div class="show"><span id="colseX">X</span>
      <div id="idid" style="margin-top:20px;"></div>
  </div>
   <!--  报价方信息 -->
    <div class="content hDiv">

        <div style="font-size: 16px;margin-bottom: 20px; ">报价公司</div>
        <div class="hDivBox">
            <table cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th class="sign" axis="col0">
                        <div style="text-align: center;width: 50px;"><i class="ico-check">序号</i></div>
                    </th>
                    <th align="left" abbr="article_title" axis="col3" class="">
                        <div style="text-align: center; width: 150px;" class="">公司名称</div>
                    </th>
                     <th align="center" abbr="article_time" axis="col6" class="">
                        <div style="text-align: center; width: 200px;" class="">供应商所在地区</div>
                    </th>
                    <th align="center" abbr="article_time" axis="col6" class="">
                        <div style="text-align: center; width: 150px;" class="">联系人手机号</div>
                    </th>
                    <th align="center" abbr="article_time" axis="col6" class="">
                        <div style="text-align: center; width: 150px;" class="">期望回复时间</div>
                    </th>
                    <th align="center" abbr="article_time" axis="col6" class="">
                        <div style="text-align: center; width: 150px;" class="">报价时间</div>
                    </th>
                    <th align="center" abbr="article_time" axis="col6" class="">
                        <div style="text-align: center; width: 150px;" class="">操作</div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
            <table>
                <tbody> 
                <foreach name="supply" item="vo" key="k" >
                    <tr>
                        <td class="sign">
                            <div style="width: 50px;text-align: center;"><i class="ico-check">{$k+1}</i></div>
                        </td>
                        <td align="left" class="">
                            <div style="text-align: center; width: 150px;">{$vo.supplier_name}</div>
                        </td>
                        <td align="left" class="">
                            <div style="text-align: left; width: 200px;">{$vo.address}</div>
                        </td>
                        <td align="left" class="">
                            <div style="text-align: center; width: 150px;">{$vo.phone}</div>
                        </td>
                        <td align="left" class="">
                            <div style="text-align: left; width: 150px;">{$vo.an_time|date="Y-m-d",###}</div>
                        </td>
                        <td align="left" class="">
                            <div style="text-align: left; width: 150px;">{$vo.t|date="Y-m-d H:i",###}</div>
                        </td>
                        <td align="left" class="">
                            <a name="{$vo.id}" class="check_but" style="display:inline-block;text-align: center;width: 150px;cursor:pointer;line-height: 42px;color: #3b639f;">查看报价信息</a>
                        </td>
                    </tr>
                 </foreach>
                </tbody>
            </table>
        </div>
        <div class="iDiv" style="display: none;">            
            <table cellspacing="0" cellpadding="0" border="1px solid #000" class="check_table">
                <thead>
                    <tr>
                         <th width="200" height="30">序号</th>
                         <th width="200" height="30">商品名称</th>
                         <th width="200" height="30">规格</th>
                         <th width="200" height="30">颜色</th>
                         <th width="200" height="30">品牌</th>
                         <th width="200" height="30">单位</th>
                         <th width="200" height="30">数量</th>
                         <th width="200" height="30">含税单价/元</th>
                         <th width="200" height="30">含税总价/元</th>
                         <th width="200" height="30">工期</th>
                         <th width="200" height="30">运费</th>
                    </tr>
                </thead>
        </div>
   <div> 
   </div>
</div>
<script type="text/javascript">
    $(".check_but").click(function(){
        

        var a=$(this);        
        var item=$(this).attr('name');
         $.ajax({
            type: "POST",
            //成功提交后数据保存的路径
            url: "{:Url('Purchase/check_ajax')}",
            data: {id:item},
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                var str="";
                var status=data.status;
                    list=data.list;
                if(status==1){
                 //   $(".show span").nextAll().remove();
                    $("#idid").html("");
                        str=" <table cellspacing='0' cellpadding='0' border='1px solid #000' class='check_table'>";
                        str+= $('.check_table thead').html();
                        str+="<tbody>";
                    for(var i=0;i<list.length;i++){
                        str+="<tr>";
                        str+="<td>"+(i+1)+"</td>";
                        str+="<td>"+list[i]['goods_name']+"</td>";
                        str+="<td>"+list[i]['goods_norm']+"</td>";
                        str+="<td>"+list[i]['goods_color']+"</td>";
                        str+="<td>"+list[i]['goods_brand']+"</td>";
                        str+="<td>"+list[i]['goods_unit']+"</td>";
                        str+="<td>"+list[i]['goods_num']+"</td>";
                        str+="<td>"+list[i]['goods_tprice']+"</td>";
                        str+="<td>"+list[i]['goods_sprice']+"</td>";
                        str+="<td>"+list[i]['goods_duration']+"</td>";
                        str+="<td>"+list[i]['goods_freight']+"</td>";
                        str+="</tr>"; 
                    }
                    str+="</tbody></table>";
                    $("#idid").html(str);
                    $(".show").show();
                }
            }
        });

    })
 
    
</script>
</body>
</html>