
<include file="public/layout" />
<script type="text/javascript">
    $(function(){
        $("#colseX").click(function(){
            $(".show").hide();
        })
    })
    //  $(".show").show().delay(300).fadeOut();
</script>
<style>
    .err{color:#F00; display:none;}
    .ui-tooltip{
        display:none;
        display:none !important;
    }
    .line{
        width: 1100;
        margin:50px auto 20px;
        border-bottom: 1px solid #000;
    }

    .content{
        width: 1000px;
        margin:0px auto 20px;
    }
    .content li{
        display: block;
        height: 30px;
    }

    .content li span{
        font-size: 16px;
        display: block;
        width: 150px;
        float: left;
        line-height: 30px;
        margin-right: 10px;
    }
    .content ul li .t_tips{
        width: 80px;
        margin-right: 0px;
    }
    .list_table {
        border:1px #d2d2d2 solid;
        font-size: 16px;
        line-height: 30px;
        color: #333;
    }
    .content ul li .t_address{
        width: 200px;
    }
    .list_table thead tr th{
        font-weight: bold;
        text-align: center;
        background: #ccc;
    }
    .list_table tbody tr td{
        text-align: center;
    }
    .ask_list{
        padding-top:10px;
    }
    /*报价方*/
    .hDiv{
        background-color: #F5F5F5;
        clear: both;
        border-style: solid none;
        border-width: 1px 0;
        border-color: #FFF transparent;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .show{
        background: #ccc;
        max-height: 850px;
        width: 1000px;
        min-height:400px;
        padding: 25px 0px;
        /* // overflow: hidden;*/
        position: absolute;
        z-index:100;
        margin:0 auto;
        top:30%;
        left: 20%;

        display: none;
    }

    .show span{
        color: #fff;
        float: right;
        display: block;
        float:right;
        font-size: 20px;
        width: 12px;
        line-height: 12px;


        margin-right: 20px;

    }
    .check_table{
        background: #fff;
        width: 900px;
        margin: 0 auto;
    }

    .divdiv{
        width: 33%;
        float:left;
    }

</style>

<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>企业采购 - 编辑采集</h3>
                <h5>网站系统企业采购采集详情页</h5>
            </div>
        </div>
    </div>
    <!--   询价方信息 -->
    <div class="content">
        <ul>
            <li >
                <span style="width: 50px">状态：</span><span style="color: #f00;"><if condition="($supply[status] eq 1)">发布中
									   <elseif condition="($vo[status] eq -1)">已截止
								   </if></span>
            </li>
            <li><span>基础信息</span></li>
            <li >
                <div class="divdiv">
                <span class="t_tips" style="width: 120px;">
                    采购公司名称：
                </span>
                    <span>
                 {$supply.company_name}
                </span>
                </div>
                <div class="divdiv">
                    <span class="t_tips">询价时间：</span>
                    <span> {$supply.inquiry_time|date="Y-m-d ",###}</span>
                </div>
                <div class="divdiv">
                    <span class="t_tips">截止时间：</span>
                    <span> {$supply.dead_time|date="Y-m-d ",###}</span>
                </div>
            </li>
            <li>
                <div class="divdiv">
                    <span class="t_tips">期望收货：</span>
                    <span>{$supply.expect_time|date="Y-m-d ",###}</span>
                </div>
                <div class="divdiv">
                    <span class="t_tips" style="width: 120px;">联系人：</span>
                    <span>{$supply.contacts_name}</span>
                </div>
                <div class="divdiv">
                    <span class="t_tips">联系电话：</span>
                    <span class="t_address">{$supply.tel}</span>

                </div>
            </li>
            <li>
                <div class="divdiv">
                    <span class="t_tips">是否定制：</span>
                    <span><if $supply.sustomized eq 1> 是</if> <if $supply.sustomized eq 0>否</if></span>
                </div>
                <div class="divdiv">
                    <span class="t_tips">收货地址：</span>
                    <span class="t_address" style="overflow: hidden;white-space: nowrap;">广东省深圳市福田区益田村002号</span>
                </div>

            </li>
        </ul>
        <br>
        <div class="ask_list">
            <div style="font-size: 16px;">询价清单</div>
            <table cellspacing="0" cellpadding="0" class="list_table">
                <thead>
                <tr>
                    <th  width="100">序号</th>
                    <th width="200" height="30">产品名称</th>
                    <th width="200" height="30">规格</th>
                    <th width="200" height="30">颜色</th>
                    <th width="200" height="30">品牌</th>
                    <th width="200" height="30">单位</th>
                    <th width="200" height="30">数量</th>
                </tr>
                </thead>
                <tbody>
               <volist name="supply_info" id="item">
                <tr>
                    <td>{$key+1}</td>
                    <td>{$item.goods_name}</td>
                    <td>{$item.goods_norm}</td>
                    <td>{$item.goods_color}</td>
                    <td>{$item.goods_brand}</td>
                    <td>{$item.goods_unit}</td>
                    <td>{$item.goods_num}</td>
                </tr>
               </volist>
                </tbody>
            </table>
        </div>
        <br><br>
        <div style="font-size: 16px;">报价清单</div>
        <table cellspacing="0" cellpadding="0" class="list_table">
            <thead>
            <tr>
                <th  width="100">序号</th>
                <th width="200" height="30">商品名称</th>
                <th width="200" height="30">规格</th>
                <th width="200" height="30">颜色</th>
                <th width="200" height="30">品牌</th>
                <th width="200" height="30">单位</th>
                <th width="200" height="30">数量</th>
                <th width="200" height="30">含税单价/元</th>
                <th width="200" height="30">含税合价/元</th>
                <th width="200" height="30">工期</th>
                <th width="200" height="30">运费</th>
                
            </tr>
            </thead>
            <tbody>

            <volist name="supply_info" id="item">
                <tr>
                    <td>{$key+1}</td>
                    <td>{$item.goods_name}</td>
                    <td>{$item.goods_norm}</td>
                    <td>{$item.goods_color}</td>
                    <td>{$item.goods_brand}</td>
                    <td>{$item.goods_unit}</td>
                    <td>{$item.goods_num}</td>
                    <td>{$item.goods_tprice}</td>
                    <td>{$item.goods_sprice}</td>
                    <td>{$item.goods_duration}</td>
                    <td>{$item.goods_freight}</td>
                    
                </tr>
            </volist>

            </tbody>
        </table>
    </div>
</div>


</div>
</body>
</html>

