body {
	font-family: "Microsoft YaHei";
}

input {
	text-align: right;
	padding-bottom: 4px;
	border: none;
}

.placeholder::-webkit-input-placeholder {
	color: #d9d9d9;
	font-size: 0.9em;
}

.placeholder::-moz-placeholder {
	color: #d9d9d9;
	font-size: 0.9em;
}

.placeholder:-moz-placeholder {
	color: #d9d9d9;
	font-size: 0.9em;
}

.placeholder:-ms-input-placeholder {
	color: #d9d9d9;
	font-size: 0.9em;
}

.title {
	font-size: 16px;
}


.main .box {
	padding: 0 10px;
	height: 4em;
	line-height: 4em;
	border-bottom: 1px solid #eee;
	position: relative;
	background-color: #fff;
}

.left {
	width: 0.7em;
	color: red;
	line-height: inherit;
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 4px;
}



.gain{
	width: 85px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	margin-top: 14px;
	border-radius: 2em;
}

/*提交报价*/

.commit {
	border-radius: 2em;
	margin: 1em 4em;
	height: 3em;
	line-height: 3em;
	text-align: center;
}
