<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球礼品产业链一站式综合服务</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/public/yilitong/css/style.css" type="text/css">
<link rel="stylesheet" href="/public/yilitong/css/index.css" type="text/css">
<link rel="stylesheet" href="/public/yilitong/css/brandList.css" type="text/css">
<script src="/public/yilitong/js/index.js"></script>
  <style>
    .subitems{width:400px;height:400px;background: #f00;postion:absolute;z-index:99999999;}
  </style>
<body>
 <include file="public/header" />
 <div class="connet">
  <div class="contaier layout">
    <div class="list-nav">
      <div class="div-left">
        <a>首页</a>    
      </div>
      <i class="z-arrow">></i> 
      <div class="div-right">
        <a>更多品牌</a>
      </div>
    </div>
    <ul class="word-list">

    <volist	name="brandList" id="item" key="key">
		<li>
			<volist name="$item" id="vo" key='k'>
				<div>
                    <a href="{:Url('Home/Goods/brandList',array('brand_id'=>$vo.id))}">
                        <img src="{$vo.logo}" alt="">
                    </a>
                    <p>{$vo.name}</p>
                </div>
			</volist>
		</li>
	</volist>	
    </ul>
  </div>
</div>

<div class="alldiv" style="background: #d8d8d8;">
    <div class="layout">
        <ul class="footli">
            <li>
                <img src="/public/yilitong/images/footer-icon-1.png"/>
                <div>
                    <p class="footp">质量保证</p>
                    <p>正品行货 放心购物</p>
                </div>
            </li>
            <li>
                <img src="/public/yilitong/images/footer-icon-2.png"/>
                <div>
                    <p class="footp">物流无忧</p>
                    <p>下单闪电发货包邮</p>
                 </div>
            </li>
            <li>
                <img src="/public/yilitong/images/footer-icon-3.png"/>
                <div>
                    <p class="footp">售后服务</p>
                    <p>正品行货 放心购物</p>
                </div>
            </li>
            <li>
                <img src="/public/yilitong/images/footer-icon-4.png"/>
                <div>
                    <p class="footp">退换无忧</p>
                    <p>正品行货 放心购物</p>
                </div>
            </li>
        </ul>
        <br><br>
        <hr style="margin-top:40px">
        <div class="helpful layout">
    <ylt sql="select * from `__PREFIX__article_cat` where parent_id = 2" key="k" item='v'>
            <dl <if condition="$k neq 0">class="jszc"</if> >
                <dt>{$v[cat_name]}</dt>
                <dd>
                    <ol>
                        <ylt sql="select * from `__PREFIX__article` where cat_id = $v[cat_id] and is_open=1" key="k2" item='v2'>
                        <li><a href="{:Url('Home/Article/detail',array('article_id'=>$v2[article_id]))}" target="_blank">{$v2[title]}</a></li>
                        </ylt>
                    </ol>
                </dd>
            </dl>
    </ylt>
     </div>
        
        <hr >
        <div style="text-align: center;line-height: 40px;">
            <span><a href="javascript:void(0);">我们的团队</a></span>
            <span> | </span>
            <span><a href="javascript:void(0);">网站联盟</a></span>
            <span> | </span>
            <span><a href="javascript:void(0);">热火搜索</a></span>
            <span> | </span>
            <span><a href="javascript:void(0);">诚征英才</a></span>
            <span> | </span>
            <span><a href="javascript:void(0);">友情链接</a></span>
            <span> | </span>
            <span><a href="javascript:void(0);">一礼通新品</a></span>
            <span> | </span>
            <span>开放平台</span>
            <br>
            <p>Copyright © 2017-2027 一礼通 (www.yilitong.com)-互联网生活应用平台 版权所有 保留一切权利 备案号:粤ICP备16118712号-1</p>
            <br>
            <span id="cnzz_stat_icon_1264421531"><a href="http://www.cnzz.com/stat/website.php?web_id=1264421531" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a></span>
            <br>
            <div style="margin-left: 400px;margin-top: -15px;">
                <ul class="guarantee">
                    <li>
                    <a href="https://v.anquan.org/cert/site/?site=www.yilitong.com&amp;at=realname" rel="nofollow">
                        <img src="/public/yilitong/images/anquan_cnnic.png">
                    </a>
                   </li>
					<li>
                    <!--可信网站图片LOGO安装开始-->
                     <img src="http://rr.knet.cn/static/images/logo/cnnic.png">
                   </li>
                   <li>
                    <img src="/public/yilitong/images/weixin_cnnic.png">
                   </li>
                   <li>
                    <img src="/public/yilitong/images/zhifubao_cnnic.png">
                   </li>
               </ul>
            </div><br>
           <!-- <span>友情链接 </span><span>礼品公司 </span><span>北京礼品卡 </span><span>玉林批发网 </span><span>礼品网站 </span><span>仓库管理系统 </span><span>礼品册 </span><span>商务礼品 </span><span>节日礼品册 </span><span>礼品商城 </span><span>生日礼物 </span><span>礼品批发 </span><span>礼品采购 </span><span>广州礼品定制 </span>-->
            <div style="text-align: center;width:1200px;margin:0 auto;">
             <ul class="friendLink" id="friendLink" style="display: inline-block;margin-top:10px;">
                 <li><span style="color: #999;">友情链接</span></li>
                 <ylt sql="select * from `__PREFIX__friend_link` where is_show = 1 order by orderby asc" key="k2" item='vo'>
                 <li><a style="color: #999;" href="{$vo.link_url}" <if $vo.nofollow eq 1>rel="nofollow"</if> <if $vo.target eq 1> target="_blank"</if> >{$vo[link_name]}</a></li>
                 </ylt>
             </ul>
         </div>
      </div>
    </div>
</div>
</body>
</html>