<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/global.js"></script>
<style>
	body,html{
		background: url('/public/yilitong/images2/guo.png') no-repeat center 30px fixed;
		background-size: cover;
	}
.text{text-indent:10px;}
.logo{text-align:left;}
.navlist li:hover a{text-decoration:none !important;}
  .Finddiv2li1 li{
    width:50px;height: 25px;float: left; text-align: center;line-height: 25px;font-size:14px !important;
}
  .onli{
    background: #E6002D;
    color: #fff;
}
  .allgoods2 h2 {
    line-height: 1px;
    height: 38px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.site-topbar{
	position: fixed;
  top: 0px;
  z-index: 3;
}

</style>
<!--最顶部-->
<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
<link rel="stylesheet" href="__STATIC__/css/service.css" type="text/css">

<div class="site-topbar">

    <div class="layout">
        <div class="t1-l">
            <ul class="t1-l-ul">
                <li class="t1font" style="color:#8c8c8c">欢迎来到一礼通！</li>
				<li class="t1img">&nbsp;</li> 
				<li class="t1font nologin"><a href="{:Url('Home/User/user_login')}" rel="nofollow" style="color:red">个人登录</a></li>
				<li class="t1img">&nbsp;</li> 
				<li class="t1font nologin">&nbsp;<em style="color:#8c8c8c">|</em>&nbsp;</li>
				<li class="t1img">&nbsp;</li> 				
				<li class="t1font nologin"><a href="{:Url('Home/User/register')}" rel="nofollow">注册</a></li>
				<li class="t1img">&nbsp;</li> 
            </ul>
        </div>
        <div class="t1-r" style="width:90%;margin-left:10%;">
            <ul class="t1-r-ul islogin" style="display:none;float:left;width:40%;" id="t1-r-ul">
                <li class="t1font"> <a href="{:Url('Home/User/index')}" class="logon userinfo" rel="nofollow"></a></li>
                <li class="t1img"></li>				
                <li class="t1font font_t1"><a href="{:Url('Home/User/order_list')}" rel="nofollow">我的一礼通</a>
					<ul class="t2font">
						<li class="t1font"><a href="{:Url('Home/User/index')}"  style="margin-left:15px;" rel="nofollow">个人中心</a></li>
						<li class="t1img"></li>
						<li class="t1font"><a href="{:Url('Home/User/order_list')}" style="margin-left:15px;" rel="nofollow">我的订单</a></li>
						<li class="t1img"></li>
						<li class="t1font"><a href="{:Url('Home/User/address_list')}" style="margin-left:15px;" rel="nofollow">收货地址</a></li>
						<li class="t1img"></li>
					</ul>
				</li> 
				<li class="t1font"><a href="{:Url('Home/user/logout')}" style="margin-left:15px;" rel="nofollow">安全退出</a></li>
				<if $user.exchange_points gt '0' >
				<li class="t1font"><a href="{:Url('Home/Supplieract/exchange')}" style="margin-left:15px;color:red;" rel="nofollow">兑换专区</a></li></if>
				
				<li class="t1img"></li>						
            </ul>
            <ul class="t1-r-ul isSuplogin" id ="t1-r-ul1" style="display;float:left;">
                <li class="t1font"> <a href="{:Url('Home/Business/BusinessIndex')}" class="logon supinfo" rel="nofollow"></a></li>
                <li class="t1img">&nbsp;</li>			
				<li class="t1font"><a href="{:Url('Home/Business/logout')}" style="margin-left:15px;" rel="nofollow">安全退出</a></li>
				<if $user.exchange_points gt '0' >
				<li class="t1font"><a href="{:Url('Home/Supplieract/exchange')}" style="margin-left:15px;color:red;" rel="nofollow">兑换专区</a></li></if>
				
				<li class="t1img"></li>						
            </ul>
			<ul class="t1-r" id="tl-r" style="width:50%;float:right;">
				<li>
					<p class="contactImg">{$config.shop_info_phone}</p>
					<p class="contactImg">{$config.shop_info_mobile}</p>
				</li>
				<li class="nologin t1">
					<em style="color:#8c8c8c;padding:0 5px;">|</em>
					<span class="t3font"><a href="javascript:;">商家服务</a>
						<ul class="t3" style="display:none;z-index:999999;">
							<li><a href="{:Url('Home/Business/login')}" rel="nofollow">商家登录</a></li>
							<li></li>
							<li><a href="{:Url('Home/Business/BusinessIndex')}" rel="nofollow">入驻申请</a></li>
							<li></li>
							<!--<li><a href="">入驻指南</a></li>-->
							<li></li>
							<li><a href="http://yilitong.com/Article/43.html">商家规则</a></li>
							<li></li>
						</ul>
					</span>
				</li>
				<li class="r ylt_dow">
					<span style="color:#8c8c8c;position:relative;">
						<a href="javascript:;" id="downLoadCode">
							掌上一礼通
							<div id="codeImg" style="width:150px;height:150px;overflow:hidden;position:absolute;left:-44px;top:22px;display:none;z-index:99999999999;">
								<img src="__STATIC__/images/downLoadCode.png" alt="下载一礼通APP" style="width:100%;height:100%;">
							</div>
						</a>
					</span>
				</li>
			</ul>
       </div>
    </div>
  

</div>



 <!--------在线客服-------------->
<include file="public/service" />
 <!--------在线客服-------------->


<head>
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	
	<!-- 首页js集合 -->
	<script src="__STATIC__/js/pc_index.js"></script>
	
	<script>
		$(function(){
	
			var active_li = '{$active}';
			if(active_li){
				$('li').remove('curr-res');
				$('#'+active_li).addClass('curr-res');
			}
	
		})
	</script>
	
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7fb90411d45975d31698b327c980e88b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>


<script>
    function get_cart_num(){
      var cart_cn = getCookie('cn');
      if(cart_cn == ''){
        $.ajax({
            type : "GET",
            url:"/index.php?m=Home&c=Cart&a=header_cart_list",//+tab,
            success: function(data){
                cart_cn = getCookie('cn');
                $('#cart_quantity').html(cart_cn);
            }
        });
      }
      $('#cart_quantity').html(cart_cn);
    }

    get_cart_num();
</script>