<div class="designTopBar">
    <div class="inner clearfix">
        <div class="designTopBar-logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
            </a>
        </div>
        <ul class="design-nav clearfix">
            <li><a href="{:url('Home/Works/index')}"   <if $action eq 'index'> class="designNavCur" </if> >首页</a></li>
            <li><a href="{:url('Home/Works/worksList')}" <if $action eq 'worksList'> class="designNavCur" </if>>设计作品</a></li>
            <li><a href="{:url('Home/Works/designsList')}" <if $action eq 'designsList'> class="designNavCur" </if>>在售作品</a></li>
        </ul>
        <div class="search-container clearfix">
            <form action="" id="searchForm">
                <div class="search-type">
                    <div class="searching-type">设计作品</div>
                    <input type="hidden" id="searching-type" value="1">
                    <ul class="search-type-list" id="search-type-list">
                        <li><input type="hidden" value="1">设计作品</li>
                        <li><input type="hidden" value="2">在售作品</li>
                        <li><input type="hidden" value="3">设计师</li>
                        <li><input type="hidden" value="4">设计师类型</li>
                    </ul>
                    <span></span>
                </div>
                <div class="search-content-box">
                    <input type="text" class="search-content" name="keywords" value="" id="search-content" placeholder="请输入搜索内容">
                    <a href="javascript:void(0);" class="search-btn" onclick="searchFormbb()"><img src="__STATIC__/images/design_search_icon.png" alt="搜索"></a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        //搜索下拉选择
        $('.search-type').on('click',function () {
            $('.search-type-list').css('display','block');
        });
        $('.search-type').on('mouseleave',function () {
            $('.search-type-list').css('display','none');
        });

        $('.search-type-list li').each(function () {
            $(this).click(function () {
                $('.searching-type').text($(this).text());
            })
        });

        //搜索赋值
        $('.search-type-list li').each(function () {
            $(this).click(function(){
                $('#searching-type').val($(this).children('input').val());  //把选择对应的类型的值赋予搜索状态值
            })
        });
    })


    var searchForm = document.getElementById('searchForm');
    var searchType = document.getElementById('searching-type');
    function searchFormbb()
    {
        if(searchType.value == 1)
        {
            //alert(1111);
            searchForm.action="{:Url('Home/Works/worksList')}";
            searchForm.submit();
        }
        else if(searchType.value == 2)
        {
            //alert(2222);
            searchForm.action="{:Url('Home/Works/designsList')}";
            searchForm.submit();
        }
        else if(searchType.value == 3)
        {
            //alert(333);
            searchForm.action="http://www.baidu.com";
            searchForm.submit();
        }
        else if(searchType.value == 4)
        {
            //alert(444);
            searchForm.action="http://www.baidu.com";
            searchForm.submit();
        }

    }



</script>