<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="keywords" content="礼品商城，礼品定制，工艺礼品，汽车用品，一礼通，节日礼品，礼品采购平台，2017创意礼品">
    <meta name="description" content="一礼通商城是一家专注礼品的采购平台，本栏目推荐2017最新礼品，热销产品，其中包括节日庆典，办公文具，家居生活，户外运动，工艺品，汽车用品，包装材料等！旨在汇聚中国优质礼品供应商,打造高档礼品商城！">
    <title>一礼通新品_2017新品热卖_礼品商城_礼品采购平台</title>
    <link rel="stylesheet" href="__STATIC__/css/newProduct.css">
	<link rel="stylesheet" href="__STATIC__/css/page.css" type="text/css">
    <style>
        .slides li a img{
            margin-left:360px;
        }
    </style>
</head>
<body style="background-color:#f9f9f9;">
    <!--------头部开始-------------->
    <include file="public/header" />
    <!--------头部结束-------------->
    <script src="__PUBLIC__/js/pc_common.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>


    <!--------banner-开始-------------->
    <style>
        /* 这个css位置不许修改（增加权重） */
        .flexslider{position: relative;/* left:572px; *//*width: 980px;*/width:100%;height: 480px;/* overflow: hidden; zoom: 1; margin:0 auto*/}
        /*.flexslider .slides li {width: 100%;height: 100%;}*/
        /* wrp 修改 css 首页 banner 通栏 */
        .flexslider .slides{
            width: 1200px;
            height: 480px;
            position:relative;
            margin:0 auto;
        }
        .flexslider .slides li{
            width: 1920px;
            height: 480px;
            position:absolute;
            left:50%;
            top:0;
            margin-left:-360px;
        }
    </style>
    <!--<div class="nav-banner">-->
    <!--<div class="warp_1200">-->
    <div id="banner_tabs" class="flexslider">

        <ul class="slides">
            <adv limit="3" item="v" pid="2">
                <li>
                    <a href="{$v.ad_link}" <if condition="$v['target'] eq 1">target="_blank"</if>>
                    <img src="{$v[ad_code]}"/>
                    </a>
                </li>
            </adv>
        </ul>

        <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
            <adv  pid = "2" limit="3" item="v" key="k">
                <li><a>{$k}</a></li>
            </adv>
        </ol>

    </div>
    <!--</div>-->

    <!--</div>-->
    <!--------banner-结束-------------->


    <div class="inner">
        <ul class="pro-ad">
			<adv limit="5" item="v" pid="35">
				<li><a href="{$v.ad_link}"><img src="{$v[ad_code]}" alt=""></a></li>
			</adv>
        </ul>
    </div>
    <div class="inner">
        <div class="product-title-img">
            <img src="__STATIC__/images/newGoodsTitleIco.png" alt="新品上架">
        </div>

        <div class="new-pro-nav">
            <div class="update-pro">
                <p>
                    <span>昨日更新</span><br>
                    合计<i>{$new.count}</i>款
                </p>
            </div>
            <ul class="pro-nav-menu" id="pro-nav-menu">
                <li style="background-color:#c9569a;">
                    <a href="{:Url('Home/Goods/goodsList',array('id'=>2))}">
                        <p>{$new.2.name}</p>
                        <span>上新<i>{$new.2.num}</i>款</span>
                    </a>
                </li>
                <li style="background-color:#a86284;">
                    <a href="{:Url('Home/Goods/goodsList',array('id'=>3))}">
                        <p>{$new.3.name}</p>
                        <span>上新<i>{$new.3.num}</i>款</span>
                    </a>
                </li>
                <li style="background-color:#8f82bc;">
                    <a href="{:Url('Home/Goods/goodsList',array('id'=>4))}">
                        <p>{$new.4.name}</p>
                        <span>上新<i>{$new.4.num}</i>款</span>
                    </a>
                </li>
                <li style="background-color:#659cb5;">
                    <a href="{:Url('Home/Goods/goodsList',array('id'=>5))}">
                        <p>{$new.5.name}</p>
                        <span>上新<i>{$new.5.num}</i>款</span>
                    </a>
                </li>
                <li style="background-color:#35a6a5;">
                    <a href="{:Url('Home/Goods/goodsList',array('id'=>6))}">
                        <p>{$new.6.name}</p>
                        <span>上新<i>{$new.6.num}</i>款</span>
                    </a>
                </li>
                <li style="background-color:#b7538d;">
                    <a href="{:Url('Home/Goods/goodsList',array('id'=>7))}">
                        <p>{$new.7.name}</p>
                        <span>上新<i>{$new.7.num}</i>款</span>
                    </a>
                </li>
               <li style="background-color:#c20d49;">
                   <a href="{:Url('Home/Goods/goodsList',array('id'=>8))}">
                        <p>{$new.8.name}</p>
                        <span>上新<i>{$new.8.num}</i>款</span>
                   </a>
                </li>
               <li style="background-color:#a1643f;">
                   <a href="{:Url('Home/Goods/goodsList',array('id'=>9))}">
                        <p>{$new.9.name}</p>
                        <span>上新<i>{$new.9.num}</i>款</span>
                   </a>
                </li>
               <li style="background-color:#694d45;">
                   <a href="{:Url('Home/Goods/goodsList',array('id'=>10))}">
                        <p>{$new.10.name}</p>
                        <span>上新<i>{$new.10.num}</i>款</span>
                   </a>
                </li>
            </ul>
        </div>

        <div class="pro-container" id="pro-container">
            <div class="pro-type-tab shows">
			 <foreach name="goods_list" item="v" key="k">
                <div class="pro-col">
                    <div class="pro-img"><a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v.goods_id))}"><img src="{$v.goods_thumb}"></a></div>

                    <div class="pro-price">
                        <p class="now-price">¥<strong>{$v[shop_price]}</strong></p>
                        <p class="buy-num"><s>¥<i>{$v[market_price]}</i></s></p>
                    </div>
                    <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v.goods_id))}" class="pro-title" title="{$v[goods_name]}">{$v[goods_name]}</a>
                    <div class="business-infos">
                        <a href="javascript:void(0)" class="business-name" title="{$v[supplier_name]}">{$v[supplier_name]}</a>
                        <a href="javascript:void(0);" class="join-buy-car" title="加入购物车" onClick="javascript:AjaxAddCart({$v[goods_id]},1,0);"><img src="__STATIC__/images/buyCarIco.png" alt="加入购物车"></a>
                    </div>
                </div>
			 </foreach>
            </div>


        </div>
    </div>

    <!-- 加入购物车 start -->
    <div style="display:none;" id="shopdilog">
        <div class="ui-popup ui-popup-modal ui-popup-show ui-popup-focus">
            <div i="dialog" class="ui-dialog">
                <div class="ui-dialog-arrow-a"></div>
                <div class="ui-dialog-arrow-b"></div>
                <table class="ui-dialog-grid">
                    <tbody>
                    <tr>
                        <td i="body" class="ui-dialog-body">
                            <div i="content" class="ui-dialog-content" id="content:1459321729418" style="width: 450px; height: auto;">
                                <div id="addCartBox" class="collect-public" style="display: block;">
                                    <div class="colect-top">
                                        <i class="colect-icon"></i>
                                        <!--<i class="colect-fail"></i>-->
                                        <div class="conect-title">
                                            <span>添加成功</span>
                                            <div class="add-cart-btn fn-clear">
                                                <a href="javascript:;" class="ui-button ui-button-f80 fl go-shopping">继续购物</a>
                                                <a href="{:Url('Home/Cart/index')}" class="ui-button ui-button-122 fl">去购物车结算</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td i="footer" class="ui-dialog-footer" style="display: none;">
                            <div i="statusbar" class="ui-dialog-statusbar" style="display: none;"></div>
                            <div i="button" class="ui-dialog-button"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 加入购物车 end -->
	  <!-- Page -->
  <div class="fn-page-css-1 pagintion fix" style="display: block;">
  	<div class="pagenavi text12">{$page->show()}</div>
  </div>
   

  


    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->


    <script src="js/jquery-1.8.3.min.js"></script>

    <!-- banner 轮播  -->
    <script src="__STATIC__/js/slider.js"></script>
    <script src="__STATIC__/js/index_banner.js"></script>
    <!-- banner 轮播  -->

    <script>
        $(document).ready(function(){
            //产品类型控制器 效果
//            $('#pro-nav-menu li').each(function(){
//                $('#pro-nav-menu li').eq(0).css('width','280px').siblings().css('width','80px');
//                $(this).bind('click',function(){
//                    $(this).siblings().animate({width:'80px'})
//                    $(this).animate({width:'280px'});
//                    $('#pro-container .pro-type-tab').eq($(this).index()).addClass('shows').siblings().removeClass('shows');
//                })
//            });

            //产品预览切换 功能
            $('.pro-img-tab').each(function(){
                $(this).children().each(function(){
                    $(this).hover(function(){
                        //console.log($(this).children().attr('src'))

                        $(this).addClass('curBorder');
                        $(this).siblings().removeClass('curBorder');
                        $(this).parent().siblings('.pro-img').find('a').children().attr('src',$(this).children().attr('src'))
                    })
                });
            });
        })
    </script>
</body>
</html>