<table>
  <tbody>
  <if condition="empty($orderList) eq true">
    <tr data-id="0">
          <td class="no-data" align="center" axis="col0" colspan="50">
            <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
          </td>
       </tr>
  <else/>
  <volist name="orderList" id="list">
    <tr>
        <td class="sign" axis="col0">
          <div style="width: 24px;"><i class="ico-check"></i></div>
        </td>
        <td align="left" abbr="order_sn" axis="col3" class="">
          <div style="text-align: left; width: 160px;" class="">{$list.order_id} / {$list.order_sn}</div>
        </td>
        <td align="left" abbr="consignee" axis="col4" class="">
          <div style="text-align: left; width: 150px;" class="">{$list.consignee}:{$list.mobile|default=$list.phone}</div>
        </td>
        <td align="center" abbr="article_show" axis="col5" class="">
          <div style="text-align: center; width: 60px;" class="">{$list.total_amount}</div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 60px;" class="">{$list.order_amount}</div>
        </td>
    
        <td align="center" abbr="article_time" axis="col6" class="">
      <if condition="($list['order_status'] eq 3) or ($list['order_status'] eq 5)"> <div style="text-align: center; width: 80px;" class="">  
      <else> <div style="text-align: center; width: 50px;" class=""> 
    </if>
    {$order_status[$list[order_status]]}<if condition="$list['is_cod'] eq '1'"><span style="color: red">(货到付款)</span></if></div>
        </td>
    
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 60px;" class="">{$pay_status[$list[pay_status]]}</div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 60px;" class="">{$shipping_status[$list[shipping_status]]}</div>
        </td>
        <if condition="$list.code">
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 100px;" class="">充值券：{$list.code}</div>
          </td>
        <else/>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 100px;" class="">{$list.pay_name|default='其他方式'}</div>
          </td>
        </if>
        <if condition="$list.phone">
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 60px;" class="">线上到账</div>
          </td>
        <else/>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 60px;" class="">{$list.shipping_name}</div>
          </td>
        </if>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 60px;" class="">{$list.source}</div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 120px;" class="">{$list.add_time|date='Y-m-d H:i',###}</div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 140px;" class=""><if $list.confirm_time neq 0>{$list.confirm_time|date='Y-m-d H:i',###}<else/>N</if></div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 80px;" class="">{$list[items_source]}</div>
        </td>
        <td align="left" axis="col1" class="handle" align="center">
            <div style="text-align: left; ">
              <a class="btn green" href="{:Url('Admin/RiteHome/detail',array('order_id'=>$list['order_id']))}"><i class="fa fa-list-alt"></i>查看</a>
            <if condition="$act_list neq 1">
              <if condition="($list['order_status'] eq 3) or ($list['order_status'] eq 5)">
                <a class="btn red" onclick="del({$list['order_id']})"><i class="fa fa-trash-o"></i>删除</a>
              </if>
            </if>
              <!-- <if condition="($list['order_status'] eq 4) and ($list['close'] eq 0)">
                <a class="btn red" href="{:Url('Admin/order/close_order',array('order_id'=>$list['order_id']))}" onclick="close(this)" style="color: red"><i class="fa fa-jpy"></i>可结算</a>
              </if>
              <if condition="$list['close'] eq 1 ">
                <a class="btn"><i class="fa fa-jpy"></i>已结算</a>
              </if> -->
            </div>
         </td>
         <td align="" class="" style="width: 100%;">
            <div>&nbsp;</div>
          </td>
      </tr>
      </volist>
      </if>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$page}</div>
</div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        console.log(page);
        ajax_get_table('search-form2',page);
    });
    
    $('.ftitle>h5').empty().html("(共{$pager->totalRows}条记录)");
    $('.money>h5').empty().html("当前列表应付/已付总额 : {$money} 元");
</script>