<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1,user-scalable=no" />

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="keywords" content="一礼通，礼品商城，礼品网站，高端礼品，创意礼品，购物网站，礼品批发 ,礼品定制，礼品采购">
    <meta name="description" content="一礼通大型礼品商城平台诚邀品牌招商入驻，提供各类商务礼品，生日礼物，节日礼品，高端礼品，促销礼品，工艺礼品，员工礼品创意礼品采购等，个性化定制满足不同的送礼需求，结合了最具实力设计师、融合了最具创意的创客idea，为您提供最满意网上购物体验！">
    <meta content="yangjiangquan" name="author"/>
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
    <title>首页</title>

    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/wap/css/stylexs.css">
  
  	<link rel="stylesheet" href="__MOBILE__/css/swiper.min.css">
    <script src="__MOBILE__/js/swiper.min.js"></script>

    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/public/wap/jq/index.js"></script>  
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            var marginTop =0;
            var bool=false;
            setInterval(function(){
                if(bool) return;//判断运行和停止
                $(".text li:first").animate({marginTop:marginTop--},10,function(){
                    if(!($(this).is(":animated"))) {    //判断是否有一个动画节点
                        if ((-marginTop) >= $(this).height()) {  //判断移出位置是否超过高度
                            $(this).css("margin", "0");
                            $(this).appendTo($(".text"));  //把第一个节点移到ul后面
                            marginTop = 0;      //重新设置移动数值
                        }
                    }
                });
            },100);
            $(".text").mouseover(function(){   //li鼠标移入，停止移动
                bool=true;
            });
            $(".text").mouseout(function(){
                bool=false;
            });

        });
    </script>
  
<script type="text/javascript">
//designWidth:设计稿的实际宽度值，需要根据实际设置
//maxWidth:制作稿的最大宽度值，需要根据实际设置
//这段js的最后面有两个参数记得要设置，一个为设计稿实际宽度，一个为制作稿最大宽度，例如设计稿为750，最大宽度为750，则为(750,750);
//第一个参数是设计稿的宽度，一般设计稿有640，或者是750，你可以根据实际调整
//第二个参数则是设置制作稿的最大宽度，超过750，则以750为最大限制。

(function(designWidth, maxWidth) {
    var doc = document,
    win = window,
    docEl = doc.documentElement,
    remStyle = document.createElement("style"),
    tid;

    function refreshRem() {
        var width = docEl.getBoundingClientRect().width;
        maxWidth = maxWidth || 540;
        width>maxWidth && (width=maxWidth);
        var rem = width * 100 / designWidth;
        remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
    }

    if (docEl.firstElementChild) {
        docEl.firstElementChild.appendChild(remStyle);
    } else {
        var wrap = doc.createElement("div");
        wrap.appendChild(remStyle);
        doc.write(wrap.innerHTML);
        wrap = null;
    }
    //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
    refreshRem();

    win.addEventListener("resize", function() {
        clearTimeout(tid); //防止执行两次
        tid = setTimeout(refreshRem, 300);
    }, false);

    win.addEventListener("pageshow", function(e) {
        if (e.persisted) { // 浏览器后退的时候重新计算
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }
    }, false);

    if (doc.readyState === "complete") {
        doc.body.style.fontSize = "16px";
    } else {
        doc.addEventListener("DOMContentLoaded", function(e) {
            doc.body.style.fontSize = "16px";
        }, false);
    }
})(750, 100);
</script>

</head>
<style>
        .all{margin: 0px auto;}
        .text  { height: 30px; overflow: hidden;}
        .text li{ list-style:none; text-align: center; height:30px; line-height:30px;overflow: hidden; }
          #tanchuangdiv{position: fixed;
            top: 23rem;
            right: 6.9rem;
            width: 50%;
            font-size:14px;
            display: none;
            line-height: 3.5rem;
            text-align: -webkit-center;    
            height: 3.5rem;
            background: #3a3535;
            color: #fff;
            border-radius: 0.5rem;
  			}
  
  
  .swiper-container {
								      width: 100%;
								      height: auto;
				
								    }
								    .swiper-slide {
								      width: 100%;
								      height: auto;
								 margin:0;
				                      padding:0;
								      /* Center slide text vertically */
								      display: -webkit-box;
								      display: -ms-flexbox;
								      display: -webkit-flex;
								      display: flex;
								      -webkit-box-pack: center;
								      -ms-flex-pack: center;
								      -webkit-justify-content: center;
								      justify-content: center;
								      -webkit-box-align: center;
								      -ms-flex-align: center;
								      -webkit-align-items: center;
								      align-items: center;
								    }
										
</style>
<body>
    <div class="main">
        <div class="header">
            <div class="header-logo"><a  href="/"><img src="/public/wap/img/logo.png"></a></div>
            <div class="header-sousuo"><a href="{:Url('Goods/ajaxSearch')}"><img src="/public/wap/img/sousuo.png"></a></div>
            <div class="header-gouwuche"><a href="{:Url('Cart/cart')}"><img src="/public/wap/img/gouwuche.png"></a></div>
        </div>
        
        <!-- 轮播图 -->
       <div class="swiper-container">
			<div class="swiper-wrapper">
				<foreach name="brand_roll" item="v" key="k">
					<div class="swiper-slide">
						<a href="<if $v[ad_link] eq '##1' || $v[ad_link] eq '##2' || $v[ad_link] eq 'minus'><elseif is_numeric($v[ad_link])>{$v[ad_link]|getAdUrl=$v[media_type],###}<else>{$v[ad_link]}</if>">
							<img src="{$v[ad_code]}" title="{$v[title]}" alt="{$v[title]}">
						</a>
					</div>
				</foreach>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>


        <!-- 首页金刚区 -->
        <div class="navdiv">
            <div class="navdivdiv">
                <a href="{:Url('Supplychain/offer_list')}"  ><div class="navdivimg"><img src="/public/wap/img/yjq/11.png" /></div>
                <p>名企直采</p></a>
            </div>
            <div class="navdivdiv">
                <a href="http://www.yilitong.com/Mobile"><div class="navdivimg"><img src="/public/wap/img/yjq/22.png" /></div>
                <p>旗舰商城</p></a>
            </div>
            <div class="navdivdiv">
                <a href="http://www.yilitong.com/mobile/Activity/officialNotice.html"><div class="navdivimg"><img src="/public/wap/img/yjq/33.png" /></div>
                <p>活动资讯</p></a>
            </div>
            <div class="navdivdiv">
                <a href="{:Url('Index/jrfw')}"><div class="navdivimg"><img src="/public/wap/img/yjq/44.png" /></div>
                <p>金融服务</p></a>
            </div>
            <div class="navdivdiv">
                <a href="http://www.yilitong.com/mobile/Supplier/recsupplier.html"><div class="navdivimg"><img src="/public/wap/img/yjq/55.png" /></div>
                <p>品牌店铺</p></a>
            </div>
            <div class="navdivdiv">
                <a href="http://www.yilitong.com/mobile/Supplier/index/id/41.html"><div class="navdivimg"><img src="/public/wap/img/yjq/66.png" /></div>
                <p>自营</p></a>
            </div>

            <div class="navdivdiv">
                <a href="http://www.yilitong.com/mobile/Works/WorksList/id/10.html"><div class="navdivimg"><img src="/public/wap/img/yjq/77.png" /></div>
                <p>找设计</p></a>
            </div>
            <div class="navdivdiv">
                <a href="http://www.yilitong.com/mobile/Goods/categoryList.html"><div class="navdivimg"><img src="/public/wap/img/yjq/88.png" /></div>
                <p>更多</p></a>
            </div>
        </div>

        <div class="horizontal-gray"></div>

        <!-- 消息公告 -->
        <div class="newdiv">
            <div class="newimg">
                <span>平台</span>
                <span>公告</span>
            </div>
            <div class="newfont">
                <div class="all">
                    <ul class="text">
                        <foreach name="article_list" item="v">
                             <a href="{:Url('activity/noticeDetails',array('id'=>$v.article_id))}" >  <li>{$v.title}</li> </a>
                        </foreach>
                    </ul>
                </div>
            </div>
            <div  class="new-icon"><a href="http://www.yilitong.com/mobile/Activity/officialNotice.html"> > </a></div>
        </div>

        <div class="horizontal-gray"></div>

        <!-- 优质品牌 -->
        <div class="column-contont">
            <div class="cloumn-div-cont">
                <div class="cloumn-left"><img src="/public/wap/img/yjq/yzpp.png" /><span>品牌店铺</span></div>
               <!-- <div class="cloumn-right"><a href="{:Url('mobile/Goods/search')}" >查看更多 > </a></div> -->
            </div>
            <hr/>
            <div class="column-div">
                <volist name="brand_list" id="vo">
                    <div class="column-div-img div-img"><a href="{:Url('mobile/Goods/search',array('brand_id'=>$vo[id]))}"><img src="{$vo['logo']}" /></a></div>
                </volist>
            </div>
        </div>
        <div class="horizontal-gray"></div>

        <!-- 优质供应商 -->
        <div class="column-contont">
            <div class="cloumn-div-cont">
                <div class="cloumn-left"><img src="/public/wap/img/yjq/yzgys.png" /><span class="yzgys-span">优质供应商</span></div>
              <!--  <div class="cloumn-right"><a href="{:Url('mobile/Supplier/index')}" >查看更多 > </a></div> -->
            </div>
            <hr/>
            <div class="column-div">
                <foreach name="supplier_list" item="v">
                    <div class="column-div-img">
                        <a href="{:Url('mobile/Supplier/index',array('id'=>$v[supplier_id]))}"><div class="div-img-hight"><img  class="column-div-imgs" src="{$v.logo}" /></div><span>{$v.company_name|getSubstr=0,10}</span></a>
                    </div>
                </foreach>
            </div>
        </div>
        <div class="horizontal-gray"></div>

        <!-- 秒杀专区 -->
        <div class="column-contont no-padding">
            <div class="cloumn-div-cont yes-margin">
                <div class="cloumn-left mszq"><img src="/public/wap/img/yjq/mszq.png" /><span class="mszq">秒杀专区</span></div>
                <div class="cloumn-right"><a href="http://www.yilitong.com/mobile/Activity/discount/id/1.html" >查看更多 > </a></div>
            </div>

            <div class="column-red">
                <div class="column-red-left" > 
                    下一场开始 18:00 开始 本场结束剩 
                </div>
                <div class="column-red-right" ></div>
            </div>
            <div class="goods-list">
             <foreach name="single_ad" item="v">
                <div class="goods-info">
                    <a href="{:Url('mobile/Goods/goodsInfo',array('id'=>$v[goods_id]))}">
                        <img src="{$v[goods_thumb]}">
                        <div class="goods-price"><span>￥{$v[activity_price]}</span><span>￥{$v[market_price]}</span></div>
                        <div class="goods-font">{$v[goods_name]}</div>
                    </a>
                </div>
             </foreach>

            </div>
          
            <!-- 好看的小点点 -->
    <!--        <div class="goods-li">
                <ol>
                    <a href=""><li></li></a>
                    <a href=""><li></li></a>
                    <a href=""><li></li></a>
                    <a href=""><li></li></a>
                </ol>
            </div>
       -->   
        </div>

        <div class="horizontal-gray"></div>

        <!-- 最新资讯 -->
        <div class="column-contont ">
            <div class="cloumn-div-cont">
                <div class="cloumn-left "><img src="/public/wap/img/yjq/zxzx.png" /><span class="public-span">最新资讯</span></div>
                <div class="cloumn-right"><a href="{:Url('mobile/Activity/officialNotice')}" >查看更多 > </a></div>
            </div>
            <hr>
        <!--  
            <div class="cloumn-msg">
                <div class="cloumn-msg-1">2018年度春季礼至集团又新增礼品年度合作伙伴，对余下后面的看法</div>
                <div class="cloumn-msg-2">
                    <img src="/public/wap/img/yjq/zxzx.jpg">
                    <img src="/public/wap/img/yjq/zxzx.jpg">
                    <img src="/public/wap/img/yjq/zxzx.jpg">
                </div>
                <div class="cloumn-msg-3">
                    <div class="cloumn-msg-3left"><img src="/public/wap/img/yjq/see.png"> &nbsp;<span> 100</span></div>
                    <div class="cloumn-msg-3right"><img src="/public/wap/img/yjq/delete.png"></div>
                </div>
            </div>
            <hr>
          -->
          <foreach name="article_list" item="v" >
            <div class="cloumn-msg">
                <div class="cloumn-msg-dleft">
                   <a href="{:Url('activity/noticeDetails',array('id'=>$v.article_id))}" > <div class="cloumn-msg-1">{$v.title}</div></a>
                    <br>
                    <div class="cloumn-msg-3">
                        <div class="cloumn-msg-3left"><img src="/public/wap/img/yjq/see.png"> &nbsp;<span> {$v.click}</span></div>
                        <div class="cloumn-msg-3right" id="deleteZxzx"><img src="/public/wap/img/yjq/delete.png"></div>
                    </div>
                </div>    
                <a href="{:Url('activity/noticeDetails',array('id'=>$v.article_id))}" ><div class="cloumn-msg-dright"><img src="{$v.thumb}"></div></a>
            </div>
            <hr>
          </foreach>

        </div>    

        <div class="horizontal-gray"></div>
        <!-- 优选礼品 -->
        <div class="column-contont">
            <div class="cloumn-div-cont">
                <div class="cloumn-left "><img src="/public/wap/img/yjq/yxlp.png" /><span class="public-span">优选礼品</span></div>
                <!--<div class="cloumn-right"><a href="http://www.yilitong.com/mobile/Activity/discount/id/1.html" >查看更多 > </a></div> --> 
            </div>
            <div class="goods-list yxlp likeshop">
              

                <div id="J_ItemList">
                    <ul class="product single_item info"></ul>
                </div>
  <!--           <foreach name="single_pinpai" item="v">
                <div class="goods-info">
                    <a href="{:Url('mobile/Goods/goodsInfo',array('id'=>$v[goods_id]))}"><img src="{$v[goods_thumb]}">
                        <div class="goods-font">{$v[goods_name]}</div>
                        <div class="goods-price"><span>￥{$v[shop_price]}</span></div>
                    </a>
                </div>  
             </foreach> 
   -->           
            </div>
          
          <!--  <div class="div-loading"><img src="/public/wap/img/yjq/loading.png"></div>  -->
          
        </div>
        <div class="footer-bottom"></div>

      
    <!-- 返回顶部 start -->
    <div class="backtop" id="backtop">
        <a href="javascript:void(0);"></a>
    </div>
      
        <div class="footer">
            <div class="footer-div">
                <a href="{:Url('/mobile')}"><img src="/public/wap/img/yjq/homes.png"> <span>首页</span></a>
            </div>
            <div class="footer-div">
                <a href="{:Url('Goods/categoryList')}"><img src="/public/wap/img/yjq/type.png"> <span>分类</span></a>
            </div> 
            <div class="footer-div">
                <a href="{:Url('Supplychain/procurement_one')}" ><img src="/public/wap/img/yjq/buy.png"> <span>采购</span></a>
            </div> 
            <div class="footer-div">
                <a href="{:Url('Supplychainview/offer_list')}" ><img src="/public/wap/img/yjq/quote.png"> <span>报价</span></a>
            </div> 
            <div class="footer-div">
                <a href="{:Url('User/index')}"><img src="/public/wap/img/yjq/my.png"> <span>我的</span></a>
            </div>           
        </div>
      
      
		<!--js 隐藏特效 -->
        <div id="tanchuangdiv">暂未开放</div>  

    </div>


    <script type="text/javascript">
        //轮播速度
       
       $(function() {
      			
      
      			//Initialize Swiper
      			//轮播图
      			var swiper = new Swiper('.swiper-container', {
      				slidesPerView: 1,
      				spaceBetween: 30,
      				loop: true,
      				pagination: {
      					el: '.swiper-pagination',
      					clickable: true,
      				},
      				touchRatio: 1,
      				autoplay: true
      			});
      		})

      
    //弹框
   function tanchuang(){
       $("#tanchuangdiv").show();
        setTimeout(function(){ $("#tanchuangdiv").hide()},1000); 
    };

    </script>   
    <script src="/public/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/public/static/mobile/js/sourch_submit.js"></script> 
    <script type="text/javascript">
        //分页加载
        var page = 1;
        function ajax_sourch_submit(){
            if(page > 6){
                return;
            }
            $.ajax({
                type : "get",
                url:"/index.php?m=Mobile&c=Index&a=ajaxGetMore&p="+page,
                success: function(data)
                {
                    if(data){
                        $("#J_ItemList>ul").append(data);
                    }
                }
            });
            page++;
        }
    //    ajax_sourch_submit();
    </script>
  
</body>
</html>