<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__MOBILE__/css/charity/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/charity/doantionlist.css">
    <title>行动详情</title>
</head>

<body style="background:#F1F1F1;">
    <div class="container">
        <div class="shangmtop"> <img src="__MOBILE__/images/charity/icon_heart@2x.png" alt=""><span>为武汉加油，为中国加油！</span></div>
        <div class="donationbianhao">
            <div class="left">

                <h3><if condition="$charity_info.is_purchase eq 1">{$charity_info.is_donate}<elseif condition="$charity_info.is_purchase eq 2"/>提供物资<elseif condition="$charity_info.is_purchase eq 3"/>紧急求助</if></h3></br>
                <p class="t1">申请编号：00{$charity_info.do_id}</p>
                <p class="t2">申请日期{$charity_info.add_time|date='Y-m-d',###}</p>
            </div>
            <if condition="$charity_info.status eq 1"><div class="right">申请中</div><elseif condition="$charity_info.status eq 2"/><div class="right">申请成功</div><elseif condition="$charity_info.status eq 4"/><div class="right">已取消</div><else/><div class="right">申请不通过</div></if>
        </div>
        <!-- <div class="shangmnoticetwo">爱心捐赠清单提交成功，稍后会有工作人员联系您。</div> -->
        <div class="bankui">
            <div class="title2">
                <div class="ban"></div>
                <h3>您的基本信息</h3>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">联系人姓名：</span><span class="sp2">{$charity_info.do_name}</span></div>
                <div class="han"><span class="sp1">联系方式：</span><span class="sp2">{$charity_info.do_phone}</span></div>
                <div class="han"><span class="sp1">企业名称：</span><span class="sp2">{$charity_info.do_company}</span></div>
                <div class="han"><span class="sp1">企业地址：</span><span class="sp2">{$charity_info.do_address}</span></div>
            </div>
        </div>
        <div class="bankui">
            <if condition="$charity_info.is_donate eq '爱心捐赠'">
            <div class="title2">
                <div class="ban"></div>
                <h3>您要捐赠的单位和物资</h3>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">受捐方：</span><span class="sp2">{$charity_info.beneficiaries}</span></div>
                <div class="han"><span class="sp1">捐献物资：</span></div>
                <div class="buss_detail bus2">
                    <div class="wuzu">
                        <volist name="materials" id="list" key="key">
                            <div class="han"><span class="sp3">{$key}.{$list.0}</span><span class="sp4">{$list.1}个</span></div>
                        </volist>
                    </div>
                </div>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">捐献预算：</span><span class="sp2">{$charity_info.budget}元</span></div>
                <div class="han"><span class="sp1">备注：</span><span class="sp2">{$charity_info.comment}</span></div>
            </div>
            <elseif condition="$charity_info.is_donate eq '企业自用'">
            <div class="title2">
                <div class="ban"></div>
                <h3>您需要的物资</h3>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">需求物资：</span></div>
                <div class="buss_detail bus2">
                    <div class="wuzu">
                        <volist name="materials" id="list" key="key">
                            <div class="han"><span class="sp3">{$key}.{$list.0}</span><span class="sp4">{$list.1}个</span></div>
                        </volist>
                    </div>
                </div>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">物资预算：</span><span class="sp2">{$charity_info.budget}元</span></div>
                <div class="han"><span class="sp1">备注：</span><span class="sp2">{$charity_info.comment}</span></div>
            </div>
            <elseif condition="$charity_info.is_purchase eq 2">
            <div class="title2">
                <div class="ban"></div>
                <h3>您提供的物资</h3>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">提供物资：</span></div>
                <div class="buss_detail bus2">
                    <div class="wuzu">
                        <volist name="supply_goods" id="list" key="key">
                            <div class="han" style="width: 90%;"><span class="sp3">{$key}.{$list.0}-{$list.1}</span><span class="sp4">价格：{$list.2}-{$list.3}元</span></div>
                        </volist>
                    </div>
                </div>
            </div>
            <elseif condition="$charity_info.is_purchase eq 3">
            <div class="title2">
                <div class="ban"></div>
                <h3>您求助所需的物资</h3>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">求助物资：</span></div>
                <div class="buss_detail bus2">
                    <div class="wuzu">
                        <volist name="materials_s" id="list" key="key">
                            <div class="han"><span class="sp3">{$key}.{$list.0}</span><span class="sp4">{$list.1}个</span></div>
                        </volist>
                    </div>
                </div>
            </div>
            <div class="buss_detail">
                <div class="han"><span class="sp1">备注：</span><span class="sp2">{$charity_info.comment}</span></div>
            </div>
            </if>
        </div>
        <a href="/Mobile/Charity/zhuanqu.html" class="navgation_shouye">
            <div class="shouye">返回抗疫专区</div>
        </a>
    </div>
</body>

</html>