<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>送礼攻略二级分类</h3>
        <h5>送礼攻略添加与管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
    <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span title="收起提示" id="explanationZoom" style="display: block;"></span>
    </div>
    <ul>
      <li>送礼攻略分类最多分为二级</li>
      <li>添加或者修改分类时, 应注意选择对应的上级</li>
    </ul>
  </div>
  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>送礼攻略二级分类列表</h3>
        
      </div>
      <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>	   
    </div>
    <div class="hDiv">
      <div class="hDivBox">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="sign" axis="col0">
                <div style="width: 24px;"><i class="ico-check"></i></div>
              </th>
              <th align="center" abbr="article_title" axis="col3" class="">
                <div style="text-align: center; width: 50px;" class="">编号</div>
              </th>
              <th align="center" abbr="ac_id" axis="col4" class="">
                <div style="text-align: center; width: 200px;" class="">分类名称</div>
              </th>
              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 100px;" class="">图片</div>
              </th>
              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 100px;" class="">级别</div>
              </th>    
              <th align="center" abbr="article_show" axis="col5" class="">
                <div style="text-align: center; width: 50px;" class="">商品数量</div>
              </th> 
              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 100px;" class="">显示</div>
              </th>     
              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 50px;" class="">排序</div>
              </th>
              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 150px;" class="">设置</div>
              </th>              
              <th align="center" axis="col1" class="handle">
                <div style="text-align: center; width: 150px;">操作</div>
              </th>
              <th style="width:100%" axis="col7">
                <div></div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton"><a href="{:Url('Ad/giftsCategory',array('parent_id'=>$parent_id))}"><div class="add" title="新增二级分类"><span><i class="fa fa-plus"></i>新增二级分类</span></div></a></div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
        <table>
          <tbody>
            <foreach name="cat_list" item="vo" key="k" >
              <tr>
                <td class="sign">
                  <div style="width: 24px;"><i class="ico-check"></i></div>
                </td>
                <td align="center" class="">
                  <div style="text-align: center; width: 50px;">{$vo[id]}</div>
                </td>
                <td align="center" class="">
                  <div style="text-align: center; width: 200px;">{$vo[name]}</div>
                </td> 
                <td align="center" class="">
                  <div style="text-align: center; width: 100px;"><img src="{$vo.image}" width="80px" height="45px"></div>
                </td>                
                <td align="center" class="">
                  <div style="text-align: center; width: 100px;">{$vo[level]}</div>
                </td>  
				        <td align="center" class="">
                  <div style="text-align: center; width: 50px;">{$vo.goods_num}</div>
                </td>
                <td align="center" class="">
                  <div style="text-align: center; width: 100px;">
                    <if condition='$vo[is_show] eq 1'>
                      <span class="yes" onClick="changeTableVal('gifts_category','id','{$vo.id}','is_show',this)" ><i class="fa fa-check-circle"></i>是</span>
                      <else />
                      <span class="no" onClick="changeTableVal('gifts_category','id','{$vo.id}','is_show',this)" ><i class="fa fa-ban"></i>否</span>
                    </if>
                  </div>
                </td>    				
                <!-- <td align="left" class="">
                  <div style="text-align: left; width: 100px;">{$vo[start_time]}</div>
                </td>  
                <td align="left" class="">
                  <div style="text-align: left; width: 100px;">{$vo[end_time]}</div>
                </td>                          -->
                <td align="center">
                    <div style="text-align: center; width: 50px;">
                    <input type="text" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onChange="changeTableVal('gifts_category','id','{$vo.id}','sort_order',this)" size="4" value="{$vo.sort_order}" />
                    </div>
                </td>
                <td>
                  <div style="text-align: center; width: 150px;">
                    <a href="{:Url('Ad/giftGoodsSet',array('parent_id_2'=>$vo['id']))}">商品设置</a>
                    <a onclick="selectGoods({$vo.id})" >添加商品</a>
                  </div>
                </td>
                <td align="center" class="handle">
                  <div style="text-align: center; width: 200px;">                    
                    <a class="btn red" onclick="delfun(this)" data-url="{:Url('Ad/delGiftCategory')}" data-id="{$vo.id}"><i class="fa fa-trash-o"></i>删除</a>
                    <a href="{:Url('Ad/giftsCategory',array('id'=>$vo['id']))}" class="btn blue"><i class="fa fa-pencil-square-o"></i>编辑</a>
                  </div>
                </td>
                <td align="" class="" style="width: 100%;">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </foreach>
          </tbody>
        </table>
	    </div>        
      </div>       
    </div>    
</div>
<script>	
  $(document).ready(function(){	
    // 表格行点击选中切换
    $('#flexigrid > table>tbody >tr').click(function(){
	    $(this).toggleClass('trSelected');
	});
		
		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});
		
	});

  function selectGoods(gift_cat_id){
    var url = '/index.php?m=Admin&c=Ad&a=search_gift_goods&gift_cat_id='+gift_cat_id+'&t='+Math.random();
    layer.open({
        type: 2,
        title: '选择商品',
        shadeClose: true,
        shade: 0.3,
        area: ['70%', '80%'],
        content: url,
    });
  }

  function call_back()
  {
      layer.closeAll('iframe');
      location.href = location.href;
  }

</script>
</body>
</html>