<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <title>中秋抢购活动</title>
    <link rel="stylesheet" href="__STATIC__/mobile/css/mobile_designer.css">
    <link rel="stylesheet" href="__STATIC__/mobile/css/active.css">
</head>
<body>
    <div class="mid-autumn-bg">
        <div class="h5_mid_autumn_bg"><img src="/public/upload/active/images/h5_mid_autumn_bg.png" alt=""></div>
        <!-- 五折专区 start -->
        <div class="mid_autumn_title_0">五折专区</div>
        <ul class="mid_autumn_goods_list">
            <li>
                <div class="mid_autumn_goods-img-1"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3238/app/{$app}.html"><img src="/public/upload/active/images/autumn_p1_1.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">GY1骨传导运动蓝牙耳机</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥150.00<s>¥299.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3238.html">立即秒杀</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img-1"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3234/app/{$app}.html"><img src="/public/upload/active/images/autumn_p1_2.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">ZD100骨传导蓝牙耳机</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥200.00<s>¥399.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3234/app/{$app}.html">立即秒杀</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img-1"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2522/app/{$app}.html"><img src="/public/upload/active/images/autumn_p1_3.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">天然红玛瑙宝瓶吊坠</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥129.00<s>¥258.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2522/app/{$app}.html">立即秒杀</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img-1"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2495/app/{$app}.html"><img src="/public/upload/active/images/autumn_p1_4.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">天然红玛瑙精油瓶吊坠</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥340.00<s>¥680.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2495/app/{$app}.html">立即秒杀</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img-1"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2517/app/{$app}.html"><img src="/public/upload/active/images/autumn_p1_5.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">天然紫水晶精油宝瓶吊坠</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥129.00<s>¥258.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2517/app/{$app}.html">立即秒杀</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img-1"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3225/app/{$app}.html"><img src="/public/upload/active/images/autumn_p1_6.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">移动电源手机手电筒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥109.00<s>¥218.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3225/app/{$app}.html">立即秒杀</a></dd>
                </dl>
            </li>
        </ul>
        <!-- 五折专区 end -->

        <!-- 中秋特惠 start -->
        <div class="mid_autumn_title_1"><img src="__STATIC__/images/mid_autumn_title_1.png" alt=""></div>
        <ul class="mid_autumn_goods_list">
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/731/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_1.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">APK-8201高档手电筒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥72.00<s>¥90.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/731/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/730/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_2.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">APK-8203高档手电筒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥91.00<s>¥114.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/730/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2797/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_3.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">NailEasy粉色圆球</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥134.00<s>¥168.00</s></dt>
                    <dd><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2797/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2891/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_4.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">NailEasy绿色灯塔</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥78.00<s>¥98.00</s></dt>
                    <dd><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2891/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3230/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_5.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">S1智能手环</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥135.00<s>¥169.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3230/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/358/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_6.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">赤霞珠红葡萄酒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥126.00<s>¥158.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/358/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/360/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_7.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">初榨橄榄油750ml</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥65.00<s>¥108.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/360/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/Mobile/Goods/goodsInfo/id/2994/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_8.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">粗粮礼盒装</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥116.00<s>¥145.00</s></dt>
                    <dd><a href="http://www.yilitong.com/Mobile/Goods/goodsInfo/id/2994/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3173/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_9.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">大恶魔系列</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥111.00<s>¥139.00</s></dt>
                    <dd><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3173/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2997/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_10.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">古树纯料茶</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥126.00<s>¥158.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2997/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/1029/app/{$app}.html"><img src="/public/upload/active/images/autumn_p2_11.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">海豚硅胶小夜灯</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥46.00<s>¥58.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/1029/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/356/app/{$app}.html "><img src="/public/upload/active/images/autumn_p2_12.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">梅乐红葡萄酒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥254.00<s>¥318.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/356/app/{$app}.html ">立即抢购</a></dd>
                </dl>
            </li>
        </ul>
        <!-- 中秋特惠 end -->

        <!-- 国庆精选 start -->
        <div class="mid_autumn_title_1"><img src="__STATIC__/images/mid_autumn_title_2.png" alt=""></div>
        <ul class="mid_autumn_goods_list">
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/729/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_1.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">APK-8205高档多功能手电筒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥48.00<s>¥60.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/729/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2889/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_2.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">NailEasy黑色灯塔</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥78.00<s>¥98.00</s></dt>
                    <dd><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2889/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2798/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_3.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">NailEasy金色圆球</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥134.00<s>¥168.00</s></dt>
                    <dd><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2798/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/Mobile/Goods/goodsInfo/id/240/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_4.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">玻璃养生壶</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥194.00<s>¥298.00</s></dt>
                    <dd><a href="http://www.yilitong.com/Mobile/Goods/goodsInfo/id/240/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/354/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_5.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">赤霞珠红葡萄酒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥270.00<s>¥338.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/354/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/355/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_6.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">老藤西拉红葡萄酒</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥286.00<s>¥358.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/355/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/361/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_7.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">初榨橄榄油500ml</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥105.00<s>¥175.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/361/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/Mobile/Goods/goodsInfo/id/343/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_8.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">纳米喷雾器</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥86.00<s>¥108.00</s></dt>
                    <dd><a href="http://www.yilitong.com/Mobile/Goods/goodsInfo/id/343/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3222/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_9.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">火山小夜灯</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥46.00<s>¥58.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3222/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/1030/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_10.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">小鲸鱼充电灯</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥55.00<s>¥69.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/1030/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3205/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_11.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">全自动移动车篷</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥975.00<s>¥1299.00</s></dt>
                    <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3205/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
            <li>
                <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/345/app/{$app}.html"><img src="/public/upload/active/images/autumn_p3_12.png" alt=""></a></div>
                <h4 class="mid_autumn_goods-name">电动吸黑头神器</h4>
                <dl class="mid_autumn_goods-price">
                    <dt>¥101.00<s>¥168.00</s></dt>
                    <dd><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/345/app/{$app}.html">立即抢购</a></dd>
                </dl>
            </li>
        </ul>
        <!-- 国庆精选 end -->
    </div>

    <!--底部-start-->
    <include file="public/designerFooter"/>
    <!--底部-end-->
</body>
</html>