<include file="public/header" title="{$goods.goods_name}-{$config['shop_info_store_title']}"/>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />-->
    <title>礼 安居-{$config['shop_info_store_title']}</title>
    <style>
        .body-container{
            width:100%;
        }
        .body-container img{
            width:100%;
            height:100%;
        }
    </style>
</head>
<body>

</body>
</html>
<link rel="stylesheet" href="__MOBILE__/css/mobile.css">
<div class="body-container">
    <img src="__MOBILE__/images/Winchance.png" alt="">
</div>




<!--底部-start-->
<include file="public/footer"/>
<!--底部-end-->