<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>购物车-{$config['shop_info_store_title']}</title>
<meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
<meta name="description" content="{$config['shop_info_store_desc']}" />
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/global.js"></script>
<script src="__PUBLIC__/js/pc_common.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script><!--弹窗js 参考文档 http://layer.layui.com/-->
  <style>
	

	table tr td.pa-to-30{padding-top:25px;}
	.wel-log h3{padding-top:0;}
	.wel-log h3 span{font-size:16px;margin-left:20px;margin-bottom:10px;}
	.login{width:274px;}
	.to0{top:6px;}
	.wi96{margin-right:18px;}
	
	/*wrp css*/
	
	.footer_quality{overflow: hidden;}
	.footer_quality li{float: left;}
	.logo-businessCenter{
	    overflow: hidden;
	    float: left;
	}
	/* wrp add css */
	.logo-businessCenter li{float: left; margin-top:20px;}
	.logo-businessCenter li.logo-businessCenter-li1{padding-right: 20px;}
	.logo-businessCenter li.logo-businessCenter-li2{line-height:60px; padding-left:30px; font-size:18px; border-left:1px solid #ccc;}
	
	.regs-info{ overflow: hidden; float: right; line-height: 100px; font-size: 12px;}
	.regs-info li{ float: left; padding: 0 10px; font-weight: bold;}
	.regs-info li a{ font-weight: normal;}
	.regs-info li a:hover{ color: #ff0000;}
	
	
	.pa-10-0 tr td{line-height:32px;}
	/*.zc-text{float: left;}*/
	
	/* 第三方登录 */
	.third-login ul{
	    overflow:hidden;
	    height:40px;
	}
	.third-login ul li{
	    float:left;
	
	}
	.third-login ul li.reging-now{
	    float:right;
	}
	.third-login ul li.reging-now>a{
	    line-height:28px;
	    font-size:14px;
	    font-weight:bold;
	    color:#ff7333;
	}
	.third-login ul li.reging-now>a:hover{
	    text-decoration:underline;
	}
	.win2 {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9999999;
		background-color: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		display: none;
	}
	.win2wrap {
		position: fixed;
		width: inherit;
		height: inherit;
		box-sizing: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.win2sharebox{
		width: 698px;
		height: 576px;
		background-color: white;	
	}
</style>
</head>

<body>
    <div class="win2" id="orderconfirm">
		<div class="win2wrap">
			<div style="width:380px; background:#ffffff;">
				<div style="border-bottom:1px solid #ccc;height: 64px;margin-bottom:20px;line-height: 64px;">
					<div class="wel-log" style=" margin-left:30px; font-size:18px;float:left;">会员登录
				    </div>
				    <div style="float: right;margin-right:20px" onclick="div_hide()"><img src="/public/yilitong/images2/tel.png"></div>
				</div>
			    <div style="clear: both"></div>
			    <div style=" padding:10px 30px;">
			        <form action="{:Url('Home/Business/login')}" method="post">
			            <input type="hidden" name="referurl" id="referurl" value="{$referurl}">
			            <div class="login-x">
			                <div class="x">
			                    <div class="ma-to--26">
			                        <table class="pa-10-0" width="100%" border="0" cellspacing="0" cellpadding="0">
			
			                            <tr>
			                                <td>
			                                    账&nbsp;号：
			                                    <input class="zc-text" type="text" id="mobile" name="mobile" placeholder="手机号" maxlength="11"/>
			                                </td>
			                            </tr>
			                            <tr>
			                                <td>
			                                    密&nbsp;码：
			                                    <input class="zc-text" name="password" id="password" type="password" placeholder="请输入密码"/>
			                                </td>
			                            </tr>
			                            <tr>
			                                <td class="po-re">
			                                    <span style="float:left;">验证码：</span>
			                                    <input class="zc-text wi96" type="text" name="verify_code" id="verify_code" placeholder="不区分大小写"/>
			                                    <img class="po-ab to0" id="verify_code_img" style="margin-left:-12px; margin-top:4px;" width="100" height="32" src="{:Url('Home/User/verify')}"  onclick="verify(this)" />
			
			                                </td>
			                            </tr>
			                            <tr>
			                                <td>
			                                    <a class="fo-fa-ta co929292" href="{:Url('Home/user/forget_pwd')}" title="忘记密码？">忘记密码？</a>
			                                </td>
			                            </tr>
			                            <tr>
			                                <td>
			                                    <input type="hidden" name="type" value="save"/>
			                                    <input type="button" class="login" style="width:285px; background-color:#059ce1;" onClick="checkSubmit()" value="登录">
			                                </td>
			                            </tr>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </form>
			        <!-- 第三方登录 && 立即注册-->
			        <style>
			
			        </style>
			
			        <div class="third-login" style="padding:10px 30px;">
			            <ul>
			                <li>
			                    <a href="{:Url('LoginApi/login',array('oauth'=>'qq'))}" title="QQ登录">
			                        <img src="__STATIC__/img/QQ.png"/>
			                    </a>
			                </li>
			                <li>
			                    <a href="{:Url('LoginApi/login',array('oauth'=>'weixin'))}" >
			                        <img src="__STATIC__/img/weixin.png"/>
			                    </a>
			                </li>
			                <li class="reging-now">
			                    <a href="{:Url('Home/User/register')}" title="立即注册">立即注册</a>
			                </li>
			            </ul>
			
			        </div>
			    </div>
			</div>
		</div>
	</div>
    <include file="public/siteTopbar" />
    <div class="order-header">
    	<div class="layout after">
        	<div class="fl">
            	<div class="logo pa-to-36 wi345">
                	<a href="/"><img src="{$config['shop_info_store_logo']}" alt=""></a>
                </div>
            </div>
        	<div class="fr">
            	<div class="pa-to-36 progress-area">
                	<div class="progress-area-wd">我的购物车</div>
                	<div class="progress-area-tx" style="display:none">填写核对订单信息</div>
                	<div class="progress-area-cg" style="display:none">成功提交订单</div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout after-ta">
    	<div class="sc-list">
        <form name="cart_form" id="cart_form" action="{:Url('Home/Cart/ajaxCartList')}">
			{:token()}
	         <div id="ajax_return"><!--  ajax renturn --></div>
         </form>
           
        </div>
    </div>
  <div class="sc_bot">
		<div class="sc-acti-list">
			<a class="gwc-jxgw" href="/">继续购物</a>
            <a class="gwc-qjs" onclick="order()"  style="cursor:pointer">去结算</a>

		</div>
	</div>
<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->
<script>
    function verify(){
       $('#verify_code_img').attr('src',"/index.php?m=Home&c=User&a=verify&r="+Math.random());
    }
    
	function checkSubmit()
	{
		var mobile = $('#mobile').val();
		var password = $('#password').val();
		var referurl = $('#referurl').val();
		var verify_code = $('#verify_code').val();
		if(mobile == ''){
			layer.alert('用户名不能为空', {icon: 2});
			return false;
		}
		if(!checkMobile(mobile) && !checkEmail(mobile)){

			layer.alert('账号格式不匹配!', {icon: 2});
			return false;
		}
		if(password == ''){
			layer.alert('密码不能为空!', {icon: 2});
			return false;
		}


		$.ajax({
			type : 'post',
            url : '/index.php?m=Home&c=User&a=login&t='+Math.random(),
			data : {mobile:mobile,password:password,referurl:referurl,verify_code:verify_code},
			dataType : 'json',
			success : function(res){
				if(res.status == 1){
                    $('#orderconfirm').hide();
					window.location.href = res.url;
                    // window.location.reload()
                    return false; 

				}else{

					layer.alert(res.msg, {icon: 2});
					verify();
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
			layer.alert('网络失败，请刷新页面后重试', {icon: 2});
			}
		})

	}

   
    
    function checkMobile(tel) {
        var reg = /(^1[3|4|5|6|7|8|9][0-9]{9}$)/;
        if (reg.test(tel)) {
            return true;
        }else{
            return false;
        };
    }
    
    function checkEmail(str){
        var reg = /^[a-z0-9]([a-z0-9\\.]*[-_]{0,4}?[a-z0-9-_\\.]+)*@([a-z0-9]*[-_]?[a-z0-9]+)+([\.][\w_-]+){1,5}$/i;
        if(reg.test(str)){
            return true;
        }else{
            return false;
        }
    }
    

	
</script>
<script>
function order(){
	var o = $('#orderconfirm');
    //直接按回车登录
	document.onkeydown = function(e){
        var ev = document.all ? window.event : e;
        if(o.css('display')!="none" && ev.keyCode==13 ) {
            checkSubmit();
        }
    };
	$.ajax({
		type : 'post',
        url : '/index.php?m=Home&c=Cart&a=cart_login',
		// data : {mobile:mobile,password:password,referurl:referurl,verify_code:verify_code},
		dataType : 'json',
		success : function(res){
			if(res.status == 1){
                if (o.css('display')=="none") {
					o.show();
					$(this).html("hide");
				}else{
					o.hide();
					$(this).html("show");
				}
                return false; 
			}else{
				window.location.href ="/index.php?m=Home&c=Cart&a=orderconfirm";
			}
		},
		// error : function(XMLHttpRequest, textStatus, errorThrown) {
		// layer.alert('网络失败，请刷新页面后重试', {icon: 2});
		// }
	})
}

function div_hide(){
	$('#orderconfirm').hide();
}
  
$(document).ready(function(){
	ajax_cart_list(); // ajax 请求获取购物车列表
});



// ajax 提交购物车
var before_request = 1; // 上一次请求是否已经有返回来, 有才可以进行下一次请求
function ajax_cart_list(){

	if(before_request == 0) // 上一次请求没回来 不进行下一次请求
	    return false;
	before_request = 0;
	$.ajax({
		type : "POST",
		url:"{:Url('Home/Cart/ajaxCartList')}",//+tab,
		data : $('#cart_form').serialize(),// 你的formid
		success: function(data){
			$("#ajax_return").html('');
			$("#ajax_return").append(data);
			before_request = 1;
          var oTr=document.getElementById('cart_form').getElementsByTagName('tr').length;
			if(oTr>=13){
				$(".sc_bot").addClass('sc_bottom');
			}else{				
				$(".sc_bot").removeClass('sc_bottom');
			};
			// alert(oTr);
			$(window).scroll(function(){
				var topSc=$(window).scrollTop();
				if(oTr>12&&oTr<17&&topSc<250){
					$(".sc_bot").addClass('sc_bottom');
				 return false;
				}else if(oTr>=17&&oTr<20&&topSc<500){
			            $(".sc_bot").addClass('sc_bottom');
						return false;
			        }
				else if(oTr>=20&&oTr<23&&topSc<800){
			            $(".sc_bot").addClass('sc_bottom');
						return false;
			        }
					else if(oTr>=23&&oTr<=26&&topSc<1100){
						$(".sc_bot").addClass('sc_bottom');
						return false;
					}else if(oTr>26&&oTr<29&&topSc<1200){
						$(".sc_bot").addClass('sc_bottom');
						return false;
					}else if(oTr>=29&&oTr<32&&topSc<1700){
						$(".sc_bot").addClass('sc_bottom');
						return false;
					}else if(oTr>=32&&oTr<35&&topSc<2000){
						$(".sc_bot").addClass('sc_bottom');
						return false;
					}
					else if(oTr>=35&&oTr<38&&topSc<2300){
						$(".sc_bot").addClass('sc_bottom');
						return false;
					}
					else{
						$(".sc_bot").removeClass('sc_bottom');
					}
					
			    });
		}
	});
}

/**
* 购买商品数量加加减减
* 购买数量 , 购物车id , 库存数量
*/
function switch_num(num,cart_id,store_count,quantity,prom_type=0,spec_key=0)
{
	var num2 = parseInt($("input[name='goods_num["+cart_id+"]']").val());
	num2 += num;

    // 抗疫活动免费领取需要
    if(spec_key==5937 ||spec_key==5938 || spec_key==5939){
        if(num2 > 1){
            num2 = 1;  // 保证购买数量不能少于 起售量
            layer.alert("活动限领"+num2+"件",{icon: 2});
        }
    }
    // 抗疫活动结束可删
    //预约
    if (prom_type == 6) {
        if(num2 > 1){
            num2 = 1;  // 保证购买数量不能高于限购量
            layer.alert("活动限领"+num2+"件",{icon: 2});
        }
    }
    //预约
	if(num2 < quantity){
	    error = "数量不能少于起售量 "+quantity+"件";
	    layer.alert(error, {icon: 2});
		num2 = quantity; // 保证购买数量不能少于 起售量
	} 
	
	if(num2 > store_count)
	{
	    error = "库存只有 "+store_count+" 件, 你只能买 "+store_count+" 件";
	    layer.alert(error, {icon: 2});
		num2 = store_count; // 保证购买数量不能多余库存数量
	}

	$("input[name='goods_num["+cart_id+"]']").val(num2);

	ajax_cart_list(); // ajax 更新商品价格 和数量
}


/**
 * [onChangeCart 输入数量]
 * @param  {[type]} cart_id     [购物车ID]
 * @param  {[type]} store_count [库存]
 * @param  {[type]} quantity    [起售量]
 * @return {[type]}             [description]
 */
function onChangeCart(cart_id,store_count,quantity,prom_type=0,spec_key){
	var num2 = parseInt($("input[name='goods_num["+cart_id+"]']").val());

    // 抗疫活动免费领取需要
    if(spec_key==5937 ||spec_key==5938 || spec_key==5939){
        if(num2 > 1){
            num2 = 1;  // 保证购买数量不能少于 起售量
            layer.alert("活动限领"+num2+"件",{icon: 2});
        }
    }
    // 抗疫活动结束可删
    //预约
    if (prom_type == 6) {
        if(num2 > 1){
            num2 = 1;  // 保证购买数量不能高于限购量
            layer.alert("活动限领"+num2+"件",{icon: 2});
        }
    }
    //预约
    
	if(num2 < quantity){
		error = "数量不能少于起售量 "+quantity+"件";
		layer.alert(error, {icon: 2});
		num2 = quantity; // 保证购买数量不能少于 起售量
    }
	if(num2 > store_count)
	{
		error = "库存只有 "+store_count+" 件, 你只能买 "+store_count+" 件";
		layer.alert(error, {icon: 2});
		num2 = store_count; // 保证购买数量不能多余库存数量
	}
	$("input[name='goods_num["+cart_id+"]']").val(num2);
	
	ajax_cart_list(); // ajax 更新商品价格 和数量
}




/**  全选 反选 **/
function check_all()
{
	var vt = $("#select_all").is(':checked');
	$("input[name^='cart_select']").prop('checked',vt);
	 ajax_cart_list(); // ajax 更新商品价格 和数量
}


// ajax 删除购物车的商品
function ajax_del_cart(ids)
{
	$.ajax({
		type : "POST",
		url:"{:Url('Home/Cart/ajaxDelCart')}",//+tab,
		data:{ids:ids}, //
	    dataType:'json',
		success: function(data){
		  // alert(data.msg);
		   if(data.status == 1)
				ajax_cart_list(); // ajax 请求获取购物车列表
		}
	});
}

// 批量删除购物车的商品
function del_cart_more()
{
	if(!confirm('确定要删除吗?'))
	  return false;
	// 循环获取复选框选中的值
	var chk_value = [];
	$('input[name^="cart_select"]:checked').each(function(){
		var s_name = $(this).attr('name');
		var id = s_name.replace('cart_select[','').replace(']','');
		chk_value.push(id);
	});
	// ajax  调用删除
	if(chk_value.length > 0)
		ajax_del_cart(chk_value.join(','));
}
</script>
</body>
</html>
