<!-- Cropping modal -->
<link rel="stylesheet" href="__PUBLIC__/cropavatar/css/bootstrap.min.css">
<script src="__PUBLIC__/cropavatar/js/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/cropavatar/js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="__PUBLIC__/cropavatar/css/cropper.min.css">
<link rel="stylesheet" href="__PUBLIC__/cropavatar/css/main.css">
<script src="__PUBLIC__/cropavatar/js/cropper.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/cropavatar/js/main.js" type="text/javascript"></script>
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="avatar-form" action="{:Url('RedSupplier/Thumbs/index')}" id="submitCompanyInfo" enctype="multipart/form-data" method="post" name="form1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">图片大小限制在 {:human_filesize(Config('syc_images.size'))} </h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">

                        <!-- Upload image and data -->
                        <div class="avatar-upload">
                            <input type="hidden" class="avatar-src" name="avatar_src">
                            <input type="hidden" class="avatar-data" name="avatar_data">
                          
                            <label for="avatarInput">选择上传的图片</label>
                            <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                        </div>

                        <!-- Crop and preview -->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg"></div>
                                <!--<div class="avatar-preview preview-md"></div>
                                <div class="avatar-preview preview-sm"></div>-->
                            </div>
                        </div>

                        <div class="row avatar-btns">
                           
                            <div class="col-md-3"><input type="hidden" name="img_type" value="goods">
           
                                <input type="button" class="btn btn-sm purple" value="裁剪图片" onclick="copeImg()">
                                <switch name="thumb.options">
                                <case value="archive">
                                <input type="submit" class="btn btn-sm red" value="使用原图" onclick="document.form1.options.value='not_cut'">
                                </case>
                                </switch>
                                <input type="hidden" name="options">
                                
                                <input type="hidden" name="__token__" value="{$Request.token}" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </form>
        </div>
    </div>
</div><!-- /.modal -->
<script>
	function showModal(){
		$('#avatar-modal').modal('show');
	}
  function copeImg(){
  	document.form1.options.value='cope';
  		var formdata = new FormData($('#submitCompanyInfo')[0]);  
		$.ajax({  
		    url:'{:Url('RedSupplier/Thumbs/index')}',  
		      data:formdata,  
		      type:"POST",  
		      dataType:"json",  
		      processData: false,  
		      contentType: false,  
		      success: function (da) {  
			  	var element = document.getElementById('avatarImg');
				element.src = da.result1;
				document.getElementById('original_img').value = da.result;
				document.getElementById('thumb_img').value = da.result1;
				$('#avatar-modal').modal('hide');
		      },
		      error : function (da) {  
                 if(da.message){
                      alert(da.message)
                 }else{
                     alert('原图片过大或格式不对')
                 }
		      }
		});  

    } 
</script>			

