<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>一创会员 - 编辑一创会员</h3>
                <h5>一创会员资料</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="adminHandle" action="{:Url('Agen/adminHandle')}" method="post">
        <input type="hidden" name="act" value="{$act}">
        <input type="hidden" name="admin_id" value="{$info.admin_id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="user_name"><em>*</em>用户名</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="user_name" value="{$info.user_name}" id="user_name" class="input-txt">
                    <!-- <p class="notic">登录用户名(不能出现中文)</p> -->
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="password"><em>*</em>登陆密码</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="password" value="{$info.password}" id="password" class="input-txt">
                    <p class="notic">设置登陆密码</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="mobile">手机号码</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="mobile" value="{$info.mobile}" id="mobile" class="input-txt">
                    <p class="notic">手机号码</p>
                </dd>
            </dl>
            <!-- <dl class="row">
                <dt class="tit">
                    <label for="email"><em>*</em>邮箱</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="email" value="{$info.email}" id="email" class="input-txt">
                    <p class="notic">邮箱</p>
                </dd>
            </dl> -->
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function adsubmit(){
        if($('input[name=user_name]').val() == ''){
            layer.msg('用户名不能为空！', {icon: 2,time: 1000});   
            return false;
        }
        if($('input[name=password]').val() == ''){
            layer.msg('密码不能为空！', {icon: 2,time: 1000});
            return false;
        }
        // if($('input[name=mobile]').val() == ''){
        //     layer.msg('手机号不能为空！', {icon: 2,time: 1000});
        //     return false;
        // }
        // if($('input[name=email]').val() == ''){
        //     layer.msg('邮箱不能为空！', {icon: 2,time: 1000});
        //     return false;
        // }
        $('#adminHandle').submit();
    }
</script>
</body>
</html>