<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>登录页面</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <!-- <link rel="stylesheet" type="text/css" href="css/index.css"/> -->
   <link rel="stylesheet" type="text/css" href="css/login.css"/>
   <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" media="screen"/>
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="vue_index">
	<div class="login_box">
	<img src="img/logo.png" class="logo">
		<!-- <p class="title">用户登录</p> -->
		<input type="text" name="" value="" class="form-control username" placeholder="请输入用户名" v-model="user_name"/>
		<input type="password" name=""  value="" class="form-control password" placeholder="请输入密码" v-model="password"/>
		<div class="login_btn" @click="loginF">登录</div>
		<p class="err">{{err}}</p>
	</div>
	<div class="login">
		<img src="img/img_log%20.png" >
	</div>
</body>

<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script type="text/javascript">
	var aa = new Vue({
		el: '#vue_index',
		data: {
			err:'',
			baseUrl:'http://192.168.1.17/tp510',
			// baseUrl:'http://192.168.1.102/tp510',
			// baseUrl:'http://www.yilitong.com',
			user_name:'',
			password:'',
		},
		
		methods: {
			quanju:function(e){
				var baseurl=this.baseUrl;
				var that=this;
				var list={
					admin_id:e
				};
				axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
				axios.post(baseurl+'/index.php/home/Agen/is_login',{
						params: list
				}).then(function(res){
					console.log(e);
				});
			},
			loginF:function(){
				var baseurl=this.baseUrl;
				var that=this;
				var list={
					user_name:that.user_name,
					password:that.password
				};
				axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
				axios.post(baseurl+'/index.php/home/RedGift/red_login',{
						user_name:that.user_name,
						password:that.password
				}).then(function(res){
					// console.log(res);
					// console.info(res.data.status);
					var status=res.data.status;
					if(status==1){
						console.log(res.data);
						localStorage.admin_id = res.data.result.admin_id;
						localStorage.user_name = res.data.result.user_name;
						localStorage.updata_paw=res.data.result.updata_paw;
						console.log(localStorage);
						that.quanju(localStorage.admin_id);
						window.location.href='index.html';
					}else{
						that.err=res.data.msg;
					}
				});
			},
			
			details: function() {
				return  this.site + " - 学的不仅是技术，更是梦想！";
			}
		}
	})
</script>


</html>