body {
    background: #FFFFFF;
}

.containerp {
    width: 100%;
    /* margin-top: 76px; */
    background: #FFFFFF;
    margin-bottom: 100px;
}

.dao {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    height: 50px;
    padding-left: 10px;
}

.dao .p1 {
    margin-right: 5px;
}

.dao .p2 {
    margin-left: 5px;
    margin-right: 5px;
}

.tuijian {
    border: 1px solid #ececec;
    /* height: 650px; */
}

.biaoti {
    width: 208px;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    background: #E8E8E8;
}

.goods {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goods .goods_name {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    margin-top: 14px;
}

.goods .cank {
    font-size: 14px;
    color: #929292;
}

.goods .cank .price {
    font-size: 14px;
    color: #e00909;
    font-weight: 700;
}

.geli {
    height: 1px;
    width: 200px;
    background: #E8E8E8;
    margin: 30px auto;
}

.conentya {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.right {
    width: 1000px;
    /* background: pink; */
    margin-left: 36px;
}

.saixua {
    border: 1px solid #E8E8E8;
    height: 40px;
    line-height: 40px;
}

.saixua .l1 {
    font-size: 14px;
    color: #a7a7a7;
    padding-left: 12px;
    margin-left: 0px;
}

.saixua span {
    padding: 12px 20px;
}

.active {
    color: #E00909;
}

.productlist {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    /* border: 1px solid #E8E8E8; */
    margin-top: 22px;
    /* background: #000000; */
}

.productlist li {
    width: 240px;
    height: 352px;
    background: #FFFFFF;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productlist .p1 {
    width: 100%;
    padding-left: 20px;
}

.productlist .goods_name {
    padding-top: 20px;
    padding-left: 20px;
    /* border-top: 1px solid #f8f8f8; */
    padding-right: 20px;
    font-size: 14px;
    color: #333333;
    width: 240px;
    height: 70px;
    overflow: hidden;
}

.productlist .goods_name:hover {
    color: #E00909;
}

.productlist .price {
    font-size: 18px;
    color: #E00909;
    font-weight: 700;
}


/* .containerB {
    position: fixed;
    bottom: 0px;
} */


/* 搜索无结果 */

.noproduct {
    width: 1200px;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    margin-bottom: 42px;
}

.noproduct img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-left: 14px;
}

.noproduct p {
    color: #333333;
    font-size: 12px;
}

.containerp2 {
    border-top: 2px solid #F8F8F8;
}

.pindan_l {
    width: 1200px;
    margin: 0 auto;
}

.p_titlename {
    font-size: 12px;
    color: #666666;
    margin-top: 23px;
    margin-bottom: 33px;
}

.pin_zm_lei {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 59px;
}

.pin_zm_lei:last-child {
    border-bottom: none;
}

.p_xiaolei {
    margin-right: 27px;
    width: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p_xiaolei:nth-child(7n+7) {
    margin-right: 0px;
}

.pin_zm_lei {
    display: flex;
    flex-wrap: wrap;
}

.p_xiaolei>img {
    width: 146px;
    height: 92px;
    border: 1px solid rgba(235, 235, 235, 1);
}

.p_xiaolei>p {
    color: #333333;
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 34px;
    text-align: center;
}


/* 修改样式 */

.rd_container_right {
    width: 1200px;
    box-sizing: border-box;
    line-height: 1;
    font-size: 14px;
}

.rd_right_top {
    border: 1px solid rgba(235, 235, 235, 1);
    /* margin-top: 78px; */
}

.rd_right_top .rd_brand {
    width: 1152px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 32px 24px;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 8px;
}

.rd_right_top .rd_brand>p {
    width: 30px;
    margin-right: 47px;
    white-space: nowrap;
    margin-bottom: 24px;
}

.rd_right_top .rd_brand .rd_pinpai {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    position: relative;
}

.rd_right_top .rd_brand .rd_pinpai>li {
    margin-right: 44px;
    margin-bottom: 24px;
    cursor: pointer;
    /* position: relative; */
}

.rd_right_top .rd_brand .rd_pinpai>li.active {
    color: #e50012;
}

img.rd_icon_up {
    width: 10px;
    height: 12px;
    margin-left: 4px;
}

.rd_total_goods {
    position: absolute;
    right: 0px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999999;
}

.rd_total_goods>p:first-child {
    color: #999999;
    margin-right: 23px;
}

.rd_total_goods>p.rd_fenye>span:first-child {
    color: #e6002d;
}

.rd_total_goods>p.rd_fenye>span:nth-child(2) {
    color: #333333;
}


/* 页码 */

.rd_paging {
    display: flex;
    justify-content: flex-end;
    margin-top: 88px;
    padding-bottom: 120px;
}

.previous_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 217, 217, 1);
    margin-right: 12px;
    cursor: pointer;
}

.previous_page>img {
    width: 10px;
    height: 16px;
    margin-right: 5px;
}

.next_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 217, 217, 1);
    cursor: pointer;
}

.next_page>img {
    width: 10px;
    height: 16px;
    margin-left: 5px;
}

.rd_paging .pages {
    display: flex;
}

.rd_paging .pages block {
    display: flex;
}

.rd_paging .pages span {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(227, 227, 227, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333333;
    margin-right: 12px;
    cursor: pointer;
}

.rd_paging .pages span.active {
    width: 36px;
    height: 36px;
    background: rgba(229, 0, 18, 1);
    color: #fff;
    border: 1px solid rgba(229, 0, 18, 1);
}

.rd_paging .pages e {
    font-size: 14px;
    color: #333333;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.rd_productlist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}

.rd_prod {
    /* width: 236px;
    height: 308px; */
    width: 224px;
    /* height: 192px; */
    border: 1px solid rgba(236, 236, 236, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.rd_prod:nth-child(5n+5) {
    margin-right: 0px;
}

.rd_prod:hover {
    border: 1px solid rgba(229, 0, 18, 1);
}

.rd_prod>img {
    /* width: 212px;
    height: 212px; */
    width: 192px;
    height: 192px;
    margin-top: 13px;
}

.rd_prod>.rd_prod_txt {
    width: 192px;
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.rd_prod>.rd_prod_txt>img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.rd_prod>.rd_prod_txt>p {
    flex: 1;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rd_prod>.rd_prod_price {
    width: 192px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 22px;
    color: #E00909;
}

.rd_prod>.rd_prod_price>span {
    font-size: 14px;
}

.rd_ban {
    display: flex;
    align-items: center;
}

.rd_ban>.ban {
    width: 3px;
    height: 18px;
    background: rgba(229, 0, 18, 1);
    margin-right: 8px;
}

.rd_ban>span {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

.right_top.t2 {
    top: 0px;
}