body {
    /* background: rgb(232, 232, 232); */
}

a {
    color: #333333!important;
}

#vue_product {
    /* min-height: 1200px; */
    height: auto;
    position: relative;
}


/* .row{
	margin: 0px;
	padding:0px;
} */

.containerCenter {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 65px;
    /* margin-top: 92px; */
}

.containerCenter .left {
    width: 300px;
}

.left .touxiang {
    width: 180px;
    height: 180px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(245, 245, 245, 1);
}

.left .touxiang img {
    border-radius: 50px;
    margin-top: 32px;
}

.left .touxiang p {
    margin-top: 20px;
    font-size: 16px;
    color: #333333;
}

.left .gongneng {
    width: 180px;
    background: #FFFFFF;
    margin-top: 16px;
    border: 1px solid rgba(245, 245, 245, 1);
}

.gongneng {
    /* padding-left: 20px; */
}

.gongneng .head {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    /* padding: 24px 0px; */
    padding-top: 24px;
    padding-bottom: 20px;
}

.gongneng li {
    /* padding-bottom: 20px; */
    cursor: pointer;
}

.containerCenter .right {
    width: 1500px;
    background: #FFFFFF;
}


/* 账号与安全 */

.zhanghao {
    width: 100%;
    padding-left: 48px;
    height: 64px;
    display: flex;
    align-items: center;
    border: 1px solid #e9e9e9;
    /* border-bottom: 0px; */
}

.zhanghao p {
    position: relative;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.active2 {
    color: #E50012;
}

.active2 span {
    width: 64px;
    display: block;
    height: 2px;
    background: #E50012;
    position: absolute;
    top: 40px;
}

.userdetail {
    padding-left: 48px;
}

.userdetail .touxiang {
    display: flex;
    align-items: center;
    padding-top: 36px;
}

.touimg {
    position: relative;
}

.userdetail .touxiang p {
    margin-right: 48px;
}

.touxiang .upimg {
    display: none;
    position: absolute;
    top: 28px;
    left: 9px;
}

.userdetail .touxiang:hover img {
    opacity: 0.5;
}

.userdetail .touxiang:hover .upimg {
    display: block;
}

.userid {
    display: flex;
    margin-top: 32px;
}

.userid p,
.username p,
.tel p {
    margin-right: 62px;
    font-size: 14px;
    color: #333333;
}

.username {
    display: flex;
    margin-top: 32px;
}

.bindtel .tit {
    color: #0D4592;
}

.bindtel .tit img {
    margin-left: 5px;
}

.tel {
    display: flex;
    margin-top: 28px;
}

.bindbox {
    margin-top: 28px;
}

.bindbox .tijiao {
    display: flex;
    margin-top: 22px;
}

.bindbox .tijiao .btn-l {
    width: 114px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #b2b2b2;
    color: #FFFFFF;
}

.bindbox .tijiao .btn-r {
    width: 114px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}

.btn2 {
    width: 144px;
    height: 40px;
    margin-top: 32px;
    border-radius: 4px;
    background: #e50012;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2:hover {
    background: #ff0015;
    color: #FFFFFF;
}


/* 修改密码 */

.editpass {
    width: 100%;
    padding-top: 36px;
    /* padding-left: 48px; */
    /* width: 500px;
    margin-top: 36px;
    margin-left: 48px; */
}

.editpass input {
    width: 256px;
    height: 40px;
}

.editpass .form-horizonta {
    background-color: red;
    margin-left: -100px;
}

.editpass .form-group {
    width: 300px;
    margin-left: 50px;
}


/* 编辑地址 */

.editaddress {
    width: 600px;
    padding-top: 36px;
    padding-left: 48px;
}

.ssq,
.detail,
.tel2,
.person {
    display: flex;
}

.ssq p,
.tel2 p {
    margin-right: 48px;
    white-space: nowrap;
    line-height: 40px;
}

.detail,
.person,
.tel2 {
    margin-top: 20px;
}

.detail p {
    white-space: nowrap;
    line-height: 40px;
}

.person p {
    margin-right: 60px;
    line-height: 40px;
}

.detail p {
    margin-right: 48px;
    line-height: 40px;
}

.form-shouhuor {
    width: 256px;
    height: 40px;
}

.form-shouhuor.diqu {
    width: 200px;
    height: 40px;
    margin-right: 10px;
}


/* 订单 */

.dingdan {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.ordertab_title {
    background: #F8F8F8;
    font-weight: 700;
    height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.orderlist {
    border: 1px solid #E0E0E0;
    margin-bottom: 24px;
}

.orderlist .ordlist_tou {
    padding-left: 18px;
    height: 44px;
    background: #E0E0E0;
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
}

.orderlist .ord_goods {
    display: flex;
}

.ord_goods .h76 {
    /* height: 76px; */
    border-top: 1px solid #E0E0E0;
    margin-left: 0px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ord_goods .order_henx {
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    margin-right: -6px;
    padding-top: 32px;
    text-align: center;
}

.ord_goods .order_henx2 {
    /* border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	margin-right: -6px; */
    /* margin-top: 32px; */
    text-align: center;
}

.ordertab_title .left {
    display: flex;
    align-items: center;
}

.ordertab_title .quanxuan {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    margin-top: 0px;
}

.ordertab_title span {
    margin-left: 24px;
}

.ordlist_tou .danxuan {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    margin-top: 0px;
}

.ordlist_tou .ordnumber {
    margin-left: 30px;
}

.quxiaoorder:hover {
    color: #E00909;
}


/* .containerB {
    position: fixed;
    bottom: 0px;
} */

.active {
    /* color: #0D4592; */
    color: #e50012;
}


/* 暂无相关订单 */

.noorder {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noorder .nodd {
    color: #555555;
    margin-top: 18px;
}


/* 分页样式 */

.page-bar {
    /* margin:40px; */
    margin-bottom: 50px;
}

ul,
li {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

.page-bar li:first-child>a {
    margin-left: 0px
}

.page-bar a {
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}

.page-bar a:hover {
    background-color: #eee;
}

.page-bar a.banclick {
    cursor: not-allowed;
}

.page-bar .active a {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.page-bar i {
    font-style: normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}


/* 时间选择器 */

.orderdate {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.start_date {
    width: 154px;
    height: 36px;
    border: 1px solid #d6d6d;
}

.end_date {
    width: 154px;
    height: 36px;
}

.noquerybtn {
    width: 72px;
    height: 36px;
    background: #B2B2B2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 4px;
}

.querybtn {
    width: 72px;
    height: 36px;
    background: #e50012;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 4px;
}

.querybtn:hover {
    background: #ff0015;
}

.gongneng li {
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 45px;
    line-height: 45px;
    /* justify-content: center; */
}

.gongneng li.active {
    background: #FFEDEA;
}

.gongneng li:hover {
    color: #e50012;
}

.gongneng li.active .rdban {
    display: block;
    position: absolute;
    width: 2px;
    height: 44px;
    background: rgba(229, 0, 18, 1);
    left: 0px;
    top: 0px;
    /* visibility: hidden; */
}


/* .gongneng li::before */


/* 订单详情页样式 */

.rd_order_top {
    border: 1px solid rgba(235, 235, 235, 1);
}

.rd_order_top>.order_num_time {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background: #EBEBEB;
}

.rd_order_top>.order_num_time .order_num {
    margin-left: 27px;
    margin-right: 22px;
    font-size: 16px;
    color: #000000;
}

.rd_order_top>.order_num_time .order_time {
    color: #666666;
    font-size: 14px;
}

.order_info {
    display: flex;
}

.order_info>.order_info_left {
    flex: 1;
    box-sizing: border-box;
}

.order_info>.order_info_left>.status {
    height: 66px;
    font-size: 14px;
    padding-left: 27px;
    border-bottom: 1px solid #F3F3F3;
    line-height: 66px;
    color: #666666;
}

.order_info>.order_info_left>.status>span {
    color: #333333;
    font-weight: 700;
}

.order_info>.order_info_left>.order_tel_add {
    padding-left: 27px;
    padding-top: 32px;
    padding-bottom: 20px;
}

.order_info_left>.order_tel_add>p {
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333333;
}

.order_info_left>.order_tel_add>p .ord_tag {
    width: 75px;
    color: #797979;
    font-size: 14px;
    display: block;
}

.order_info>.order_info_right {
    width: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #F3F3F3;
}

.order_info_right .num {
    font-size: 14px;
    color: #797979;
    margin-right: 10px;
}

.order_info_right .price {
    color: #E50012;
    font-size: 20px;
    font-weight: 700;
}

.order_info_right .price>span {
    font-size: 14px;
}

.rd_order_bottom {
    margin-top: 22px;
    border: 1px solid rgba(235, 235, 235, 1);
}

.rd_order_bottom .rd_title {
    height: 56px;
    background: rgba(250, 250, 250, 1);
    border: 1px solid rgba(248, 248, 248, 1);
    font-size: 16px;
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 27px;
}

.rd_order_bottom .rd_product>li {
    display: flex;
    padding-top: 27px;
    padding-bottom: 20px;
    width: 95%;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 1px solid rgba(244, 244, 244, 1);
}

.rd_product>li>.rd_prod_1 {
    flex: 3;
    box-sizing: border-box;
    display: flex;
    /* padding-left: 27px; */
}

.rd_product>li>.rd_prod_1>p {
    flex: 1;
}

.rd_product>li>.rd_prod_1>img {
    width: 104px;
    height: 104px;
    margin-right: 12px;
}

.rd_product>li>.rd_prod_2,
.rd_product>li>.rd_prod_3,
.rd_product>li>.rd_prod_4 {
    flex: 1;
    text-align: center;
}

.ordertotal {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    height: 72px;
    background: rgba(250, 250, 250, 1);
    margin-top: 17px;
}

.ordertotal .tag_l {
    font-size: 14px;
    color: #797979;
    margin-right: 14px;
}

.ordertotal .price_r {
    font-size: 20px;
    color: #E50012;
    font-weight: 700;
    margin-right: 72px;
}

.ordertotal .price_r>span {
    font-size: 14px;
    font-weight: 400;
}

.rd_cate_ul.rd_cate_ul2 {
    /* background: red; */
    opacity: 1;
    /* z-index: 10000; */
    position: absolute;
}

.daohang {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 17px;
}

.daohang>.s1 {
    font-size: 13px;
    color: #333333;
}

.daohang>.hg {
    color: #666666;
    margin-left: 5px;
    margin-right: 5px;
}

.daohang>.s2 {
    color: #999999;
    font-size: 13px;
}

.order_info>.order_info_left>.status>span.rd_btn_red {
    padding: 9px 17px;
    background: #E50012;
    color: #FFEDEA;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 18px;
}

.rd_goods_thumb {
    width: 89px;
    height: 89px;
    margin-right: 13px;
}

.col-md-8.t1>a {
    display: flex;
    align-items: center;
}

.rd_paging {
    display: flex;
    justify-content: flex-end;
    margin-top: 88px;
    padding-bottom: 120px;
}

.previous_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 217, 217, 1);
    margin-right: 12px;
    cursor: pointer;
}

.previous_page>img {
    width: 10px;
    height: 16px;
    margin-right: 5px;
}

.next_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 217, 217, 1);
    cursor: pointer;
}

.next_page>img {
    width: 10px;
    height: 16px;
    margin-left: 5px;
}

.rd_paging .pages {
    display: flex;
}

.rd_paging .pages block {
    display: flex;
}

.rd_paging .pages span {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(227, 227, 227, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333333;
    margin-right: 12px;
    cursor: pointer;
}

.rd_paging .pages span.active {
    width: 36px;
    height: 36px;
    background: rgba(229, 0, 18, 1);
    color: #fff;
    border: 1px solid rgba(229, 0, 18, 1);
}

.rd_paging .pages e {
    font-size: 14px;
    color: #333333;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.rd_ban {
    display: flex;
    align-items: center;
}

.rd_ban>.ban {
    width: 3px;
    height: 18px;
    background: rgba(229, 0, 18, 1);
    margin-right: 8px;
}

.rd_ban>span {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

.right_top.t2 {
    top: 0px;
}


/* 
 */

a.rd_guangshouye {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 37px;
    color: #fff!important;
    font-size: 14px;
    margin-top: 16px;
    background: #E50012;
}