<include file="public/header" title="送礼攻略详情" body="pore_add"/>

<style>
    body{
        background: #fafafa;
        padding-bottom: 3rem;
    }
    .collect-goods-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        /*position: relative;*/
        background: #fff;
        /*margin-bottom:1rem;*/
        border-bottom: 1px solid #efefef;
        position: fixed;
        left: 0;
        top: 0;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .5rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    /* *********  文章推荐 start  ********** */
    .art-banner{
        margin-top: 1.6rem;
        width: 100%;
    }
    .art-banner img{
        display: block;
        width: 100%;
        height: auto;
    }
    .article-container{
        width: 100%;
        padding: .5rem;
        background: #fff;
        margin-top: .4rem;
    }
    .article-container .art-title{
        margin: 0;
        font-size: .64rem;
    }
    .article-container .art-describe{
        font-size: .56rem;
        color: #555;
        line-height: .8rem;
        margin: .4rem 0;
    }
    .article-container .art-article{
        font-size: .56rem !important;
        line-height: .9rem;
    }
    .article-container .art-article p{
        font-size: .56rem !important;
    }
    .article-container .art-goods,.article-container .art-goods a,.article-container .art-goods a img{
        display: block;
        width: 100%;
        height: auto;
        text-decoration: none;
    }
    .article-container .art-goods{
        margin-top: .6rem;
    }
    .article-container .art-goods a p{
        font-size: .64rem;
        color: #222;
        margin: .4rem 0;
        line-height: .8rem;
    }
    .article-container .art-goods a dl{
        width: 100%;
        overflow: hidden;
        font-size: .6rem;
        margin: 0;
    }
    .article-container .art-goods a dl dt{
        float: left;
        line-height: 1.4rem;
    }
    .article-container .art-goods a dl dt span{
        margin-left: .1rem;
    }
    .article-container .art-goods a dl dd{
        float: right;
        border: 1px solid #ccc;
        border-radius: .2rem;
        width: 3.6rem;
        height: 1.4rem;
        text-align: center;
        line-height: 1.4rem;
    }
    .artDom{
        width: 100%;
        background: #fff;
        position: fixed;
        left: 0;
        bottom: 0;
        border-top: 1px solid #efefef;
    }
    .artDom ul{
        width: 99%;
        overflow: hidden;
        margin: 0 auto;
    }
    .artDom ul li{
        width: 33%;
        height: 2.2rem;
        float: left;
    }
    .artDom ul li a{
        display: block;
        width: 100%;
        height: 100%;
        line-height: 2.2rem;
        font-size: .58rem;
        text-align: center;
        padding-left: 1.8rem;
        text-decoration: none;
    }
    .artDom ul li .art-collect-icon{
        background: url(__MOBILE__/images/collect_xi_n@2x.png) no-repeat 38% center;
    }
    .artDom ul li .art-collect-icon-1{
        background: url(__MOBILE__/images/collect_xi_y@2x.png) no-repeat 38% center;
    }
    .artDom ul li .art-forwarding-icon{
        background: url(__MOBILE__/images/art_forwarding_icon.png) no-repeat 38% center;
    }
    .artDom ul li .art-comment-icon{
        background: url(__MOBILE__/images/art_comments_icon.png) no-repeat 38% center;
    }
    .artDom ul li .art-collect-icon,.artDom ul li .art-forwarding-icon,.artDom ul li .art-comment-icon,.artDom ul li .art-collect-icon-1{
        -webkit-background-size: auto 1rem;
        -moz-background-size: auto 1rem;
        -o-background-size: auto 1rem;
        background-size: auto 1rem;
    }
    /* *********  文章推荐 end  ********** */
</style>

<div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>送礼攻略</div>
<!-- 文章收藏 start -->
<div class="art-banner"><img src="__STATIC__/images/v2.png" alt=""></div>
<div class="article-container">
    <h2 class="art-title">致女友，只想把天上的星星，摘下来送给心爱的你</h2>
    <p class="art-describe">《小王子》里曾经说过：”如果你爱上了一朵生长在星星上的花，那么夜间，你看着天空就感到愉快，所有的星星都开着花。“</p>
    <article class="art-article">
        还记得以前有喜欢的人的时候，总会为她折上一大罐星星，每颗星星后面都藏着一份真挚的，又朦胧的感情，那是你们两个之间的密码，是这个世界上最单纯的小美好。
        <br>
        后来长大了，有了想要攻读一生的爱人，晚上约会时，总爱抬头看着天上的星空。一颗星星代表着一个愿望，满天空的星星则是无数美好的祝愿，我们就这样静静地看着天空，不需要任何语言，就能感觉到美好的幸福。当世间的爱侣相拥在璀璨的星空下，许下一生承诺时，这些来自星星的礼物将永远见证着这空人一颗。
    </article>

    <div class="art-goods">
        <a href="">
            <img src="__STATIC__/images/muwu1.jpg" alt="">
            <p>记得以前有喜欢的人的时候，总为她折上一大罐星星</p>
            <dl>
                <dt>¥<span>126.00</span></dt>
                <dd>立即购买</dd>
            </dl>
        </a>
    </div>

</div>
<!-- 文章收藏 start -->

<div class="artDom">
    <ul>
        <li><a href="javascript:;" id="like" class="art-collect-icon">0</a><input type="hidden" value="0"></li>
        <li><a href="" class="art-forwarding-icon">26</a></li>
        <li><a href="{:Url('Goods/art_comment')}" class="art-comment-icon">1000</a></li>
    </ul>
</div>

<script>
    $(function () {
        $('#like').click(function () {
            var collectVal = parseInt($(this).siblings('input').val());
            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    collectNum: collectVal
                },
                dataType: 'json',
                success: function (data) {
                    if(data.state == 0){    //状态0 ==> 未收藏 ==> 操作...
                        collectVal += 1;
                        $(this).addClass('art-collect-icon-1');
                        $(this).text(collectVal);
                        $(this).siblings('input').val(collectVal);
                    }else{
                        if(collectVal > 0){     //如果收藏数大于 0 可取消
                            collectVal -= 1;
                            $(this).text(collectVal);
                            $(this).siblings('input').val(collectVal);
                        }else{      //如果收藏数小于 / 等于 0 设置为0收藏 ，不可能负数
                            collectVal = 0;
                            $(this).text(collectVal);
                            $(this).siblings('input').val(collectVal);
                        }
                        $(this).removeClass('art-collect-icon-1');
                    }
                }
            })
        })
    })

</script>

</body>
</html>
