<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>端午专区</title>
		<link rel="stylesheet" href="__MOBILE__/css/festival.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
	</head>
	<body>
		<div class="festival">
			<header>
			<a href="/mobile/Index/index.html">
				<div class="back"><img src="__MOBILE__/images/icon_back_black.png"></div>
				<div class="headName">端午专区</div>
				<div></div>
			</a>
			</header>
			<div class="banner"><img src="__MOBILE__/images/banner.png"></div>
			<!--<nav><img src="__MOBILE__/images/icon_date.png"></nav>-->
			<section>
				<div class="combo">
					<div class="comboTitle"><img src="__MOBILE__/images/icon_168.png"></div>
					<a href="{:Url('User/consult')}">
					<div class="combobox">
						<div class="comboImg"><img src="{$goods[original_img]}"></div>
						<div class="comboboxRight">
							<div class="comboName">聚惠端午，粽享佳节</div>
							<div class="comboIntro">{$goods[goods_name]}</div>
							<div class="activityPrice">活动价：<span>￥{$goods[shop_price]}</span></div>
							<div class="originalPrice">原价：<span>￥{$goods[market_price]}</span></div>
						</div>
					</div>
					</a>
					<div class="packageGoods">
        		<volist name="goods_d" id="value">
				<a href="{:Url('User/consult')}">
					<div class="packageGoods_left">
						<div class="comboImg1"><img src="{$value[original_img]}"></div>
						<div class="comboIntro1">{$value[goods_name]}</div>
						<div class="price">￥{$value[shop_price]}<span>￥{$value[market_price]}</span></div>
					</div>
				</a>
				</volist>
					</div>
				</div>	
				<div class="combo">
					<div class="comboTitle"><img src="__MOBILE__/images/icon_268.png"></div>
					<a href="{:Url('User/consult')}">

					<div class="combobox">
						<div class="comboImg"><img src="{$goods_s[original_img]}"></div>
						<div class="comboboxRight">
							<div class="comboName">食尚生活，天天油米</div>
							<div class="comboIntro">{$goods_s[goods_name]}</div>
							<div class="activityPrice">活动价：<span>￥{$goods_s[shop_price]}</span></div>
							<div class="originalPrice">原价：<span>￥{$goods_s[market_price]}</span></div>
						</div>
					</div>
					</a>
					<div class="packageGoods">
        		<volist name="goods_s_d" id="value">
					<a href="{:Url('User/consult')}">

						<div class="packageGoods_left">
							<div class="comboImg1"><img src="{$value[original_img]}"></div>
							<div class="comboIntro1">{$value[goods_name]}</div>
							<div class="price">￥{$value[shop_price]}<span>￥{$value[market_price]}</span></div>
						</div>
					</a>
				</volist>
					</div>
				</div>	
				<div class="combo">

					<div class="comboTitle"><img src="__MOBILE__/images/icon_368.png"></div>
					<a href="{:Url('User/consult')}">
					<div class="combobox">

						<div class="comboImg"><img src="{$goods_ss[original_img]}"></div>
						<div class="comboboxRight">
							<div class="comboName">一杯好酒，祝您安康</div>
							<div class="comboIntro">{$goods_ss[goods_name]}</div>
							<div class="activityPrice">活动价：<span>￥{$goods_ss[shop_price]}</span></div>
							<div class="originalPrice">原价：<span>￥{$goods_ss[market_price]}</span></div>
						</div>
					</div>
					</a>
					<div class="packageGoods">
        		<volist name="goods_ss_d" id="value">
					<a href="{:Url('User/consult')}">

						<div class="packageGoods_left">
							<div class="comboImg1"><img src="{$value[original_img]}"></div>
							<div class="comboIntro1">{$value[goods_name]}</div>
							<div class="price">￥{$value[shop_price]}<span>￥{$value[market_price]}</span></div>
						</div>
					</a>
				</volist>
					</div>
				</div>	
				<div class="combo">
					<div class="comboTitle"><img src="__MOBILE__/images/icon_568.png"></div>
					<a href="{:Url('User/consult')}">
					<div class="combobox">

						<div class="comboImg"><img src="{$goods_sss[original_img]}"></div>
						<div class="comboboxRight">
							<div class="comboName">一花一茶，一蜜一旅</div>
							<div class="comboIntro">{$goods_sss[goods_name]}</div>
							<div class="activityPrice">活动价：<span>￥{$goods_sss[shop_price]}</span></div>
							<div class="originalPrice">原价：<span>￥{$goods_sss[market_price]}</span></div>
						</div>
					</div>
					</a>
					<div class="packageGoods">
        		<volist name="goods_sss_d" id="value">
					<a href="{:Url('User/consult')}">

						<div class="packageGoods_left">
							<div class="comboImg1"><img src="{$value[original_img]}"></div>
							<div class="comboIntro1">{$value[goods_name]}</div>
							<div class="price">￥{$value[shop_price]}<span>￥{$value[market_price]}</span></div>
						</div>
					</a>
				</volist>
					</div>
				</div>		
			</section>
          		<div class="comboTitle"><img src="__MOBILE__/images/card.png"></div>	
				<div class="giftCard_Box">
        		<volist name="goods_get" id="value">
				   <a href="{:Url('User/consult')}">
					<div class="giftCard">
						<div class="giftCardImg"><img src="{$value[original_img]}"></div>
						<div class="giftCardIntro">{$value[goods_name]}</div>
						<div class="giftCardMoney">￥{$value[shop_price]}</div>
					</div>	
                  </a>
				</volist>	
				</div>
		</div>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js "></script>

		<script>

//通过config接口注入权限验证配置
 // alert(location.href.split('#')[0]);
wx.config({

    //debug : true,
    debug : false, 
    appId: '<?php echo $signPackage["appId"];?>',// 
    timestamp: '<?php echo $signPackage["timestamp"];?>',//生成签名的时间戳
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',//生成签名的随机串
    signature: '<?php echo $signPackage["signature"];?>',

  jsApiList : ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo']

});

// console.log(appId);
// console.log(timestamp);
// console.log(nonceStr);
// console.log(signature);
wx.ready(function(){

  var
            s_title = '一礼通端午专区',  // 分享标题

            s_link = 'https://www.yilitong.com/mobile/Goods/phoneAuthfx_sss/id/{$goods.goods_id}/referrer_id/{$_SESSION['user']['user_id']}',  // 分享链接

            s_desc = '{$goods[goods_name]}',  //分享描述

            s_imgUrl = 'http://www.yilitong.com/{$goods[original_img]}'; // 分享图标

  //朋友圈

  wx.onMenuShareTimeline({

    title: s_title, // 分享标题

    link: s_link, // 分享链接

    imgUrl: s_imgUrl, // 分享图标

    success: function () { },

    cancel: function () { }

  });

  //发送给好友

  wx.onMenuShareAppMessage({

    title: s_title, // 分享标题

    desc: s_desc, // 分享描述

    link: s_link, // 分享链接

    imgUrl: s_imgUrl, // 分享图标

    type: '', // 分享类型,music、video或link，不填默认为link

    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空

    success: function () {},

    cancel: function () {}

  });

  //QQ好友

  wx.onMenuShareQQ({

    title: s_title, // 分享标题

    desc: s_desc, // 分享描述

    link: s_link, // 分享链接

    imgUrl: s_imgUrl, // 分享图标

    success: function () { },

    cancel: function () { }

  });

  //腾讯微博

  wx.onMenuShareWeibo({

    title: s_title, // 分享标题

    desc: s_desc, // 分享描述

    link: s_link, // 分享链接

    imgUrl: s_imgUrl, // 分享图标

    success: function () { },

    cancel: function () { }

  });

});

</script>
	</body>
</html>
