<include file="public/layout" />
<style>
    td{height:40px;line-height:40px; padding-left:20px;}
    .span_1{
        float:left;
        margin-left:0px;
        height:130px;
        line-height:130px;
    }
    .span_1 ul{list-style:none;padding:0px;}
    .span_1 ul li{
        border:1px solid #CCC;
        height:40px;
        padding:0px 10px;
        margin-left:-1px;
        margin-top:-1px;
        line-height:40px;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>设计师管理 - 设计师信息</h3>
                <h5>网站系统设计师管理信息</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="user_form" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>设计师姓名</label>
                </dt>
				 <dd class="opt">{$su.contacts_name}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>昵称</label>
                </dt>
				<dd class="opt">
				<input id="supplier_name"  name="supplier_name" value="{$su.supplier_name}" class="input-txt" type="text">
				</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>个人简介</label>
                </dt>
                <dd class="opt">
                    <!-- <input id="introduction"  name="introduction" value="{$su.introduction}" class="input-txt" type="text">-->
            <textarea name="introduction" class="input-txt" id="introduction" cols="30" rows="12">{$su.introduction}</textarea>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>个人所在地</label>
                </dt>
                <dd class="opt">{$region_list[$su['province']]['name']}，{$region_list[$su['city']]['name']}，{$region_list[$su['area']]['name']}
,{$su.address} </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="email">电子邮箱</label>
                </dt>
                <dd class="opt">
                    <input id="email"  name="email" value="{$su.email}" class="input-txt" type="text">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label class="qq">QQ</label>
                </dt>
                <dd class="opt">
                    <input id="company_type" name="qq" value="{$su.qq}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>

			 <dl class="row">
                <dt class="tit">
                    <label class="qq">微信</label>
                </dt>
                <dd class="opt">
                    <input id="guimo" name="guimo" value="{$su.guimo}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>
 
            <dl class="row">
                <dt class="tit">
                    <label>申请时间</label>
                </dt>
                <dd class="opt">{$su.add_time|date='Y-m-d H:i',###}</dd>
            </dl>  

			  
			 <dl class="row">
                <dt class="tit">
                    <label>身份证号码</label>
                </dt>
                <dd class="opt">{$su.business_licence_number}</dd>
            </dl>
		 

			 <dl class="row">
                <dt class="tit">
                    <label>身份证</label>
                </dt>
                <dd class="opt">
					<a href="{$su.organization_code_electronic}" target="_Blank"><img src="{$su.organization_code_electronic}"  width="80px" height="80px" /></a>
					<a href="{$su.general_taxpayer}" target="_Blank"><img src="{$su.general_taxpayer}"  width="80px" height="80px" /></a>
				</dd>
            </dl>
				 <dl class="row">
                <dt class="tit">
                    <label>证明材料</label>
                </dt>
                <dd class="opt">
					<a href="{$su.bank_licence_electronic}" target="_Blank"><img src="{$su.bank_licence_electronic}"  width="80px" height="80px" /></a>
					<a href="{$su.proxy}" target="_Blank"><img src="{$su.proxy}"  width="80px" height="80px" /></a>
				</dd>
            </dl>
				 <dl class="row">
                <dt class="tit">
                    <label>学历证明</label>
                </dt>
                <dd class="opt"><a href="{$su.reading_protocol}" target="_Blank"><img src="{$su.reading_protocol}"  width="80px" height="80px" /></a></dd>
            </dl>	
			 <dl class="row">
                <dt class="tit">
                    <label>审核结果</label>
                </dt>
                <dd class="opt"><select name="status" id="status">
				 <option value="0" <if condition="($su[status] eq 0)">selected="selected"</if>>未审核</option>   
				  <option value="1" <if condition="($su[status] eq 1)">selected="selected"</if>>审核通过</option>   
				   <option value="2" <if condition="($su[status] eq 2)">selected="selected"</if>>审核不通过</option>
					<option value="-1" <if condition="($su[status] eq -1)">selected="selected"</if>>关闭设计师资格</option>  				   
				</select>  </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="checkUserUpdate();" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
	<script type="text/javascript">
    function checkUserUpdate(){

        $('#user_form').submit();
    }
</script>
</div>
</body>
</html>