<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>设计作品管理</h3>
				<h5>设计作品管理列表</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>设计作品管理列表，审核，展示</li>
		</ul>
		
	</div>
	
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>设计作品列表</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		</div>
		<form id="search-form2" class="navbar-form form-inline"  method="post" action="{:Url('/Admin/Supplier/supplier_settlement')}">
      <div class="sDiv">    
	  	 
        <div class="sDiv2">
	
		  
		      <input type="text" class="qsbox" id="input-order-id" placeholder="搜索词" value="{$_POST['keyword']}" name="keyword">                                        
			 <input type="submit" class="btn" value="搜索">
        </div>
      </div>
     </form>
		
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 120px;" class="">作品名称</div>
                        </th>
						 <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: left; width: 120px;" class="">设计师名字</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">分享时间</div>
                        </th>
                     
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: left; width: 100px;" class="">点击数</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: left; width: 100px;" class="">收藏数</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: left; width: 100px;" class="">作品评论数</div>
                        </th>
						 <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: left; width: 100px;" class="">审核状态</div>
                        </th>
						 <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: left; width: 100px;" class="">审核操作</div>
                        </th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="list" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$vo.works_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$vo.designer_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.add_time|date="Y/m/d",###}</div>
							</td>
						
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.click_count}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.collect_count}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.comment_count}</div>
							</td>
							<td align="left" axis="col0">
							  <div style="text-align: left; width: 100px;">
								<if condition='$vo[examine] eq 1'>
								  <span class="yes" onClick="changeTableVal('works','works_id','{$vo.works_id}','examine',this)" ><i class="fa fa-check-circle"></i>是</span>
								  <else />
								  <span class="no" onClick="changeTableVal('works','works_id','{$vo.works_id}','examine',this)" ><i class="fa fa-ban"></i>否</span>
								</if>
							  </div>
							</td> 
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">
								<!-- <a href="{:Url('Admin/supplier/settlement_detail',array('id'=>$vo['settlement_id']))}"><span >查看详情</span></a> -->
								<a href="{:Url('/Home/Works/WorksDetails',array('id'=>$vo['works_id']))}"><span >查看详情</span></a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});


		  	  
		  function del_supplier(id){

    	layer.confirm('确定要彻底删除吗？', {btn: ['确定','取消'] }, function(){
    			$.ajax({
    				type : 'get',
    				url : "/index.php?m=Admin&c=supplier&a=delSupplier&id="+id,
    				dataType : 'json',
    				success : function(data){
    					if(data == 1){
    						layer.msg('操作成功', {icon: 1});
    				
    					}else{
    						layer.msg(data, {icon: 2,time: 2000});
    					}
    					layer.closeAll();
    				}
    			})
    		}, function(index){
    			layer.close(index);
    			return false;// 取消
    		}
    	);	
    }
	
	
	function Report(){
		$.ajax({
    				type : 'get',
    				url : "/index.php?m=Admin&c=supplier&a=supplier_settlement",
    				dataType : 'json',
    				success : function(data){
    						layer.msg('结算中，请耐心等待', {icon: 1});
    				}
    			})
	}

</script>
</body>
</html>