<!DOCTYPE html>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>退换货列表-{$config['shop_info_store_title']}</title>
<meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
<meta name="description" content="{$config['shop_info_store_desc']}" />
<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
<link rel="stylesheet" href="__STATIC__/css/page.css" type="text/css">
<link rel="stylesheet" href="__STATIC__/css/outhu.css" type="text/css">
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
  <style>
    .wi139{width:100px !important;}
  </style>
</head>

<body>
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<!--------用户中心 顶菜单-------------->
<include file="public/userTopbar" />
<!--------用户中心 顶菜单--------------->

<div class="layout pa-to-10 fo-fa-ar">
  <!--菜单-->
  <include file="user/menu" />
  <!--菜单-->
  <div class="fr wi940" style="width:963px">
    <div id="main">
      <div class="mod-main mod-comm">
        <div class="mc">
          <tbdoy> </tbdoy>
          <table class="tb-void tb-top" style="width:942px">
            <colgroup>
            <col width="110">
            <col width="120">
            <col width="">
            <col width="120">
            <col width="120">
            <col width="100">
            </colgroup>
            <thead>
              <tr style="height:40px;background:#fafafa !important;">
                <th>返修/退换货编号</th>
                <th>订单编号</th>
                <th>商品名称</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <volist name="list" id="item">
              <tr>
                <td align="center"><a target="_blank" href="">{$item.id}</a></td>
                <td><a target="_blank" href="{:Url('Home/User/order_detail',array('id'=>$item['order_id']))}">{$item.order_sn}</a></td>
                <td><div><a href="{:Url('Home/Goods/goodsInfo',array('id'=>$item[goods_id]))}" target="_blank">{$goodsList[$item[goods_id]]}</a> </div></td>
                <td>{$item.addtime|date="Y-m-d",###}</td>
                <td>
                    <if condition="$item['status'] eq -2">已取消</if>
                    <if condition="$item['status'] eq -1">申请不通过</if>
                    <if condition="$item['status'] eq 0">待客服处理</if>
                    <if condition="$item['status'] eq 1">同意申请，待寄回商品</if>
					          <if condition="$item['status'] eq 2">寄回商品途中</if>
                    <if condition="$item['status'] eq 3 || $item['status'] eq 4">商家收货</if>
                    <if condition="$item['status'] eq 5">寄回售后商品</if>
                    <if condition="$item['status'] eq 6">已完成</if>
                </td>
                <td>
                  <a href="{:Url('Home/User/back_goods_info',array('id'=>$item[id]))}">查看</a>
                  <if condition="$item['status'] neq -2 && $item[status] lt 1">
                    <a href="{:Url('Home/User/return_goods_cancel',array('id'=>$item[id],'goods_id'=>$item[goods_id],'order_id'=>$item[order_id]))}">取消</a>
                  </if>
                </td>
              </tr>
             </volist>
            </tbody>
          </table>
        </div>
        <div class="mt10 clearfix" style="text-align:center">{$page}</div>
      </div>
      <div class="mod-main mod-comm" style="margin-top:10px">
        <div class="mt">
          <h3>返修/退换货申请常见问题</h3>
        </div>
        <div class="mc"> 1. “申请”按钮若为灰色，可能是因为订单尚未完成或该商品正在返修/退换货中;</div>
      </div>
    </div>
  </div>
</div>
<div class="he80"></div>
<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->
</body>
</html>