<style>
    .myimall .user-head-img{
        width:80px;
        height:80px;
        border-radius:50%;
        background:#fff;
        margin:0 auto;
        overflow:hidden;
    }
    .myimall .user-head-img img{
        width:100%;
        height:100%;
    }
    .myimall .user-account{
        width:100%;
        text-align:center;
        line-height:40px;
        font-size:14px;
        color:#777;
        font-weight:bold;
    }
    .myimall .mark{
        overflow:hidden;
        border-top:1px solid #dedede;
        border-bottom:1px solid #fff;
        margin-top:10px;
    }
    .myimall .mark li{
        float:left;
        width:50%;
        height:50px;
        box-sizing: border-box;
    }
    .myimall .mark li:nth-of-type(1){
        border-right:1px solid #fff;
        background:url(__STATIC__/images/user-tel-icon.png) no-repeat center center;
    }
    .myimall .mark li:nth-of-type(2){
        background:url(__STATIC__/images/ID_Car.png) no-repeat center center;
    }
    .myimall .mark li.user-tel-icon-Ok{
        border-right:1px solid #fff;
        background:url(__STATIC__/images/user-tel-icon-Ok.png) no-repeat center center;
    }
    .myimall .mark li.ID_Car_Ok{
        background:url(__STATIC__/images/ID_Car_Ok.png) no-repeat center center;
    }
    .list-tab .cur-color{
        color:orange;
    }
</style>
<div class="fl wi240 myimall">
    <div class="li-hi-20 ba-co-danhui">
        <div class="pa-28-0-22">        
            
            <div class="user-head-img"><img src="{$user.head_pic|default='__STATIC__/images/tou2.png'}" alt="店铺LOGO"></div>
            <p class="user-account">用户：<span>{$user['nickname']}</span></p>
            <ul class="mark">
                <li class="user-tel-icon-Ok"><a href="#"></a></li>
                <li class="ID_Car_Ok"><a href="#"></a></li>
            </ul>
        </div>
        <div class="fuy-xim pa-bo-20">
            <ul>
                <li>
                    <h3><span>订单中心</span></h3>
                    <ol class="list-tab">
                        <li id="order_list"><a href="{:Url('Home/User/order_list')}"><span>我的订单<!--<i class="w-i">1</i>--></span></a></li>

						<li id="back_goods_list"><a href="{:Url('Home/User/back_goods_list')}"><span>售后服务</span></a></li>
                    </ol>
                </li>
                <li>
                    <h3><span>个人中心</span></h3>
                    <ol class="list-tab">
                        <li id="info"><a href="{:Url('Home/User/info')}"><span>个人信息</span></a></li>
                       <!-- <li id="account"><a href="{:Url('Home/User/account')}"><span>我的积分</span></a></li>-->
						 <li id="comment"><a href="{:Url('Home/User/comment')}"><span>商品评价</span></a></li>
                        <li id="address_list"><a href="{:Url('Home/User/address_list')}"><span>收货地址管理</span></a></li>
                    </ol>
                </li>
                <li>
                    <h3><span>我的动态</span></h3>
                    <ol class="list-tab">
                        <li id="goods_collect"><a href="{:Url('Home/User/goods_collect')}"><span>商品收藏</span></a></li>
                        <!--<li id="stores-attention"><a href="{:Url('Home/User/goods_collect')}"><span>店铺关注</span></a></li>-->
                        <li id="supplie_collect"><a href="{:Url('Home/User/supplie_collect')}"><span>店铺收藏</span></a></li>
                        <!--<li id="browsing-footprint "><a href="{:Url('Home/User/goods_collect')}"><span>浏览足迹</span></a></li>-->
						<if $user.exchange_points gt '0' ><li id="exchange"><a href="{:Url('Home/Supplieract/exchange')}"><span style="color:red;">兑换专区</span></a></li></if>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>
