<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>企业案例</title>
		<meta name="keywords" content="关键词" />
		<meta name="description" content="页面描述" />
		<link href="__STATIC__/css/case.css" rel="stylesheet" type="text/css" />
		<style type="text/css">
			.tupian ul li img{width: 100%;height:100%;}
		</style>
	</head>

	<body>
		<!--------头部开始-------------->
		<include file="public/header" />
		
		<!--------内容开始-------------->

		<div class="yemei">
			<img src="__STATIC__/images/qiye_title.png" />

			<div class="clearfix"></div>

		</div>
		<div class="jieshao">

				<img src="__STATIC__/images/ct2.png" />

			</div>
		<div class="yemian">
			

			<div class="geren">
				<div class="js">
					<div class="gr" style="line-height:46px; margin-top:30px;">
						<h1>案例介绍</h1>
						<div class="clearfix"></div>

					</div>

					<div class="clearfix"></div>

				</div>

				<div class="nie">
					<div class="sheng">
						<ul class="guang" style="border:red 1px inherit; width:745px">
							<li class="tou">
								<a href="" class="renx">客户简介</a>
								<div class="clearfix"></div>
							</li>

							<div class="clearfix"></div>

						</ul>

						<div class="jianjie">
							<p>客户：村田电子<br /> 行业：电子
								<br /> 时间：2015年
								<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;村田公司是一家使用性能优异电子原料，设计、制造最先进的电子元器件及多功能高密度模块的企业。不仅是手机、家电，汽车相关的应用、能源管理系统、医疗保健器材等，都有村田公司的身影。

								<br/><br/>
							</p>

						</div>

						<ul class="guang" style="border:red 1px inherit; width:745px">
							<li class="tou">
								<a href="" class="renx">项目简介</a>
								<div class="clearfix"></div>
							</li>

							<div class="clearfix"></div>

						</ul>

						<div class="jianjie">

							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 深圳市礼至礼品结合村田企业文化为村田定制设计一系列礼品！
							</p>
						</div>

					</div>

				</div>

				<img src="__STATIC__/images/c3.png" width="412" height="412"/>
				<div class="clearfix"></div>
			</div>

		</div>

		<!--案例展示文本-->

		<div class="anli">
			<div class="zuo"></div>
			<div class="you"></div>
			<div class="clearfix"></div>

			<div class="ji">案例展示</div>
		</div>

		<!--案例展示-->
		<div class="tupian">
			<ul>
				<li><img src="__STATIC__/images/ct.png" width="100%" height="100%"/></li>
	
			</ul>

		</div>

		<!--底部-->
		<include file="public/footer"/>
		<!--底部 end-->

	</body>

</html>