<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>一礼通商城专场特惠活动_精美礼品_创意礼品攻略_一礼通</title>
    <meta name="keywords" content="节日礼品,晶美礼品,创意礼品,礼品攻略,一礼通">
    <meta name="description" content="想送亲朋好友一份特别又有创意的礼物?除了一般的礼品,一礼通商城专场特惠活动，为您提供各种各样的礼物建议,让您和最爱的人们过上温馨的节日!">
    <link rel="stylesheet" href="__STATIC__/css/active_css.css">

</head>
<body>
    <!--------头部开始-------------->
    <include file="public/businessHeader" />
    <!--------头部结束-------------->
    


    <!-- ----------------  活动导航 start  ----------------- -->

    <div class="f-nav">
        <div class="inner">
            <img src="__STATIC__/images/b.jpg" alt="">
        </div>
    </div>

    <!-- ----------------  活动导航 end  ----------------- -->


    

    <!-- ----------------  活动banner start  ----------------- -->
    
    <div class="f-banner">
        <div class="inner">
            <!--<img src="__STATIC__/images/b.jpg" alt="">-->
        </div>
    </div>
    
    <!-- ----------------  活动banner start  ----------------- -->

    


    <!-- ----------------  活动列表 start  ----------------- -->
    <div class="full-cut-bg">
        <div class="inner">
            <div class="f-col">
                <div class="f-col-title"><img src="__STATIC__/images/mid_autumn_title_1.png" alt=""></div>
                <ul class="f-goods-list">
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html"><img src="/public/upload/active/images/autumn_p2_1.png" alt=""></a></div>
                        <h4><span>满减</span>APK-8201高档手电筒8201高档手电筒8201高档手电筒82018201高档手电筒8201高档手电筒8201高档手电筒8201</h4>
                        <p>优惠价：¥<span>72.00</span><s>¥90.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html"><img src="/public/upload/active/images/autumn_p2_1.png" alt=""></a></div>
                        <h4><span>满减</span>APK-8201高档手电筒</h4>
                        <p>优惠价：¥<span>72.00</span><s>¥90.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html"><img src="/public/upload/active/images/autumn_p2_1.png" alt=""></a></div>
                        <h4><span>满减</span>APK-8201高档手电筒</h4>
                        <p>优惠价：¥<span>72.00</span><s>¥90.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html"><img src="/public/upload/active/images/autumn_p2_1.png" alt=""></a></div>
                        <h4><span>满减</span>APK-8201高档手电筒</h4>
                        <p>优惠价：¥<span>72.00</span><s>¥90.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html"><img src="/public/upload/active/images/autumn_p2_1.png" alt=""></a></div>
                        <h4><span>满减</span>APK-8201高档手电筒</h4>
                        <p>优惠价：¥<span>72.00</span><s>¥90.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html" class="buy-btn" title="立即购买"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <!-- ----------------  活动列表 end  ----------------- -->



    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->

    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>



</body>
</html>