<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>中秋节日礼品_国庆精美礼品_创意礼品攻略_一礼通</title>
    <meta name="keywords" content="中秋礼品,国庆礼品,节日礼品,晶美礼品,创意礼品,礼品攻略,一礼通">
    <meta name="description" content="想送亲朋好友一份特别又有创意的中秋国庆礼物?除了一般的礼品,一礼通商城10月1日-10日开启5折专场特惠活动，为您提供各种各样的中秋节的礼物建议,让您和最爱的人们过上温馨的节日!">
    <link rel="stylesheet" href="__STATIC__/css/active_css.css">

</head>
<body style="background-color:#f9f9f9;">
    <!--------头部开始-------------->
    <include file="public/businessHeader" />
    <!--------头部结束-------------->
    

    <div class="mid_autumn_bg">
        <!-- 五折专区 start -->
        <div class="inner clearfix">
            <div class="p1-left-col">
                <!--<img src="__STATIC__/images/m_autumn_5z_bg.png" alt="">-->
            </div>
            <div class="p1-right-col">
                <div class="p1-r-title"></div>
                <div class="p1-r-container">
                    <ul class="">
                        <li>
                            <div class="p1-goods-img">
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3238.html"><img src="/public/upload/active/images/autumn_p1_1.png" alt=""></a>
                            </div>
                            <div class="p1-goods-info">
                                <h4>GY1骨传导运动蓝牙耳机</h4>
                                <p><s>原价：¥<span>299.00</span></s></p>
                            </div>
                            <div class="pa-goods-price clearfix">
                                <p>折扣价：¥<span>150.00</span></p>
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3238.html" class="p1-buy" title="立即秒杀"></a>
                            </div>
                        </li>
                        <li>
                            <div class="p1-goods-img">
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3234.html"><img src="/public/upload/active/images/autumn_p1_2.png" alt=""></a>
                            </div>
                            <div class="p1-goods-info">
                                <h4>ZD100骨传导蓝牙耳机</h4>
                                <p><s>原价：¥<span>399.00</span></s></p>
                            </div>
                            <div class="pa-goods-price clearfix">
                                <p>折扣价：¥<span>200.00</span></p>
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3234.html" class="p1-buy" title="立即秒杀"></a>
                            </div>
                        </li>
                        <li>
                            <div class="p1-goods-img">
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2522.html"><img src="/public/upload/active/images/autumn_p1_3.png" alt=""></a>
                            </div>
                            <div class="p1-goods-info">
                                <h4>天然红玛瑙宝瓶吊坠</h4>
                                <p><s>原价：¥<span>258.00</span></s></p>
                            </div>
                            <div class="pa-goods-price clearfix border-r-none">
                                <p>折扣价：¥<span>129.00</span></p>
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2522.html" class="p1-buy" title="立即秒杀"></a>
                            </div>
                        </li>
                        <li>
                            <div class="p1-goods-img">
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2495.html"><img src="/public/upload/active/images/autumn_p1_4.png" alt=""></a>
                            </div>
                            <div class="p1-goods-info">
                                <h4>天然红玛瑙精油瓶吊坠</h4>
                                <p><s>原价：¥<span>680.00</span></s></p>
                            </div>
                            <div class="pa-goods-price clearfix">
                                <p>折扣价：¥<span>340.00</span></p>
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2495.html" class="p1-buy" title="立即秒杀"></a>
                            </div>
                        </li>
                        <li>
                            <div class="p1-goods-img">
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2517.html"><img src="/public/upload/active/images/autumn_p1_5.png" alt=""></a>
                            </div>
                            <div class="p1-goods-info">
                                <h4>天然紫水晶精油宝瓶吊坠</h4>
                                <p><s>原价：¥<span>258.00</span></s></p>
                            </div>
                            <div class="pa-goods-price clearfix">
                                <p>折扣价：¥<span>129.00</span></p>
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2517.html" class="p1-buy" title="立即秒杀"></a>
                            </div>
                        </li>
                        <li>
                            <div class="p1-goods-img">
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3225.html"><img src="/public/upload/active/images/autumn_p1_6.png" alt=""></a>
                            </div>
                            <div class="p1-goods-info">
                                <h4>移动电源手机手电筒</h4>
                                <p><s>原价：¥<span>218.00</span></s></p>
                            </div>
                            <div class="pa-goods-price clearfix border-r-none">
                                <p>折扣价：¥<span>109.00</span></p>
                                <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3225.html" class="p1-buy" title="立即秒杀"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 五折专区 end -->

        <!-- 中秋特惠 start -->
        <div class="inner clearfix">
            <div class="col-title"><img src="__STATIC__/images/mid_autumn_title_1.png" alt=""></div>
            <div class="good-container">
                <ul class="good-list">
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html"><img src="/public/upload/active/images/autumn_p2_1.png" alt=""></a></div>
                        <h4>APK-8201高档手电筒</h4>
                        <p>折扣价：¥<span>72.00</span><s>¥90.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/731.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/730.html"><img src="/public/upload/active/images/autumn_p2_2.png" alt=""></a></div>
                        <h4>APK-8203高档手电筒</h4>
                        <p>折扣价：¥<span>91.00</span><s>¥114.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/730.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2797.html"><img src="/public/upload/active/images/autumn_p2_3.png" alt=""></a></div>
                        <h4>NailEasy粉色圆球</h4>
                        <p>折扣价：¥<span>134.00</span><s>¥168.00</s></p>
                        <a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2797.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2891.html"><img src="/public/upload/active/images/autumn_p2_4.png" alt=""></a></div>
                        <h4>NailEasy绿色灯塔</h4>
                        <p>折扣价：¥<span>78.00</span><s>¥98.00</s></p>
                        <a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2891.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3230.html"><img src="/public/upload/active/images/autumn_p2_5.png" alt=""></a></div>
                        <h4>S1智能手环</h4>
                        <p>折扣价：¥<span>135.00</span><s>¥169.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3230.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/358.html"><img src="/public/upload/active/images/autumn_p2_6.png" alt=""></a></div>
                        <h4>赤霞珠红葡萄酒</h4>
                        <p>折扣价：¥<span>126.00</span><s>¥158.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/358.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/360.html"><img src="/public/upload/active/images/autumn_p2_7.png" alt=""></a></div>
                        <h4>初榨橄榄油750ml</h4>
                        <p>折扣价：¥<span>65.00</span><s>¥108.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/360.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/Home/Goods/goodsInfo/id/2994.html"><img src="/public/upload/active/images/autumn_p2_8.png" alt=""></a></div>
                        <h4>粗粮礼盒装</h4>
                        <p>折扣价：¥<span>116.00</span><s>¥145.00</s></p>
                        <a href="http://www.yilitong.com/Home/Goods/goodsInfo/id/2994.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/3173.html"><img src="/public/upload/active/images/autumn_p2_9.png" alt=""></a></div>
                        <h4>大恶魔系列</h4>
                        <p>折扣价：¥<span>111.00</span><s>¥139.00</s></p>
                        <a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/3173.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2997.html"><img src="/public/upload/active/images/autumn_p2_10.png" alt=""></a></div>
                        <h4>古树纯料茶</h4>
                        <p>折扣价：¥<span>126.00</span><s>¥158.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2997.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/1029.html"><img src="/public/upload/active/images/autumn_p2_11.png" alt=""></a></div>
                        <h4>海豚硅胶小夜灯</h4>
                        <p>折扣价：¥<span>46.00</span><s>¥58.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/1029.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/356.html"><img src="/public/upload/active/images/autumn_p2_12.png" alt=""></a></div>
                        <h4>梅乐红葡萄酒</h4>
                        <p>折扣价：¥<span>254.00</span><s>¥318.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/356.html" class="buy-btn" title="立即购买"></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 中秋特惠 start -->


        <!-- 国庆精选 start -->
        <div class="inner clearfix">
            <div class="col-title"><img src="__STATIC__/images/mid_autumn_title_2.png" alt=""></div>
            <div class="good-container">
                <ul class="good-list">
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/729.html"><img src="/public/upload/active/images/autumn_p3_1.png" alt=""></a></div>
                        <h4>APK-8205高档多功能手电筒</h4>
                        <p>折扣价：¥<span>48.00</span><s>¥60.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/729.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2889.html"><img src="/public/upload/active/images/autumn_p3_2.png" alt=""></a></div>
                        <h4>NailEasy黑色灯塔</h4>
                        <p>折扣价：¥<span>78.00</span><s>¥98.00</s></p>
                        <a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2889.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2798.html"><img src="/public/upload/active/images/autumn_p3_3.png" alt=""></a></div>
                        <h4>NailEasy金色圆球</h4>
                        <p>折扣价：¥<span>134.00</span><s>¥168.00</s></p>
                        <a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/2798.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/Home/Goods/goodsInfo/id/240.html"><img src="/public/upload/active/images/autumn_p3_4.png" alt=""></a></div>
                        <h4>玻璃养生壶</h4>
                        <p>折扣价：¥<span>194.00</span><s>¥298.00</s></p>
                        <a href="http://www.yilitong.com/Home/Goods/goodsInfo/id/240.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/354.html"><img src="/public/upload/active/images/autumn_p3_5.png" alt=""></a></div>
                        <h4>赤霞珠红葡萄酒</h4>
                        <p>折扣价：¥<span>270.00</span><s>¥338.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/354.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/355.html"><img src="/public/upload/active/images/autumn_p3_6.png" alt=""></a></div>
                        <h4>老藤西拉红葡萄酒</h4>
                        <p>折扣价：¥<span>286.00</span><s>¥358.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/355.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/361.html"><img src="/public/upload/active/images/autumn_p3_7.png" alt=""></a></div>
                        <h4>初榨橄榄油500ml</h4>
                        <p>折扣价：¥<span>105.00</span><s>¥175.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/361.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/Home/Goods/goodsInfo/id/343.html"><img src="/public/upload/active/images/autumn_p3_8.png" alt=""></a></div>
                        <h4>纳米喷雾器</h4>
                        <p>折扣价：¥<span>86.00</span><s>¥108.00</s></p>
                        <a href="http://www.yilitong.com/Home/Goods/goodsInfo/id/343.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3222.html"><img src="/public/upload/active/images/autumn_p3_9.png" alt=""></a></div>
                        <h4>火山小夜灯</h4>
                        <p>折扣价：¥<span>46.00</span><s>¥58.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3222.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/1030.html"><img src="/public/upload/active/images/autumn_p3_10.png" alt=""></a></div>
                        <h4>小鲸鱼充电灯</h4>
                        <p>折扣价：¥<span>55.00</span><s>¥69.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/1030.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3205.html"><img src="/public/upload/active/images/autumn_p3_11.png" alt=""></a></div>
                        <h4>全自动移动车篷</h4>
                        <p>折扣价：¥<span>975.00</span><s>¥1299.00</s></p>
                        <a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3205.html" class="buy-btn" title="立即购买"></a>
                    </li>
                    <li>
                        <div class="goods-img"><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/345.html"><img src="/public/upload/active/images/autumn_p3_12.png" alt=""></a></div>
                        <h4>电动吸黑头神器</h4>
                        <p>折扣价：¥<span>101.00</span><s>¥168.00</s></p>
                        <a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/345.html" class="buy-btn" title="立即购买"></a>
                    </li>
                </ul>
            </div>

            <p style="font-size: 16px;color: #fff;margin-top:20px;">八月中秋月儿圆，合家团聚乐无边。瓜果丰硕来奉献，玉米青豆逐笑颜。高歌一曲全家福，曼舞两步双人欢。美酒烛光趣盎然，送礼寄情祝平安。每年的农历八月十五，俗称“中秋”，是中国历来已久形成的固定的节日。中秋节的盛行始于宋朝，至明清时，已与元旦齐名，成为我国的主要节日之一。中秋的传统美食月饼最初是用来祭奉月神的祭品，后来人们逐渐把中秋赏月与品尝月饼，作为家人团圆的一大象征，慢慢的，月饼也就成为了节日的必备礼品。中秋节作为中国的传统大节，目前已经成为企业答谢客户、回馈员工的时刻。在这个团圆美好的节日里，我们该选一份什么样的中秋节礼品给他们呢？<br><br>一礼通www.yilitong.com定位于企业一站式礼品服务平台，专业为用户提供创意中秋节礼品、中秋节商务礼品、中秋节员工福利礼品、国庆精美礼品等一站式礼品方案，赢得了众多用户的青睐。同时“一礼通”是一个平台型、智能型的互联网创意项目，以“礼”为核心，以产品、文化、思想为基础，以互联网应用为载体，实现“用户自主、资源共享、全民创新”的智能生活应用平台，旨在把中国传统文化发扬光大！</p>

            <p class="copyright">本活动最终解释权归一礼通所有，详细见"<a href="{:url('Home/Caseindex/mid_autumn_rules')}" title="一礼通超级品牌月消费者规则" target="_blank">一礼通超级品牌月</a>"消费者规则。</p>
        </div>
        <!-- 国庆精选 start -->



    </div>




    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->

    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>



</body>
</html>