<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>企业案例</title>
		<meta name="keywords" content="关键词" />
		<meta name="description" content="页面描述" />
		<link rel="stylesheet" href="__STATIC__/css/case.css" type="text/css">
		<style>
			.toptu li{float: left;margin-bottom: 5px;}
			.toptu li img{border: none;}
		</style>
	</head>

	<body>
		<!--------头部开始-------------->
		<include file="public/header" />
		
		<!--------内容开始-------------->
		<div class="yemei">
			<img src="__STATIC__/images/qiye_title.png" />

			<div class="clearfix"></div>

		</div>
		<div class="jieshao">

				<img src="__STATIC__/images/muwu2.png" />

		</div>
		<div class="yemian">
			

			<div class="geren">
				<div class="js">
					<div class="gr" style="line-height:46px; margin-top:30px;">
						<h1>案例介绍</h1>
						<div class="clearfix"></div>

					</div>

					<div class="clearfix"></div>

				</div>

				<div class="nie">
					<div class="sheng">
						<ul class="guang" style="border:red 1px inherit; width:745px">
							<li class="tou">
								<a href="" class="renx">客户简介</a>
								<div class="clearfix"></div>
							</li>

							<div class="clearfix"></div>

						</ul>

						<div class="jianjie">
							<p>客户：木屋烧烤（深圳市君餐饮管理顾问有限公司）<br /> 行业：餐饮
								<br /> 时间：2015年
								<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市君餐饮管理顾问有限公司旗下品牌：木屋烧烤是一家以中式 烧烤为主题的餐饮企业，总部位于深圳市南山区2003年10月在 深圳成立！。
								<br/><br/>
							</p>

						</div>

						<ul class="guang" style="border:red 1px inherit; width:745px">
							<li class="tou">
								<a href="" class="renx">项目简介</a>
								<div class="clearfix"></div>
							</li>

							<div class="clearfix"></div>

						</ul>

						<div class="jianjie">

							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年是木屋烧烤成立12周年的一年。2003年10月在深圳正式成立了，公司凭借“敢为天下先”的信念，脚踏实地，不断探索，锐意进取，所有在12年里不断的壮大，迅速开阔了 北京、上海、广州、深圳、天津5个一线城市开设门店55家，并取 得了辉煌成绩！所以在2015年礼至礼品结合为木屋烧烤经营理念公司企业文化为木屋烧烤打造12周年庆的礼品，来提高木屋烧烤的品牌效应，促进消费，从而达到共赢的局面！

							</p>
						</div>

					</div>

				</div>

				<img src="__STATIC__/images/muwu1.jpg" />
				<div class="clearfix"></div>
			</div>

		</div>

		<!--案例展示文本-->

		<div class="anli">
			<div class="zuo"></div>
			<div class="you"></div>
			<div class="clearfix"></div>

			<div class="ji">案例展示</div>
		</div>

		<!--案例展示-->
		<div class="tupian">
			<ul class="toptu">
				<li><img class="juli" src="__STATIC__/images/muwu3.png" /></li>
			</ul>
			<div class="clearfix"></div>
		</div>

		<!--底部-->
		<include file="public/footer" />
		<!--底部 end-->

	</body>

</html>