<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="keywords" content="{$config_info['store_keyword']}">
    <meta name="description" content="{$config_info['store_desc']}">
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
    <title>{$info.supplier_name}-一礼通</title>
    <link rel="stylesheet" href="__BUSINESS__/style/businessStore.css">
    <style>
        .slides li a img{
            margin-left:360px;
        }

    </style>
</head>
<body style="background-color:#f9f9f9;overflow-x:hidden;">
    <!--------头部开始-------------->
  <include file="public/head2" />
   
    <!--------头部结束-------------->
    <script src="__PUBLIC__/js/pc_common.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>

    
    <div class="inner" style="height:40px;line-height:40px;">
        <ul class="store-bar">
            <li>{$info.supplier_name}</li>
            <!--li><a href="#" id="attention">+关注</a></li-->
            <li><a href="#" onclick="collect_stores({$info.supplier_id})">收藏</a></li>
        </ul>
    </div>
    <div class="shop-sign">
        <img src="<if $config_info.store_banner != ''>{$config_info.store_banner}<else>__STATIC__/images/supplier_sign.jpg</if>" alt="">
    </div>

    <div class="store-nav">
        <div class="inner">
            <ul class="store-nav-list">
                <li style="padding-left:0;"><a href="{:Url('Home/Supplier/StoreHome',array('id'=>$info['supplier_id']))}" class="navLi-cur">首页</a></li>
                <li><a href="{:Url('Home/Supplier/StoreCategory',array('id'=>$info['supplier_id']))}">全部商品</a></li>
                <li><a href="{:Url('Home/Supplier/StoreInfos',array('id'=>$info['supplier_id']))}">店铺简介</a></li>
            </ul>
        </div>
    </div>



    <!--------banner-开始-------------->
    <style>
        /* 这个css位置不许修改（增加权重） */
        .flexslider{position: relative;/* left:572px; *//*width: 980px;*/width:100%;height: 480px;/* overflow: hidden; zoom: 1; margin:0 auto*/}
        /*.flexslider .slides li {width: 100%;height: 100%;}*/
        /* wrp 修改 css 首页 banner 通栏 */
        .flexslider .slides{
            width: 1200px;
            height: 480px;
            position:relative;
            margin:0 auto;
        }
        .flexslider .slides li{
            width: 1920px;
            height: 480px;
            position:absolute;
           /* left:50%;*/
            top:0;
            margin-left:-360px;
        }
    </style>
    <!--<div class="nav-banner">-->
        <!--<div class="warp_1200">-->
            <div id="banner_tabs" class="flexslider" style="display: none;">

                <ul class="slides">
                    <adv limit="3" item="v" pid="2">
                        <li>
                            <a href="{$v.ad_link}" <if condition="$v['target'] eq 1">target="_blank"</if>>
                                <img src="{$v[ad_code]}"/>
                            </a>
                        </li>
                    </adv>
                </ul>

                <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
                    <adv  pid = "2" limit="3" item="v" key="k">
                        <li><a>{$k}</a></li>
                    </adv>
                </ol>

            </div>
        <!--</div>-->

    <!--</div>-->
    <!--------banner-结束-------------->


    <div class="inner">
        <!-- 热销推荐 s -->
        <div class="pro-container">
            <div class="pro-type-tab">
				<dl class="col-title">
                    <dt>热销推荐</dt>
                    <dd><a href="{:Url('Home/Supplier/StoreCategory',array('id'=>$info['supplier_id']))}">更多&gt;</a></dd>
                </dl>
				<foreach name="recommend" item="v" key="k">
                <div class="pro-col">
                    <div class="pro-img"><a rel="nofollow" target="_blank" href="{:Url('Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}">
                        <img src="{$v.goods_thumb}" alt="">
                    </a></div>

					
                    <div class="pro-price">
                        <p class="now-price">¥<strong>{$v[shop_price]}</strong></p>
                    </div>
                    <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}" class="pro-title" title="{$v.goods_name}">{$v.goods_name}</a>
                    <div class="business-infos">
                    <if condition="!empty($v.goods_spec)">
                        <foreach item="vs" key="key" name="v[goods_spec]" >
                            <a href="javascript:void(0);" class="join-buy-car" title="加入购物车" onclick="Cartss({$v[goods_id]},1,'{$key}',{$vs[0][item_id]},'{$vs[0][p_id]}')"><img src="__STATIC__/images/buyCarIco.png" alt="加入购物车"></a>
                        </foreach> 
                    <else/>
                        <a href="javascript:void(0);" class="join-buy-car" title="加入购物车" onclick="Cartss({$v[goods_id]},1,'','','')"><img src="__STATIC__/images/buyCarIco.png" alt="加入购物车"></a>
                    </if>
                    </div>
                </div>
				</foreach>
            </div>
        </div>
        <!-- 热销推荐 e -->


        <!-- 分类 s -->
        <!--div class="pro-container">
            <div class="pro-type-tab">
                <dl class="col-title">
                    <dt>健康食品</dt>
                    <dd><a href="#">更多&gt;</a></dd>
                </dl>
                <div class="pro-col">
                    <div class="pro-img"><a href="#"><img src="__STATIC__/images/muwu1.jpg" alt=""></a></div>
                    <ul class="pro-img-tab">
                        <li><img src="__STATIC__/images/muwu1.jpg" alt=""></li>
                        <li><img src="__STATIC__/images/vanke.png" alt=""></li>
                        <li><img src="__STATIC__/images/luobobg1.png" alt=""></li>
                    </ul>
                    <div class="pro-price">
                        <p class="now-price">¥<strong>128.00</strong></p>
                        <p class="buy-num"><s>¥<i>28</i></s></p>
                    </div>
                    <a href="#" class="pro-title" title="简约马克杯陶瓷茶杯带个性水简约马克杯陶瓷茶杯带个性水">简约马克杯陶瓷茶杯带个性水简约马克杯陶瓷茶杯带个性水</a>
                    <div class="business-infos">
                        <a href="#" class="business-name" title="一礼通自营店1">一礼通自营店1</a>
                        <a href="javascript:void(0);" class="join-buy-car" title="加入购物车" onClick="javascript:AjaxAddCart({$v[goods_id]},1,0);"><img src="__STATIC__/images/buyCarIco.png" alt="加入购物车"></a>
                    </div>
                </div>

            </div>
        </div-->

        <!-- 分类 s -->
    </div>

    <!-- 加入购物车 start -->
    <div style="display:none;" id="shopdilog">
        <div class="ui-popup ui-popup-modal ui-popup-show ui-popup-focus">
            <div i="dialog" class="ui-dialog">
                <div class="ui-dialog-arrow-a"></div>
                <div class="ui-dialog-arrow-b"></div>
                <table class="ui-dialog-grid">
                    <tbody>
                    <tr>
                        <td i="body" class="ui-dialog-body">
                            <div i="content" class="ui-dialog-content" id="content:1459321729418" style="width: 450px; height: auto;">
                                <div id="addCartBox" class="collect-public" style="display: block;">
                                    <div class="colect-top">
                                        <i class="colect-icon"></i>
                                        <!--<i class="colect-fail"></i>-->
                                        <div class="conect-title">
                                            <span>添加成功</span>
                                            <div class="add-cart-btn fn-clear">
                                                <a href="javascript:;" class="ui-button ui-button-f80 fl go-shopping">继续购物</a>
                                                <a href="{:Url('Home/Cart/index')}" class="ui-button ui-button-122 fl">去购物车结算</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td i="footer" class="ui-dialog-footer" style="display: none;">
                            <div i="statusbar" class="ui-dialog-statusbar" style="display: none;"></div>
                            <div i="button" class="ui-dialog-button"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 加入购物车 end -->


    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->
    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <!-- banner 轮播  -->
    <script src="__STATIC__/js/slider.js"></script>
    <script src="__STATIC__/js/index_banner.js"></script>
    <!-- banner 轮播  -->
    <script>
        $(document).ready(function(){

            //产品预览切换 功能
            $('.pro-img-tab').each(function(){
                $(this).children('li').each(function(){
                    $(this).hover(function(){
                        $(this).addClass('curBorder').siblings().removeClass('curBorder');
                        $(this).parent().siblings('.pro-img').find('a').children('img').attr('src',$(this).children().attr('src'))
                    })
                });

            });
        })
        function Cartss(goods_id,goods_num,goods_key,goods_val,spec_id){
            var value={
                    goods_id:goods_id,
                    goods_num:goods_num,
                    goods_val:goods_val,
                    goods_key:goods_key,
                    spec_id:spec_id,
                }
                  // console.log(value);
                $.ajax({
                    type : "POST",
                    url:"/Mobile/Cart/ajaxAddCart",
                    data :value,
                    dataType:'json',
                    success: function(data){
                    if(data.status == 1){
                        cart_num = parseInt($('#cart_quantity').html())+parseInt(goods_num);
                        $('#cart_quantity').html(cart_num)
                        layer.open({
                              type: 2,
                              title: '温馨提示',
                              skin: 'layui-layer-rim', //加上边框
                              area: ['490px', '386px'], //宽高
                              content:"/Home/Goods/open_add_cart"
                        }); 
                    }else{
                        alert(data.msg);
                    }
                    return false;
                }
            })
        }
    </script>

</body>
</html>