<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>优惠促销管理</h3>
				<h5>促销活动数据</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>优惠促销管理, 由平台设置管理.</li>
		</ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>优惠促销数据列表</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		</div>
		<div class="tDiv">
			<div class="tDiv2">
				
					<div class="fbutton">
						<div >
							满减活动：{$prom['name']}-{$prom['start_time']|date="Y/m/d H:i",###} -- {$prom['end_time']|date="Y/m/d H:i",###} 单品满{$prom['money']} 减免 {$prom['expression']}
						</div>
						<form id="search-form2" class="navbar-form form-inline"  method="post" action="{:Url('/Admin/Promotion/prom_data/code/export')}">
						
							
								<div title="选定行数据导出excel文件,如果不选中行，将导出列表所有数据" class="add">
									<span><i class="fa fa-plus"></i><input type="submit" name="save" class="btn" value="导出数据"></span>
									<input type="hidden" name="id" value="{$prom['id']}">
								</div>
							
				
						</form>	

					</div>
				
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: left; width: 50px;" class="">商品ID</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: center; width:180px;" class="">商品名称</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 150px;" class="">店铺名称</div>
						</th>
	
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">销售单价</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">订单数量</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">支付订单</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">订单金额</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">减免费用</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">退货数量</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">退货金额</div>
						</th>

						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
	
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="goods_list" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 50px;">{$vo.goods_id}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 180px;">{$vo.goods_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 150px;">{$vo.supplier_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.shop_price|default="0"}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.order_num|default="0"}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.pay_order_num|default="0"}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.order_amount|default="0"}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.order_prom_amount|default="0"}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.back_num|default="0"}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.back_amount|default="0"}</div>
							</td>
						
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});

	$('.goods_list').click(function(){
		var url = $(this).attr('data-url');
		layer.open({
			type: 2,
			title: '活动关联商品列表',
			shadeClose: true,
			shade: 0.5,
			area: ['70%', '72%'],
			content: url,
		});
	});

</script>
</body>
</html>