<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<title>查看报价</title>
		<link rel="stylesheet" href="__XCSS__/iconfont.css">
		<link rel="stylesheet" href="__XCSS__/normalize.css">
		<link rel="stylesheet" href="__XCSS__/public.css">
	</head>
	<body class="ttf">
		<div id="app" class="bggrey h flexc">
			<!-- 标题 -->
			<header class="bgf f16">
				<div class="flexr p10  bbe">
					<div class=" iconfont icon-fanhui em1.4" @click="goback"></div>
					<div class="flex1 c">查看报价</div>
				</div>
			</header>

			<!-- 主要内容区 -->
			<section class="flex1 oa">

		<?php
		 		if(empty($orderlist)){
			echo '<div class="flex1 c" style="color: black;font-size: 1.5rem;margin-top: 2rem;">暂无报价</div>';
		}

		 foreach($orderlist as $v=>$k){ ?>
				<div class="mt10 ml10 mr10" v-for="item in arr">
				<a href="<?php echo Url('Supplychain/myshop_three',array('id'=>$k['id'])); ?>">
					<div class="pt10 pb10 pl10 pr10 bgf" @click="textbox">
						<div class="f16" style="color: #080808;">{$k['company_name']}</div>
						<div class="flexr pt10 pb10">
							<div>
								<span class="iconfont icon-qian icon f13"></span>
								<span class="red">{$k['goods_sprice']}</span>
								<span class="iconfont icon-tubiaozhizuo- icon1 pl20"></span>
								<span style="color: #080808;">{$k['goods_name']}</span>
								<span style="color: #080808;">{$k['goods_num']}</span>
								<span style="color: #080808;">{$k['goods_unit']}</span>
							</div>
							<div class="flex1 r">
								<span class="iconfont icon-xiayibu em14"></span>
							</div>
						</div>
						<div class="grey2" style="color: #080808;">
							报价时间 <?php echo date('Y-m-d',$k['t']); ?>
						</div>
					</div>
				</a>
				</div>
		<?php } ?>

			</section>

		</div>

		<script src="__XJS__/vue.js"></script>
		<script src="__XJS__/vue-resource.js"></script>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					arr: [{
						title: "深圳一礼通有限公司", // 	报价公司
						money: "20万", //报价金额
						quantity: "2000", // 数量
						units: "件", //单位
						offerTime: "2018-12-12", //报价时间

					}]
					// 接收后台列表数据
				},
				created: function() { // 进入

				},
				mounted: function() { // 挂载后
					// 获取后台数据
					return;
					var url = "http://localhost:3001/home";
					this.$http({
						url: url,
						method: 'GET',
						headers: {
							"Content-Type": "application/json"
						},
						data: {

						}
					}).then(function(res) { //(res) => 
						console.log("请求成功回调：");
						console.log(res)
						// console.log("请求路径："+res.url)
						// console.log("后台返回的数据：")
						// console.log(res.body)
						// var curData = res.body.data;
						// this.title = curData.title;

					}, function(res) {
						console.log("请求失败回调");
						console.log(res)
					});

				},
				updated: function() {

				},
				methods: {
					goback: function(e) { // 返回上一页
						history.back(-1);
					},
					textbox: function(e) { //文本
						console.log("点击文本任意地方:");
						// this.submitData();
						console.log("进入下一页...");
						//location.href = "" //跳转至details界面
					},
				}

			})
		</script>
	</body>
</html>
