<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<title>我的采购</title>
		<link rel="stylesheet" href="__XCSS__/mui.min.css">
		<link rel="stylesheet" href="__XCSS__/iconfont.css">
		<link rel="stylesheet" href="__XCSS__/normalize.css">
		<link rel="stylesheet" href="__XCSS__/public.css">
		<link rel="stylesheet" href="__XCSS__/list.css">
		
	</head>
	<body>
		<div id="app" class="bggrey h flexc">
			<!-- 标题 -->
			<header class="bgf f16">
				<div class="flexr p10  bbe">
					<div class="flex1 iconfont icon-fanhui em1.4" @click="goback"></div>
					<div class="flex1 c">我的采购</div>
					<div class="flex1 r">
						<!--<span class="red iconfont icon-guanli"></span>-->
						<!--<span v-show="!showEdit" @click="clickSet">管理</span>-->
						<!--<span v-show="showEdit" @click="clickSet">完成</span>-->

					</div>
				</div>
			</header>
			<!-- 主要内容区 -->
			<section class="flex1 oa pb10">

			<?php foreach($orderlist as $k=>$v ){ ?>
				<div class="pl10 pr10 pb10 bgf mt10 ml10 mr10 flexr" v-for="item in arr ">
					<div class="choice pt64 pr10" v-show="showEdit" @click="clickCheck(item)">
						<span class="iconfont icon-choose em14 c9" v-show="!item.checked"></span>
						<span class="iconfont icon-xianshi_xuanzetianchong em14 red" v-show="item.checked"></span>
					</div>

					<div class="flex1">
						<?php if($v['sustomized']=1){ echo '<div class="r red mr_10 fr pr"><span :class="item.whether"></span></div>'; }?>
						<div class="f16 fwb pt18">{$v['title']}</div>
					<a href="{:Url('Supplychain/myshop_one',array('id'=>$v['id']))}" >
						<div @click="details">
							<div class="flexr pt10">
								<div class="f12 flex1">
									<span class="iconfont icon-chakan-yuan-f icon f13"></span>
									<span style=" color: #080808;">{$v['view']}</span>
								</div>
								<div class="flex1 r">
									<span class="red f13 iconfont icon-gongyingshang"></span>
									<span style="color: #080808;">{$v['offer_num']}</span>
								</div>
							</div>
							<div class="pt10 pb10 grey2 bbf4">起止时间：<span><?php echo date('Y-m-d',$v['add_time']) ?> - <?php echo date('Y-m-d',$v['dead_time']) ?></span></div>
						</div>
					</a>

						<div class="pt10  flexr">
							<div class="grey2 pt5 flex1">
								<?php
								//$day=round(($v['dead_time']-time())/86400);// 算出天数，round（）四舍五入。
								$day=($v['dead_time']-time())/86400;// 算出天数，round（）四舍五入。
								if($day>=1){
									$day=round(($v['dead_time']-time())/86400); // 算出天数，round（）四舍五入。
								    echo '离结束时间还有<span class="red">'.$day.'</span>天';
								}else{
									if($day<1 && $day>0){
										$h=round(($v['dead_time']-time())/86400*24); //算出剩余多少小时
										$m=round((((($v['dead_time']-time())%86400))%60)/60); //算出剩余多少分钟
										//算出剩余的时间  我国是8时区，得出剩余的秒数之后还需要减去8个小时的秒数 28800秒
										echo '离结束时间还有<span class="red">'.date('H时i分',(($v['dead_time']-time())-28800)).'</span>';
									}else{
										echo '已经结束了<span class="red">';
									}
								}

								?>
							</div>
							<a href="{:Url('Supplychain/myshop_two',array('purchase_id'=>$v['id']))}">
								<div class=" r examine">
									<span class="c6 f13 iconfont icon-chakan2"></span>
									<span class="c6" @click="examine">查看报价</span>
								</div>
							</a>
						</div>
					</div>

				</div>
		<?php }?>


			</section>
			<footer v-show="showEdit">
				<div class="flexr bgf choose bte" id="foot" v-show="showNext">
					<div class="pl10" @click="clickAllCheck">
						<span class="iconfont icon-choose em14 c9" v-show="!hasAllSelected"></span>
						<span class="iconfont icon-xianshi_xuanzetianchong em14 red" v-show="hasAllSelected"></span>
					</div>
					<div class="pl5" @click="clickAllCheck">全选</div>
					<div class="flex1 r pr10">
						<span class="bmain red del" @click="clickDel">删除</span>
					</div>
				</div>
			</footer>

		</div>
		<script src="__XJS__/mui.min.js"></script>
		<script src="__XJS__/vue.js"></script>
		<script src="__XJS__/vue-resource.js"></script>
		<script>
			// 监听window的变化
			// 			window.addEventListener('resize', function() {
			// 				var clientHeight = document.documentElement.clientHeight;
			// 				app.clientHeight = clientHeight;
			// 				console.log('可见区域高度:' + clientHeight);
			// 				if (clientHeight < 400) {
			// 					app.showNext = false;
			// 
			// 				} else {
			// 					app.showNext = true;
			// 				}
			// 
			// 			});
			var app = new Vue({
				el: "#app",
				data: {
					showNext: true, // 显示底部全选与删除
					// arr: [],
					arr: [{
						id: "101",
						whether: "iconfont icon-dingzhi", //是否定制
						title: "采购标题1", // 	标题
						View: "100", //查看
						supplier: "80", //供应商
						enthesis: "2018-11-12——2018-12-29", // 起止时间
						endTime: "3", //结束时间
					}],
					showEdit: false, // 管理/完成
					selecedArr: [], // 所有选中的项
					hasAllSelected: false, // 已经全选
				},
				created: function() { // 进入

				},
				mounted: function() { // 挂载后
					// 获取后台数据
					return;
					var url = "http://localhost:3001/home";
					this.$http({
						url: url,
						method: 'GET',
						headers: {
							"Content-Type": "application/json"
						},
						data: {

						}
					}).then(function(res) { //(res) => 
						console.log("请求成功回调：");
						console.log(res)
						// console.log("请求路径："+res.url)
						// console.log("后台返回的数据：")
						// console.log(res.body)
						// var curData = res.body.data;
						// this.title = curData.title;

					}, function(res) {
						console.log("请求失败回调");
						console.log(res)
					});

				},
				updated: function() {

				},
				methods: {
					goback: function(e) { // 返回上一页
						history.back(-1);
					},
					details: function(e) { //中间信息部分
						console.log("点击中间信息部分:");
						// this.submitData();
						console.log("进入下一页...");
					//	location.href = "./particulars.html" //跳转至particulars界面
					},
					examine: function(e) { //查看报价
						console.log("点击查看报价:");
						// this.submitData();
						console.log("进入下一页...");
						//location.href = "./quote.html" //跳转至quote界面
					},
					clickSet: function() { // 点击管理、完成
						this.showEdit = !this.showEdit
					},
					clickCheck: function(e) { // 点击列表选择
						// console.log(e);
						var curId = e.id;
						var array = this.arr.concat(); // 创建一个跟data中的arr一样的数组
						array.map(function(item, i) {
							if (item.id == curId) {
								item.checked = !item.checked;
							}
						})
						this.arr = array;
						this.selecedArr = array.filter(function(item, i) { // 所有选中项组成的数组
							return item.checked;
						})
						if (this.selecedArr.length == this.arr.length) {
							this.hasAllSelected = true;
						} else {
							this.hasAllSelected = false;
						}

					},
					clickAllCheck: function() { // 点击全选
						var that = this;
						var array = this.arr.concat();
						array.map(function(item, i) {
							if (!that.hasAllSelected) { // 未全选
								item.checked = true;
							} else { // 已经全选
								item.checked = false;
							}
						})
						this.arr = array;
						this.hasAllSelected = !this.hasAllSelected;

					},
					clickDel: function() { // 点击删除
						var that = this;
						var srcArr = this.arr.concat();
						console.log(srcArr.length);
						if (this.selecedArr.length < 1) {	// 如果选中项<1
							alert("请先选择要删除的项");
							return false;
						}
						mui.confirm("确认删除？", function(e) {
							// 调后端删除的接口,并把下面的删除效果写在成功回调里


							if (e.index) {
								that.arr = srcArr.filter(function(item, i) { // 返回所有未选中项
									return (!item.checked);
								})
								that.selecedArr = null; // 清空保存所有选中项的数组
							}

						})

					}

				}
			})
		</script>
	</body>
</html>
