<!DOCTYPE html>

<html lang="en">



	<head>

		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />

		<title>采购详情</title>

		<link rel="stylesheet" href="__XCSS__/iconfont.css">

		<link rel="stylesheet" href="__XCSS__/normalize.css">

		<link rel="stylesheet" href="__XCSS__/public.css">

		<link rel="stylesheet" href="__XCSS__/details.css">



	</head>



	<body>

		<div id="app" class="h">

			<div class="flexc h oh bggrey">

				<!-- 标题 -->

				<header class="bgf">

					<div class="flexr p10 head bbe">

						<a href="javascript:history.go(-1);">

						<div class="flex1" @click="goback">

							<span class="iconfont icon-fanhui em1.4"></span>

						</div>

						</a>

						<div class="flex1 f16 c">采购详情

						</div>

						<div class="flex1 r"></div>

					</div>

				</header>

				<div class="p10 bgf m10">{{title}}</div>

				<nav class="flexr c ml10 mr10">

					<div class="flex1 p10 bmain" :class="{'bgmain cf':showProduct,'bgf':!showProduct}" @click="clickNav(true)">

						<span class="iconfont icon-chanpin cmain mr5" :class="{'cf':showProduct}"></span> 采购产品

					</div>

					<div class="flex1 p10 bmain" :class="{'bgmain cf':!showProduct,'bgf':showProduct}" @click="clickNav(false)">

						<span class="iconfont icon-unif012 cmain mr5" :class="{'cf':!showProduct}"></span>询价要求

					</div>

				</nav>

				<section class="flex1 oa">

					<!-- 采购产品内容 -->

					<div class="oa ml10 mr10" v-show="showProduct">

						<table class="tabpro" border="" cellspacing="" cellpadding="">

							<thead>

								<th>礼品名称</th>

								<th>规格</th>

								<th>颜色</th>

								<th>品牌</th>

								<th>单位</th>

								<th>数量</th>



							</thead>

							<tbody v-for="item in arr">

								<tr>

									<td>{$res['goods_name']}</td>

									<td>{$res['goods_norm']}</td>

									<td>{$res['goods_color']}</td>

									<td>{$res['goods_brand']}</td>

									<td>{$res['goods_unit']}</td>

									<td>{$res['goods_num']}</td>

								</tr>





							</tbody>

						</table>

					</div>

					<!-- 询价要求内容 -->

					<div class="" v-show="!showProduct">

						<div class="m10 bgf rds5">

							<div class="flexr labbox">

								<label class="labname">公司名称</label>

								<div class="flex1 ctx">{$res['company_name']}</div>

							</div>

							<div class="flexr labbox">

								<label class="labname">预算</label>

								<div class="flex1 ctx">{$res['budget']} 元</div>

							</div>

							<div class="flexr labbox">

								<label class="labname">是否定制</label>

								<div class="flex1 ctx"><?php if($res['sustomized']=0){ echo '是';}else{ echo '否';}?></div>

							</div>

							<div class="flexr labbox">

								<label class="labname">报价截止时间</label>

								<div class="flex1 ctx"><?php echo date('Y-m-d',$res['dead_time']);?></div>

							</div>

							<div class="flexr labbox">

								<label class="labname">期望收货时间</label>

								<div class="flex1 ctx"><?php echo date('Y-m-d',$res['expect_time']);?></div>

							</div>



							<div class="flexr site">

								<label class="labname">收货地址</label>

								<textarea cols="30" rows="3" maxlength="32" class="flex1 ctx bn pt12">{$res['city']} {$res['city']}</textarea>

							</div>



							<div class="flexr labbox">

								<label class="labname">发布时间</label>

								<div class="flex1 ctx"><?php echo date('Y-m-d',$res['t']);?></div>

							</div>

							<div class="flexr pt10 pl10">

								<div class="">补充说明：</div>

								<textarea class="w flex1 c7 bn cb" name="" id="" cols="30" rows="3" maxlength="60">{$res['goods_remarks']}</textarea>

							</div>

						</div>

					</div>

				</section>

				<a style="color: white;" href="{:Url('Supplychain/offer_two',array('id'=>$res['id']))}" >

				<footer>

					<div id="foot" v-show="showNext">

						<p class="btn bgmain cf" @click="immediately">马上报价</p>

					</div>

				</footer>

				</a>

			</div>

		</div>

		<script src="__XJS__/vue.js"></script>

		<script src="__XJS__/vue-resource.js"></script>

		<script>

			// 监听window的变化

			window.addEventListener('resize', function() {

				var clientHeight = document.documentElement.clientHeight;

				app.clientHeight = clientHeight;

				console.log('可见区域高度:' + clientHeight);

				if (clientHeight < 400) {

					app.showNext = false;



				} else {

					app.showNext = true;

				}



			});



			var app = new Vue({

				el: "#app",

				data: {

					showProduct: true, // 是否显示产品项

					title: "标题", //  标题

					// 采购产品

					arr: [{

						designation: "面包面包", //礼品名称

						specification: "无无无无", //规格

						colour: "夹心", //颜色

						brand: "三只松鼠", //品牌

						unit: "箱", //单位

						quantity: "24", //数量

					}],



					//询价要求            

					company: "深圳市礼至礼品有限公司", //公司名称

					budget: "30万", //预算

					customization: "否", //是否定制

					deadline: "2018-12-1", //报价截止时间

					expect: "2018-12-1", //期望收货时间

					address: "广东佛山", //收货地址

					issue: "2018-12-1", //发布时间

					explain: "", //补充说明



					showNext: true, // 显示马上报价



				},

				created: function() {



				},



				methods: {

					goback: function(e) { //返回上一页

						history.back(-1);

					},

					clickNav: function(e) { // 导航选项切换

						console.log("点击导航：" + e);

						this.showProduct = e;

					},

					immediately: function(e) { //马上报价

						console.log("点击马上报价:");

						console.log("进入下一页...");

						location.href = "./offer.html" //跳转至offer界面

					},



				}

			})

		</script>

	</body>



</html>

