<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<title>我的报价</title>
		<link rel="stylesheet" href="__XCSS__/iconfont.css">
		<link rel="stylesheet" href="__XCSS__/normalize.css">
		<link rel="stylesheet" href="__XCSS__/public.css">
		<link rel="stylesheet" href="__XCSS__/list.css">


	</head>

	<body>
		<div id="app" class="bggrey h flexc">
			<!-- 标题 -->
			<header class="bgf">
				<div class="flexr p10  bbe">
					<a style="color: black;" href="javascript:history.go(-1);" ><span class="iconfont icon-fanhui em1.4" @click="goback"></span></a>
					<div class="flex1  c f16">我的报价</div>
				</div>
			</header>
			<!-- 主要内容区 -->
			<section class=" pl10 pr10 flex1 oa mt10">
				<volist name="list" id="av">
				<div class="bbe bgf pl10 pr10" v-for="item in arr ">
				<a href="{:Url('Supplychain/my_offer_one',array('id'=>$av['id']))}" >
					<div style="color: black;">
						<div class="f16 pt18 fwb">{$av['title']}</div>
						<div class="flexr procurement pt15">
							<!--<div class="img bggrey"><img src="<?php if($av['goods_img']=null){ echo $av['goods_img']; }else{ echo '__XIMG__/note.jpg'; } ?>"></div>-->
							<div class="flex1 c7 pl10 pr10" style="padding: 0;">{$av['goods_name']}{$av['goods_num']}{$av['goods_unit']}</div>
							<div class="r budget">
								<div class="red f16 pb5 fwb">{$av['budget']}</div>
								<div class="f14 c7">总预算/元</div>
							</div>
						</div>
						<div class="f16 pt15 pb10">{$av['company_name']}</div>
						<div class="flexr f13 c7 pb10 bbe ">
							<div class="flex1 grey2">
								<span class="iconfont icon-chakan-yuan-f icon f13"></span>
								<span>{$av['view']}</span>
								<span class="iconfont icon-bao icon f13"></span>
								<span>{$av['offer_num']}</span>
							</div>
							<div class="flex1 r grey2">
								<span class="iconfont icon-shalou1 icon f13"></span>
								<span><?php echo date('Y-m-d',$av['dead_time']);?></span>
							</div>
						</div>
					</div>
				</a>

					<div class="r pt10 pb10" @click="call">
						<span class="contact"> <a href="tel:{$av['tel']}" style="color: black;" >联系TA</a></span>
					</div>

				</div>
				</volist>

			</section>




		</div>


		<script src="__XJS__/vue.js"></script>
		<script src="__XJS__/vue-resource.js"></script>

	</body>
</html>
