<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<title>报价详情</title>
		<link rel="stylesheet" href="__XCSS__/iconfont.css">
		<link rel="stylesheet" href="__XCSS__/normalize.css">
		<link rel="stylesheet" href="__XCSS__/public.css">
		<link rel="stylesheet" href="__XCSS__/details.css">
		<link rel="stylesheet" href="__XCSS__/offer.css">

	</head>
	<body>
		<div id="app" class="h">
			<div class="flexc h oh bggrey">
				<!-- 标题 -->
				<header class="bgf">
					<div class="flexr p10 head bbe">
						<div class="flex1">
							<span class="iconfont icon-fanhui em1.4" @click="goback"></span>
						</div>
						<div class="flex1 f16 c">报价详情
						</div>
						<div class="flex1 r"></div>
					</div>
				</header>

				<!-- 导航 -->

				<nav class="flexr c mt10 ml10 mr10 ">
					<div class="flex1 p10 bmain" :class="{'bgmain cf':showProduct,'bgf':!showProduct}" @click="clickNav(true)">
						<span class="iconfont icon-chanpin cmain mr5" :class="{'cf':showProduct}"></span> 采购信息
					</div>
					<div class="flex1 p10 bmain" :class="{'bgmain cf':!showProduct,'bgf':showProduct}" @click="clickNav(false)">
						<span class="iconfont icon-unif012 cmain mr5" :class="{'cf':!showProduct}"></span>报价详情
					</div>
				</nav>

				<section class="flex1 oa">
					<!-- 采购详情内容 -->
					<div class="" v-show="showProduct">
						<div class="m10 bgf rds5">
							<div class="flexr labbox">
								<label class="labname">公司名称</label>
								<div class="flex1 ctx">{{company}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">预算</label>
								<div class="flex1 ctx">{{budget}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">是否定制</label>
								<div class="flex1 ctx">{{customization}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">报价截止时间</label>
								<div class="flex1 ctx">{{deadline}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">期望收货时间</label>
								<div class="flex1 ctx">{{expect}}</div>
							</div>

							<div class="flexr site">
								<label class="labname">收货地址</label>
								<textarea cols="30" rows="3" maxlength="32" class="flex1 ctx bn pt12">{{address}}</textarea>
							</div>
							<div class="flexr labbox">
								<label class="labname">联系人</label>
								<div class="flex1 ctx">{{linkman}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">联系电话</label>
								<div class="flex1 ctx">{{phone}}</div>

							</div>
							<div class="flexr labbox">
								<label class="labname">发布时间</label>
								<div class="flex1 ctx">{{issue}}</div>
							</div>

							<div class="flexr pt10 pl10 bbe">
								<div class="">补充说明：</div>
								<textarea class="w flex1 c7 bn cb" name="" id="" cols="30" rows="3" maxlength="60"><?php echo $orderlist['description'];?></textarea>
							</div>

							<div class="h3em lh3em bbf4 pl10">
								<span class="iconfont icon-shangpinhuangou red f13"></span>
								<span class="fwb">商品详情</span>
							</div>



							<div class="flexr labbox">
								<label class="labname">产品名称</label>
								<div class="flex1 ctx">{{productName}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">规格</label>
								<div class="flex1 ctx">{{specification}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">颜色</label>
								<div class="flex1 ctx">{{colour}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">品牌</label>
								<div class="flex1 ctx">{{brand}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">单位</label>
								<div class="flex1 ctx">{{units}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">数量</label>
								<div class="flex1 ctx">{{quantity}}</div>
							</div>

						</div>

					</div>

					<!-- 供应商报价内容 -->
					<div class="" v-show="!showProduct">
						<div class="m10 bgf rds5">
							<div class="flexr labbox">
								<label class="labname">工期</label>
								<div class="flex1 ctx">{{limitTime}}<span>天</span></div>
							</div>
							<div class="flexr labbox">
								<label class="labname">数量</label>
								<div class="flex1 ctx">{{amount}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">运费（元）</label>
								<div class="flex1 ctx">{{freight}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">费用（含税单价）</label>
								<div class="flex1 ctx">{{cost}} <span>元</span></div>
							</div>
							<div class="flexr labbox">
								<label class="labname">总费用</label>
								<div class="flex1 ctx">{{allCost}}<span>元</span></div>
							</div>

							<div class="flexr labbox">
								<label class="labname">公司名称</label>
								<div class="flex1 ctx">{{corporateName}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">联系人</label>
								<div class="flex1 ctx">{{contacts}}</div>
							</div>
							<div class="flexr labbox">
								<label class="labname">联系电话</label>
								<div class="flex1 ctx">{{contactNum}}</div>
							</div>
						</div>
					</div>

				</section>
				<!-- 底部 -->
				<footer class="bggrey">
					<div id="foot" v-show="showNext">
						<a href="tel:<?php echo $orderlist['tel'];?>"><p class="next bgmain cf" @click="call">联系他</p></a>
					</div>
				</footer>

			</div>

		</div>



		<script src="__XJS__/vue.js"></script>
		<script src="__XJS__/vue-resource.js"></script>
		<script src="__PUBLIC__/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			// 监听window的变化
			window.addEventListener('resize', function() {
				var clientHeight = document.documentElement.clientHeight;
				app.clientHeight = clientHeight;
				console.log('可见区域高度:' + clientHeight);
				if (clientHeight < 400) {
					app.showNext = false;

				} else {
					app.showNext = true;
				}

			});
			var app = new Vue({
				el: "#app",
				data: {
					showProduct: true, // 是否显示产品项 
					//采购信息
					company: "<?php echo $orderlist['company_name'];?>", //公司名称
					budget: "<?php echo $orderlist['budget'];?>", //预算
					customization: "<?php echo $orderlist['sustomized'];?>", //是否定制
					deadline: "<?php echo date('Y-m-d',$orderlist['dead_time']);?>", //报价截止时间
					expect: "<?php echo date('Y-m-d',$orderlist['expect_time']);?>", //期望收货时间
					address: "<?php echo $orderlist['address'];?>", //收货地址
					linkman: "<?php echo $orderlist['contacts_name'];?>", //联系人
					phone: "<?php echo $orderlist['tel'];?>", //联系电话
					issue: "<?php echo date('Y-m-d',$orderlist['add_time']);?>", //发布时间
					explain: "<?php echo $orderlist['description'];?>", //补充说明

					//商品详情
					productName: "<?php echo $shoplist['goods_name'];?>", //产品名称
					specification: "<?php echo $shoplist['goods_norm'];?>", // 规格
					colour: "<?php echo $shoplist['goods_color'];?>", //颜色
					brand: "<?php echo $shoplist['goods_brand'];?>", //品牌
					units: "<?php echo $shoplist['goods_unit'];?>", // 单位
					quantity: "<?php echo $shoplist['goods_num'];?>", // 数量

					//报价详情
					limitTime: "<?php echo $res['goods_duration'];?>", //工期
					amount: "<?php echo $res['good_num'];?>", //数量
					freight: "<?php echo $res['goods_freight'];?>", //运费
					cost: "<?php echo $res['goods_tprice'];?>", //费用（含税单价）
					allCost: "<?php echo $res['goods_sprice'];?>", //总费用
					corporateName: "<?php echo $res['company_name'];?>", //公司名称
					contacts: "<?php echo $res['user'];?>", //联系人
					contactNum: "<?php echo $res['phone'];?>", // 联系电话

					allSubmitData: {}, // 存储所有要提交的数据
					showNext: true, // 显示联系他
				},
				created: function() {

				},
//				mounted: function() {
//					// 获取后台数据
//					var url = "http://localhost:3001/home";
//					this.$http({
//						url: url,
//						method: 'GET',
//						headers: {
//							"Content-Type": "application/json"
//						},
//						data: {
//							// id: 101
//						}
//					}).then(function(res) { //(res) =>
//						console.log("请求成功回调：");
//						console.log(res)
//						// console.log("请求路径："+res.url)
//						// console.log("后台返回的数据：")
//						// console.log(res.body)
//						// var curData = res.body.data;
//						// this.title = curData.title;
//
//					}, function(res) {
//						console.log("请求失败回调");
//						console.log(res)
//					});
//				},

				methods: {
					goback: function(e) { // 返回上一页
						history.back(-1);
					},
					clickNav: function(e) { // 导航选项切换
						console.log("点击导航：" + e);
						this.showProduct = e;
					},
                   call: function() { // 拨打电话
						var tel = 18573159187;
						location.href = 'tel:' + tel;
					}

				}
			})
		</script>
	</body>
</html>
