<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>油卡充值</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/refillcard/css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/refillcard/css/tel.css"/>
	</head>

	<body>
		<script src="__STATIC__/refillcard/js/mui.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		
		<div class="mui-content bg">
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted">
					<a onclick="ajax_tel(8,0,20,10)"  class="mui-control-item mui-active" href="#item1">中石化油卡</a>
					<!-- <a onclick="ajax_tel(8,0,19,6)"  class="mui-control-item" href="#item2">中石油油卡</a> -->
				</div>
				<!-- ajax调动 -->
				<form id="tel_form" name="formCart" action="{:Url('Refillcard/ajaxtel')}" method="post">
		            {:token()}
		        </form>

				<div class="fenge"></div>
				<div class="tab_title"><div class="kuang"></div><span>服务说明</span></div>
				<div class="txt">
					<p>1.本服务支持中国石化、中国石油卡充值。（不支持公司卡、副卡及车队卡充值）</p>
					<p>2.加油款于工作时间72小时内充值至加油卡，充值成功后平台发送通知。收到通知后，请到加油站进行“圈存”即可消费。（工作时间：周一至周五 9：00-18：00）</p>
					<p>3.本服务不提供发票。</p>
					<p>4.充值成功后，请到加油站圈存即可消费使用。</p>
					<p>什么叫圈存？</p>
					<p>圈存就是将您在线充值的资金，写入（同步）到加油卡的IC卡芯上，就可以正常加油了。</p>
					<p>怎么圈存？</p>
					<p>a.去加油站点找工作人员办理圈存。</p>
					<p>b.加油站内设有24小时自助圈存机，可自行操作。</p>
					<p>5.如有疑问，请致电客服热线：400-040-8000</p>
					<p>6.单张中石化油卡每日提交充值次数不超过8次。</p>
				</div>
				<div class="btn_pay">立即支付</div>
		</div>
		<script src="__STATIC__/refillcard/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript">
			$(function(){
				$('#one li').click(function(){
					$('#one li> .gez').removeClass('active');
					$(this).find('.gez').addClass('active');
				});
				$('#two li').click(function(){
					$('#two li> .gez').removeClass('active');
					$(this).find('.gez').addClass('active');
				});
			})

			$(document).ready(function(){
				ajax_tel(8,0,20,10);
			});	
			function ajax_tel(pid,cid,tid,did){
				$.ajax({
					type:"post",
					url:"/index.php/Mobile/Refillcard/ajaxtel/pid/"+pid+"/cid/"+cid+"/tid/"+tid+"/did/"+did,
					success: function(data){
		                 $("#tel_form").html('');
		                 $("#tel_form").append(data);
		            }
				})
			}$(".btn_pay").click(function(){
				$.ajax({
					type:"post",
					url:"/index.php/Mobile/Refillcard/affirm_order",
            		data : $('#tel_form').serialize(),// 
					success: function(data){
						if (data.result == 1) {
							alert(data.info);
							location.href="/Mobile/Refillcard/index";
						}else if (data.result == 2){
                			location.href = "/index.php?m=Mobile&c=Cart&a=payment&order_id=" + data.order_id;
						}else{
							alert(data.info);
						}
		            }
				})
			})		
		</script>
	</body>

</html>
