<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>娱乐充值</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/refillcard/css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/refillcard/css/tel.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/refillcard/css/yule.css"/>
	</head>

	<body>
		<script src="__STATIC__/refillcard/js/mui.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<!-- <hr style="color: #FAFAFA;"> -->
		<div class="mui-content bg">
			
				<!-- ajax调动 -->
				<form id="tel_form" name="formCart" action="{:Url('Refillcard/ajaxtel')}" method="post">
		            {:token()}
		        </form>
				
			
			<div class="fenge"></div>
			<div class="btn_pay">立即支付</div>
		</div>
		
		<script src="__STATIC__/refillcard/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript">
			$(function(){
				$('#one li').click(function(){
					$('#one li> .bgt').removeClass('active');
					$(this).find('.bgt').addClass('active');
				});
				$('#two li').click(function(){
					$('#two li> .bgt2').removeClass('active');
					$(this).find('.bgt2').addClass('active');
				});
			})
			$(document).ready(function(){
				ajax_tel(9,10,25,8);
			});	
			function ajax_tel(pid,cid,tid,did){
				$.ajax({
					type:"post",
					url:"/index.php/Mobile/Refillcard/ajaxtel/pid/"+pid+"/cid/"+cid+"/tid/"+tid+"/did/"+did,
					success: function(data){
		                 $("#tel_form").html('');
		                 $("#tel_form").append(data);
		            }
				})
			}$(".btn_pay").click(function(){
				$.ajax({
					type:"post",
					url:"/index.php/Mobile/Refillcard/affirm_order",
            		data : $('#tel_form').serialize(),// 
					success: function(data){
						if (data.result == 1) {
							alert(data.info);
							location.href="/Mobile/Refillcard/index";
						}else if (data.result == 2){
                			location.href = "/index.php?m=Mobile&c=Cart&a=payment&order_id=" + data.order_id;
						}else{
							alert(data.info);
						}
		            }
				})
			})		
				
		</script>
	</body>

</html>
