<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计师身份认证——个人资料-{$config['shop_info_store_title']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">

    <link rel="stylesheet" href="__BUSINESS__/style/apply_one.css" />
    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">
    <script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
    <style>
        #company_type{

            cursor:pointer;
        }
    </style>
</head>

<body style="background:#f7f7f7;">
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<div class="user-home">
    <div class="inner clearfix">
        <div class="logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
                <p>（返回一礼通商城首页）</p>
            </a>
        </div>
        <a href="{:Url('Home/User/index')}" class="exit">退出设计师后台</a>
    </div>
</div>


<div class="inner clearfix m-top-20">
    <!-- design-left  start -->
    <div class="design-menu" style="background:#fff;">
        <div class="designer-head-img"><img src="{$user.head_pic|default='__STATIC__/images/tou2.png'}" alt="头像"></div>
        <p class="designer-account">用户：<span>{$user['nickname']}</span></p>
        <p class="authentication-tips">（尚未提交身份认证）</p>
        <ul class="designer-works grayColor">
            <li><a href="javascript:void(0);">我的作品</a></li>
            <li><a href="javascript:void(0);">在售作品</a></li>
            <li><a href="javascript:void(0);">我的订单</a></li>
            <li><a href="javascript:void(0);">退货单</a></li>
            <li><a href="javascript:void(0);">收入</a></li>
            <li><a href="javascript:void(0);">设计报价</a></li>
        </ul>
    </div>
    <!-- designer-left end -->

    <!-- design-right  start -->
    <div class="design-authentication" style="background:#fff;">
        <div class="authentication-title"><p>1、设计师身份认证——个人资料（带 * 的为必填内容）</p></div>
        <form class="form-horizontal" id="handleposition" method="post">
        <input type="hidden" name="user_id" value="{$data.user_id}">
            <!-- <div class="authentication-content" id="authentication-content"> -->
            <div class="authentication-content" >
                <div class="input-group">
                    <label><span>*</span>真实姓名：</label>
                    <input type="text" name="contacts_name" id="contacts_name" value="{$data.contacts_name}" placeholder="请填身份证上真实姓名">
                </div>
                <div class="input-group">
                    <label><span>*</span>昵称：</label>
                    <input type="text" name="supplier_name" id="supplier_name" value="{$data.supplier_name}" placeholder="对外展示的昵称">
                </div>
                <div class="input-group">
                    <label><span>*</span>身份证号：</label>
                    <input type="text" name="business_licence_number" id="business_licence_number" value="{$data.business_licence_number}"  maxlength="18" placeholder="请填身份证真实号码">
                </div>
                <div class="input-group">
                    <label><span>*</span>所在地区：</label>
                    <input type="text" name="company_name" id="city" value="{$data.company_name}" class="city-tab" placeholder="在此输入省市区">
                </div>
                <div class="input-group">
                    <label><span>*</span>地址详情：</label>
                    <input type="text" name="address" id="address" value="{$data.address}" placeholder="在此输入具体地址">
                </div>
                <div class="input-group">
                    <label><span>*</span>设计师类型：</label>
                    <div class="works-type-select">

                     <select name="company_type" class="company_type" style="width:100px;margin-right:5px;margin-left:5px">
                        <foreach name="parent" item="vo">
                          <option value="{$vo.name}">{$vo.name}</option>
                        </foreach>
                     </select>
                    </div>      

                </div>

                <div class="input-group">
                    <label><span>*</span>微  信：</label>
                    <input type="text" name="guimo" id="guimo" value="{$data.guimo}">
                </div>
                <div class="input-group">
                    <label><span>*</span>Q  Q：</label>
                    <input type="text" name="qq" id="qq" value="{$data.qq}" maxlength="11">
                </div>
                <input type="hidden" name="province" value="{$data.province}">
                <input type="hidden" name="city" value="{$data.city}">
                <input type="hidden" name="area" value="{$data.area}">
                <div><a href="javascript:void(0);" class="design-submit" onclick="verifyForm()">下一步</a></div>
                <!-- <div><a href="{:Url('Home/Designer/designerAuth_2')}" class="design-submit" onclick="verifyForm()">下一步</a></div> -->
            </div>
        </form>
        <!-- <a href="javascript:void(0);" class="design-submit" id="design-submit" onclick="design_submit()">下一步</a> -->
    </div>
    <!-- designer-right end -->
</div>

<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->

<script src="__BUSINESS__/js/Popt.js"></script>
<script src="__BUSINESS__/js/cityJson.js"></script>
<script src="__BUSINESS__/js/citySet.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        //地区
        $("#city").focus(function(e){
            SelCity(this,e);
            //alert(this);exit;
            console.log("inout",$(this).val(),new Date())
        });


        //设计师类型
        $('.works-type-select').on('click',function () {
            $('.works-type-select-list').css('display','block');
        });

        $('.works-type-select-list li').each(function () {
            var vals = $(this).text();
            $(this).on('click',function () {
                $('#company_type').val(vals);
                $('.works-type-select-list').css('display','none');
                //alert(vals)
            })
        });

        $('.works-type-select').mouseleave(function () {
            $('.works-type-select-list').css('display','none');
        });
    })
</script>

<script type="text/javascript">

    function verifyForm(){
        if($('input[name="contacts_name"]').val() == ''){
            //alert("请填写真实姓名！");
            layer.alert("请填写真实姓名！");
            return false;
        }
        if($('#supplier_name').val() == '' ){
            layer.alert("呢称");
            return false;
        }     
        if($('#business_licence_number').val() == '' ){
            layer.alert("请输入身份证号");
            return false;
        }
        
        if($('#company_name').val() == '' ){
            layer.alert("请输入所在地区");
            return false;
        }
        if($('#address').val() == '' ){
            layer.alert("请输入地址详情");
            return false;
        }
        if($('#company_type').val() == '' ){
            layer.alert("请输入设计师类型");
            return false;
        }
        if($('#guimo').val() == '' ){
            layer.alert("请输入微信账号");
            return false;
        }
        if($('#qq').val() == '' ){
            layer.alert("请输入QQ账号");
            return false;
        }

        $.ajax({
            type: "POST",
            //成功提交后数据保存的路径
            url: "{:Url('Home/Designer/add_designerAuth_1')}",
            data: $('#handleposition').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status== 1) {
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function(){
                        //成功提交后页面跳转的路径
                        //alert(123);
                        location.href = "{:Url('Home/Designer/designerAuth_2')}";
                        //window.location = "designerAuth_2";
                    });
                } else {
                    layer.msg(data.msg, {icon: 2,time: 1000});
                    $.each(data.result, function (index, item) {
                        $(index).text(item).show();
                    });
                }
            }
        });
    }


</script>
</body>
</html>