<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计师-在售作品-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
    <script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>

    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">
	<link rel="stylesheet" href="__STATIC__/css/page.css" type="text/css">
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
</head>

<body style="background:#f7f7f7;">
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<div class="user-home" style="background:#2e2e2e;">
    <div class="inner clearfix">
        <div class="logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
                <p>（返回一礼通商城首页）</p>
            </a>
        </div>
        <a href="{:Url('Home/User/index')}" class="exit">退出设计师后台</a>
    </div>
</div>


<div class="inner clearfix m-top-20">
    <!-- design-left  start -->
    <include file="public/designerLeftNav" />
    <!-- designer-left end -->

    <!-- design-right  start -->
    <div class="design-authentication-index">
        <div class="design-authentication-index-col">
            <div class="authentication-title"><p class="works-title">在售商品</p><a href="{:Url('Home/Designer/WorksUpload')}" id="release-works">发布商品</a></div>
            <div class="works-type">
                <dl class="works-type-list">
                    <dt>分类</dt>
                    <dd <if $Request.param.cat eq ''>class="type-cur"</if>><a href="{:Url('Home/Designer/DesignsList')}">全部</a></dd>
					 <foreach name="cat_list" item="cat">
                    <dd <if $Request.param.cat eq $cat.id>class="type-cur"</if>><a href="{:Url('Home/Designer/DesignsList',array('cat'=>$cat.id))}">{$cat.name}</a></dd>
					</foreach>
                 
                </dl>
                <dl class="works-states works-states-selling-tab" id="works-states">
                    <dt>状态</dt>
                    <dd <if $Request.param.sale eq '' && $Request.param.ex eq '' >class="type-cur"</if>><a href="{:Url('Home/Designer/DesignsList')}">全部</a></dd>
					<dd <if $Request.param.ex eq 1 && $Request.param.sale eq 1>class="type-cur"</if>><a href="{:Url('Home/Designer/DesignsList',array('ex'=>1,'sale'=>1))}">在售作品</a></dd>
                    <dd <if $Request.param.ex eq 0 && $Request.param.ex neq '' >class="type-cur"</if>><a href="{:Url('Home/Designer/DesignsList',array('ex'=>0))}">审核中</a></dd>
                    <dd <if $Request.param.sale eq 0 && $Request.param.sale neq ''>class="type-cur"</if>><a href="{:Url('Home/Designer/DesignsList',array('sale'=>0))}">已下架</a></dd>
                </dl>
            </div>
        </div>
        <p class="works-num">共发布<span>{$count}</span>组作品</p>
        <div class="design-authentication-index-col">
            <ul class="works-list goods-list">
			 <foreach name="goods_list" item="vo">
                <li>
                    <div class="goods-img">
                        <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$vo[goods_id]))}" title="{$vo.goods_name}" target="_blank"><img src="{$vo.goods_thumb}" alt=""></a>
                    </div>
                    <p class="works-name">{$vo.goods_name}</p>
                    <p class="works-type-show">{$category_list[$vo.cat_id]}</p>
                    <!-- <p class="works-type-show">插画设计</p> -->
                    <dl class="works-like">
                        <dd>销量：{$vo.sales_sum}</dd>
                        <dd>售价：{$vo.shop_price}元</dd>
                    </dl>
                    <dl class="works-edit">
                        <dd><a href="{:Url('Home/Designer/WorksUpload',array('id'=>$vo.goods_id))}">编辑</a></dd>

                    <if condition='$vo[is_on_sale] eq 1'>
                      <dd><a class="btn red" onclick="sale('{$vo[goods_id]}','{$vo[is_on_sale]}')" href="javascript:void(0);">下架</a></dd>
                      <else />
                      <dd><a class="btn red" onclick="sale('{$vo[goods_id]}','{$vo[is_on_sale]}')" href="javascript:void(0);">上架</a></dd>
                    </if>

                    </dl>
                </li>
			 </foreach>
            </ul>
        </div>
    </div>
	
	 <div class="fn-page-css-1 pagintion fix" style="display: block;">
		<div class="pagenavi text12">{$page->show()}</div>
	</div>
    <!-- designer-right end -->
</div>

<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->


<script type="text/javascript">

    $(function(){
        $('.works-type-list dd').each(function () {
            $(this).on('click',function () {
                $(this).addClass('type-cur').siblings('dd').removeClass('type-cur');
            })
        });

        $('.works-states-selling-tab dd').each(function () {
            $(this).click(function () {
                $(this).addClass('type-cur').siblings('dd').removeClass('type-cur');
                var n = $(this).index()-1;
                $('.works-list-selling-tab').eq(n).addClass('works-list-selling-cur').siblings('.works-list-selling-tab').removeClass('works-list-selling-cur');
            })
        })

    })


    function sale(id,pid){
        //var id = id;
       
        layer.confirm('请确认', {
            btn: ['确认', '取消'] //可以无限个按钮
        }, function(index, layero){
            //按钮【按钮一】的回调
           // location.href = "{:Url('/Home/Designer/DelDesignsList',array('works_id'=>$item[works_id]))}";
            $.ajax({
                type:'GET',
                url:"{:Url('/Home/Designer/SaleDesignsList')}",
                //data:{goods_id:id,is_on_sale:pid},
                data:{goods_id:id,is_on_sale:pid},
                dataType:'json',
                success:function(data){
                    if(data.status== 1){
                        layer.msg(data.msg,{
                            icon:1,
                            time:1000
                        },function(){
                             location.href = "{:Url('Home/Designer/DesignsList')}";
                        });
                    }else if(data.status== -1){
                        layer.alert(data.msg);
                    }else{
                        layer.alert('操作失败');
                    }                 
                }
            });

        }, function(index, layero){
            //按钮【按钮二】的回调
            layer.close(index); //如果设定了yes回调，需进行手工关闭
        });
        
    }


</script>
</body>
</html>