<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计师-作品详情-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
    <script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">

    <link rel="stylesheet" href="__BUSINESS__/style/diyUpload.css" />
    <link rel="stylesheet" href="__BUSINESS__/style/webuploader.css" />

    <script src="__BUSINESS__/js/webuploader.html5only.min.js"></script>
    <script src="__BUSINESS__/js/diyUpload.js"></script>

    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
</head>

<body style="background:#f7f7f7;">
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<div class="user-home">
    <div class="inner clearfix">
        <div class="logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
                <p>（返回一礼通商城首页）</p>
            </a>
        </div>
        <a href="{:Url('Home/User/index')}" class="exit">退出设计师后台</a>
    </div>
</div>


<div class="inner clearfix m-top-20" style="padding-bottom:80px;">
    <!-- design-left  start -->
    <div class="design-menu" style="background:#fff;">
        <ul class="designer-works-upload-menu">
            <li><a href="{:Url('Home/Designer/designer_upload_works')}">上传作品</a></li>
            <li><a href="">在售作品</a></li>
        </ul>
    </div>
    <!-- designer-left end -->

    <!-- design-right  start -->
    <div class="design-authentication-index">

        <div class="design-authentication-index-col">
            <div class="works-upload-title"><p class="works-title">作品详情</p><a href="{:Url('Home/Designer/designer_upload_works')}" id="works-revise">修改</a></div>
        </div>
        <div class="design-authentication-index-col marginTop10">
            <div class="works-upload-title">
                <p class="works-title">作品名称，标题展示（最好看的饮水机设计）</p>
                <!-- <p class="works-title">作品名称: <span>{$info.works_name}</span></p> -->
            </div>
            <p class="upload-time"><span>{$info.time|date='Y-m-d',###}</span>当前时间</p>
            <dl class="worksType-comment-liked-browse">
                <dt>作品分类: <span>{$info.cate_name}</span></dt>
                <dd>评论(<span>0</span>)</dd>
                <dd>赞(<span>0</span>)</dd>
                <dd>浏览(<span>0</span>)</dd>
            </dl>
        </div>
        <div class="design-authentication-index-col marginTop10 padding50">
            <article class="articleConten">
                乡愁是一份沉重的爱。离开故土的游子，默默将爱收藏在心底。在异乡打拼，心里异常孤独，对着城市的钢筋水泥，对着那些永远都不可能与之说心里话的人，心中充满惆怅。在寂寞的时候，对着荷塘月色，想起故乡的袅袅炊烟，想起脸上堆满皱纹的阿爸阿妈，想起故乡的那条清澈的小河，想起儿时的玩伴，心中不由泛起甜蜜而酸涩的涟漪。
                <!-- {$info.works_content} -->
            </article>
            <div class="worksImgs-show">
                <img src="__STATIC__/images/pavank.png" alt="1">
                <img src="__STATIC__/images/phone.png" alt="2">
                <img src="__STATIC__/images/banner_1.jpg" alt="4">
                <img src="__STATIC__/images/bg001.jpg" alt="5">
            </div>
        </div>
    </div>
    <!-- designer-right end -->
</div>

<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->


</body>
</html>