<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计师-我的交易-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">

    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
    <style>
        .comment-list{
            width: 100%;
            max-height: 250px;
            overflow-y: auto;
            margin: 20px 0;
        }
        .comment-list li{
            line-height: 24px;
            font-size: 12px;
        }
        .comment-list .buyer{
            color: #666;
        }
        .comment-list .seller{
            color: orange;
        }
    </style>
</head>

<body style="background:#f7f7f7;">
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<div class="user-home" style="background:#2e2e2e;">
    <div class="inner clearfix">
        <div class="logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
                <p>（返回一礼通商城首页）</p>
            </a>
        </div>
        <a href="{:Url('Home/User/index')}" class="exit">退出设计师后台</a>
    </div>
</div>


<div class="inner clearfix m-top-20">
    <!-- design-left  start -->
    <include file="public/designerLeftNav" />
    <!-- designer-left end -->

    <!-- design-right  start -->
    <div class="design-authentication-index">
        <div class="design-authentication-index-col">
            <p class="trade-title">订单售后<span class="order-tips">-订单详情</span><a href="javascript:history.go(-1);">返回</a></p>
        </div>

        <!--  基本信息 start -->
        <div class="design-authentication-index-col" style="margin-top:8px;">
            <div class="padding20">
                <dl class="ordertitle">
                    <dt>原订单信息</dt>
                    <dd>订单状态：<span>{$order_status[$order[order_status]]} / <if $order.pay_status eq 1>已支付<else>未支付</if> / 
					  <if $order.shipping_status eq 1>已发货<else>未发货</if></span></dd>
                </dl>
                <div class="padding20">
                    <ul class="orderBasicInfos">
                        <li>订单编号：<span>{$order.order_sn}</span></li>
                        <li>会员：<span>{$order.consignee}</span></li>
                        <li>支付金额：<span>{$order.order_amount}</span></li>
                        <li>下单时间：<span>{$order.add_time|date='Y-m-d H:i',###}</span></li>
                        <li>支付时间：<span><if condition="$order.pay_time neq 0">{$order.pay_time|date='Y-m-d H:i',###}<else/>N</if></span></li>
                        <li>支付方式：<span>{$order.pay_name|default='其他方式'}</span></li>
						<li >收货地址：<span>{$order.address2}</span></li>
						<li>收货人：<span>{$order.consignee}</span></li>
						<li>手机：<span>{$order.mobile}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  基本信息 end -->

        <!--  收货信息 start -->
        <div class="design-authentication-index-col" style="margin-top:1px;">
            <div class="padding20">
                <dl class="ordertitle">
                    <dt>售后信息</dt>
                </dl>
                <div class="padding20">
                    <ul class="orderBasicInfos">
                        <li>申请日期：<span>{$back_order.addtime|date='Y-m-d H-i',###}</span></li>
                        <li>售后类型：<span><if $back_order['type'] eq 1>退货<else>>换货</if></span></li>
						<li>售后状态：<span><if $back_order['status'] eq -1>拒绝申请</if>
											<if $back_order['status'] eq 0 >未处理</if>
											<if $back_order['status'] eq 1 >处理中</if>
											<if $back_order['status'] eq 2 >用户寄回商品</if>
											<if $back_order['status'] eq 3 >收到寄回商品</if> 
											<if $back_order['status'] eq 4 >收到寄回商品</if>
											<if $back_order['status'] eq 5 >寄出换货</if>
											<if $back_order['status'] eq 6 >已完成</if>
								</span></li>
                        <li style="width:100%;">退货描述：<span>{$back_order.reason}</span></li>
                        <li style="width:100%;">用户上传照片：
							<volist name="return_goods[imgs]" id="item">  
								<a href="{$item}" target="_blank"><img src="{$item}" width="85" height="85" /></a>&nbsp;&nbsp;&nbsp;                            
							</volist></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  收货信息 end -->
	
        <!--  商品信息 start -->
        <div class="design-authentication-index-col" style="margin-top:1px;">
            <div class="padding20">
                <dl class="ordertitle">
                    <dt>售后商品信息</dt>
                </dl>
                <div class="padding20 marginTop20">
                    <div class="order-goodsInfos">
                        <dl class="order-goodsInfos-list">
                            <dt>商品名称</dt>
                            <dd>数量</dd>
                            <dd>价格</dd>
                            <dd>合计</dd>
                        </dl>
			
                        <dl class="order-goodsInfos-list" style="background:none;padding:20px 0;">
                            <dt><a href="{:Url('Home/Goods/goodsInfo',array('id'=>$good['goods_id']))}">{$good.goods_name}</a></dt>
                            <dd>{$good.goods_num}</dd>
                            <dd>{$good.goods_price}</dd>
                            <dd>{$good.goods_total}</dd>
							<input type="hidden" name="goods[]" value="{$good.rec_id}">
                        </dl>

                    </div>
                    <h4 class="orderTotalPrice">售后金额：<span>{$back_order.shop_price}</span>元</h4>
                </div>
            </div>
        </div>
        <!--  商品信息 end -->



        <!--  操作记录 start -->
        <div class="design-authentication-index-col" style="margin-top:1px;">
            <div class="padding20">
                <dl class="ordertitle">
                    <dt>操作记录</dt>
                </dl>

                <form action="" id="searchForm">
                    <div class="padding20 remarkInfosContainer remark-tab-shows" id="remarkInfosContainer">
                        <p class="marginTop20">回复用户：</p>
                        <div class="padding20 marginTop20">
                            <textarea name="note" id="remark" cols="30" rows="6">{$back_order.remark}</textarea>
                        </div>

                        <ul class="transport-btn">
                            <li>
                                <!-- 待处理 css start--->
                                <a href="javascript:void(0);" id="keepRemark" class="ncap-btn-big ncap-btn-green" onclick="ajax_submit_form('searchForm','{:Url('/Home/Designer/return_info',array('status'=>'0'))}');" >回复</a>
                                <!-- end -->
                            </li>
	
						 <if $back_order['status'] eq 0> <!--还未处理-->
						  <li><a href="javascript:void(0);" id="keepRemark" class="ncap-btn-big ncap-btn-green" onclick="ajax_submit_form('searchForm','{:Url('/Home/Designer/return_info',array('status'=>'1'))}');" >
										同意申请</a></li>
						  <li><a href="javascript:void(0);" id="keepRemark" class="ncap-btn-big ncap-btn-green" onclick="ajax_submit_form('searchForm','{:Url('/Home/Designer/return_info',array('status'=>'-1'))}');" >
										拒绝申请</a></li>
							<else>
								<if $back_order['status'] neq -1 && $back_order['status'] neq 6>
								 <if $back_order['type'] eq 1 || $back_order['status'] eq 3>
								<li><a class="ncap-btn-big ncap-btn-green" href="javascript:void(0);"  onclick="ajax_submit_form('searchForm','{:Url('/Home/Designer/get_refund')}');" >
											去退款</a></if>
									</if>
								</if>
							</if>
		
		
                        </ul>
                    </div>
					  <input type="hidden" id="id" name="id" value="{$back_order.id}">
                    <div class="padding20 remarkInfosContainer" id="remarkInfosContainer1">
                        <p class="marginTop20">备忘信息<a href="javascript:void(0);" title="编辑备注" class="reEditor" id="reEditor" onclick="reEditor()"></a></p>
                        <p class="remarkInfos">客户要求发完所有信息</p>
                    </div>
                </form>

            </div>

        </div>
        <!--  操作记录 end -->

        <!--  交流列表 start -->
        <div class="design-authentication-index-col" style="margin-top:1px;">
            <div class="padding20">
                <dl class="ordertitle">
                    <dt>留言</dt>
                </dl>
                <div class="padding20">
                    <ul class="comment-list">
					 <foreach name="msg" key="k" item="v">
					  <if $v.supplier_id eq 0> 
                        <li class="seller">用户：<span>{$v.content}</span></li>
					  <else>
						<li class="buyer">回复：{$v.content}</li>
					  </if>
					</foreach>
                       
                    </ul>
                </div>
            </div>

        </div>
        <!--  交流列表 end -->

        <!--  物流信息 start -->
        <div class="design-authentication-index-col" style="margin-top:1px;">
            <div class="padding20">
                <dl class="ordertitle">
                    <dt>物流信息</dt>
                </dl>
                <div class="padding20">
                    <table>
					<thead>
					  <tr>
						<th style="width:150px;margin-top:5px;">信息</th>
						<th>状态</th>
						
					  </tr>
					</thead>
					<tbody>
					<volist name="shipping" id="list">
						<tr>
							 <td class="text-center">{$list.shipping_name}</td>
							 <td class="text-center">{$list.invoice_no}</td>
							

						 </tr>
						 <volist name="list.exp.lastResult.data" id="exp">
							<tr>
							 <td class="text-center">{$exp.time}</td>
							 <td class="text-center">{$exp.context}</td>
							</tr>
						   </volist>
					  </volist>
				</table>
                </div>
            </div>

        </div>
        <!--  物流信息 end -->
    </div>
    <!-- designer-right end -->
</div>

<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->

<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/layer/layer.js"></script><!-- 弹窗js 参考文档 http://layer.layui.com/-->
<script type="text/javascript">
    //编辑订单备注
    function keepRemark(){
        if($('#remark').val() == '' || $('#remark').val() == null){
            layer.alert('备注不能为空');
        }else{
            $('.remarkInfos').text($('#remark').val());
            $('#remarkInfosContainer').removeClass('remark-tab-shows');
            $('#remarkInfosContainer1').addClass('remark-tab-shows');

			     $.ajax({
                        type: "POST",
                        url: "/index.php/Home/Designer/OrderInfos",
                        data: $('#searchForm').serialize(),// 你的formid
                    });
					
        }

    }

    //修改订单备注
    function reEditor(){
        $('#remarkInfosContainer').addClass('remark-tab-shows');
        $('#remarkInfosContainer1').removeClass('remark-tab-shows');
        $('#remark').val($('.remarkInfos').text());
    }
	function ajax_submit_form(form_id,submit_url){
	
	 $.ajax({
                type : "POST",
                url  : submit_url,
                data : $('#'+form_id).serialize(),// 你的formid                
                success: function(data) {
				ajaxobj=eval("("+data+")");
				
					if(ajaxobj.status == 1){
					 location.href = ajaxobj.url;
					}else{
					
					layer.alert(ajaxobj.msg);
					}
     
                },
				 error: function(request) {

                    layer.alert("服务器繁忙, 管理员正处理中，请稍等");
                }
            });   
	
	}



</script>
</body>
</html>