<style>
	.layer{
		margin-top: 0;
	}
</style>

<p id="back-to-top"><a href="#top"><span></span></a></p>
<div class="footer" style="background:#d8d8d8;">
	<div class="layout quality layer">
		<ul class="footer_quality">
			<li>
				<div>
					<i><img src="__STATIC__/images/footer-icon-1.png" alt=""></i>
					<span>
						<strong>质量保证</strong>
						<p>正品行货&nbsp;放心购物</p>
					</span>
				</div>

			</li>
			<li>
				<div>
					<i><img src="__STATIC__/images/footer-icon-2.png" alt=""></i>
					<span>
						<strong>物流无忧</strong>
						<p>下单闪电发货包邮</p>
					</span>
				</div>

			</li>
			<li>
				<div>
					<i><img src="__STATIC__/images/footer-icon-3.png" alt=""></i>
					<span>
						<strong>售后服务</strong>
						<p>贴心售后&nbsp;购物无忧</p>
					</span>
				</div>

			</li>
			<li>
				<div>
					<i><img src="__STATIC__/images/footer-icon-4.png" alt=""></i>
					<span>
						<strong>退换无忧</strong>
						<p>正品行货&nbsp;放心购物</p>
					</span>
				</div>

			</li>
		</ul>
	</div>
	<div class="helpful layout">
		<ylt sql="select * from `__PREFIX__article_cat` where parent_id = 2" key="k" item='v'>
			<dl <if condition="$k neq 0">class="jszc"</if> >
			<dt>{$v[cat_name]}</dt>
			<dd>
				<ol>
					<ylt sql="select * from `__PREFIX__article` where cat_id = $v[cat_id] and is_open=1" key="k2" item='v2'>
						<li><a rel="nofollow" href="{:Url('Home/Article/detail',array('article_id'=>$v2[article_id]))}" target="_blank">{$v2[title]}</a></li>
					</ylt>
				</ol>
			</dd>
			</dl>
		</ylt>
	</div>
	<div class="keep-on-record">
		<ul class="link-module">
			<li><a rel="nofollow" href="javascript:void(0);">我们的团队</a></li>
			<li>|</li>
			<li><a rel="nofollow" href="javascript:void(0);">网站联盟</a></li>
			<li>|</li>
			<li><a rel="nofollow" href="javascript:void(0);">热门搜索</a></li>
			<li>|</li>
			<li><a rel="nofollow" href="javascript:void(0);">诚征英才</a></li>
			<li>|</li>
			<li><a rel="nofollow" href="javascript:void(0);">友情链接</a></li>
			<li>|</li>
			<li><a rel="nofollow" href="javascript:void(0);">一礼通新品</a></li>
			<li>|</li>
			<li><a rel="nofollow" href="javascript:void(0);">开放平台</a></li>
			<li> | </li>
			<li><a href="/public/yilitong/images/yingyezizhi.png" rel="nofollow" target="_blank" >营业执照|食品许可证|第二类医疗机械备案凭证</a></li>
            <li>|</li>
			<li><a href="/public/yilitong/images/yaopingzhengshu.pdf" rel="nofollow" target="_blank" >《互联网药品信息服务资格证书》</a></li>
		
		</ul>

		<p class="bottomRecord">Copyright © 2017-2027 {$config['shop_info_store_name']}  版权所有 保留一切权利 <a href="http://www.beian.miit.gov.cn" rel="nofollow">备案号:{$config['shop_info_record_no']}</a></p>
		<p class="bottomRecord">一礼通为大家供应端午礼品、商务礼品、高档礼品等优质礼品，欢迎大家咨询采购</p>



		<ul class="guarantee">
			<li>
				<a href="http://www.itrust.org.cn/Home/Index/wx_certifi/wm/WX2017052402.html" rel="nofollow">
					<img src="/public/yilitong/images2/anquan.png">
				</a>
			</li>
			<li>
				<a  href="https://ss.knet.cn/verifyseal.dll?sn=e17042444030067499x0ij000000&userid=8IeOInNbj43dec5E&time=1587607607120&stoken=76fcffcff115c1fe4d3b268321678586&pa=60712">
				<img src="http://rr.knet.cn/static/images/logo/cnnic.png">
				</a>
			</li>
			<li>
				<img src="__STATIC__/images/weixin_cnnic.png">
			</li>
			<li>
				<img src="__STATIC__/images/zhifubao_cnnic.png">
			</li>
          <li>
				<script id="ebsgovicon" src="https://szcert.ebs.org.cn/govicons.js?id=451b976b-ae2f-494f-a54d-d6230d676226&width=91&height=37&type=2" type="text/javascript" charset="utf-8"></script>
			</li>
		</ul>

	</div>
</div>

<script>
    $(function(){
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function(){
                if ($(window).scrollTop()>100){
                    $("#back-to-top").fadeIn(1500);
                }
                else
                {
                    $("#back-to-top").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#back-to-top").click(function(){
                $('body,html').animate({scrollTop:0},1000);
                return false;
            });
        });
    });

</script>

