<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>红礼 入驻协议</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link type="text/css" href="__BUSINESS__/style/fontsIco.css">
		<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
		<link rel="stylesheet" href="__BUSINESS__/style/apply_one.css" />
    	<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
		<script type="text/javascript" src="__BUSINESS__/js/jquery.min.js"></script>
		<script type="text/javascript" src="__BUSINESS__/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="__BUSINESS__/js/ajaxupload.js"></script>
		<!--new add-->
		<link rel="stylesheet" href="__BUSINESS__/style/diyUpload.css" />
		<link rel="stylesheet" href="__BUSINESS__/style/webuploader.css" />
		<script src="__BUSINESS__/js/diyUpload.js"></script>
		<script src="__BUSINESS__/js/webuploader.html5only.min.js"></script>
		<script>
			if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
				alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
			}
		</script>
	</head>

	<body>
		<div class="customer-header" style="height:100px;line-height:100px;">
			<div class="wrap">
				<div class="simplelogo" style="overflow: hidden;">
					<ul class="logo-businessCenter">
						<!-- <li class="logo-businessCenter-li1"><a href="/"><img src="__BUSINESS__/images/regLogo.png" alt="logo" style=""></a></li> -->
						<li class="logo-businessCenter-li2"><a href="{:Url('Home/RedBusiness/BusinessIndex')}">商家中心</a></li>
					</ul>
					<!-- <ul class="regs-info">
						<li>24小时服务电话：400-089-7879</li>
						<li><a href="http://yilitong.com/index.php/Home/Article/detail/article_id/43.html">商家指南</a></li>
					</ul> -->
				</div>
			</div>
		</div>
		<hr style="box-shadow:0 1px 2px #ccc;">

		<div class="inner">
			<div class="seller">
				<p>商户：<span>{$supplier.user_name}</span><a href="login_out">退出</a></p>
			</div>
		</div>


		<!--<div class="c"></div>-->
		<div class="more">

			<!--入驻进度-->
			<div class="centrol-controller-800">
				<ul class="progress-bar">
					<li class="gray-bg">
						<span>1</span>
						<p class="progress-bar-info">填写公司基本信息</p>
					</li>
					<li class="gray-bg">
						<span class="gray-bg">2</span>
						<p class="progress-bar-info">上传资质</p>
					</li>
					<li class="gray-bg">
						<span class="gray-bg">3</span>
						<p class="progress-bar-info">等待审核</p>
					</li>
					<li class="progress-bar-noBody gray-bg">
						<span class="gray-bg">4</span>
						<p class="progress-bar-info">入驻成功</p>
					</li>
				</ul>
			</div>
			<!--公司资本资料-->
			<div class="company-info">
				<h2 class="info-title">公司基本资料</h2>
				<div class="info-container" id="info-container">
					<div class="info-group">
						<label><span>*</span>公司名称：</label>
						<input type="text" class="infos" id="company_name" name="company_name" value="{$row.company_name}" >
						<span class="info-tips" id="company-name-tips">请按照营业执照上的内容填写公司全称</span>
					</div>
					
					<div class="info-group">
						<label><span>*</span>公司地址：</label>
						<div style="float:left">
							<div class="">
								<input name="address1" type="text" id="city" value="{$row.province}{$row.city}{$row.area}" class="infos city-tab" />
								<span class="info-tips" style="line-height:32px;padding-left:20px;"></span>
							</div>
							<br>
							<div class="address-detailed">
								<input name="address" type="text" value="{$row.address}" class="infos address-detailed-input" placeholder="在此输入具体地址" />
								<span class="info-tips" style="line-height:32px;padding-left:20px;">地址必须选择区县及门牌号，否则商品及店铺无法推送至商城首页</span>
							</div>
						</div>
					</div>
					<div class="info-group marginTop70">
						<label><span>*</span>运营姓名：</label>
						<input name="operating_name" type="text" value="{$row.operating_name}" class="infos" >
						<span class="info-tips" id="nameTips"></span>
					</div>
					<div class="info-group">
						<label><span>*</span>手机号码：</label>
						<input name="mobile" type="text" value="{$row.mobile}" class="infos" id="phone" maxlength="11">
						<span class="info-tips" id="phoneTips">联系人的手机号码，可以为非注册手机号码</span>
					</div>
					<div class="info-group">
						<label><span>*</span>座机号码：</label>
						<input name="phone_number" type="text" value="{$row.phone_number}" class="infos-tel" id="infos-tel" maxlength="29">
						<span class="info-tips" id="infos-tel-tips">如：400-0897879、0755-22937331</span>
					</div>
					<div class="info-group">
						<label><span>*</span>公司logo：</label>
						<div style="float:left">
							<div id="business-logo-upload"></div>
							<if condition="$row.logo"><img src="{$row.logo}" style="margin-left:10px;display: block;width:50px;height: 50px;float: left;"/></if>
							<span class="info-tips">没有公司logo请上传品牌logo，图片大小不能超过2M，格式为：jpg、png、jpeg、gif</span>
						</div>
					</div>
				</div>
				<input type="hidden" name="hcity" value="{$row.province}">
				<input type="hidden" name="hproper" value="{$row.city}">
				<input type="hidden" name="harea" value="{$row.area}">
				<input type="hidden" name="logo" id="logo" value="{$row.logo}">
				<div class="next"><a href="javascript:void(0)" id="next-btn">下一步</a></div>
			</div>
		</div>
		<script src="__BUSINESS__/js/Popt.js"></script>
		<script src="__BUSINESS__/js/cityJson.js"></script>
		<script src="__BUSINESS__/js/citySet.js"></script>

		<script type="text/javascript">
			//地区
			$("#city").click(function (e) {
				SelCity(this,e);
				console.log("inout",$(this).val(),new Date())
			});
		</script>
		<script>
			$(function(){
				var flag=true;
				//验证公司名称是否被注册
				$('#company_name').blur(function(){
					$.ajax({
						type:'POST',
						url:'checkAjax',
						dataType:'json',
						data:{
							company_name:$("input[name='company_name']").val(),
						},
						success:function(data){
							if(data=="1"){
								var flag=false;
								$('#company-name-tips').text('公司名称已被注册').css('color','#ff0000');
							}else if(data=="2"){
								var flag=true;
								$('#company-name-tips').text('公司名称可用').css('color','green');
							}
						}
					});
				});
				  
				//确认电话号码格式
				$('#phone').blur(function(){
					if(/^1[34578]\d{9}$/.test($('#phone').val())){
						$('#phoneTips').text('手机可用');
						$('#phoneTips').css('color','green');
					}else if($('#phone').val() == ''){
						$('#phoneTips').text('电话不能为空');
						$('#phoneTips').css('color','red');
					}else{
						$('#phoneTips').text('请填写正确手机号码');
						$('#phoneTips').css('color','red');
					}
				})

				

				$('#next-btn').click(function(){
					var logo=$("input[name='logo']").val();
					var company_name=$("input[name='company_name']").val();
					var address=$("input[name='address']").val();
					var operating_name=$("input[name='operating_name']").val();
					var phone_number=$("input[name='phone_number']").val();
					var province=$("input[name='hcity']").val();
					var city=$("input[name='hproper']").val();
					var area=$("input[name='harea']").val();
					if(company_name==""){
						alert('公司名称不能为空');
						return;
					}else if(address==""){
						alert("地址不能为空");
						return;
					}else if(operating_name==""){
						alert("运营姓名不能为空");
						return;
					}else if(phone_number==""){
						alert("座机号不能为空");
						return;
					}else if(logo=="") {
						alert('请上传店铺logo');
						return;
					}
					if($('#info-container').find('input').val() != ''){
						$.ajax({
							type:'POST',
							url:'BusinessOne_save',
							dataType:'json',
							data:{
								logo:logo,
								company_name:company_name,
								address:address,
								operating_name:operating_name,
								phone_number:phone_number,
								province:province,
								city:city,
								area:area,
							},
							success:function(data){
								if(data==true){
									//所有判断完成后进行跳转
									window.location="BusinessTwo";
								}else if(data=='-1'){
									alert('请填写完整信息');
								}else{
									alert('操作失败');
								}
								
							},
							error:function(jqXHR){
								alert('系统繁忙！请重试')
							}
						});
						
					}else{
						//alert('请填写完整所有信息')
					}
				});


				//图片上传
				var userList = ["business-logo-upload"];
				var userVal = ["logo"];
				$.each(userList,function(i,item){
					var obj=$('#'+item);
					var val=$("#"+userVal[i]);
					//图片上传
					obj.diyUpload({
						url:'upload',
						success:function( data ) {
							var data=data._raw;
							if(data==2){
								alert('文件过大');
							}else if(data==1){
								alert('上传失败');
							}
							val.val(data);
						},
						error:function( err ) {
							console.info( err );
						},
						buttonText : '选择文件',
						chunked:true,
						// 分片大小
						chunkSize:512 * 1024,
						//最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
						fileNumLimit:1,
						//fileSizeLimit:500000 * 1024,
						//fileSingleSizeLimit:50000 * 1024,
						fileSingleSizeLimit:1024 * 1024 * 2,
						accept: {
							title:"Images",
							extensions:"jpg,jpeg,bmp,png",
							mimeTypes:"image/*"
						}
					});

				});

			})
		</script>
		<!-- <include file="public/footer" /> -->
	</body>
</html>