<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   		<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
		<title>商家入驻申请—资质认证</title>
		<link rel="stylesheet" href="__BUSINESS__/style/apply_one.css" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link type="text/css" href="__BUSINESS__/style/fontsIco.css">
		<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
		<link rel="stylesheet" href="__BUSINESS__/style/apply_two.css" />
		<script type="text/javascript" src="__BUSINESS__/js/jquery.min.js"></script>
		<script type="text/javascript" src="__BUSINESS__/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="__BUSINESS__/js/ajaxupload.js"></script>
		<!--new add-->
		<!--<script src="__BUSINESS__/js/uploadPreview.js"></script>-->

		<link rel="stylesheet" href="__BUSINESS__/style/diyUpload.css" />
		<link rel="stylesheet" href="__BUSINESS__/style/webuploader.css" />

		<script src="__BUSINESS__/js/webuploader.html5only.min.js"></script>
		<script src="__BUSINESS__/js/diyUpload.js"></script>
		<script>
			if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
				alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
			}
		</script>
		<style>
			#operator-authorization-book,#permit-prove-book,#permit-prove-Upload,#business-licence,#organization-code,#general-taxpayer-prove,#bank-opening-permit-prove,#permit-prove-Upload2,#permit-prove-certificate,#permit-prove-certificate_s{
				width:78px;
				height:36px;
				overflow:hidden;
				border-radius:4px;

			}
			.webuploader-pick{
				width:100%;
				height:100%;
				text-align:left;
			}

		</style>
	</head>
	<body>
		<div class="customer-header" style="height:100px;line-height:100px;">
			<div class="wrap">
				<div class="simplelogo" style="overflow: hidden;">
					<ul class="logo-businessCenter">
						<li class="logo-businessCenter-li2"><a href="{:Url('Home/RedBusiness/BusinessIndex')}">商家中心</a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr style="box-shadow:0 1px 2px #ccc;">

		<div class="inner">
			<div class="seller">
				<p>商户：<span>{$supplier.user_name}</span><a href="login_out">退出</a></p>
			</div>
		</div>

		<!--入驻进度-->
		<div class="centrol-controller-800">
			<ul class="progress-bar">
				<li>
					<span>1</span>
					<p class="progress-bar-info">填写公司基本信息</p>
				</li>
				<li class="gray-bg">
					<span>2</span>
					<p class="progress-bar-info">上传资质</p>
				</li>
				<li class="gray-bg">
					<span class="gray-bg">3</span>
					<p class="progress-bar-info">等待审核</p>
				</li>
				<li class="progress-bar-noBody gray-bg">
					<span class="gray-bg">4</span>
					<p class="progress-bar-info">入驻成功</p>
				</li>
			</ul>
		</div>

		<div class="inner"  style="margin: 50px auto;">
			<div class="centrol-controller-800">
				<form>
					<h3>上传资质</h3>
					<table border="0" cellpadding="0" cellspacing="0" class="aptitude">
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>营业执照注册号：</label>
								<input name="business_licence_number" id="business_licence_number" type="text" class="inputW400H32 infos infos1" value="{$row['business_licence_number']}">
								<span class="shop-info-tips"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>上传企业证件图片：</label>
								<div class="upload-aptitude-pic">
									<div class="aptitude-info-tab">
										<if condition="$row.is_three_one eq 0">
										 <input class="ip" type="radio" name="business" id="business" value="1" ><label>三证合一</label>
										 <input class="ip" type="radio" name="business" id="three" value="0"  checked='checked'><label>非三证合一</label>
										<else>
										 <input class="ip" type="radio" name="business" id="business" value="1" checked='checked'><label>三证合一</label>
										 <input class="ip" type="radio" name="business" id="three" value="0" ><label>非三证合一</label>
										</if>
									</div>
								</div>

							</td>
						</tr>
					</table>
					<table class='tab <if condition="$row.is_three_one eq 0">hidden<else>shows</if>'>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>营业执照：</label>
								<div class="shop-info-box" style="float:left;">
									<div id="operator-authorization-book" style="float:left;">选择文件</div>
									<if condition="$row.zhizhao"><img src="{$row.zhizhao}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
									<br>
									<br>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>对公开户账号：</label>
								<input type="text" name="bank_account_number" id="bank-public-num" size=45 value="{$row['bank_account_number']}" class="inputW400H32 infos"  />
								<span class="shop-info-tips"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>对公开户名称：</label>
								<input type="text" name="bank_name" id="bank-public-name" size=45 value="{$row['bank_name']}" class="inputW400H32 infos"  />
								<span class="shop-info-tips">请填写开户公司名称</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>对公开户支行：</label>
								<input type="text" name="bank_branch" id="bank-subbranch-public-name" size=45 value="{$row['bank_account_name']}" class="inputW400H32 infos"  />
								<span class="shop-info-tips">如：中国建设银行爱华支行</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户许可证上传：</label>
								<div class="shop-info-box" style="float:left;">
									<div id="permit-prove-book" style="float:left;" >选择文件</div>
									<if condition="$row.bank_licence_electronic"><img src="{$row.bank_licence_electronic}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
									<br>
									<br>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>

							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span></span>经营许可证上传：</label>
								<div class="shop-info-box" style="float:left;">
									<div id="permit-prove-certificate" style="float:left;" >选择文件</div>
									<if condition="$row.business_certificate"><img src="{$row.business_certificate}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
									<br>
									<br>
									<br>
									<i class="shop-info-tips">医疗、食品等，图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>
							</td>
						</tr>
					</table>

					<table class='tab <if condition="$row.is_three_one eq 0">shows</if>'>
						<tr>
							<td>
								<div class="prove-3">
									<div class="prove-col">
										<label class="aptitude-title"><span>*</span>企业营业执照上传：</label>
										<div class="shop-info-box" style="float:left;">
											<div id="business-licence" style="float: left;">选择文件</div>
											<if condition="$row.zhizhao"><img src="{$row.zhizhao}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
											<br>
											<br>
											<br>
											<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
										</div>
									</div>
									<div class="prove-col">
										<label class="aptitude-title">组织机构代码上传：</label>
										<div class="shop-info-box" style="float:left;">
											<div id="organization-code" style="float:left;">选择文件</div>
											<if condition="$row.organization_code_electronic"><img src="{$row.organization_code_electronic}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
											<br>
											<br>
											<br>
											<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
										</div>
									</div>
									<div class="prove-col">
										<label class="aptitude-title">一般纳税人证明上传：</label>
										<div class="shop-info-box" style="float:left;">
											<div id="general-taxpayer-prove"  style="float:left;">选择文件</div>
											<if condition="$row.general_taxpayer"><img src="{$row.general_taxpayer}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
											<br>
											<br>
											<br>
											<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户银行账号：</label>
								<input type="text" name="bank_account_number2" id="bank-account-num" size=45 value="{$row['bank_account_number']}" class="inputW400H32 infos1"  />
								<span class="shop-info-tips">个体商户或无开户银行，请填写法人银行账号</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户姓名：</label>
								<input type="text" name="bank_name2" id="bank-name" size=45 value="{$row['bank_name']}" class="inputW400H32 infos1"  />
								<span class="shop-info-tips">个体商户或无开户银行，请填写法人姓名</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户行支行名称：</label>
								<input type="text" name="bank_branch2" id="bank-subbranch-name" size=45 value="{$row['bank_account_name']}" class="inputW400H32 infos1"  />
								<span class="shop-info-tips">如：中国建设银行爱华支行</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户许可证：</label>

								<div class="upload-aptitude-pic">
									<label>（无对公开户银行，请上传法人或运营者身份证件）</label>
									<br><br>
									<div id="bank-opening-permit-prove" style="float: left;">选择文件</div>
									<if condition="$row.bank_licence_electronic"><img src="{$row.bank_licence_electronic}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
									<br>
									<br>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>
							</td>
							<tr>
								<td>
									<label class="aptitude-title"><span></span>经营许可证上传：</label>
									<div class="shop-info-box" style="float:left;">
										<div id="permit-prove-certificate_s" style="float:left;" >选择文件</div>
										<if condition="$row.business_certificate"><img src="{$row.business_certificate}" style="margin-left:10px;display: block;width:50px;height: 40px;float: left;"/></if>
										<br>
										<br>
										<br>
										<i class="shop-info-tips">医疗、食品等，图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
									</div>
								</td>
							</tr>
						</tr>
					</table>

					

					<div class="pre2-next2-btn">
						<div class="pre-2"><a href="{:Url('/Home/RedBusiness/BusinessOne')}">上一步</a></div>
						<div class="next-2"><a href="javascript:void(0)" id="nextBtn">下一步</a></div>
					</div>
					<input type="hidden" name="zhizhao" id="zhizhao" value="{$row.zhizhao}">
					<input type="hidden" name="organization_code_electronic" id="organization_code_electronic" value="{$row.organization_code_electronic}">
					<input type="hidden" name="general_taxpayer" id="general_taxpayer" value="{$row.general_taxpayer}">
					<input type="hidden" name="bank_licence_electronic" id="bank_licence_electronic" value="{$row.bank_licence_electronic}">
					<input type="hidden" name="business_certificate" id="business_certificate" value="{$row.business_certificate}">
				</form>
			</div>


			<script>
				$(document).ready(function(){
					//阅读协议
					$('.rules2 span').hover(function(){
						$(this).children().css('display','block')
					},function(){
						$(this).children().css('display','none')
					});
					//三证合一、非证合一 选项卡切换
					$('input[name=business]').change(function(){
						var index = $(this).val()-1;
						$('.tab').eq(index).addClass('shows').siblings().removeClass('shows');
						var value=$('input[type=radio]:checked').val();
						console.log(value);
					});

					//确认勾选阅读并同意，点击下一步跳转
					$(".next-2").click(function(){
						var oTrue = true;
						var value=$('input[type=radio]:checked').val();

						if(value == 1){
							var bank_account_number=$("input[name='bank_account_number']").val();
							var bank_name=$("input[name='bank_name']").val();
							var bank_branch=$("input[name='bank_branch']").val();
							//三证合一判断图片是否上传
							//营业执照
							var zhizhao=$("input[name='zhizhao']").val();
							//开户许可证上传
							var bank_licence_electronic=$("input[name='bank_licence_electronic']").val();
							//经营许可证
							var business_certificate=$("input[name='business_certificate']").val();
							if(zhizhao==""){
								alert('请上传营业执照');
								return;
							}else if(bank_licence_electronic==""){
								alert('请上传开户许可证上传');
								return;
							}
							$('.infos').each(function(){
								if($(this).val() == ''){
									oTrue = false;
								}
							});
						}else if(value == 0){
							var bank_account_number=$("input[name='bank_account_number2']").val();
							var bank_name=$("input[name='bank_name2']").val();
							var bank_branch=$("input[name='bank_branch2']").val();
							
							//营业执照
							var zhizhao=$("input[name='zhizhao']").val();
							//开户许可证上传
							var bank_licence_electronic=$("input[name='bank_licence_electronic']").val();
							//经营许可证
							var business_certificate=$("input[name='business_certificate']").val();
							var organization_code_electronic=$("input[name='organization_code_electronic']").val();
							var general_taxpayer=$("input[name='general_taxpayer']").val();
							
							if(zhizhao==""){
								alert('请上传营业执照');exit;
								return;
							}else if(bank_licence_electronic==""){
								alert('请上传开户许可证上传');
								return;
							}
							
							$('.infos1').each(function(){
								if($(this).val() == ''){
									oTrue = false;
								}
							});
						}
					
						if(oTrue == false){
							alert('请填写完整所有信息');
						}else{
							$.ajax({
								type:'POST',
								url:'BusinessTwo_save',
								dataType:'json',
								data:{
									business_licence_number:$("input[name='business_licence_number']").val(),
									bank_account_number:bank_account_number,
									bank_name:bank_name,
									bank_branch:bank_branch,
									zhizhao:$("input[name='zhizhao']").val(),
									organization_code_electronic:$("input[name='organization_code_electronic']").val(),
									general_taxpayer:$("input[name='general_taxpayer']").val(),
									bank_licence_electronic:$("input[name='bank_licence_electronic']").val(),
									business_certificate:$("input[name='business_certificate']").val(),
									// reading_protocol:$('#reading_protocol').val(),
									// proxy:$("input[name='proxy']").val(),
									is_three_one:$("input[name='business']:checked").val()
								},
								success:function(data){
									if(data==true){
										//所有判断完成后进行跳转
										window.location="BusinessFour";
									}else if(data=='-1'){
										alert('请填写完整信息');
									}else{
										alert('操作失败');
									}
								},
								error:function(jqXHR){
									alert('系统繁忙！请重试')
								}
							});
						}
					});
				})
			</script>
			<script>
				$(function(){
					//图片上传
					var userList = [ "operator-authorization-book","permit-prove-book","permit-prove-certificate","permit-prove-Upload","business-licence","organization-code","general-taxpayer-prove","bank-opening-permit-prove","permit-prove-certificate_s","permit-prove-Upload2"];
					var userVal = ["zhizhao","bank_licence_electronic","business_certificate","proxy","zhizhao","organization_code_electronic","general_taxpayer","bank_licence_electronic","business_certificate","proxy"];
					$.each(userList,function(i,item){
						var obj=$('#'+item);
						var val=$("#"+userVal[i]);
						//图片上传
						obj.diyUpload({
							url:'upload',
							success:function( data ) {
								var data=data._raw;
								if(data==2){
									alert('文件过大');
								}else if(data==1){
									alert('上传失败');
								}
								val.val(data);
							},
							error:function( err ) {
								console.info( err );
							},
							buttonText : '选择文件',
							chunked:true,
							// 分片大小
							chunkSize:512 * 1024,
							//最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
							fileNumLimit:1,
							//fileSizeLimit:500000 * 1024,
							//fileSingleSizeLimit:50000 * 1024,
							fileSingleSizeLimit:1024 * 1024 * 2,
							accept: {
								title:"Images",
								extensions:"jpg,jpeg,bmp,png",
								mimeTypes:"image/*"
							}
						});
					});
				})

			</script>

		</div>


		<!-- <include file="public/footer" /> -->
	</body>
</html>
