<table>
 	<tbody>
     	<volist name="res" id="list">
      	<tr>
          <td class="sign" axis="col0">
            <div style="width: 24px;"><i class="ico-check"></i></div>
          </td>
          <td align="left" abbr="do_id" axis="col3" class="">
            <div style="text-align: left; width: 50px;" class="">{$list.do_id}</div>
          </td>
          <td align="left" abbr="is_purchase" axis="col4" class="">
            <div style="text-align: left; width: 60px;" class="">
              <if condition="$list.is_purchase eq 1">购买<elseif condition="$list.is_purchase eq 2"/>供货<else>求助</if>
            </div>
          </td>
          <td align="center" abbr="is_donate" axis="col5" class="">
            <div style="text-align: center; width: 60px;" class="">{$list.is_donate}</div>
          </td>
          <td align="center" abbr="is_donate" axis="col5" class="">
            <div style="text-align: center; width: 60px;" class="">{$list.beneficiaries}</div>
          </td>
          <td align="center" abbr="budget" axis="col6" class="">
            <div style="text-align: center; width: 60px;" class="">{$list.budget}</div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 300px;" class="">
                <if condition="$list.materials and $list.is_purchase eq 1">{$list.materials}
                <elseif condition="$list.materials_s and $list.is_purchase eq 3">{$list.materials_s}
                </if>
              </if>
            </div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 80px;" class="">{$list.do_name}</div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 80px;" class="">{$list.do_phone}</div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 80px;" class="">{$list.do_company}</div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 80px;" class="">{$list.do_address}</div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 180px;" class="">{$list.supply_goods}</div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 80px;" class="">{$list.comment}</div>
          </td>
          <td align="center" abbr="article_time" axis="col6" class="">
            <div style="text-align: center; width: 80px;" class="">{$list.add_time|date='Y-m-d',###}</div>
          </td>
          <td align="left" axis="col1" class="handle" align="center">
        		<div style="text-align: left; ">
              <a class="btn green" href="{:Url('Admin/System/charitysave',array('id'=>$list['do_id']))}"><i class="fa fa-list-alt"></i>详情/修改</a>
        			<a class="btn green"><if condition="$list['status'] eq 1"> 未审核<elseif condition="$list['status'] eq 2">审核通过 <elseif condition="$list['status'] eq 3"> 审核不通过 <else/>已取消 </if></a>
        		</div>
          </td>
          <td align="" class="" style="width: 100%;">
            <div>&nbsp;</div>
          </td>
        </tr>
      </volist>
  </tbody>
</table>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$page}</div>
</div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        console.log(page);
        ajax_get_table('search-form2',page);
    });

    $('.ftitle>h5').empty().html("(共{$pager->totalRows}条记录)");
</script>