<include file="public/layout" />
<script type="text/javascript" src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>

<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>恒大御景半岛表单</h3>
      </div>
    </div>
  </div>
  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>恒大御景半岛表单</h3>
        <h5>(共{$page->totalRows}条记录)</h5>
      </div>
      <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
      <form class="navbar-form form-inline"  method="post" action="{:Url('Admin/System/export_order_hdyujing')}"  name="search-form2" id="search-form2">
      <div class="sDiv">
        <div class="sDiv2">
          <input type="text" size="30" id="deliveryTime_begin" name="deliveryTime_begin" value="" class="qsbox"  placeholder="送货开始时间"  autocomplete="off">
        </div>
        <div class="sDiv2">
          <input type="text" size="30" id="deliveryTime_end" name="deliveryTime_end" value="" class="qsbox"  placeholder="送货结束时间"  autocomplete="off">
        </div>
        <div class="sDiv2">
          <input type="text" size="30" id="installDate_begin" name="installDate_begin" value="" class="qsbox"  placeholder="安装开始时间"  autocomplete="off">
        </div>
        <div class="sDiv2">
          <input type="text" size="30" id="installDate_end" name="installDate_end" value="" class="qsbox"  placeholder="安装结束时间"  autocomplete="off">
        </div>
        <div class="sDiv2">                 
          <select  name="floorInput" class="select">
            <option value="">查找楼栋</option>
            <option value="10栋">10栋</option>
            <option value="11栋">11栋</option>
            <option value="12栋">12栋</option>
            <option value="13栋">13栋</option>
            <option value="14栋">14栋</option>
            <option value="15栋">15栋</option>
            <option value="16栋">16栋</option>
            <option value="17栋">17栋</option>
          </select>
        </div>
        <div class="sDiv2">                 
          <select  name="is_make" class="select">
            <option value="">是否预约</option>
            <option value="1">是</option>
            <option value="2">否</option>
          </select>
         </div>
        <div class="sDiv2">
          <input type="text" size="30" name="key_word" class="qsbox" placeholder="搜索姓名或手机号...">
          <input type="button" onClick="ajax_get_table('search-form2',1)" class="btn" value="搜索">
        </div>
      </div>
     </form>
    </div>
    <div class="hDiv">
      <div class="hDivBox" id="ajax_return">
        <table cellspacing="0" cellpadding="0">
          <thead>
                <tr>
                  <th class="sign" axis="col0">
                    <div style="width: 24px;"><i class="ico-check"></i></div>
                  </th>
                  <th align="left" abbr="order_sn" axis="col3" class="">
                    <div style="text-align: left; width: 120px;" class="">id/表单编号</div>
                  </th>
                  <th align="left" abbr="consignee" axis="col4" class="">
                    <div style="text-align: left; width: 120px;" class="">楼栋</div>
                  </th>
                  <th align="center" abbr="article_show" axis="col5" class="">
                    <div style="text-align: center; width: 120px;" class="">房间号</div>
                  </th>
                  <th align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 130px;" class="">客户姓名</div>
                  </th>
                  <th align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 150px;" class="">手机号码</div>
                  </th>
                  <th align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 130px;" class="">预约送货时间</div>
                  </th>
                  <th align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 130px;" class="">预约安装时间</div>
                  </th>
                  <th align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 130px;" class="">是否预约</div>
                  </th>
                  <th align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 130px;" class="">表单提交时间</div>
                  </th>
                  <th align="left" axis="col1" class="handle">
                    <div style="text-align: left; width: 150px;">操作</div>
                  </th>
                  <th style="width:100%" axis="col7">
                    <div></div>
                  </th>
                </tr>
              </thead>
        </table>
      </div>
    </div>
    <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton"> 
            <a href="javascript:exportReport()">
                <div class="add" title="选定行数据导出excel文件,如果不选中行，将导出列表所有数据">
                    <span><i class="fa fa-plus"></i>导出数据</span>
                </div>
            </a> 
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
      </div>
      <div class="iDiv" style="display: none;"></div>
    </div>
    <!--分页位置--> 
    </div>
</div>
<script type="text/javascript">

     
    $(document).ready(function(){  
        $('#deliveryTime_begin').layDate(); 
        $('#deliveryTime_end').layDate(); 
        $('#installDate_begin').layDate(); 
        $('#installDate_end').layDate();
        // $('#replenishmentTime_begin').layDate(); 
        // $('#replenishmentTime_end').layDate();
        
        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
        
        ajax_get_table('search-form2',1);
        
        $('.ico-check ' , '.hDivBox').click(function(){
            $('tr' ,'.hDivBox').toggleClass('trSelected' , function(index,currentclass){
                var hasClass = $(this).hasClass('trSelected');
                $('tr' , '#flexigrid').each(function(){
                    if(hasClass){
                        $(this).addClass('trSelected');
                    }else{
                        $(this).removeClass('trSelected');
                    }
                });  
            });
        });
         
    });
    
    
    //ajax 抓取页面
    function ajax_get_table(tab,page){
    cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"/index.php/Admin/System/ajaxhdyujing/p/"+page,//+tab,
            data : $('#'+tab).serialize(),// 你的formid
            success: function(data){
                $("#flexigrid").html('');
                $("#flexigrid").append(data);
                // 表格行点击选中切换
                $('#flexigrid > table>tbody >tr').click(function(){
                    $(this).toggleClass('trSelected');
                });
            }
        });
    }
    function exportReport(){
        $('#search-form2').submit();
    }
    
</script>
</body>
</html>