
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<title>恒大山水郡</title>
		<link rel="stylesheet" href="__MOBILE__/css/hengda/mui.min.css">
		<link rel="stylesheet" href="__MOBILE__/css/hengda/mui.picker.min.css">
		<link rel="stylesheet" href="__MOBILE__/css/hengda/normalize.css">
		<link rel="stylesheet" href="__MOBILE__/css/hengda/public.css">
		<link rel="stylesheet" href="__MOBILE__/css/hengda/index.css">
		<link rel="stylesheet" href="__MOBILE__/css/hengda/iconfont.css">
		<style type="text/css">
			header{
				background: #fff;
				height: 100%;
			}
			.gain{
			    width: 82px;
				margin: 11px 0;
				padding: 0px 3px;
				height: 28px;
				line-height: 27px;
				color: #F23057;
				text-align: center;
				font-size: 14px;
				border: 1px solid #f23057;
				border-radius: 27px;
			}
			input{
				text-align: left;
			}
			em{
				width: 5.3rem;
			}
			.main .box{
				height: 50px;line-height: 50px;
			}
			.left{
				padding-top: 3px;
			}
			.submit{
				margin-top: 34px;
			}
			.next{
				border-radius: 8px;
				margin: 1em 1em;
				height: 3.5em;
				line-height: 3.5em;
				text-align: center;
			}
			.head{
				display: flex;
			}
			img{
				width: 32px; height: 32px;
			}
			.title_name{
				color: #333;font-size: 17px;
				font-weight: bold;
				margin: auto;
				position: relative;
				left: -16px;
			}
			#tab{width:100%;}
			#tab .active{
				background-color:#FFF;
				border-bottom: 1px solid #F23057;
			}
			#tab h3{
              margin:0px;padding:0px;
              font-size:16px;font-weight: 100;
              float:left;
              width:65px;height:30px;
              margin-left:22px;
              line-height:24px;
              text-align:center;
			}
			#tab .switch{
			clear:both;
			display:none;
			}
			.h3{
				width: 220px;
				height: 40px;
				margin: 0 auto;
				padding: 10px 0 10px 10px;
			}
			.grap{
				height: 12px;
				background: #f4f4f4;
			}
			#tab h3:after{
				border-bottom: 1px solid #000;
			}
			.switch>img{
				width: 100%;height: 100%;
			}
			.wrapfloor{
				height: 100%;width: 100%;
				display: none;
			}
			.floor{
				width: 100%;
				position: fixed;
				bottom: 0;
              	z-index:999999 !important;
			}
			.floor>div{
				width: 100%;height: 48px;
				border-top: 1px solid #ddd;
				background: #FFF;
				text-align: center;
				line-height: 48px;
			}
			[v-cloak] {
				display: none;
			}
          .placeholder{
            color: #000;
          }    
          .mui-backdrop{
            overflow:hidden;
          }
          .referInfo{
				font-weight: bold;
				margin: 25px 0 5px 0 ; 
            	color:#666;
			}
          	table,th,td{
				border: 1px solid #ddd;
				color: #666;
			}
			th,td{
				width: 40px;
				text-align: center;
				height: 22px;
              	font-size: 12px;
			}
			tr>td:first-child{
				font-weight: bold;
			}
		</style>

	</head>

	<body>
		<div id="app" v-cloak  class="flexc h bggrey">
			<!-- 标题 -->
			<header class="">
				<div class="">
					<div id="tab">
					  <div class="h3">
							<h3 class="active">填写信息</h3>
							<h3>用户说明</h3>	
					  </div>
					  <div class="grap"></div>
					  <div class="switch" style="display:block" style="height:1500px">
						 <section class="main flex1  oa" >
						 	<div class="bgf pl10  pr10">	
						 		<div class="box flexr" @click="clickFloor">
						 			<div class="left">*</div>
						 			<em>楼栋名称</em>
						 			<div class="flex1 r">
						 				<input class="placeholder floorInput " type="text" placeholder="请选择楼栋名称" readonly >
						 			</div>
									<div class="">
										<span class="iconfont icon-xiayibu em12 grey2"></span>
									</div>
						 		</div>
						 		<div class="box flexr">
						 			<div class="left">*</div>
						 			<em>房号</em>
						 			<div class="flex1 r">
						 				<input class="placeholder" type="number" placeholder="请输入房号" value="{roomNum}" v-model.number="roomNum">
						 			</div>
						 		</div>
						 		<div class="box flexr">
						 			<div class="left">*</div>
						 			<em>客户姓名</em>
						 			<div class="flex1 r">
						 				<input class="placeholder" type="text" placeholder="请输入客户姓名" value="{customerName}" v-model="customerName">
						 			</div>
						 		</div>
						 		<div class="box flexr">
						 			<div class="left">*</div>
						 			<em>联系电话</em>
						 			<div class="flex1 r">
						 				<input class="placeholder" type="number"  id="phone" placeholder="请输入联系电话" value="{tel}" v-model.number="tel">
						 			</div>
						 		</div>
						 		<div class="box flexr">
						 			<div class="left">*</div>
						 			<em>验证码</em>
						 			<div class="flex1">
						 				<input type="text" style="width: 125px;" class="placeholder" placeholder="请输入验证码" maxlength="6" value="{securityCode}" v-model="securityCode">
						 				<div style="float: right;">
						 					<div class="gain" v-show="showGain" @click="clickGain">获取验证码</div>
						 					<div class="gain " v-show="showTime">{{time}}s</div>
						 					<div class="gain " v-show="showRegain" @click="clickRegain">重新获取</div>
						 				</div>
						 			</div>
						 		</div>
						 		<div class="box flexr" @click="clickSend">
						 			<div class="left">*</div>
						 			<em>预约送货日期</em>
						 			<div class="flex1 r">
						 				<input class="placeholder " type="text" readonly placeholder="请选择预约送货时间" value="{deliveryTime}" v-model="deliveryTime">
						 			</div>
						 			<div class="">
						 				<span class="iconfont icon-xiayibu em12 grey2"></span>
						 			</div>
						 		</div>
						 		<div class="box flexr" @click="clickInstall">
						 			<div class="left">*</div>
						 			<em>预约安装日期</em>
						 			<div class="flex1 r">
						 				<input class="placeholder " type="text" readonly placeholder="请选择安装日期" value="{installDate}" v-model="installDate">
						 			</div>
						 			<div class="">
						 				<span class="iconfont icon-xiayibu em12 grey2"></span>
						 			</div>
						 		</div>
                              <div class="referTable">
									<div class="referInfo" >集中送货及安装时间表如下：</div>
									<div>
										<table border="" cellspacing="" cellpadding="">
											<tr>
												<th>月份</th>
												<th colspan="3">预约配送日期</th>
												<th colspan="5">预约安装日期</th>
											</tr>
											<tr>
												<td>8</td>
												<td>16</td>
												<td>17</td>
												<td>18</td>
												<td>16</td>
												<td>17</td>
												<td>18</td>
												<td>19</td>
												<td>20</td>
											</tr>
											<tr>
												<td>9</td>
												<td>14</td>
												<td>15</td>
												<td>16</td>
												<td>14</td>
												<td>15</td>
												<td>16</td>
												<td>17</td>
												<td>18</td>
											</tr>
											<tr>
												<td>10</td>
												<td>18</td>
												<td>19</td>
												<td>20</td>
												<td>18</td>
												<td>19</td>
												<td>20</td>
												<td>21</td>
												<td>22</td>
											</tr>
											<tr>
												<td>11</td>
												<td>15</td>
												<td>16</td>
												<td>17</td>
												<td>15</td>
												<td>16</td>
												<td>17</td>
												<td>18</td>
												<td>19</td>
											</tr>
											<tr>
												<td>12</td>
												<td>14</td>
												<td>15</td>
												<td>16</td>
												<td>14</td>
												<td>15</td>
												<td>16</td>
												<td>17</td>
												<td>18</td>
											</tr>
										</table>
									</div>
								</div>
						 	</div>
						 	<footer id="foot" v-show="showNext">
						 		<div class="submit">
						 			<p class="next bgmain cf" @click="next">提交</p>
						 		</div>
						 	</footer>
							<div class="wrapfloor mui-backdrop">
								<div class="floor"  style="	z-index:9999999999 !important;">
									<div>13栋</div>
									<div>15栋</div>
									<div>16栋</div>
									<div>18栋</div>
									<div></div>
								</div>
							</div>	
						 </section>
					  </div>
					  <div class="switch">
						  <img src="__MOBILE__/images/恒大-全图.jpg" >
					  </div>
					</div>
				</div>
			</header>
		</div>
		<script src="__MOBILE__/js/jquery-1.10.2.min.js"></script>
		<script src="__MOBILE__/js/vue.js"></script>
		<script src="__MOBILE__/js/vue-resource.js"></script>
		<script src="__MOBILE__/js/mui.min.js"></script>
		<script src="__MOBILE__/js/mui.picker.min.js"></script>
		<script>
     
			// 选项卡start
			window.onload=function(){
			var oTab=document.getElementById("tab");
			var aH3=oTab.getElementsByTagName("h3");
			var aDiv=oTab.getElementsByClassName("switch");
			for(var i=0;i<aH3.length;i++){ 
			   aH3[i].index=i;
			   aH3[i].onclick=function(){
			   for(var i=0;i<aH3.length;i++){
			   aH3[i].className="";
			   aDiv[i].style.display="none";
			   }
			   this.className="active";
			   aDiv[this.index].style.display="block";
			   }
			  }
			 }
			
			// 监听window的变化
			window.addEventListener('resize', function() {
				var clientHeight = document.documentElement.clientHeight;
				app.clientHeight = clientHeight;
				console.log('可见区域高度:' + clientHeight);
				if (clientHeight < 400) {
					app.showNext = false;

				} else {
					app.showNext = true;
				}

			});

			var timePicker, datePicker;
			const defatultTime = 60; // 默认倒计时时间
			//进入页面就触发的事件
			var app = new Vue({
				el: "#app",
				data: {
					floorInput:"",
					roomNum: "",
					customerName:"",
					tel:"",
					deliveryTime: "", //送货日期
					installDate:"", //安装日期
					allSubmitData: {}, // 存储所有要提交的数据
					showNext: true, // 显示下一步
					clientHeight: 0,
					time: defatultTime, //时间
					showGain: true, // 是否显示获取验证码
					showTime: false, // 是否显示时间
					showRegain: false, //是否显示重新获取
					securityCode:'', //验证码
				},
				directives: {

				},
				created: function() { // 进入
					timePicker = new mui.DtPicker({
						type: "date",
						beginDate: new Date()
					});
					datePicker = new mui.DtPicker({
						type: "date",
						beginDate: new Date()
					});
				},
				mounted: function() { // 挂载后  加载完页面执行
					// 获取用户填的内容

					 this.getData();
					//this.cstmMade=true;
				},
				updated: function() {

				},
				methods: {
					clickGain:function(){ // 点击获取验证码
						var mobile = $('#phone').val();
				        var url = "/index.php?m=Home&c=Api&a=send_validate_code&scene=1&type=6&mobile="+mobile;
				        $.get(url,(res)=>{
				            if(res.status == 1)
							{                      	                    
								this.showGain = false; //隐藏获取验证码
								this.showTime = true; //显示时间
								this.setTime();
								$('#count_down').attr("disabled","disabled");
				                alert(res.msg);
							}else{
				                alert(res.msg);
				            }
				        })
					},
					setTime(){ // 	时间设置
						var that = this;
						if (that.time <= 0) { // 倒计时结束
							that.gain = false; //隐藏获取验证码
							that.showTime = false; // 隐藏时间,显示重新获取
							that.showRegain = true; // 显示重新获取
							that.time = defatultTime; // 恢复原始倒计时时间
							clearTimeout(temTime); // 清除setTimeout事件
							return false;
						} else {
							temTime = setTimeout(function() {
								that.time = --that.time;
								console.log("time:" + that.time);
								that.setTime(); // 递归调用本身
							}, 1000)
						}
					},
					clickRegain() { //点击重新获取
						this.showTime = true; //显示时间
						this.showRegain = false; //隐藏重新获取
						this.clickGain();
					},
					gomy: function(e) {
						location.href = "/mobile/Supplychain/myshop_list.html";
					},
					clickFloor(){
						var that = this;
						var oFloor = document.querySelector('.wrapfloor');
						oFloor.style.display ='block';
						var floorSct = document.querySelectorAll('.floor div');
						for(let i = 0; i < floorSct.length;i++){
							floorSct[i] = i;
							floorSct[i].onclick = function(){
								var floorInput = document.querySelector('.floorInput');
								floorInput.value = this.innerText;
								that.floorInput = floorInput.value;
                              	floorInput.style.color = '#000';
                              	floorInput.style.zIndex = '9999';
								oFloor.style.display ='none';
							}
						}
					},
					clickSend: function(e) { // 预约送货日期
						var that = this;
						timePicker.show(function(selectItems) {
							console.log(selectItems);
                         	var sendMonth = selectItems.m.value;
							var sendDay = selectItems.d.value;
							var sendYear = selectItems.y.value; 
							if(sendYear != 2019){
								alert('选择日期不在送货日期内，请参考送货日期表');
								return;
							}
							if(sendMonth < 08 ){
								alert('选择日期不在送货日期内，请参考送货日期表');
								return;
							}
							if(sendMonth == 08){
								if(sendDay != 16 && sendDay != 17 && sendDay != 18){
									alert('选择日期不在送货日期内，请参考送货日期表');
									return;
								}
							}else if(sendMonth == 09){
								if(sendDay != 14 && sendDay != 15 && sendDay != 16){
									alert('选择日期不在送货日期内，请参考送货日期表');
									return;
								}
							}else if(sendMonth == 10){
								if(sendDay != 18 && sendDay != 19 && sendDay != 20){
									alert('选择日期不在送货日期内，请参考送货日期表');
									return;
								}
							}else if(sendMonth == 11){
								if(sendDay != 15 && sendDay != 16 && sendDay != 17){
									alert('选择日期不在送货日期内，请参考送货日期表');
									return;
								}
							}else if(sendMonth == 12){
								if(sendDay != 14 && sendDay != 15 && sendDay != 16){
									alert('选择日期不在送货日期内，请参考送货日期表');
									return;
								}
							}
							that.deliveryTime = selectItems.value;
						})
					},
					clickInstall: function() { // 预约安装日期
						var that = this;
						datePicker.show(function(item) {
                          	var installMonth = item.m.value;
							var installDay = item.d.value;
							var sendYear = item.y.value; 
							if(sendYear != 2019){
								alert('选择日期不在安装日期内，请参考安装日期表');
								return;
							}
							if(installMonth < 08 ){
								alert('选择日期不在安装日期内，请参考安装日期表');
								return;
							}
							if(installMonth == 08){
								if(installDay != 16 && installDay != 17 && installDay != 18 && installDay != 19 && installDay != 20){
									alert('选择日期不在安装日期内，请参考安装日期表');
									return;
								}
							}else if(installMonth == 09){
								if(installDay != 14 && installDay != 15 && installDay != 16 && installDay != 17 && installDay != 18){
									alert('选择日期不在安装日期内，请参考安装日期表');
									return;
								}
							}else if(installMonth == 10){
								if(installDay != 18 && installDay != 19 && installDay != 20 && installDay != 21 && installDay != 22){
									alert('选择日期不在安装日期内，请参考安装日期表');
									return;
								}
							}else if(installMonth == 11){
								if(installDay != 15 && installDay != 16 && installDay != 17 && installDay != 18 && installDay != 19){
									alert('选择日期不在安装日期内，请参考安装日期表');
									return;
								}
							}else if(installMonth == 12){
								if(sendDay != 14 && sendDay != 15 && sendDay != 16 && installDay != 17 && installDay != 18){
									alert('选择日期不在安装日期内，请参考安装日期表');
									return;
								}
							}
							that.installDate = item.value;
						})
					},
					onInputFocus: function(e) { //  监听input聚集事件
						console.log("监听input聚集事件:");
						console.log(e);
					},
					next: function(e) { // 下一步
						console.log("点击下一步:");
						var objData = {
							floorInput: this.floorInput,
							roomNum: this.roomNum,
							customerName:this.customerName,
							tel:this.tel,
							// securityCode: this.securityCode,
							deliveryTime: this.deliveryTime,
							installDate: this.installDate,
						}

						// 必填项验证
						if (!this.floorInput || !this.roomNum || !this.customerName || !this.tel || !this.securityCode || !this.deliveryTime || !this.installDate) {
							this.allSubmitData = null;
							alert("请先填完所有带*的必填项");
							return false;
						}
						var telR = new RegExp(/^1[3456789]\d{9}$/);
						if (!telR.test(this.tel)) {
							alert("请填写正确的手机号");
							this.tel = "";
							return;
						}
						var verify_code = this.securityCode;
						var mobile = $('#phone').val();
						var url = "/index.php?m=Home&c=Api&a=check_validate_code&scene=1&type=phone&mobile="+mobile+"&code="+verify_code;
				        $.get(url,function(res){
				            if(res.status == 1)
							{
								this.allSubmitData = objData; //  所有要提交的数据
								$.ajax({
									type:'POST',
									url:"/mobile/Hengda/hengda.html",
									//dataType:'json',
									data:this.allSubmitData,
									success:function(data){
										if(data.status!=0){
											alert(data.msg);
											window.location.href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MDEyNDcwNg==&scene=126&bizpsid=0&subscene=0#wechat_redirect";
										}
									},
									error:function(jqXHR){
										console.log('提交失败！');
										alert('系统繁忙！请重试');
									}
								});
								console.log("进入下一页...");
							}else{
				                alert(res.msg);
				            }
				        })

								// this.allSubmitData = objData; //  所有要提交的数据
								// this.submitData();
								// console.log("进入下一页...");
					},
					submitData: function() { //  提交数据给后端
					//console.log(this.allSubmitData);
					},
					getData: function() { // 获取用户上次填写的内容
						//alert(123);
					}
				},
					
			})
			console.log("app.inputTitle:");
			console.log(app.inputTitle);
		</script>
	</body>

</html>
