<div class="design-menu" style="background:#fff;">
    <!-- <div class="designer-head-img"><a href="{:url('Home/Designer/personal')}" target="_blank"><img src="{$user.head_pic|default='__STATIC__/images/tou2.png'}" alt="头像"></a></div> -->
    <div class="designer-head-img"><a href="{:url('Home/Designer/personalInfos',array('id'=>$supplier['supplier_id']))}" target="_blank"><img src="{$user.head_pic|default='__STATIC__/images/tou2.png'}" alt="头像"></a></div>
    <p class="designer-account">{$supplier['supplier_name']}</p>
    <ul class="designer-area-type">
        <li>{$region_list[$supplier['province']]['name']}-{$region_list[$supplier['city']]['name']}</li>
        <li class="cut-of-line">|</li>
        <li>{$supplier.company_type}</li>
    </ul>
    <p class="designer-fans">粉丝：<span>{$supplier.collect}</span></p>
    <ul class="designer-works designerNav-list-tab">
        <li <if $active eq 'WorksList'> class="designerNav-list-cur"</if> ><a href="{:url('Home/Designer/WorksList')}">我的作品</a></li>
        <li <if $active eq 'DesignsList'> class="designerNav-list-cur"</if> ><a href="{:url('Home/Designer/DesignsList')}">在售作品</a></li>
        <li <if $active eq 'Trade'> class="designerNav-list-cur"</if> ><a href="{:url('Home/Designer/Trade')}">我的订单</a></li>
		<li <if $active eq 'Back_order'> class="designerNav-list-cur"</if> ><a href="{:url('Home/Designer/Back_order')}">售后服务</a></li>
        <li <if $active eq 'Account'> class="designerNav-list-cur"</if> ><a href="{:url('Home/Designer/Account')}">我的收支</a></li>
    </ul>
</div>

