<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/global.js"></script>
<style>
.text{text-indent:10px;}
.logo{text-align:left;}
.navlist li:hover a{text-decoration:none !important;}
  .Finddiv2li1 li{
    width:50px;height: 20px;float: left; text-align: center;line-height: 20px;font-size:14px !important;
}
  .onli{
    background: #E6002D;
    color: #fff;
}
  .designTopBar {
    width: 100%;
    background: #E6002D;
    height: 60px;
}
 .clearfix {
    clear: both;
    zoom: 1;
}
.clearfix {
    clear: both;
    zoom: 1;
}

.design-nav {
    position: absolute;
    left: 280px;
    top: 0;
    height: 60px;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
} 
  .inner .designTopBar-logo-home {
    left: 0;
    top: 12px;
}


.inner .designTopBar-logo-home {
    position: absolute;
    display: block;
}
  .design-nav li {
    float: left;
    /* padding-right: 80px; */
    text-align: center;
    background: #2e2e2e;
}


ul, li, ol, dl, dt, dd {
    padding: 0;
    margin: 0;
}
 .search-container {
    position: absolute;
    right: 0;
    top: 16px;
    background: #fff;
    width: 350px;
    height: 28px;
    border-radius: 4px;
} 
  .search-container .search-type {
    float: left;
    position: relative;
    width: 80px;
    height: 28px;
    border-radius: 4px 0 0 4px;
    padding-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
}
  .search-container .searching-type {
    color: #888;
    position: relative;
}
  .search-container .search-type-list {
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 28px;
    width: 100px;
    border-radius: 4px;
    background: #fff;
    display: none;
}

ul, ol {
    list-style: none;
}
  .search-container .search-type-list li {
    font-size: 12px;
    color: #888;
}
  .search-container .search-type span {
    display: block;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
}
  .search-content-box {
    width: 250px;
    height: 28px;
    float: left;
    overflow: hidden;
}
  .search-content-box .search-content {
    display: inline-block;
    width: 220px;
    height: 28px;
    border-radius: 0 4px 4px 0;
    outline: none;
    border: none;
    float: left;
}
  .search-content-box .search-btn {
    display: inline-block;
    width: 30px;
    height: 28px;
    float: left;
    position: relative;
    text-align: center;
    line-height: 28px;
}

.design-nav li {
    float: left;
  text-align: center;
    background: #E6002D;
    width:100px;
   height:60px;
  line-height:60px;
}
  .search-content-box .search-btn img {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}
</style>
<!--最顶部-->
<include file="public/siteTopbar" />

 <!--------在线客服-------------->
<include file="public/service" />
 <!--------在线客服-------------->

<div class="designTopBar">
    <div class="inner clearfix">
        <div class="designTopBar-logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
            </a>
        </div>
        <ul class="design-nav clearfix">
        
       <!--   <li class="homepage <if $action eq 'index'> navCur </if>"><a href="/"><span>首页</span></a></li>-->
     <li id="li1" class="homepage <if $action eq 'index'> navCur </if>" ><a href="http://www.yilitong.com"  style="color:#fff;width:80px;">首页</a></li>
                 <li id="li2" style="width:80px;"><a href="http://www.yilitong.com/businessPurchase.html" style="color:#fff;">名企直采</a></li>
                 <li id="li3" style="width:80px;"><a href="http://www.yilitong.com/mall" style="color:#fff;">旗舰商城</a></li>
                 
          <li id="li4"  style="text-align: center;width:80px;"><a href="http://www.yilitong.com/Home/Works/index.html" style="color:#fff;">自主设计</a></li>
                 <li id="li5"  style="text-align: center;width:80px;"><a href="http://www.yilitong.com/Home/Business/BusinessIndex.html" style="color:#fff;">商家入驻</a></li>
      <!--  <ylt sql="SELECT * FROM `__PREFIX__navigation` where is_show = 1 ORDER BY `sort` DESC" key="k" item='v'>
        <li class="page <if $action eq $v.action> navCur </if>">
            <if $v.action eq 'icon'> <img src="__STATIC__/images/hot.gif" class="hot_icon" alt=""> </if>
            <a href="{$v[url]}" <if condition="$v[is_new] eq 1">target="_blank" </if>><span>{$v[name]}</span></a>
        </li>
        </ylt>-->
    
        </ul>
        <div class="search-container clearfix">
            <form action="" id="searchForm">
                <div class="search-type">
                    <div class="searching-type">设计作品</div>
                    <input type="hidden" id="searching-type" value="1">
                    <ul class="search-type-list" id="search-type-list">
                        <li><input type="hidden" value="1">设计作品</li>
                        <li><input type="hidden" value="2">在售作品</li>
                        <li><input type="hidden" value="3">设计师</li>
                        <li><input type="hidden" value="4">设计师类型</li>
                    </ul>
                    <span></span>
                </div>
                <div class="search-content-box">
                    <input type="text" class="search-content" name="keywords" value="" id="search-content" placeholder="请输入搜索内容">
                    <a href="javascript:void(0);" class="search-btn" onclick="searchFormbb()"><img src="__STATIC__/images/design_search_icon.png" alt="搜索"></a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        //搜索下拉选择
        $('.search-type').on('click',function () {
            $('.search-type-list').css('display','block');
        });
        $('.search-type').on('mouseleave',function () {
            $('.search-type-list').css('display','none');
        });

        $('.search-type-list li').each(function () {
            $(this).click(function () {
                $('.searching-type').text($(this).text());
            })
        });

        //搜索赋值
        $('.search-type-list li').each(function () {
            $(this).click(function(){
                $('#searching-type').val($(this).children('input').val());  //把选择对应的类型的值赋予搜索状态值
            })
        });
    })


    var searchForm = document.getElementById('searchForm');
    var searchType = document.getElementById('searching-type');
    function searchFormbb()
    {
        if(searchType.value == 1)
        {
            //alert(1111);
            searchForm.action="{:Url('Home/Works/worksList')}";
            searchForm.submit();
        }
        else if(searchType.value == 2)
        {
            //alert(2222);
            searchForm.action="{:Url('Home/Works/designsList')}";
            searchForm.submit();
        }
        else if(searchType.value == 3)
        {
            //alert(333);
            searchForm.action="http://www.baidu.com";
            searchForm.submit();
        }
        else if(searchType.value == 4)
        {
            //alert(444);
            searchForm.action="http://www.baidu.com";
            searchForm.submit();
        }

    }



</script>
