<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>确认订单-{$config['shop_info_store_title']}</title>
<meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
<meta name="description" content="{$config['shop_info_store_desc']}" />
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/global.js"></script>
<script src="__PUBLIC__/js/pc_common.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script><!-- 弹窗js 参考文档 http://layer.layui.com/-->
  
 
<style>
	
	.
</style>
</head>
<body>
<include file="public/siteTopbar" />
    <div class="order-header">
    	<div class="layout after">
        	<div class="fl">
            	<div class="logo pa-to-36 wi345">
                	<a href="/"><img src="{$config['shop_info_store_logo']}" alt=""></a>
                </div>
            </div>
        	<div class="fr">
            	<div class="pa-to-36 progress-area">
                	<div class="progress-area-wd" style="display:none">我的购物车</div>
                	<div class="progress-area-tx" style="display:block">填写核对订单信息</div>
                	<div class="progress-area-cg" style="display:none">成功提交订单</div>
                </div>
            </div>
        </div>
    </div>
<style>
	/*.address tr td { border:#F00 solid 1px; }*/
    /*没选中的 收货地址*/
    .order-address-list table{background-color:inherit; border: 0px solid #CCC;}
    .order-address-list .default{visibility:hidden;}
    /*选中的 收货地址*/	
    .address_current{ background-color:#fffde6; border: 1px solid #fadccf;} 
	.address_current .default{visibility:visible;}	
	 /*买家留言*/	
	.leiliste tr{border-bottom:1px solid #dedede}
	.user_note{float:left;}
	.user_note input{width:300px;height:34px;}
	.fzoubddv tr{border:none;border-radius: 10px;}
	.yifje-order{border-top:none;border-bottom:1px solid #dbdbdb}
	.leiliste tr{border:0 none;}
  .but2{display:none;}
 .customization{
        float: left !important;
        color: red !important;
        border: 1px solid red;
        font-size: 0.512rem !important;
        width: 2.389rem;
        height: 0.98rem;
        text-align: center;
        line-height: 0.98rem; 
        border-radius: 0.512rem;
        margin-top:0.5rem !important;
    }
</style>
<form name="cart2_form" id="cart2_form" method="post">
    <div class="layout be-table fo-fa ma-bo-45">
    	<div class="con-info">
        	<div class="con-y-info ma-bo-35">
            	<h3 style="margin-top:30px">收货人信息<b>[<a href="javascript:void(0);" onClick="add_edit_address(0);">使用新地址</a>]</b></h3>
                <div id="ajax_address"><!--ajax 返回收货地址--></div>
            </div>
        	<div class="con-y-info ma-bo-35 con-h">
            	<h3>发票信息<em>(请谨慎选择发票抬头，订单出库后不能修改)</em></h3>
                <div class="order-invoice-list">
            		<ul>
            		<li>
                    	<div class="invoice-main fl"><label for="dw">发票抬头:</label></div>
                        <div class="invoice-sub fl">
                        	<label class="inv-label">
                        		<input class="officdw" type="text" name="invoice_title" placeholder="XX单位 或 XX个人" />
                                <input type="hidden" name="source" value="pc">
                            </label>
                        </div>
                    </li>
            	</ul>
            	</div>
                <p class="tips"><em>注意：</em>如果商品由第三方卖家销售，发票内容由其卖家决定，发票由卖家开具并寄出</p>
            </div>


			
        </div>
		<div class="con-y-info ma-bo-35 con-h" style="margin-bottom:0;"><h3>您购买的以下商品<h3></div>
        <div class="sc-area">
        	<div class="dt-order-area">
            	<div class="order-pro-list" style="border:1px solid #28c0c6">
                	<div class="order-pro-list">
                    	<div class="yxspy">
                        	
                        	<div class="bv">
                            	<table border="0" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="tr-pro">商品</th>
                                            <th class="tr-price">单价（元）</th>
                                            <if condition="($user[discount] neq 1)">
                                            	<th class="tr-price">会员折扣价</th>
                                            </if>
                                            <th class="tr-quantity">数量</th>
                                            <th class="tr-subtotal">小计（元）</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="leiliste">
                        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                               
                                <foreach name="cartList" item="v"  key="k">
									
								<thead>

								<tr style="background:#f7f7f7;height:30px;border-bottom:1px solid #dedede;">
								 <td class="tr-pro tr-pro-1"colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;店铺名称：{$v.supplier_name} </td></tr>
								 <foreach name="v.list" item="v2"  key="ko">
                                 <if condition="$v2[selected] eq '1' or $v2[selected] eq '2'">
                                    <tr>
                                        <td class="tr-pro">
                                            <ul class="pro-area-2 pro-area-02">
                                                <li  >
                                                  <a title="{$v2.goods_name}" target="_blank" href="{:Url('Home/Goods/goodsInfo',array('id'=>$v2[goods_id]))}" seed="item-name">
												  <img src="{$v2.goods_thumb}" style="height:80px;width:80px;float:left">&nbsp;{$v2.goods_name}</a><br />&nbsp;&nbsp;&nbsp;&nbsp;{$v2.spec_key_name}
													<br /><if condition="$v2[prom_type] eq 3"><p class="ggwc-ys-mj">满减活动：{$v2['prom']['start_time']|date="Y/m/d H:i",###} -- {$v2['prom']['end_time']|date="Y/m/d H:i",###} 单品满{$v2['prom']['money']} 减免 {$v2['prom']['expression']}</p></if>
                                                </li> 
                                            <if condition="$custom['goods_id'] eq $v2.goods_id">
                                                <div class="customization">已定制</div>
                                            </if>
                                             </ul>
                                         </td>
                                        <!-- 预付订金商品的价格为空 -->
                                        <td class="tr-price te-al">¥{$v2.goods_price}</td>
                                        <if condition="($user[discount] neq 1)">
                                        	<td class="tr-price te-al">¥{$v2.member_goods_price}</td>
                                        </if>
                                        <td class="tr-quantity te-al">{$v2.goods_num}</td>
                                        <td rowspan="1" class="tr-subtotal te-al">
                                        <p><b>￥{$v2.goods_price * $v2.goods_num}</b></p>
                                        </td>
                                    </tr>
                                    </if>
								 </foreach>
								    </thead>
                        
                                <tbody>
									
                                    <tr style="background:#f3fbfe;color:#f63;font-weight:bold;display:none;">
                                        <td class="tar" colspan=5 style="text-align:right">
                                            商品总金额：&nbsp;¥&nbsp;
                                          <em id="">{$v.total_price}</em>
                                        </td>
                                    </tr>
                                       
										
                                    <tr style="background:#f3fbfe;color:#f63;font-weight:bold">
                                        <td class="tal" colspan=3 style="border:none"> <div class="user_note"><label style="font-weight:bold;color:#333;">买家留言&nbsp;</label><input type="text" name="user_note_{$v.supplier_id}" placeholder="买家留言....."></div></td>
                                        <td class="tar" colspan=2 style="text-align:right">
                                          运费：
                                          <if condition="!empty($v.shipping_price)">
                                            <em id="">&nbsp;¥&nbsp;{$v.shipping_price}&nbsp;&nbsp;&nbsp;&nbsp;</em>
                                          <elseif condition="$v.is_free_shipping eq 1"/>
                                            商店包邮&nbsp;&nbsp;&nbsp;&nbsp;
                                          <else/>
                                            商店不包邮&nbsp;&nbsp;&nbsp;&nbsp;
                                          </if>
                                          商品总金额：&nbsp;¥&nbsp;
                                          <em>{$v.total_price - $v.order_prom_amount}</em>
                                      </td>
                                        <!--  <td class="tar" colspan=2 style="text-align:right">应付金额：&nbsp;¥&nbsp;
                                          <em>{$v.total_price - $v.order_prom_amount}</em>
                                      </td>
                                      <td class="tar" colspan=5 style="text-align:right;display:none;">优惠活动：
                                                <em><span id="order_prom_amount">-{$v.order_prom_amount}</span> </em>
                                        </td>
	
                                    </tr>                                  
                                    <tr style="background:#f3fbfe;color:#f63;font-weight:bold">
										
										<td class="tar" colspan=5 style="text-align:right">应付金额：&nbsp;¥&nbsp;
											<em>{$v.total_price - $v.order_prom_amount}</em>
									</td>	-->
									</tr> 
                                </tbody>
                            	
										
                                </foreach>   
                            
                            </table>
                        </div>
                    </div>
                </div>
             
            </div>
           <input type="hidden"  name="recommend_code" value="">
           <div class="con-y-info ma-bo-35 con-h" style="margin-bottom:0;"><h3>支付信息<h3></div>
             
           <div style="border: 1px solid #28c0c6;">  
             <div style="margin-top:20px;margin-left:20px;height:40px;" id="butimg" >
                  <img id="img1"  src="__PUBLIC__/images/but/but1.png"/>
                  <img id="img11"  src="__PUBLIC__/images/but/but2.png"/>
             </div>
             <div id="butdiv"  style="width:80%;margin-left:10%;background-color: #eee;height:200px;padding-top:30px;display:none;">
               <div  style="border:1px solid #eee;border-radius:10px;width:90%;margin-left:5%;background-color: #fff;height:100px;" >
                 
                 <div style="margin-left:30%;width:40%;height:40px;margin-top:30px;border:1px solid #eee;border-radius:5px;">
                     <input id="use" name="couponCode" style="height:40px;margin-left:2%;widht:60%; outline: none;" placeholder="请输入优惠券码" />
                     <div  id="uses" style="height:40px;float:right;background-color: #eee;color:#000;width:100px;" ><p style="height:40px;line-height:40px;width:100px;text-align:center;">激活并使用</p></div><!---->
                 </div>
               </div>
               <p style="margin-left:5%;margin-top:10px;">提示</p>
               <p style="margin-left:5%;margin-top:5px;">1.优惠券只能用于部分指定商品；</p>
               <p style="margin-left:5%;margin-top:5px;">2.每个优惠券码只能使用一次。</p>
             </div>
             <div style="height:180px;">
              <div style="width:85%;float:left;">
              
               <div style="float:right;margin-top:20px;text-align:right;">
                 <p style="margin-top:10px;">商品金额：</p>
                 <p style="margin-top:10px;">满减金额：</p>
                 <p style="margin-top:10px;">优惠券：</p>
                 <p style="margin-top:10px;">运费：</p>
                 <p style="margin-top:10px;font-size:20px;margin-bottom:10px;font-weight:700;">待支付：</p>
                </div>
               </div>
             
            
             <div style="text-align:center;margin-top:20px;width:15%;float:right">
             <!-- {$total_price.total_fee} -->
               <p style="margin-top:10px;">￥{$total_price.total_fee}</p>
               <p id="code" style="margin-top:10px;">￥{$total_price.order_prom_amount}</p>
               <p id="code" style="margin-top:10px;">￥{$total_price.order_prom_amount_l}</p>
               <p style="margin-top:10px;">￥{$total_price.shipping_price}</p>
               
                 <p id="total_price" style="margin-top:10px;font-size:20px;margin-bottom:10px;font-weight:700;color: #e01d20;">￥{$total_price.total_fee - $total_price.order_prom_amount - $total_price.order_prom_amount_l + $total_price.shipping_price}</p>
             </div>
               </div>
           </div>
           <input type="hidden" name="selected" value="{$selected}">  
              <div class="order-action-area te-al-ri">
            	<div class="woypdbe sc-acti-list pa-to-20">
                    <a class="Sub-orders gwc-qjs" href="javascript:void(0);" onClick="submit_order();"><span>提交订单</span></a>
                </div>
             </div>
        </div>
      
    </div>
</form>    
   
<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->    
      
<script>
  
  var x=0;
  
  $(document).ready(function(){   
    
         //输入优惠券位数获取  
          // $("#uses").attr("disabled","disabled");
          $("#img11").css("display","none");
          $("#use").on("input",function(e){    
                x=e.delegateTarget.value.length;//获取input输入的值的长度
                if(x==8){
               //   $("#uses").attr("disabled","");
                $("#uses").css({"background-color":"#FBE4E5","color":"red"});
               
                }
                if(x>8){
                   $("#use").val('');
                   $("#uses").css({"background-color":"#eee","color":"#000"});
                  // $("#uses").attr("disabled","disabled");
                };
                
            });
    
    //是否使用优惠券
    $("#butimg>img").click(function(){
        $(this).css("display","none");
        $(this).siblings().css("display","block");
        var index=($(this).index());
      
        if(index==0){
          $("#butdiv").css("display","block");
       
        }else{ $("#butdiv").css("display","none")}
    });
 

});
   
    $('#uses').on('click', function(){
    
   
      $.ajax({
		     url:"/index.php?m=Home&c=Cart&a=ajaxCode&code="+$("#use").val(),
        	 dataType: "json",
  			 success: function(data){
				if(data.status=='1'){
                  
                   	$('#code').html('-￥'+data.result.code_price);
                  	$('#total_price').html('￥'+data.result.total_price);
                  	$("#butdiv").css("display","none");
                    
                    $("#img11").css("display","none");
                    $("#img1").css("display","block");
                   }else{
                      
                       layer.open({
      				   type: 1,
      				   area: ['350px', '200px'],
      				   shadeClose: true, //点击遮罩关闭
      				   title: '\<\img src="__PUBLIC__/images/but/but3.png" style="height:100%;"\/>',
      				   content: '\<\div style="padding:30px;">'+data.msg+'\<br>\<br>请检查：\<br>1.激活码字符或位数是否正确；\<br>2.激活码是否已过有效期\<\/div>'
   					 });
                   
                   
                   }             
             }
		  });

  });

  
</script>

<script>
$(document).ready(function(){
	ajax_address(); // 获取用户收货地址列表
});
 
 

/**
* 新增修改收货地址
* id 为零 则为新增, 否则是修改
*  使用 公共的 layer 弹窗插件  参考官方手册 http://layer.layui.com/
*/
function add_edit_address(id)
{
	if(id > 0) 
		var url = "/index.php?m=Home&c=User&a=edit_address&scene=1&call_back=call_back_fun&id="+id; // 修改地址  
	else
		var url = "/index.php?m=Home&c=User&a=add_address&scene=1&call_back=call_back_fun";	// 新增地址
	layer.open({
		type: 2,
		title: '添加收货地址',
		shadeClose: true,
		shade: 0.8,
		area: ['880px', '580px'],
		content: url,
	}); 	
} 
// 添加修改收货地址回调函数 
function call_back_fun(v){	 
	layer.closeAll(); // 关闭窗口
	ajax_address(); // 刷新收货地址	
}

// 删除收货地址
function del_address(id)
{
    if(!confirm("确定要删除吗?"))
	  return false;
	  
	  $.ajax({
		     url:"/index.php?m=Home&c=User&a=del_address&id="+id,
  			 success: function(data){
				ajax_address(); // 刷新收货地址
             
             }
		  });	  	  
}
 
/*
* ajax 获取当前用户的收货地址列表
*/
function ajax_address(){
	$.ajax({
		url:"{:Url('Home/Cart/ajaxAddress')}",//+tab,
		success: function(data){
			$("#ajax_address").html('');
			$("#ajax_address").append(data);
			
		}
	});
}


 
// 切换收货地址
function swidth_address(obj)
{
    var province_id = $(obj).attr('data-province-id');
    var city_id = $(obj).attr('data-city-id');
    var district_id = $(obj).attr('data-district-id');

    $(".order-address-list").removeClass('address_current');
    $(obj).parent().parent().parent().parent().parent().addClass('address_current');

}


// 提交订单
ajax_return_status = 1;
function submit_order()
{
	if(ajax_return_status == 0)
	    return false;
		
	ajax_return_status = 0;	
		
	$.ajax({
		type : "POST",
		url:"{:Url('Home/Cart/cart3')}",//+tab,
		data : $('#cart2_form').serialize()+"&act=submit_order",// 你的formid
        dataType: "json",
		success: function(data){
												
			if(data.status != '1')
			{
				// alert(data.msg); //执行有误
				layer.alert(data.msg, {icon: 2,time: 3000},
				function(){ // 关闭后执行的函数
					if(data.result == -1){ 
					 location.href ="{:Url('Home/Cart/cart')}";
          }
					
					// 登录超时
				if(data.status == -100){ 
					 location.href ="{:Url('Home/User/login')}";
          }
			});
				
				
				
				ajax_return_status = 1; // 上一次ajax 已经返回, 可以进行下一次 ajax请求
				
				return false;
			}else if(data.status == 1){
        console.log(data);     
        return;
        $("#postFee").text(data.result.postFee); // 物流费
        $("#couponFee").text(data.result.couponFee);// 优惠券      
        $("#balance").text(data.result.balance);// 余额 
        $("#pointsFee").text(data.result.pointsFee);// 积分支付     
        $("#payables").text(data.result.payables);// 应付 
        $("#order_prom_amount").text(data.result.order_prom_amount);// 订单 优惠活动                  

        layer.msg('订单提交成功，跳转支付页面!', {
          icon: 1,   // 成功图标
          time: 2000 //2秒关闭（如果不配置，默认是3秒）
        }, function(){ // 关闭后执行的函数
            location.href = "/index.php?m=Home&c=Cart&a=payment&order_id="+data.result; // 跳转到结算页
        }); 
      }		
		}
	});	
}
  function getCookie(name)
	{
		var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
		if(arr=document.cookie.match(reg))
		return unescape(arr[2]);
		else
		return null;
	}

    function getRecode(){
		 var  recode = getCookie("recode");
		 if(recode != ""){
		 	$('input[name="recommend_code"]').val(recode);	
		 }
	}/*用window.onload调用getCookie()*/
	window.onload=getRecode;//不要括号
</script>
</body>
</html>
