<include file="public/layout" />
<style>
    .err{color:#F00; display:none;}
</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>订单管理 - 订单导入</h3>
                <h5>网站系统订单导入详情页</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post" enctype="multipart/form-data" >
        <div class="ncap-form-default">
            <input name="excel1" type="hidden" class="form-control" id="11k" value="1111">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择导入订单</label>
                </dt>
                <dd class="opt">
                    <input name="excel" type="file" class="form-control" id="excel">
                        <!--<a href="javascript:exportReportru()">-->
                            <!--<button class="btn btn-lg btn-primary btn-block">导入</button>-->
                        <!--</a>-->
                </dd>
            </dl>

            <div class="bot"><a onclick="verifyForm()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function verifyForm(){

        var formData  = new FormData($("#handleposition")[0]);
         console.log(formData);
        $('span.err').hide();
        $.ajax({
            type: "POST",
            url: "{:Url('Admin/Excel/daoru')}",
            data: formData,
            processData: false,   // jQuery不要去处理发送的数据
            contentType: false,   // jQuery不要去设置Content-Type请求头
            error: function (data) {
                // console.log(data);
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                console.log(data);
                var jsObject = JSON.parse(data); //转换为json对象
                console.log(jsObject);
                layer.alert(jsObject.msg);
                // if (data.status == 1) {
                //     layer.msg(data.msg, {
                //         icon: 1,
                //         time: 1000
                //     }, function(){
                //         //location.href = "{:Url('Admin/Order/supplier_order')}";
                //     });
                // } else {
                //     layer.msg(data.msg, {icon: 2,time: 1000});
                //     $.each(data.result, function (index, item) {
                //         $('#err_' + index).text(item).show();
                //     });
                // }
            }
        });
    }

</script>
</body>
</html>