<include file="public/header" title="搜索"  body=""/>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”>
<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
<link rel="stylesheet" href="/min/?b=public/static/mobile/css&f=style.css,swiper.min.css,mobile.css,bootstrap.min.css,wapstyle.css">
<style>
	.layui-m-layercont{
		font-size: .8rem;
	}
	.clearfix:after{
		clear:both;
		height:0;
		content:"";
		overflow:hidden;
		visibility:hidden;
		display:block;
	}
	.clearfix{
		clear:both;
		zoom:1;
	}
	/* 重置css  start  */

	.search2 .logo{
		display: inline-block;
		float: left;
		margin-left: .5rem;
	}
	.search2 .logo img{
		display: inline-block;
		width: 2rem;
		margin-top: .15rem;
		/*height: 1.2rem;*/
	}
	/* 重置css  end  */



	/* 这段重置css 需要优先级高 */
	.search_pl{
		padding: .4rem 0;
		background: #fafafa;
		margin-top: 0;
	}
	.return{
		display: block;
		width: 1.8rem;
		height: 1.2rem;
		margin-left: 0;
		float: left;
		overflow: hidden;
		text-align: center;
		line-height: 1.2rem;
		font-size: .5rem;
		color: #777;
		border: none;
		background: none;
	}
	.return img{
		display: inline-block;
		width: .5rem;
		height: auto;
	}
	.le_inp{
		margin-left: .5rem;
		display: inline-block;
		float: left;
	}
	#searchText{
		font-size: .56rem;
		height: 1.2rem;
		color: #333;
	}
	.searchBtn{
		display: block;
		width: 1.2rem;
		height: 1.2rem;
		text-align: center;
		line-height: 1.2rem;
		/*background: #e6002d;*/
		float: left;
		color: #fff;
		font-size: .56rem;
		margin-left: .4rem;
	}
	.searchBtn img{
		display: inline-block;
		width: 1rem;
		height: auto;
	}
	.maleri30 span{
		font-size: .64rem;
	}
	.searched-list li{
		float: left;
		border: 1px solid #ccc;
		margin-right: .6rem;
		margin-bottom: .6rem;
	}
	.lb_showhide .searched-list li a{
		 display: block;
		 border: none;
		 padding: .24rem .48rem;
		 font-size: .5rem;
		 color: #555;
		 text-decoration: none;
	 }
	.lb_showhide .searched-list li a span{
		text-align: center;
		display: block;
		border: none;
		padding: .24rem .48rem;
		font-size: .7rem;
		color: #555;
		text-decoration: none;
	}
	.search-type{
		width: 100%;
		height: 2rem;
		border-bottom: 1px solid #ccc;
	}
	.search-type .search-type-tab{
		/*overflow: hidden;*/
		/*text-align: center;*/
		position: relative;
		width: 7rem;
		margin: 0 auto;
	}
	.search-type .search-type-tab span{
		display: inline-block;
		line-height: 2rem;
		font-size: .6rem;
		width: 3rem;
		text-align: center;
		margin-right: 1rem;
		float: left;
	}
	.search-type .search-type-tab span:last-of-type{
		margin-right: 0;
	}
	.search-tab-line{
		position: absolute;
		width: 3rem;
		height: 2px;
		background: #e6002d;
		left: 0;
		bottom: -1px;
	}
	.search-type-tab .colorTab{
		color: #e6002d;
	}


	/* 模糊搜索 */
	.item {
		padding: .3rem .4rem;;
		cursor: pointer;
		border-bottom: 1px solid #efefef;
		font-size: .56rem;
	}
	.addbg {
		background: #87A900;
	}
	#append {
		/*border: solid #87A900 2px;*/
		border-top: 0;
		display: none;

		position: absolute;
		width: 100%;
		left: 0;
		top: 2.2rem;
		background: #fff;
		z-index: 10000;
	}

</style>
	<div class="p search_pl">
		<!--<div class="maleri30">-->
			<div class="search2">
				<a href="/" class="logo"><img src="__STATIC__/images/logo.png" alt="【一礼通商城】礼品商城_礼品采购_高端创意礼品_大型礼品网站"></a>
				<form method="post" action="{:Url('Goods/search')}" id="sourch_form">
					<div class="le_inp" id="content">
						<input type="text" name="q" id="searchText" value=""  placeholder="搜索商品/店铺" onKeyup="getContent(this);">
						<div id="append"></div>
					</div>
					<input type="hidden" id="searchVal" value="1">
					<input type="submit" class="return" id="submit" value="搜索" onClick="submitForm()">
					<!--<a href="javascript:history.go(-1)" class="return">取消</a>-->
				</form>
			</div>
		<!--</div>-->
	</div>

	<div class="search-type">
		<div class="search-type-tab clearfix">
			<span class="colorTab">礼品<input type="hidden" value="1"></span>
			<span>店铺<input type="hidden" value="2"></span>
			<div class="search-tab-line"></div>
		</div>
	</div>

	<div class="near-le-ri p">
		<div class="maleri30">
			<span id="hotSearch">热门搜索:(以下以为您推荐了如下{$hot_count}个热门<span class="gs">礼品</span>)</span>
		</div>
	</div>
	<div class="lb_showhide se_shien p" style="display: block;">
		<div class="maleri30">
			<ul class="searched-list">
				<foreach name="hot_list" item="vo">
					<li><a href="{:Url('Goods/goodsInfo',array('id'=>$vo[goods_id]))}"><img src="{$vo[goods_thumb]}"><span>{$vo['goods_name']}</span></a></li>
				</foreach>
			</ul>
		</div>
	</div>

        <!--底部导航-start-->
	<include file="public/footer"/>
	<!--底部导航-end-->
</body>
<script type="text/javascript">
	function getContent(obj) {
		$.ajax({
			type: 'POST',
			url: "{:Url('Goods/keywords_goods')}",
			data:{
				keyword: $('#searchText').val()
			},
			dataType: 'json',
			success: function(data){
				var searchText = jQuery.trim($(obj).val());
				if (searchText == "") {
					$("#append").hide().html("");
					return false;
				}
				//遍历历史搜索关键字
				var html = "";
				for (var i = 0; i < data.length; i++) {
					html += "<div class='item' >" + "<a style='text-decoration: none;' onClick='getLink(this)' class='goods'>"+data[i] +"</a>"+ "</div>";
				}
				//判断如果没有就隐藏
				if (html != "") {
					$("#append").show().html(html);
				} else {
					$("#append").hide().html("");
				}
				//鼠标移动关键字赋值给input搜索框
				$(".goods").mousemove(function(){
					var currentText=$(this).text();
					$("#searchText").val(currentText);
				});
				return html;
			}
		});
	}

	function getLink(keywords) {
		var data=$(keywords).text();
		$.ajax({
			type: 'POST',
			url: "{:Url('Goods/search')}",
			data: 'q='+data,

			success: function (data) {
				var html="";
				html+=data;
				$("body").html(html);
			}
		});
	}


	//礼品 店铺 搜索
	function submitForm(){
		if($.trim($('#searchText').val()) != ''){
			if($('#searchVal').val() == 1){
				//$('#sourch_form').attr("action","{:Url('Goods/ajaxSearch')}");	
                $('#sourch_form').attr("action","{:Url('Goods/search')}");
				$('#sourch_form').submit();
			}else if($('#searchVal').val() == 2){
				$('#sourch_form').attr("action","{:Url('Supplier/supplierList')}");
				$('#sourch_form').submit();
			}
		}else{
			layer.open({content:'请输入搜索关键字',time: 2000});
		}
	}

	$(function () {
		//搜索类型切换
		$('.search-type-tab span').click(function () {
			var index = $(this).index();
			$(this).addClass('colorTab').siblings('span').removeClass('colorTab');
			if(index == 0){
				$('.search-tab-line').animate({left: '0px'}, 150);
				$('#searchVal').val($(this).find('input').val());
				var gift=$('#searchVal').val();
				$.ajax({
					data : "gift="+gift,
					type : 'POST',
					url : "{:Url('mobile/Goods/ajaxSearch')}",
					async : false,
					success : function (data){
//						console.log(data);
						var html="";
						html+='<foreach name="hot_list" item="vo">';
						html+="<li><a href='{:Url('Goods/goodsInfo',array('id'=>$vo[goods_id]))}'><img src='{$vo[goods_thumb]}'><span>{$vo['goods_name']}</span></a></li>";
						html+='</foreach>';
						$('.searched-list').html(html);
						$('.gs').html('礼品');
					}
				});
			}else{
				$('.search-tab-line').animate({left: '4rem'}, 150);
				$('#searchVal').val($(this).find('input').val());
				var gift=$('#searchVal').val();
				$.ajax({
					data : "gift="+gift,
					type : 'POST',
					url : "{:Url('mobile/Goods/ajaxSearch')}",
					async : false,
					success : function (data){
//						console.log(data);
						var html="";
						html+='<foreach name="hot_list" item="vo">';
						html+="<li><a href='{:Url('mobile/supplier/index',array('id'=>$vo[supplier_id]))}'><img src='{$vo[logo]}'><span>{$vo['supplier_name']}</span></a></li>";
						html+='</foreach>';
						$('.searched-list').html(html);
						$('.gs').html('店铺');
					}
				});
			}
		})

	})
</script>



