<include file="public/header" title="所有分类"/>
<link rel="stylesheet" href="__MOBILE__/css/mobile.css">
<link rel="stylesheet" href="__MOBILE__/css/iconfont.css">
<style>
    body{
        background: #fff;
        padding-top: 4rem;
    }
    .topAS{
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        z-index:99999;
    }
  	.catalogTab a{
        text-decoration: none;
    }
    .tp-class-list a{
        text-decoration: none;
    }
    .classlist .category1::-webkit-scrollbar {
        display: none;
    }
    .classlist .category1 li a{
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #efefef;
        border-right: 1px solid #efefef;
    }
    .classlist .category1 li:last-of-type a{
        border-bottom: none;
    }
</style>
<div class="topAS">
    <div class="classreturn">
        <div class="content">
            <div class="ds-in-bl return">
                <a href="/"><img src="__STATIC__/images/logo.png" alt="一礼通"></a>
            </div>
            <div class="ds-in-bl search" style="margin-left:15%;">
                <form action="" method="post">
                    <div class="sear-input">
                        <a href="{:Url('Goods/ajaxSearch')}">
                            <input type="text" value="" placeholder="搜索礼品/商铺/设计师">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ul class="catalogTab clearfix">
        <li><a href="{:url('Goods/gift')}" class="catalogTabAct">送礼攻略</a><span></span></li>
        <li><a href="{:url('Goods/categoryList')}">商品分类</a></li>
        <li><a href="{:url('Supplier/recsupplier')}">店铺精选</a></li>
    </ul>
</div>
<div>
    <div class="catalogTab-list" style="margin-bottom:200px; ">
        <div class="flool classlist catalogTab-col" style="background:#fff;">
            <div class="fl category1">
                <ul>
                    <assign name="m" value="0"/>
                    <foreach name="scenario_category_tree" item="vo" key="k">
                        <if condition="$vo[level] eq 1">
                            <li>
                                <a href="javascript:void(0);" <if condition="$m eq 0"></if> data-id="{$m++}">{$vo['name']|getSubstr=0,12}</a>
                            </li>
                        </if>
                    </foreach>
                </ul>
            </div>
            <div class="fr category2">
                <assign name="j" value="0"/>
                <!-- <foreach name="scenario_category_tree" key="kk" item="vo"> -->
                <foreach name="tmp" key="kk" item="vo">
                    <div class="branchList">
                        <!--广告图-s-->
                        <!--<div class="tp-bann"  data-id="{$j++}">-->
                            <!--<adv  limit="1" item="v" pid="400">-->
                                <!--<a href="{$v.ad_link}" <if condition="$v['target'] eq 1">target="_blank"</if> >-->
                                    <!--<img src="{$v[ad_code]|default='__MOBILE__/images/zy.png'}" title="{$v[title]}">-->
                                <!--</a>-->
                            <!--</adv>-->
                        <!--</div>-->
                        <!--广告图-e-->
                        <!--分类-s-->
                        <div class="tp-class-list">
                            <foreach name="vo.tmenu" item="v2" key="k2">
                            <h4><i></i><span><a href="{:Url('Goods/goodsList',array('gift_id'=>$v2[id]))}">{$v2['name']}</a></span><i></i></h4>
                                <foreach name="v2.sub_menu" item="v3" key="k3">
                                    
                                <ul>
                                    <li>
                                        <a href="{:Url('Goods/goodsList',array('gift_id'=>$v3[id]))}">
                                            <!-- <div class="{$v3['icon']}"> -->

                                            <svg style="width: 4em;height: 4em;">
                                                <use xlink:href="{$v3['icon']}"></use>
                                            </svg>
                                           
                                            <p>{$v3['name']}</p>
                                        </a>
                                    </li>
                                </ul>

                                </foreach>
                             <div style="clear:both;"></div>
                            </foreach>

                        </div>
                        <!--分类-e-->
                    </div>
                </foreach>
            </div>
        </div>
    </div>
</div>



  <!--   <div class="catalogTab-list">
        <div class="catalogTab-col">
            <volist name="tmp" id="v">
                <div class="catalog-list-col">
                    <h6 class="catalog-title">{$v.name}</h6>

                    <ul class="catalog-list">
                        <volist name="$v.tmenu" id="v2">
                        <li>
                            <a href="{:Url('Goods/goodsList',array('gift_id'=>$v2[id]))}">
                                <img src="{$v2.image}" alt="">
                            </a>
                        </li>
                        </volist>
                    </ul>

                </div>
            </volist>
        </div>
    </div> -->

    <!--底部-start-->
    <include file="public/footer"/>
    <!--底部-end-->

<script src="__MOBILE__/js/iconfont.js"></script>
<script src="//at.alicdn.com/t/font_1350285_08dqmif5owi5.js"></script>
<script>
    $(function () {
        //点击切换2 3级分类
        var array=new Array();
        $('.category1 li').each(function(){
            array.push($(this).position().top-0);
        });
        $('.branchList').eq(0).show().siblings().hide();
        $('.category1 li').click(function() {
            var index = $(this).index() ;
            $('.category1').delay(200).animate({scrollTop:array[index]},300);
            $(this).addClass('cur').siblings().removeClass();
            $('.branchList').eq(index).show().siblings().hide();
            $('.category2').scrollTop(0);
        });
    });
</script>
	</body>
</html>
