<include file="public/header" title="爱情礼品" body="pore_add"/>
<link rel="stylesheet" href="__MOBILE__/css/mobile.css">

<style>
    body{
        background: #fff;
        padding-top: 1.8rem;
    }
    .collect-goods-title{
        width: 100%;
        height: 1.8rem;
        line-height: 1.8rem;
        text-align: center;
        font-size: .6rem;
        background: #fff;
        border-bottom: 1px solid #efefef;
        position: fixed;
        left: 0;
        top: 0;
    }
    .collect-goods-title a{
        width: .46rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        position: absolute;
        left: .7rem;
        top: .46rem;
    }

</style>

<div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>{$category.mobile_name}</div>
    
<div class="love-gift-banner"><img src="{$category.image}" alt=""></div>

<div class="love-gift-nav">
    <ul class="love-gift-navList">
	<foreach name="list" item="v" key="k" >
        <li>
            <a href="{:Url('Goods/goodsList_S',array('id'=>$v[g_id]))}">
                <img src="{$v.image}" alt="">
                <p>{$v.mobile_name}</p>
            </a>
        </li>
	</foreach>
    </ul>
</div>

<script>
    $(function () {
        //
    })
</script>
</body>
</html>
