<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="320" name="MobileOptimized">
    <link rel="stylesheet" type="text/css" href="__MOBILE__/css/zq_index.css"/>
    <title>电器兑换专区</title>
  </head>
  <body>
    <div class="container">
      
        <img src="/public/static/images/dianqi/1.png" >
      
      <a href="{:Url('Goods/goodsInfo',array('id'=>5657))}">
        <img src="/public/static/images/dianqi/2.png" >
      </a>
      
        <img src="/public/static/images/dianqi/3.png" >
      
      <a href="{:Url('Goods/goodsInfo',array('id'=>5656))}">
        <img src="/public/static/images/dianqi/4.png" >
      </a>
      
        <img src="/public/static/images/dianqi/5.png" >
      
      <a href="{:Url('Goods/goodsInfo',array('id'=>5655))}">
        <img src="/public/static/images/dianqi/6.png" >
      </a>
      
        <img src="/public/static/images/dianqi/7.png" >
      
    </div>
  </body>
</html>
