<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="320" name="MobileOptimized">
    <link rel="stylesheet" type="text/css" href="__MOBILE__/css/zq_index.css"/>
    <title>中秋礼卡兑换专区</title>
  </head>
  <body>
    <div class="container">
      
        <img src="/public/static/images/zhongqiu/1.png" >
      
      <a href="{:Url('Goods/goodsInfo',array('id'=>6323))}">
        <img src="/public/static/images/zhongqiu/2.png" >
      </a>
      
        <img src="/public/static/images/zhongqiu/3.png" >
      
      <a href="{:Url('Goods/goodsInfo',array('id'=>6324))}">
        <img src="/public/static/images/zhongqiu/4.png" >
      </a>
      
        <!-- <img src="/public/static/images/zhongqiu/5.png" >
      
      <a href="{:Url('Goods/goodsInfo',array('id'=>5634))}">
        <img src="/public/static/images/zhongqiu/6.png" >
      </a> -->
      
        <img src="/public/static/images/zhongqiu/7.png" >
      
    </div>
  </body>
</html>
