<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>礼卡兑换/旧</title>
		<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
		<link rel="stylesheet" href="__MOBILE__/css/zixun/leftScroll.css">
		<link rel="stylesheet" type="text/css" href="__MOBILE__/css/zixun/d.css" />
	</head>
	<body>
		<div class="m">
			<div class="leftScroll">
				<ul class="leftScroll_container">
					<volist name="lists" id="list">
					<li class="leftScroll_picBox">
						<a href="/Mobile/Goods/goodsDedicated/id/{$list.id}">
							<img class="leftScroll_picBox_img" src="{$list.brand}" alt="">
							<div class="conent">
								<p class="title">{$list.name}</p>
								<div class="botto">
									<p>{$list.remark}</p>
									<span class="gun">{$list.num}/{$list.total_num}</span>
								</div>
							</div>
						</a>
					</li>
					</volist>
				</ul>
			</div>

		</div>
		<div class="donation">
			<p>赠品专区</p>
			<ul class="productlist">
				<volist name="goods" id="value">
				<li>
					<a href="{:Url('Goods/goodsInfo',array('id'=>$value[goods_id]))}"><img src="{$value[goods_thumb]}" class="imgl">
						<p class="p1">{$value[goods_name]}</p>
						<p class="p2">￥{$value[shop_price]}</p>
					</a>
				</li>
				</volist>
			</ul>
		</div>
		<script src="__MOBILE__/js/jquery-1.10.2.min.js"></script>
		<script src="__MOBILE__/js/leftScroll.js"></script>
		<script>
			$(".leftScroll").leftScroll();
		</script>
	</body>
</html>
