<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>入驻商管理</h3>
				<h5>网站入驻商待审核列表</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>入驻商管理列表, 由总平台设置管理.</li>
		</ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>入驻商管理列表</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		</div>
				<form id="search-form2" class="navbar-form form-inline"  method="post" action="{:Url('/Admin/Supplier/BusinessExamine')}">
      <div class="sDiv">             
        <div class="sDiv2">
		      <input type="text" class="qsbox" id="input-order-id" placeholder="搜索词" value="{$_POST['keyword']}" name="keyword">                                        
          <input type="submit" class="btn" value="搜索">
        </div>
      </div>
	   	<div class="tDiv2">
				<div class="fbutton"> 
					
						<div class="add" title="选定行数据导出excel文件,如果不选中行，将导出列表所有数据">
						<input type="hidden" name="code" class="btn" value="export">
							<span><i class="fa fa-plus"></i><input type="submit" name="export" class="btn" value="导出未成功申请数据"></span>
						</div>
					
				 </div>

		</div>
     </form>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 120px;" class="">公司名称</div>
                        </th>
						 <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">店铺名称</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col4" class="">
                            <div style="text-align: center; width: 120px;" class="">公司地址</div>
                        </th>
            
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">公司规模</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">联系人姓名</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">手机号码</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">电子邮箱</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">经营范围</div>
                        </th>
						<th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">申请时间</div>
                        </th>

						 <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">审核状态</div>
                        </th>
						 <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">审核操作</div>
                        </th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="arr" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 150px;">{$vo.company_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$vo.supplier_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$vo.address}</div>
							</td>
					
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.guimo}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.contacts_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.contacts_phone}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.email}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.business_sphere}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.add_time|date='Y-m-d',###}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;"><if $vo[status] eq 2>审核不通过<else><if $vo[status] eq -1>店铺关闭<else>未审核</if></if></div>
							</td>
							<td align="left" class="">
								<a href="{:Url('Admin/supplier/detail',array('id'=>$vo['supplier_id']))}"><div style="text-align: left; width: 110px;">审核</div></a>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});

</script>
</body>
</html>