<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>活动专区管理</h3>
                <h5>网站系统活动专区索引与管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>活动专区, 由平台设置管理.</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>活动专区列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload" style="padding-right: 100px;" ><i class="fa fa-refresh"></i></div>
            <a href="{:Url('Mobile/Goods/dedicated_list')}" target="_blank" ><button><h3 >打开专区列表</h3></button></a>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 300px;" class="">活动专区名称</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 200px;" class="">LOGO</div>
                        </th>

                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width:200px;" class="">brand</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px; " class="">显示</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 300px;" class="">备注</div>
                        </th>

                        <th align="left" axis="col1" class="handle">
                            <div style="text-align: center; width: 300px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <a href="{:Url('Admin/Dedicated/dedicated_info')}">
                    <div class="fbutton">
                        <div title="添加活动专区" class="add">
                            <span><i class="fa fa-plus"></i>添加活动专区</span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="clear:both"></div>
        </div>
                <form class="navbar-form form-inline"  method="post"  name="search-form2" id="search-form2">

        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="lists" id="list">
                    <input type="hidden" id="id" value="{$list.id}">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 300px;">{$list.name}</div>
                            </td>
                            <td align="left" class="">
                              <div style="text-align: left; width: 200px;">
                                  <a href="{$list.logo}" target="_blank"><img onMouseOver="$(this).attr('width','80').attr('height','45');" onMouseOut="$(this).attr('width','40').attr('height','30');" width="40" height="30" src="{$list.logo}"/></a>
                              </div>
                            </td>
                            <td align="left" class="">
                              <div style="text-align: left; width: 200px;">
                                  <a href="{$list.brand}" target="_blank"><img onMouseOver="$(this).attr('width','80').attr('height','45');" onMouseOut="$(this).attr('width','40').attr('height','30');" width="40" height="30" src="{$list.brand}"/></a>
                              </div>
                            </td>
                            <td align="left" style=" margin:0 auto" class="">
                                <if condition='$list[is_show] eq 1'>

                                    <span class="yes" style="text-align: left; width: 100px;display: block ;line-height: 42px" class=""> <i class="fa fa-check-circle"></i>是</span>
                                    <else />
                                    <span class="no"  style="text-align: left; width: 100px;display: block ;line-height: 42px"><i class="fa fa-ban"></i>否</span>
                                </if>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 400px;">{$list.remark}</div>
                            </td>

                            <td align="left" class="handle">
                                <div style="text-align: left; width: 300px; max-width:170px;">
                                    <a class="btn blue" onclick="selectGoods({$list['id']})" >
                                    <i class="fa fa-search"></i>查看商品
                                    </a>
                                    <a class="btn blue" href="{:Url('Admin/Dedicated/dedicated_info',array('id'=>$list['id']))}"><i class="fa fa-pencil-square-o"></i>编辑</a>
                                    <a class="btn blue" href="javascript:void(0)" data-url="{:Url('Admin/Dedicated/del_Dedicated',array('id'=>$list['id']))}" onclick="delfun(this)"><i class="fa fa-trash-o"></i>删除</a>
                                    <a class="btn blue" href="{:Url('Mobile/Goods/goodsDedicated',array('id'=>$list['id']))}" target="_blank" ><i class="fa fa-toggle-on"></i>打开网页</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        </form>
        <!--分页位置-->
        {$page} </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

    });
    function selectGoods(id){
        var url = '/index.php?m=Admin&c=Dedicated&a=dedicated_list&id='+id+'&t='+Math.random();
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.3,
            area: ['70%', '80%'],
            content: url,
        });
    }
</script>
</body>
</html>