<include file="public/layout" />
<style>
    dd.opt table{
        width: 100%;
    }
    dd.opt tr{
        border: 1px solid #f4f4f4;
        padding: 8px;
    }
    dd.opt tr td{
        border: 1px solid #f4f4f4;
    }
</style>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.all.min.js"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<style type="text/css">
    html, body {
        overflow: visible;
    }
</style>

<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>活动管理 - 添加与编辑商品预约活动</h3>
                <h5>网站系统编辑商品预约活动</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="promotion" action="{:Url('Admin/Promotion/appointment_save')}" method="post">
        <input type="hidden" name="id" value="{$info.id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>活动名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="title" id="title" value="{$info.title}" class="input-txt">
                    <p class="notic">活动名称</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>活动类型</label>
                </dt>
                <dd class="opt">
                    <select id="prom_type" name="buy_type">
                        <option value="6" selected>预约活动</option>
                    </select>
                    <p class="notic">促销活动类型</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>预约开始时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="make_go" name="make_go" value="{$info.make_go}"  class="input-txt">
                    <p class="notic">预约开始时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>预约结束时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="make_in" name="make_in" value="{$info.make_in}" class="input-txt">
                    <p class="notic">预约结束时间，与抢购开始时间应间隔5~10分钟为后台抽签时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>抢购开始时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="purchase_go" name="purchase_go" value="{$info.purchase_go}"  class="input-txt">
                    <p class="notic">抢购开始时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>抢购结束时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="purchase_in" name="purchase_in" value="{$info.purchase_in}" class="input-txt">
                    <p class="notic">抢购结束时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>预计发货时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="express_go" name="express_go" value="{$info.express_go}" class="input-txt">
                    <p class="notic">预计发货时间</p>
                </dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label>活动规则</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" placeholder="请输入活动规则" id="post_content" name="description"  style="width:600px;min-height:120px;background:#fff;">{$info.description}</textarea>
                    <p class="notic">活动规则</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择活动商品</label>
                </dt>
                <dd class="opt">
                    <span class="err" id="err_goods" style="color:#F00; display:none;">请添加活动商品</span>
                    <p class="notic">
                        <a onclick="selectGoods()" class="ncap-btn"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>已选择的活动商品</label>
                </dt>
                <dd class="opt">
                    <table>
                        <thead>
                        <tr>
                            <th class="text-left">商品id</th>
                            <th class="text-left">商品图片</th>
                            <th class="text-left">商品名称</th>
                            <th class="text-left">商品原价</th>
							<th class="text-left">活动原价</th>
                            <th class="text-left">活动价格</th>
							<th class="text-left">库存</th>
							<th class="text-left">活动库存</th>
							<th class="text-left">排序</th>
							<th class="text-left">操作</th>
                        </tr>
                        </thead>
                        <tbody id="goods_list">
                        <foreach name="discount_goods" item="vo">
                            <tr>
                                <td style="display:none"><input type="checkbox" name="goods_id[]" checked="checked" value="{$vo.goods_id}"/></td>
                                <td class="text-left">{$vo.goods_id}</td>
                                <td class="text-left"><input type="hidden" name="goods_thumb[]" value="{$vo.goods_thumb}"/><img style="width:40px;height:40px" src="{$vo.goods_thumb}"/></td>
                                <td class="text-left"><input type="hidden" name="goods_name[]" value="{$vo.goods_name}"/>{$vo.goods_name}</td>
                                <td class="text-left"><input type="hidden" name="market_price[]" value="{$vo.market_price}"/>{$vo.market_price}</td>
								<td class="text-left"><input type="text"   name="activity_market_price[]" value="{$vo.activity_market_price}"/></td>
                                <td class="text-left"><input type="text"   name="activity_price[]"  value="{$vo.activity_price}"/></td>
                                <td class="text-left"><input type="hidden" name="store_count[]"  value="{$vo.store_count}"/>{$vo.store_count}</td>
								<td class="text-left"><input type="text"   name="activity_count[]"  value="{$vo.activity_count}"/></td>
								<td class="text-left"><input type="text"   name="sort[]"  value="{$vo.sort}"/></td>
									<input type="hidden" name="browse_num[]" value="{$vo.browse_num}"/>
									<input type="hidden" name="order_num[]" value="{$vo.order_num}"/>
									<input type="hidden" name="buy_num[]" value="{$vo.buy_num}"/>
                                <td class="text-left"><a href="javascript:void(0)" onclick="javascript:$(this).parent().parent().remove();">删除</a></td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </dd>
            </dl>
     
            <div class="bot"><a onclick="adsubmit()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(function () {
        $('#make_go').layDate();
        $('#make_in').layDate();
        $('#purchase_go').layDate();
        $('#purchase_in').layDate();
        $('#express_go').layDate();
    });
    

    
    function adsubmit(){
        if($('#title').val() ==''){
            layer.msg('活动名称不能为空',{icon:2});return false;
        }

        var pg = [];
        //过滤选择重复商品
        $('input[name*="goods_id"]').each(function(i,o){
            pg.push($(o).val());
        });
        //检查活动开始，结束时间
        var make_go=Date.parse($('#make_go').val());
        var make_in=Date.parse($('#make_in').val());
        var purchase_go=Date.parse($('#purchase_go').val());
        var purchase_in=Date.parse($('#purchase_in').val());
        var express_go=Date.parse($('#express_go').val());
        if(make_go>=make_in){
            layer.msg('预约开始时间不得大于预约结束时间',{icon:2});return false;
        };
        if(make_in>=purchase_go){
            layer.msg('预约结束时间不得大于抢购开始时间',{icon:2});return false;
        };
        if(purchase_go>=purchase_in){
            layer.msg('抢购开始时间不得大于抢购结束时间',{icon:2});return false;
        };
        if(purchase_in>=express_go){
            layer.msg('抢购结束时间不得大于发货时间',{icon:2});return false;
        };
        if(pg.length==0){
            layer.msg('请选择商品',{icon:2});
            return false;
        }
        $('#promotion').submit();
    }
    function selectGoods(){
        var goods_id = [];
		var discount = $("input[name='discount']").val();;

        //过滤选择重复商品
        $('input[name*="goods_id"]').each(function(i,o){
            goods_id.push($(o).val());
        });
		
		if(goods_id != ''){
			var url = '/Admin/Promotion/add_discount_goods/goods_id/'+goods_id+'/discount/'+discount+'/'+Math.random();
		}else{
			var url = '/Admin/Promotion/add_discount_goods/discount/'+discount+'/'+Math.random();
		}
        
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.3,
            area: ['70%', '80%'],
            content: url,
        });
    }

    function call_back(table_html)
    {
        layer.closeAll('iframe');
        $('#goods_list').append(table_html);
    }
    $(document).ready(function(){
        $('#make_go').layDate();
        $('#make_in').layDate();
        $('#purchase_go').layDate();
        $('#purchase_in').layDate();
        $('#express_go').layDate();
    })
</script>
</body>
</html>