<include file="public/layout" />
<style>
    dd.opt table{
        width: 100%;
    }
    dd.opt tr{
        border: 1px solid #f4f4f4;
        padding: 8px;
    }
    dd.opt tr td{
        border: 1px solid #f4f4f4;
    }
</style>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.all.min.js"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<style type="text/css">
    html, body {
        overflow: visible;
    }
</style>

<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>活动管理 - 添加与编辑商品拼单活动</h3>
                <h5>网站系统编辑商品拼单活动</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="promotion" action="{:Url('Admin/Promotion/share_the_bill_save')}" method="post">
        <input type="hidden" name="id" value="{$info.id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>活动名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="title" id="title" value="{$info.title}" class="input-txt">
                    <p class="notic">活动名称</p>
                </dd>
            </dl>
            <input type="hidden" name="buy_type"  value="7"> <!--活动类型 7为预约-->
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>活动设置1</label>
                </dt>
                <dd class="opt">
                    <select name="buy_type_rule" style="margin-bottom:4px;height: 26px;">
                        <option value="1" <if condition="$info.buy_type_rule eq 1 || empty($info.buy_type_rule)"> selected </if>>用户成单</option>
                        <option value="2" <if condition="$info.buy_type_rule eq 2"> selected </if>>数量成单</option>
                    </select>
                    &nbsp;&nbsp;数量：<input type="text" name="buy_type_rule_num" value="{$info.buy_type_rule_num}"  class="input-txt" style="width:110px !important;"  placeholder="请输入成单数量">
                    &nbsp;&nbsp;成单时效：<input type="text" name="buy_type_rule_time" value="{$info.buy_type_rule_time}"  class="input-txt" style="width:200px !important;"  placeholder="有效时间24小时内则输入：24">
                    <p class="notic">拼单活动规则，满足规定的用户参与量或满足规定的商品数量</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>活动设置2</label>
                </dt>
                <dd class="opt">
                    <select name="buy_type_purchase" style="margin-bottom:4px;height: 26px;">
                        <option value="1" <if condition="$info.buy_type_purchase eq 1 || empty($info.buy_type_purchase)"> selected </if>>限购</option>
                        <option value="2" <if condition="$info.buy_type_purchase eq 2"> selected </if>>不限购</option>
                    </select>
                    &nbsp;&nbsp;起购量：<input type="text" name="buy_type_purchase_num" value="{$info.buy_type_purchase_num}"  class="input-txt" style="width:110px !important;"  placeholder="限购时设置">
                    &nbsp;&nbsp;限购量：<input type="text" name="buy_type_purchase_num_s" value="{$info.buy_type_purchase_num_s}"  class="input-txt" style="width:200px !important;"  placeholder="限购时设置">
                    <p class="notic">拼单活动规则，设置是否限购及限购的上限和下限</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>拼单活动开始时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="start_time" name="start_time" value="{$info.start_time}"  class="input-txt">
                    <p class="notic">拼单活动开始时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>拼单活动结束时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="end_time" name="end_time" value="{$info.end_time}" class="input-txt">
                    <p class="notic">拼单活动结束时间</p>
                </dd>
            </dl>
            
			<dl class="row">
                <dt class="tit">
                    <label>活动规则</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" placeholder="请输入活动规则" id="post_content" name="description"  style="width:600px;min-height:120px;background:#fff;">{$info.description}</textarea>
                    <p class="notic">活动规则</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择活动商品</label>
                </dt>
                <dd class="opt">
                    <span class="err" id="err_goods" style="color:#F00; display:none;">请添加活动商品</span>
                    <p class="notic">
                        <a onclick="selectGoods()" class="ncap-btn"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>已选择的活动商品</label>
                </dt>
                <dd class="opt">
                    <table>
                        <thead>
                        <tr>
                            <th class="text-left">商品id</th>
                            <th class="text-left">商品图片</th>
                            <th class="text-left">商品名称</th>
                            <th class="text-left">商品原价</th>
							<th class="text-left">活动原价</th>
                            <th class="text-left">活动价格</th>
							<th class="text-left">库存</th>
							<th class="text-left">活动库存</th>
							<th class="text-left">排序</th>
							<th class="text-left">操作</th>
                        </tr>
                        </thead>
                        <tbody id="goods_list">
                        <foreach name="discount_goods" item="vo">
                            <tr>
                                <td style="display:none"><input type="checkbox" name="goods_id[]" checked="checked" value="{$vo.goods_id}"/></td>
                                <td class="text-left">{$vo.goods_id}</td>
                                <td class="text-left"><input type="hidden" name="goods_thumb[]" value="{$vo.goods_thumb}"/><img style="width:40px;height:40px" src="{$vo.goods_thumb}"/></td>
                                <td class="text-left"><input type="hidden" name="goods_name[]" value="{$vo.goods_name}"/>{$vo.goods_name}</td>
                                <td class="text-left"><input type="hidden" name="market_price[]" value="{$vo.market_price}"/>{$vo.market_price}</td>
								<td class="text-left"><input type="text"   name="activity_market_price[]" value="{$vo.activity_market_price}"/></td>
                                <td class="text-left"><input type="text"   name="activity_price[]"  value="{$vo.activity_price}"/></td>
                                <td class="text-left"><input type="hidden" name="store_count[]"  value="{$vo.store_count}"/>{$vo.store_count}</td>
								<td class="text-left"><input type="text"   name="activity_count[]"  value="{$vo.activity_count}"/></td>
								<td class="text-left"><input type="text"   name="sort[]"  value="{$vo.sort}"/></td>
								<input type="hidden" name="browse_num[]" value="{$vo.browse_num}"/>
								<input type="hidden" name="order_num[]" value="{$vo.order_num}"/>
								<input type="hidden" name="buy_num[]" value="{$vo.buy_num}"/>
                                <td class="text-left"><a href="javascript:void(0)" onclick="javascript:$(this).parent().parent().remove();">删除</a>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </dd>
            </dl>
     
            <div class="bot"><a onclick="adsubmit()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(function () {
        $('#start_time').layDate();
        $('#end_time').layDate();
    });
    
    function adsubmit(){
        if($('#title').val() =='' || $('#buy_type_rule_num').val() =='' || $('#buy_type_rule_time').val() ==''){
            layer.msg('内容不能为空',{icon:2});return false;
        }

        if ($("select[name='buy_type_purchase']").val() == 1) {
            var buy_type_purchase_num = $('input[name="buy_type_purchase_num"]').val();
            var buy_type_purchase_num_s = $('input[name="buy_type_purchase_num_s"]').val();
            if ($("select[name='buy_type_rule']").val() == 1 &&(buy_type_purchase_num_s == '' ||  buy_type_purchase_num_s == 0)) {
                layer.msg('用户成单下需要设置限购量',{icon:2});return false;
            }else if($("select[name='buy_type_rule']").val() == 2 &&(buy_type_purchase_num == '' ||  buy_type_purchase_num == 0)){
                layer.msg('数量成单下需要设置起购量',{icon:2});return false;
            }
        }
        var pg = [];
        //过滤选择重复商品
        $('input[name*="goods_id"]').each(function(i,o){
            pg.push($(o).val());
        });
        //检查活动开始，结束时间
        var start_time=Date.parse($('#start_time').val());
        var end_time=Date.parse($('#end_time').val());
        if(start_time>=end_time){
            layer.msg('拼单开始时间不得大于拼单结束时间',{icon:2});return false;
        };
        if(pg.length==0){
            layer.msg('请选择商品',{icon:2});
            return false;
        }
        $('#promotion').submit();
    }
    function selectGoods(){
        var goods_id = [];
		var discount = $("input[name='discount']").val();;

        //过滤选择重复商品
        $('input[name*="goods_id"]').each(function(i,o){
            goods_id.push($(o).val());
        });
		
		if(goods_id != ''){
			var url = '/Admin/Promotion/add_discount_goods/goods_id/'+goods_id+'/discount/'+discount+'/'+Math.random();
		}else{
			var url = '/Admin/Promotion/add_discount_goods/discount/'+discount+'/'+Math.random();
		}
        
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.3,
            area: ['70%', '80%'],
            content: url,
        });
    }

    function call_back(table_html)
    {
        layer.closeAll('iframe');
        $('#goods_list').append(table_html);
    }
    $(document).ready(function(){
        $('#start_time').layDate();
        $('#end_time').layDate();
    })
 //    function img_call_back(fileurl_tmp)
 //    {
 //        $("#pc_img").val(fileurl_tmp);
 //        $("#img_a").attr('href', fileurl_tmp);
 //        $("#img_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
 //    }
	// function img_call_app(fileurl_tmp)
 //    {
 //        $("#app_img").val(fileurl_tmp);
 //        $("#img_app").attr('href', fileurl_tmp);
 //        $("#img_ipp").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
 //    }
</script>
</body>
</html>