<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>产品列表</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/productlist.css" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" media="screen" />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .containerp {
            height: auto;
        }
    </style>
</head>

<body>
    <div id="vue_index">
        <div class="containerT">
            <div class="top">
                <a :href="['index.html']"><img src="img/logo.png" width="132px" height="39px"></a>
                <a href="index.html" class="shouye">首页</a>
                <div class="input-group search">
                    <input type="text" class="form-control form-searchbox" placeholder="搜索品牌名称" v-model="keyword" @keyup.enter="sousuo(keyword)">
                    <span class="input-group-btn">
					<button class="btn btn-default btn-searchb" type="button" @click="sousuo(keyword)">
						搜索
					</button>
				</span>
                </div>
                <div class="shopcart">
                    <img src="img/icon_cart.png">
                    <a class="text" href="shopcart.html">购物车</a>
                    <a class="number" v-if="cartLength!=''">{{cartLength}}</a>
                </div>
                <img src="img/hz_header.png" width="50px" height="50px" class="headicon" @click="onUsercenter">
                <div class="userlist" v-show="userc">
                    <!-- <p class="username">杭州西湖国际中心的</p> -->
                    <p @click="UserCenter">用户中心</p>
                    <p @click="Lagout">退出登录</p>
                </div>
            </div>
        </div>
        <div class="containerp">
            <div class="conentya">
                <!-- <ul class="swiper_title">
                    <block v-for="it in pinpailist">
                        <li v-for="(item,index) in it" :class="{active:item.id==currentItem}" @click.stop="page_html=1,getCategeProduct(item.id)">
                            <span class="spand">{{item.name}}</span>
                        </li>
                    </block>

                </ul> -->
                <div class="du">
                    <div class="hz_fenlei">

                    </div>
                    <ul class="productlist" v-if="productlist.length!==0">
                        <li v-for="item in productlist">
                            <a target="_blank" :href="['productDetail.html?goods_id='+item.goods_id]" target="_blank"><img :src="baseUrl+item.goods_thumb" width="240px" height="240px">
                                <p class="goods_name">{{item.goods_name}}</p>
                                <p class="price" v-if="item.parent_id_path==28">￥{{item.market_price}}</p>
                                <!-- <p class="price" v-else>￥{{item.shop_price}}</p> -->
                                <p class="price" v-else>￥{{item.group_price}}</p>
                            </a>
                        </li>
                        <div class="fenye" v-if="totalpage>1">
                            <div class="prepage" :class="{gray:page_html==1}" @click="getpropage(-1)">上一页</div>
                            <div class="currentpage">{{page_html}} / {{totalpage}}</div>
                            <div class="lastpage" :class="{gray:page_html==totalpage}" @click="getpropage(1)">下一页</div>
                            <!-- <div class="total_ym">共<span>{{totalpage}}</span>页</div> -->
                        </div>
                    </ul>

                </div>

                <!-- <div v-if="productlist.length==0" class="noproduct">
				<p>该价格区间下暂无商品</p>
			</div> -->
                <div class="noproduct" v-if="productlist.length==0">
                    <img src="img/icon_ss.png" width="104px" height="104px">
                    <p>该分类下暂无商品</p>
                </div>
            </div>

        </div>
        <div class="containerB">
            <p>红礼供应链管理有限公司</p>
        </div>
</body>

<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script type="text/javascript">
    // 从而让整个应用都有路由功能
    var aa = new Vue({
        el: '#vue_index',
        data: {
            // baseUrl: 'http://192.168.1.39/tp510',
            baseUrl: 'http://www.yilitong.com',
            addhover: true,
            cur: 0,
            placeh: 1,
            userc: false,
            productlist: [],
            keyword: '',
            admin_id: '',
            faw: 1,
            cartLength: '',
            category: [],
            currentItem: '',
            currentItem2: '',
            page_html: 1, //当前页
            count: '',
            showcount: 12,
            totalpage: '',
            tet: '',
            current_threeId: '',
            currentlithree: '',
            pinpailist: '',
            brand_id: '',

        },
        created() {
            console.log(localStorage.admin_id);
            if (!localStorage.admin_id) {
                window.location.href = 'login.html';
            } else {
                this.admin_id = localStorage.admin_id;
                // this.getCategeory();
            }
            var url = window.location.href;
            var i = url.indexOf('?');
            var querystr = url.substr(i + 1);
            var arr1 = querystr.split('&');
            var arr2 = new Object();
            for (i in arr1) {
                var ta = arr1[i].split('=');
                arr2[ta[0]] = ta[1];
            }
            var fanwei = arr2.i;
            console.log(arr2.brand_id);
            this.brand_id = arr2.brand_id;
            // this.getpin();
            this.getCategoods(arr2.brand_id);

        },

        mounted: function() {

        },
        methods: {
            // getpin: function() {
            //     var baseurl = this.baseUrl;
            //     var that = this;
            //     var keywords = {
            //         admin_id: that.admin_id
            //     };
            //     axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'
            //     axios.get(baseurl + '/Home/redGift/brandList', {
            //         params: keywords
            //     }).then(function(res) {
            //         console.log(res);
            //         that.pinpailist = res.data.brand_list;
            //     });
            // },

            getCategoods(e) {
                var baseurl = this.baseUrl;
                var that = this;
                var list = {
                    admin_id: that.admin_id,
                    brand_id: e,
                    page_html: that.page_html
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'
                axios.get(baseurl + '/Home/redGift/brandList_goods', {
                    params: list
                }).then(function(res) {
                    console.log(res);
                    that.productlist = res.data.goods_list;
                    that.count = res.data.count;
                    that.gettotalPage();
                });
            },
            gettotalPage() {
                let showcount = this.showcount;
                let count = this.count;
                let totalpage = Math.ceil(count / showcount);
                this.totalpage = totalpage;
                console.log(totalpage)
            },
            getpropage(e) {
                var currentp = this.page_html + e;
                this.page_html = currentp;
                this.getCategoods(this.brand_id);
                // if (!this.currentItem2) {
                //     this.getCategeProduct(this.currentItem);
                // } else {
                //     this.getCategeProduct2(this.currentItem2);
                // }

            },

            getCategeory: function() {
                var baseurl = this.baseUrl;
                var that = this;
                var list = {
                    // cat_id:cat_id,
                    admin_id: that.admin_id
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/home/RedGift/goodsList', {
                    params: list
                }).then(function(res) {
                    console.log(res);
                    // this.category=res.data.get_category;
                    var k = res.data.get_category;
                    var catearr = [];
                    for (i in k) {
                        catearr.push(k[i]);
                    }
                    // for(var i=0;i<10;i++){
                    // 	that.category[i]=catearr[i]
                    // }
                    that.category = catearr;
                    console.log(catearr[0].name);
                });
            },


            Lagout: function() {
                localStorage.clear();
            },
            UserCenter: function() {
                window.location.href = 'usercenter.html?ed=2';
            },
            sousuo: function(e) {
                window.location.href = "sousuo.html?keyword=" + e;
            },
            getPriceProduct: function(e) {
                console.log(e);
                this.faw = e;
                var baseurl = this.baseUrl;
                var that = this;
                var price = {
                    price: e,
                    admin_id: that.admin_id
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/home/RedGift/Price_search', {
                    params: price
                }).then(function(res) {
                    console.info(res.data);
                    that.productlist = res.data.goods;
                });
            },
            onUsercenter: function() {
                this.userc = !this.userc;
            },
            details: function() {
                return this.site + " - 学的不仅是技术，更是梦想！";
            }
        }
    }).$mount('#vue_index');
</script>


</html>