<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>购物车页面</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <link rel="stylesheet" type="text/css" href="css/index.css"/>
   <link rel="stylesheet" type="text/css" href="css/shopcart.css"/>
   <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" media="screen"/>
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="vue_product">
	<div class="containerT container2">
		<div class="top">
				<a :href="['index.html']"><img src="img/logo.png" width="132px" height="39px"></a>
			<a href="index.html" class="shouye">首页</a>
			<div class="input-group search">
				<input type="text" class="form-control form-searchbox" placeholder="搜索商品名称" v-model="keyword" @keyup.enter="sousuo(keyword)">
				<span class="input-group-btn">
					<button class="btn btn-default btn-searchb" type="button"  @click="sousuo(keyword)">
						搜索
					</button>
				</span>
			</div>
			<!-- <div class="shopcart2">
				<img src="img/icon_cart.png" >
				<a class="text">购物车</a>
			</div> -->
			<!-- <div class="header">
				<img src="img/hz_header.png" width="40px" height="40px" class="headicon2">
			</div> -->
			<img src="img/hz_header.png" width="50px" height="50px" class="headicon" @click="onUsercenter">
			<div class="userlist" v-show="userc">
				<!-- <p class="username">杭州西湖国际中心的</p> -->
				<p @click="UserCenter">用户中心</p>
				<p @click="Lagout">退出登录</p>
			</div>
			</div>
		</div>
	<div class="containerCart" v-show="listshop==2">
		<div class="row carttab_title">
			<div class="col-md-2 quanxuan">
				<input type="checkbox" name="quanx" id=""  v-model="allselected" @change="allSelect($event)"/>全选
			</div>
			<div class="col-md-2">商品信息</div>
			<div class="col-md-2">参考价</div>
			<!-- <div class="col-md-2">成本价</div> -->
			<div class="col-md-2">数量</div>
			<div class="col-md-2">小计</div>
			<div class="col-md-2">操作</div>
		</div>
		<div class="row carttab_goods" v-for="(cart,index) in cartList">
			<div class="goods">
				<a :href="['productDetail.html?goods_id='+cart.goods_id]">
				<div class="col-md-2 danxuan">
					<input type="checkbox" name="gouwuche" id=""  class="danxuanc" :checked="cart.selected==1?true:false" @change="goodsSelected(index,$event)"/>
					<img :src="baseUrl+cart.goods_thumb" width="100px" height="100px">
				</div>
				</a>
				<div class="col-md-2 goods_name"><a :href="['productDetail.html?goods_id='+cart.goods_id]"><span v-if="cart.is_logo==1" style="font-weight: 700; color: red;">[定制]</span>{{cart.goods_name}}
				<p style="font-weight: 700; color: red;">{{cart.spec_key_name}}</p></a>
				</div>
				<!-- <div class="col-md-2">￥{{cart.market_price}}</div> -->
				 <div class="col-md-2 cost_price">
				<div class="cost_price_input" >
					￥<input type="number" 
					  v-model="cart.member_goods_price" class="cost_number" @onblur="changeCost(cart.member_goods_price,index,cart.id,cart.goods_price)" 
					  @change="changeCost(cart.member_goods_price,index,cart.id,cart.goods_price)"
					  v-if="cart.parent_id_path==28"
					  />
					  <span v-else>{{cart.member_goods_price}}</span>
				 </div>
				 
				   <p class="error-red" v-if="cart.member_goods_price*1<cart.goods_price*1">
					   价格不能低于出库价
				   </p>
				   </div>
				<!-- <div class="col-md-2 cost_price">￥ -->
				<!-- <input type="text" v-model="cart.costPrice" class="cost_number" οnblur="changeCost(cart.cost_price,cart.costPrice,index)"/> -->
				<!-- <input type="text" v-model="cart.costPrice" class="cost_number" oninput="if(value<cart.cost_price)value=cart.cost_price"/> -->
				<!-- {{cart.cost_price}} -->
				<!-- </div> -->
				<div class="col-md-2">
					<div class="row">
					 <div class="col-lg-6">
					   <div class="input-group">
						 <span class="input-group-btn">
							 <!-- subtract(cart.goods_id,cart.goods_num,$event,index) -->
						   <button class="btn btn-default" type="button" @click="subtract(index)">-</button>
						 </span>
						 <input type="text" class="form-control" v-model="cart.goods_num" style="width: 50px;">
						 <span class="input-group-btn">
						   <button class="btn btn-default" type="button" @click="add(index)">+</button>
						 </span>
					   </div>
					 </div>
					</div>
				</div>
				<div class="col-md-2"  v-if="cart.parent_id_path==28">￥{{cart.member_goods_price*cart.goods_num}}</div>
				<div class="col-md-2" v-else>￥{{cart.member_goods_price*cart.goods_num}}</div>
				<!-- <div class="col-md-2" v-if="cart.costPrice!=''">￥{{cart.costPrice*cart.goods_num}}</div> -->
				<div class="col-md-2 cart_del" @click="delCart(cart.id)">删除</div>
			</div>
		</div>
		<div class="row carttab_title">
			<div class="col-md-2 quanxuan">
				<input type="checkbox" name="quanx" id=""  v-model="allselected" @change="allSelect($event)"/>全选
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4">删除选中产品</div>
			<div class="col-md-2">已选({{totalCountnum}})</div>
			<div class="col-md-2">总金额：{{total_pricep}}</div>
			<div class="col-md-2 xiadan" @click="goOrder">去下单</div>
		</div>
	</div>
	<div class="noCart" v-show="listshop==1">
		<img src="img/icon_cart_blank%20.png"width="104px" height="104px">
		<p class="nobiaot">购物车暂无商品</p>
		<div class="nobtn"><a href="index.html" style="color: #FFFFFF;">去首页逛逛</a></div>
	</div>
	<div class="containerB">
		<p>红礼供应链管理有限公司</p>
	</div>
	<div class="dialog-bg" id="dialog-bg">
		<div class="img-box" id="img-box">
    <img src="">
	</div>
</div>
</body>

<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/distpicker.data.js"></script>
<script src="js/distpicker.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el: '#vue_product',
		data: {
			listshop:1,
			baseUrl:'http://192.168.1.17/tp510',
			// baseUrl:'http://www.yilitong.com',
			userc:false,
			cartList:[],
			total_price:'',
			totalpri:'',
			toulist:'',
			cart_select:'',
			admin_id:'',
			keyword:'',
			goods_num:[],
			cart_select:[],
			xuanz:[],
			xzg:[],
			total_pricep:'',
			totalCountnum:'',
			allselected:true,
			costPrice:'',//成本价
			cost:0,
			error:0,
		},
		created() {
			if(!localStorage.admin_id){
				window.location.href='login.html';
			}else{
				this.admin_id=localStorage.admin_id;
			}
		},
		mounted () {
			this.getCartList();
			this.realtimeUpdate();
		},
		updated() {
			this.totalCount();
			this.realtimeUpdate();
		},
		// computed:{
		// 	total_pricep:function(){
		// 		var total_pricep=0;
		// 		var cartsdata=this.cartList;
		// 		var a=0;
		// 		for(var i=0;i<cartsdata.length;i++){
		// 			if(cartsdata[i].selected2==1){
		// 				a=a+cartsdata[i].goods_num*cartsdata[i].market_price;
		// 			}
		// 		}
		// 		total_pricep=a;
		// 		return total_pricep;
		// 		console.log(total_pricep);
		// 	}
		// },
		
		methods: {
			changeCost:function(market_price,index,id,goods_price){
				console.log(market_price);
				var baseurl=this.baseUrl;
				var that=this;
				var id=id;
				var mprice=market_price;
				var member_goods_price2=[];
				// var k2=c2[i2].item_id;
				var a={};                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
				a[id]=mprice;
				console.log(a);
				if(market_price*1>=goods_price*1){
					this.error=0;
					member_goods_price2.push(a);
					var list={
						admin_id:that.admin_id,
						member_goods_price:member_goods_price2,
					};
					console.log(list);
					axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
					axios.get(baseurl+'/home/RedGift/update_member_goods_price',{
						params:list
					}).then(function(res){
						console.log(res);
					});
				}else{
					this.error=1;
				}
				// this.realtimeUpdate();
				console.log(this.error);
				
			},
			// 全选与反选
			allSelect:function(e){
				var cartsdata=this.cartList;
				var alls=e.target.checked;
				var allselected=this.allselected;
				// console.log(allselected);
				if(allselected){
					allselected=false;
				}else{
					allselected=true;
				}
				for(var i=0;i<cartsdata.length;i++){
					cartsdata[i].selected=alls?1:0;
					console.log(alls,cartsdata[i].selected);
				}
				this.cartList=cartsdata;
				this.realtimeUpdate();
			},
			//判断是否全选了
			ifAllSelected:function(){
				var cartsdata=this.cartList;
				var cartlength=this.cartList.length;
				var selectcart=[];
				for(var i=0;i<cartsdata.length;i++){
					if(cartsdata[i].selected==1){
						selectcart.push(cartsdata[i]);
					}
				}
				if(selectcart.length==cartlength&&cartlength!==0&&selectcart.length!==0){
					this.allselected=true;
				}else{
					this.allselected=false;
				}
				// console.log(selectcart,cartsdata);
			},
			totalCount:function(){
				var a=0;
				var b=0;
				var cartsdata=this.cartList;
				for(var i=0;i<cartsdata.length;i++){
					if(cartsdata[i].selected==1){
						if(cartsdata[i].parent_id_path==28){
							a=a+cartsdata[i].goods_num*cartsdata[i].member_goods_price;
						}else{
							a=a+cartsdata[i].goods_num*cartsdata[i].member_goods_price;
						}
						
						b++;
					}
				}
				this.total_pricep=a;
				this.totalCountnum=b;
			},
			// 单选商品
			goodsSelected:function(index,e){
				console.log(index,this.cartList[index]);
				console.log(e.target.checked);
				var cartsdata=this.cartList;
				var list=cartsdata[index];
				if(e.target.checked==true){
					this.cartList[index].selected=1
				}else{
					this.cartList[index].selected=0
				}
				this.ifAllSelected();
				this.realtimeUpdate();
			},
			//更新购物车
			realtimeUpdate:function(){
				var cartsdata=this.cartList;
				var str1={};//商品数量以及商品id
				var str2={};//商品id以及被选中的商品
				for(var i=0;i<cartsdata.length;i++){
					var store=cartsdata[i];
					if(store.selected==1){
						str2[cartsdata[i].id] = 1;
						// var obj2=this.toObj(cartsdata[i].goods_id,1);
						// str2.push(obj2);
					}else{
						str2[cartsdata[i].id] = 0;
						// var obj2=this.toObj(cartsdata[i].goods_id,0);
						// str2.push(obj2);
					}
					str1[cartsdata[i].id]=cartsdata[i].goods_num;
					// var obj1=this.toObj(cartsdata[i].goods_id,cartsdata[i].goods_num);
					// str1.push(obj1);
				}
				var baseurl=this.baseUrl;
					var that=this;
					var goods_num=JSON.stringify(str1);
					var cart_select=JSON.stringify(str2);
					var list={
						goods_num:goods_num,
						cart_select:cart_select,
						admin_id:that.admin_id,
					};
					// console.log(list);
					that.totalCount();
					axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
					axios.get(baseurl+'/index.php/home/RedGift/ajaxCartList',{
						params:list
					}).then(function(res){
						// console.log('success');
					});
					//计算
					
					
			},
			
			handleCheckChange(a,b,e,index){
				var str_num=this.toObj(a,b);
				// var cart_select2=[];
				if(e.target.checked==true){
					var cart_select2=this.toObj(a,1);
					var indexd=this.xzg.indexOf(a);
					if(indexd==-1){
						this.xzg.push(a);
					}
				}else{
					var cart_select2=this.toObj(a,0);
					var indexd=this.xzg.indexOf(a);
					if(indexd!==-1){
						this.xzg.splice(indexd,1)
					}
				}
				this.xuanz.push(a);
				// console.log(cart_select2);
				var indexd=this.xuanz.indexOf(a);
				if(indexd==-1){
					this.goods_num.push(str_num);
					this.cart_select.push(cart_select2);
				}else{
					this.goods_num.splice(indexd,1);
					this.cart_select.splice(indexd,1);
					this.xuanz.splice(indexd,1);
					this.goods_num.push(str_num);
					this.cart_select.push(cart_select2);
				}
				this.updateCart(this.goods_num,this.cart_select);
			},
			
			toObj:function(key,val){
				var data={};
				data[key]=val;
				var reg = /^\{/gi;
				var reg2 = /\}$/gi;
				data=JSON.stringify(data);
				data = data.replace(reg, '');
				data = data.replace(reg2, '');
				return data;
			},
			sousuo:function(e){
				window.location.href="sousuo.html?keyword="+e;
			},
			updateCart:function(a,b){
				var baseurl=this.baseUrl;
					var that=this;
					var goods_num=JSON.stringify(a);
					var cart_select=JSON.stringify(b);
					var list={
						goods_num:goods_num,
						cart_select:cart_select,
						admin_id:that.admin_id,
					};
					console.log(list);
					axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
					axios.get(baseurl+'/index.php/home/RedGift/ajaxCartList',{
						params:list
					}).then(function(res){
						console.log(res);
					});
				},
			goOrder:function(){
				if(this.error!=0){
					alert('有价格低于出库价，暂不能下单');
				}else{
					var baseurl=this.baseUrl;
					var that=this;
					axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
					axios.get(baseurl+'/index.php/home/RedGift/cart3'
						,{params:{admin_id:that.admin_id,
						act:'submit_order'
						}}
					).then(function(res){
						window.location.href="usercenter.html?ed=3";
						console.log(res.data);
					});
				}
			},
			getCartList:function(){
				var baseurl=this.baseUrl;
				var that=this;
				axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
				axios.get(baseurl+'/index.php/home/RedGift/ajaxCartList'
				,{params:{admin_id:that.admin_id}}
				).then(function(res){
					if(res.data.result==-11){
						window.location.href='login.html';
					}
					// that.cartList=res.data.cartList[41].list;
					for(item in res.data.cartList){
						var costcartlist=res.data.cartList[item].list;
					}
					
					for(var i=0;i<costcartlist.length;i++){
						costcartlist[i].costPrice='';
					}
					that.cartList=costcartlist;
					// that.cartList.totalp=that.cartList.market_price*
					that.total_price=res.data.total_price;
					// console.log(that.total_price);
					// console.log(res.data.cartList [41]);
					if(that.cartList!==null){
						that.listshop=2;
					}
					that.ifAllSelected();
				});
			},
			delCart:function(e){
				if (confirm("您确定要删除该商品!")) {
						var baseurl=this.baseUrl;
						var that=this;
						var list={
							cart_id:e,
							admin_id:that.admin_id
						};
						axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
						axios.get(baseurl+'/index.php/home/RedGift/ajaxDelCart',{
							params:list
						}).then(function(res){
							that.getCartList();
							alert('删除成功');
						});
					} else {
							return false;
					}
			},
			add:function(index){
				// console.log(this.cartList[index]);
				var num=this.cartList[index].goods_num;
				this.cartList[index].goods_num=num+1;
				this.realtimeUpdate();
			},
			subtract:function(index){
				var num=this.cartList[index].goods_num;
				if(num<=1){
					this.cartList[index].goods_num=num;
					this.realtimeUpdate();
				}else{
					this.cartList[index].goods_num=num-1;
					this.realtimeUpdate();
				}
				
			},
			onUsercenter:function(){
				this.userc=!this.userc;
			},
			Lagout:function(){
				localStorage.clear();
				window.location.href='index.html';
			},
			UserCenter:function(){
				window.location.href='usercenter.html?ed=2';
			},
		}
	})
</script>


</html>