<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__MOBILE__/css/charity/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/charity/index.css">
    <link rel="stylesheet" href="__MOBILE__/css/charity/business.css">

    <script src="__MOBILE__/js/charity/jquery-3.4.1.min.js"></script>
    <script src="__MOBILE__/js/charity/index.js"></script>
    <title>爱心捐赠</title>
</head>

<body>
    <div class="container">
        <div class="shangmtop"> <img src="__MOBILE__/images/charity/icon_heart@2x.png" alt=""><span>为武汉加油，为中国加油！</span></div>
        <div class="contentc">
            <div class="form_content">
                <form action="" method="post">
                    <div class="title2">
                        <div class="ban"></div>
                        <h3>您的基本信息</h3>
                    </div>
                    <div class="juanz">
                        <div class="form_bioadn">
                            <p class="form_left">联系人姓名<span class="red">*</span></p>
                            <input type="text" placeholder="请输入联系人姓名" class="form_input" id="business_username" name="do_name" >
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">联系方式<span class="red">*</span></p>
                            <input type="number" placeholder="请输入联系电话" class="form_input" id="business_tel"  name="do_phone">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">企业名称</p>
                            <input type="text" placeholder="请输入企业名称" class="form_input"  name="do_company">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">企业地址</p>
                            <input type="text" placeholder="请输入省、市、区（县）" class="form_input"  name="do_address" >
                        </div>
                    </div>
                    <div class="title2">
                        <div class="ban"></div>
                        <h3>您要捐赠的单位和物资</h3>
                    </div>
                    <div class="juanz">
                        <div class="form_bioadn">
                            <p class="form_left">受捐方<span class="red">*</span></p>
                            <input type="text" placeholder="请选择您要捐赠的单位" class="form_input" id="material_danwei" readonly  name="beneficiaries" <if condition="$charity_assign.do_company"> value="{$charity_assign.do_company}" </if> >
                            <div class="form_right">
                                <div class="jiantou"></div>
                            </div>
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">捐赠物资<span class="red">*</span></p>
                            <input type="text" placeholder="请选择物资类别和数量" class="form_input" id="material_typenum" readonly  name="materials" >
                            <div class="form_right">
                                <div class="jiantou"></div>
                            </div>
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">捐赠预算<span class="red">*</span></p>
                            <input type="text" placeholder="请输入捐赠预算" class="form_input" id="material_price"  name="budget">
                        </div>
                        <p class="att">备注</p>
                        <textarea   id="comment" placeholder="如没有您要捐助的物资，可在此处备注" class="form_textarea"></textarea>
                        <div class="form_submit" id="submitBusiness">提交捐赠清单</div>
                    </div>
                </form>
            </div>

        </div>
        <!-- 成功以及失败的提示框 -->
        <div class="notice hidden">提示内容</div>
        <div class="wrap hidden"></div>
        <!-- 物资类型以及数量选择 -->
        <div class="goods_typenum_tc hidden">
            <div class="btn_confirm">
                <p>选择物资类别及数量<span>（可多选）</span></p>
                <div class="btn_sure" id="goods_typn">确定</div>
            </div>
            <div class="fengexin"></div>
            <ul class="xuan_content">
                <li><input type="checkbox" name="goodstype" value="N95口罩">N95口罩
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="医用外科口罩">医用外科口罩
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="速干手消液">速干洗手液
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="医用消毒液">医用消毒水
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="测温枪">测温枪
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="护目镜">护目镜
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="自动感应消毒机">自动感应消毒机
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="goods_typenum_tc3 hidden">
            <div class="btn_confirm">
                <p>选择您要捐赠的医疗单位</p>
                <div class="btn_sure" id="donation_sure">确定</div>
            </div>
            <div class="fengexin"></div>

            <div class="xuan_content">
                <div class="goods_num" id="donation_doctor">
                    <volist name="charity_assign_list" id="list">
                        <div class='num'>{$list['do_company']}</div>
                    </volist>
                </div>
            </div>
        </div>
        <div class="wrap hidden"></div>
        <div class="wrap2 hidden" id="noclosetan2"></div>
        <!-- 提交采购订单成功提示框 -->
        <div class="successBox hidden">
            <div class="p1">捐赠清单提交成功，感谢您的爱心。稍后会有工作人员联系您。</div>
            <div class="btton_an">
                <a href="/Mobile/Charity/zhuanqu.html">返回抗疫专区</a>
                <a href="/Mobile/User/charity_list">查看列表</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $("div .form_submit").click(function(){
        var value={
            is_purchase:1,
            is_donate:'爱心捐赠',
            budget:$("input[name='budget']").val(),
            do_name:$("input[name='do_name']").val(),
            do_phone:$("input[name='do_phone']").val(),
            do_company:$("input[name='do_company']").val(),
            do_address:$("input[name='do_address']").val(),
            comment:$("#comment").val(),
            materials:$("input[name='materials']").val(),
            beneficiaries:$("input[name='beneficiaries']").val(),
        }
            console.log(value);
        if (value.is_donate != '' && value.materials != '' && value.budget != '' && value.do_name != '' && value.do_phone != '') {
            if (value.is_purchase == 1 && (((value.is_donate == '爱心捐赠' || value.is_donate == '爱心捐赠,企业自用' ) && value.beneficiaries != '' ) || value.is_donate == '企业自用')) {
                $.ajax({
                    type: "POST",
                    url: "{:Url('Mobile/Charity/charity_assign')}",
                    data:value,
                    dataType: "json",
                    success: function (data) {
                      if (data.status == 1) {

                      }
                    },
                    error: function () {
                          alert("服务器繁忙, 请联系管理员!");
                    },
                });
            }
        }else{
            alert("带*不可为空");
        }
    })
    </script>
</body>

</html>