<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/shouye.css">
    <title>{$find['company']}-{$find['contract_name']}</title>
</head>

<body>
    <div class="hz_container">
        <div class="htongimg">
            <foreach name="$find['preview_images']" item="vo" key="k" >
                <img src="{$vo}" alt="">
            </foreach>
        </div>
        <div class="btn">
            <a style="text-decoration:none;" href="{:Url('/Mobile/Charity/contract_transfer',array('d_id'=>$find.d_id,'p_id'=>$find.p_id,'c_id'=>$find.id,'Lo_id'=>$find.p_id))}">
                <div class="edit_button">
                    编辑合同
                </div>
            </a>
        </div>
    </div>
</body>

</html>