
				<if condition="!$goods">
					<!-- <div class="noCommoditys">您还没有收藏的商品，快去逛逛吧~</div> -->
				<else/>
					<div class="productBox" style="display: block;" >
					<input type="hidden" class="hidden" value="{$distribution[id]}">
						<div id="goods" style="display: block;">
						<volist name="$goods" id="value" >
							<a href="{:Url('Distribution/goodsInfos',array('id'=>$value[goods_id]))}">
							<div class="product">
								<div class="productImg"><img src="{$value.goods_thumb}" alt=""></div>
								<div class="productName">{$value.goods_name}</div>
								<div class="productPrice">
									<span class="price">￥{$value.shop_price}</span>
									<!-- <if condition="$value.commission_price neq 0">
										<span class="gain">赚{$value.commission_price * $ratio.ratio} </span>
					                <else/>
										<span class="gain">赚{$value.distribution_price * $ratio.ratio} </span>
					                </if> -->
								</div>
							</div>
							</a>
						</volist>
						</div>
					</div>
				</if>
				<!-- <div style="clear:both;"></div>
				<div class="hints">您已没有更多的商品，快去逛逛吧~</div>
				<a href="{:Url('Mobile/Distribution/storeIndex')}">
					<div class="storeName">分销商城</div>
				</a> -->
	</body>
</html>
