<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>忘记密码</title>
		<link rel="stylesheet" href="__MOBILE__/css/deposit/index.css">
		<link rel="stylesheet" href="__MOBILE__/css/deposit/layer.css"/>
		<style type="text/css">
			.inputCode:last-child{
				border-top: 0;
			}
			input[type="password"] {
			  letter-spacing: 0.05rem;
			  color: #555;;
			}
		
		</style>
	</head>
	<body>
		<div id="register" class="enroll">
			<header>
				<div class="back"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_black.png"></a></div>
				<div class="headName">忘记提现密码</div>
				<div></div>
			</header>
			<input type="hidden" name="id" value="{$id}">
			<section>
				<div class="b_progress">
					<div>3/3</div>
					<div>设置提现密码</div>
				</div>
				<div>
					<div class="inputCode">
						<span>设置密码</span>
						<input type="password" class="setPassw" placeholder="请输入六位数字密码" maxlength="6" onkeyup="value=value.replace(/[^\d]/g,'')" value="{pSix}" v-model="pSix" class="pSix">
					</div>
					<div class="inputCode">
						<span>确认密码</span>
						<input type="password" class="comPassw" placeholder="请再次输入密码" maxlength="6" onkeyup="value=value.replace(/[^\d]/g,'')" value="{comfirmPassw}" v-model="comfirmPassw" class="comfirmPassw">
					</div>
				</div>
				<div class="submit comfirm" >确认</div>
			</section>
		</div>
		<script src="__MOBILE__/js/deposit/screenAdaptation.js"></script>
		<script src="__MOBILE__/js/deposit/jquery-1.10.2.min.js"></script>
		<script src="__MOBILE__/js/deposit/layui.all.js"></script>
		<script src="__MOBILE__/js/deposit/vue.js"></script>
		<script src="__MOBILE__/js/deposit/common.js"></script>
		<script type="text/javascript">	
			layui.use('layer', function(){
			  let layer = layui.layer;
			  $('body').on('click','.comfirm',function(){
				let setPassw = $(".setPassw").val();
				let comPassw = $(".comPassw").val();	
				if (setPassw.length != 6) {
			  	    layer.msg('密码请输入6位数');
    				return false;		
			    }	
			  	if(setPassw === comPassw && setPassw != ''){
			  		var id=$("input[name='id']").val();

			    	$.ajax({
	                    type : "POST",
	                    url:"/index.php?m=Mobile&c=Distribution&a=deposit_f3_setpassword",
	                    data :{deposit_pw:setPassw,comNewPassw:comPassw,id:id},
	                    success: function(data)
	                    {
	                        if(data.status == 1)
	                        {
		                        layer.msg('<div style="font-size:0.3rem;line-height:0.4rem;margin-top:0.05rem;">已设置新的提现密码</br>将为您跳转至提现页面</div>',{
								area:['4.5rem','1.2rem']
								,time:2000
								});
								setTimeout(function(){
									location.href = "/Mobile/Distribution/deposit_test/id/"+id;
								},2000)
			  					// layer.msg('已设置新的提现密码将为您跳转至提现页面');
    							// location.href = "/Mobile/Distribution/deposit_test/id/"+id;
								return false;
	                        }else{
	                            alert(data.msg);
								return false;
	                        }
	                    }
	                });
			  	}else if(setPassw !== comPassw){  //判断两次密码是否一致
		  			layer.msg('<div style="font-size:0.3rem;line-height:0.4rem;margin-top:0.05rem;">密码不一致</div>',{
					area:['4.5rem','1.2rem']
					,time:2000
					});
			  		// layer.msg('密码不一致');
			  	}else{
			  		layer.msg('<div style="font-size:0.3rem;line-height:0.4rem;margin-top:0.05rem;">请输入正确的密码</div>',{
					area:['4.5rem','1.2rem']
					,time:2000
					});
			  	}
			  })
			});
			var wap = new Vue({
				el: "#register",
				data: {
					pSix:"",//输入六位密码
					comfirmPassw:"",//确认密码
					msg1:'两次密码输入不一致',
					msg2:`将为您跳转至体现页面`
					
				},		
			})
		</script>
		
	</body>
</html>
