<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>提现设置</title>
		<link rel="stylesheet" href="__MOBILE__/css/deposit/index.css">
		<style type="text/css">
			a{
				text-decoration: none;
			}
			body{
				background: #fafafa;
			}
			header,section{
				background: #fff;
			}
			.back{
				flex: 0 0 0.2rem;
			}
			.grap{
				height: 0.2rem;
			}
			.box{
				font-size: 0.3rem;color: #333;
				height: 1rem;
				border-bottom: 1px solid #f1f1f1;
				display: flex; 
				justify-content: space-between;
				align-items: center;
				margin: auto 0.24rem;
			}
		</style>
	</head>
	<body>
		<div id="register" class="enroll">
			<header>
				<div class="back"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_black.png"></a></div>
				<div class="headName">提现设置</div>
			</header>
			<div class="grap"></div>
			<section>	
				<a href="{:Url('Mobile/Distribution/deposit_ma1_account',array('id'=>$id))}">
					<div class="box">
						<div>修改支付宝账号</div>
						<div><img src="__MOBILE__/images/icon_next.png" ></div>
					</div>
				</a>
				<a href="{:Url('Mobile/Distribution/deposit_mw1_account',array('id'=>$id))}">
					<div class="box">
						<div>修改提现密码</div>
						<div><img src="__MOBILE__/images/icon_next.png" ></div>
					</div>
				</a>
				<a href="{:Url('Mobile/Distribution/deposit_f1_account',array('id'=>$id))}">
					<div class="box">
						<div>忘记提现密码</div>
						<div><img src="__MOBILE__/images/icon_next.png"></div>
					</div>
				</a>
			</section>
			
		</div>
		<script src="__MOBILE__/js/deposit/screenAdaptation.js"></script>
		<script src="__MOBILE__/js/deposit/vue.js"></script>
		<script src="__MOBILE__/js/deposit/common.js"></script>
		
	</body>
</html>
