<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的邀请</title>
		<link rel="stylesheet" href="__MOBILE__/css/distribution.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
		<style>
			.store_user{
				flex: 1;
			    color: #e6002d;
			    display: flex;
			    justify-content: flex-end;
			    margin-right: 0.5rem;
			}
			.people_num{
				display: flex;
			    justify-content: flex-end;
			    margin-right: 0.5rem;
			}
		</style>
	</head>
	<body>
		<div class="hisShop">
			<header class="titlesBar">
				<div class="backImg"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_black.png"></a></div>
				<div>我的邀请</div>
				<div class="people_num"><span>{$count}</span>人</div>
			</header>
			<section class="focusShop">
			<if condition="!$referrer_id">
				<div class="noFocusShop">
					<div><img src="__MOBILE__/images/icon_focus_false.png"></div>
					<div>您暂时没有接收邀请的队友</div>
				</div>
			<else/>
				<div class="storeBox">
			<volist name="$referrer_id" id="value" >
				<!-- <if condition="$value[id] eq $id">
					<a href="{:Url('Distribution/myShop',array('id'=>$id))}">
				<else/>
					<a href="{:Url('Distribution/shopDetails',array('id'=>$id,'shop_id'=>$value[id]))}">
				</if> -->
					<div class="store">
						<div class="storeImg">
						<if condition="!empty($value[head_pic])">
							<img src="{$value.head_pic}" alt="">
						<else/>
							<img src="__MOBILE__/images/bg_master_center.png" alt="">
						</if>
						</div>
						<div>{$value.nickname}</div>
						<if condition="!empty($value[id])">
							<div class="store_user">礼店主</div>
						</if>
					</div>
				<!-- </a> -->
			</volist>
					<div class="hints">您已无更多邀请的用户~</div>
				</div>
			</if>
				<div style="height: 1rem"></div>
			</section>
		</div>	
	</body>	
</html>
