<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>店铺信息</title>
		<link rel="stylesheet" href="__MOBILE__/css/distribution.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
	</head>
	<body>
					
		<div class="hisShop" id="shopInfo">
			<header class="titleBar">
				<div class="backImg">
					<a href="{:Url('/Mobile/Distribution/myShop')}">
					<!-- <a href="javascript:history.go(-1);"> -->
						<img src="__MOBILE__/images/icon_back_black.png">
					</a>
				</div>
				<div>店铺信息</div>
				<div class="headerRight" @click="clickSave">保存</div>
			</header>
			<section class="focusShop">
				<input type="hidden" name="id" value="{$distribution['id']}">
				<div class="shopName">
					<div class="shopNameLeft">店名</div>
					<div>
						<input type="text" name="shop_name" placeholder="请输入店名" maxlength="8" v-model="shop_name">
					</div>
				</div>
				<!-- <div class="signage">
					<div class="shopNameLeft">店招</div>
					<div class="signageImg">
						<input @change="clickLogo($event)" type="file" accept="image/*">
						<img class="logoImages" :src="logoImages" data-preview-src="" data-preview-group="0">
					</div>
					<div class="nextImages"><img src="__MOBILE__/images/icon_next.png"></div>
				</div> -->
				<!-- <div class="shopName">
					<div class="shopNameLeft">手机号码</div>
					<div>
						<input type="tel" name="phone" placeholder="请输入手机号码" maxlength="11" v-model="phone">
					</div>
				</div> -->
				<div class="shopIntro">
					<div class="shopIntroName">店铺简介</div>
					<div class="shopIntroText">
						<textarea placeholder="请输入店铺简介" maxlength="30" v-model="shop_brief"></textarea>
					<div class="wordCount"><span>{{shop_brief.length}}</span>/30</div>
					</div>
				</div>
			</section>
		</div>
<!--底部-start-->
<include file="distribution/bottom"/>
<!--底部-end-->

		<script src="__MOBILE__/js/jquery-1.11.3.min.js"></script>							
		<script src="__MOBILE__/js/vue.js"></script>
		<script src="__MOBILE__/js/vue-resource.js"></script>
		<script>
			var app = new Vue({
				el: "#shopInfo",
				data: {
					// arr:[],
					shop_name:"",
					// phone:"",
					logoImages: "", //LOGO
					shop_brief: "", //简介
							
				},
				directives: {
		
				},
				created: function() { // 进入
		
				},
				mounted: function() { // 挂载后
					this.getData();
				},
				updated: function() {
		
				},
				methods: {
					clickLogo: function(e) {
						console.log(e)
						var that = this;
						if (e.target.files.length < 1)
							return;
						var file = e.target.files[0];
						var reader = new FileReader();
						reader.readAsDataURL(file);
						reader.onload = function(e) {
							that.logoImages = this.result
						}						
					},
					clickSave:function(){
						this.submitData();
					},
					submitData: function() { //  提交数据给后端
						var id = $("input[name='id']").val();
						var that = this;
						$.ajax({
							type:'POST',
							url:'/Mobile/Distribution/shopInfo',
							data:{
								shop_name:this.shop_name,
								shop_brief:this.shop_brief,
								// phone:this.phone,
								id:id,
							},
							dataType: 'json',
							success: function (data) {
	                          if (data.status = 1) {
	                	        alert(data.msg);
	                          }else{
	                	      	alert(data.msg);
	                             }
	                         }
						})
					},
					getData: function() {
						var id = $("input[name='id']").val();
						var that = this;
						var shopInfo ="/Mobile/Distribution/json_shopInfo/id/"+id;	
						console.log("请求url:"+shopInfo);
						// return;
						this.$http({
							url: shopInfo,
							method: 'GET',
							// 传后端的数据
							data: {
							
							},
							// 请求头
							headers: {
								'Content-Type': 'json'
							}
					
						}).then(function(response) {
							console.log("请求成功回调：");
							// console.log(response)	
							this.shop_name=response.data.shop_name;
							this.shop_brief=response.data.shop_brief;
						}, function(response) {
						});
					}
									
				},
		
			})
		</script>
	</body>
</html>
