<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>设计作品搜索-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
	<meta name="description" content="{$config['shop_info_store_desc']}" />
	<link rel="stylesheet" href="__MOBILE__/css/mobile_designer.css">
    <style>

    </style>
</head>
<body>
	<div class="topSearch">
		<a href="{:Url('Works/Search')}" class="searchBtn"></a>
		<p>找设计</p>
	</div>
	<ul class="page-tab">
		<li><a href="{:Url('Works/WorksIndex')}">设计作品</a></li>
		<li><a href="{:Url('Works/GoodsIndex')}" class="tabCur">在售作品</a></li>
	</ul>
	<div class="page-container">
		<div class="designer-works-sell page-tab-col pageCur" style="padding:0;">
			<div class="works-sell-col-1">
				<a href="#">
					<div class="works-sell-img-1"><img src="images/big.jpg" alt=""></div>
					<div class="works-sell-name-price-1">
						<p class="works-sell-name-1">作品名称,乡愁是一份沉重的爱。离开故土的游子作品名称,乡愁是一份沉重的爱。离开故土的游子</p>
						<p class="works-price-1">¥<span>198</span></p>
					</div>
				</a>
			</div>
			<div class="works-sell-col-1">
				<a href="#">
					<div class="works-sell-img-1"><img src="images/big.jpg" alt=""></div>
					<div class="works-sell-name-price-1">
						<p class="works-sell-name-1">作品名称,乡愁是一份沉重的爱。离开故土的游子作品名称,乡愁是一份沉重的爱。离开故土的游子</p>
						<p class="works-price-1">¥<span>198</span></p>
					</div>
				</a>
			</div>
			<div class="works-sell-col-1">
				<a href="#">
					<div class="works-sell-img-1"><img src="images/big.jpg" alt=""></div>
					<div class="works-sell-name-price-1">
						<p class="works-sell-name-1">作品名称,乡愁是一份沉重的爱。离开故土的游子作品名称,乡愁是一份沉重的爱。离开故土的游子</p>
						<p class="works-price-1">¥<span>198</span></p>
					</div>
				</a>
			</div>
		</div>
	</div>


	<!--底部-start-->
	<include file="public/designerFooter"/>
	<!--底部-end-->

	<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script>
		$(function () {
			
		})
	</script>
</body>
</html>
