<include file="public/header" title="所有分类"/>
<link rel="stylesheet" href="__MOBILE__/css/mobile.css">
<style>
    body{
        background: #fff;
        padding-top:3.8rem;
    }
    .topAS{
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        z-index:99999;
    }
    /*.classlist .category1{*/
        /*!*width: 20%;*!*/
        /*height: 22.5rem ;*/
        /*!*height: 100%;*!*/
        /*!*padding-bottom:4rem;*!*/
        /*overflow-y: auto;*/
        /*box-sizing: border-box;*/
        /*position: fixed;*/
        /*left: 0;*/
        /*top: 4rem;*/
    /*}*/
    .classlist .category1::-webkit-scrollbar {
        display: none;
    }
    .classlist .category1 li a{
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #efefef;
        border-right: 1px solid #efefef;
    }
    .classlist .category1 li:last-of-type a{
        border-bottom: none;
    }
    /*
    ** 不要删除这些css代码 ，后续有用
        不要删除这些css代码 ，后续有用
        不要删除这些css代码 ，后续有用
        不要删除这些css代码 ，后续有用
        不要删除这些css代码 ，后续有用
     */
    /*.classlist .category2{*/
        /*height: 22.5rem;*/
        /*!*height: 100%;*!*/
        /*!*padding-bottom:4rem;*!*/
        /*overflow-y: auto;*/
        /*box-sizing: border-box;*/
        /*position: fixed;*/
        /*left: 3.2rem;*/
        /*top: 4rem;*/
    /*}*/
    /*.classlist .category2::-webkit-scrollbar {*/
        /*display: none;*/
    /*}*/
    /* 小屏诺基亚适配 */
    /*@media screen and (min-width: 320px){*/
        /*.classlist .category1{*/
            /*height: 20.5rem;*/
            /*overflow-y: scroll;*/
        /*}*/
        /*.classlist .category2{*/
            /*height: 20.6rem ;*/
            /*overflow-y: auto;*/
        /*}*/
    /*}*/
    /**/
    /*@media screen and (min-width: 384px){*/
        /*.classlist .category1{*/
            /*height: 20.6rem;*/
            /*overflow-y: scroll;*/
        /*}*/
        /*.classlist .category2{*/
            /*height: 20.6rem ;*/
            /*overflow-y: auto;*/
        /*}*/
    /*}*/
    /**/
    /*@media screen and (min-width: 412px){*/
        /*.classlist .category1{*/
            /*height: 22.5rem;*/
            /*overflow-y: scroll;*/
        /*}*/
        /*.classlist .category2{*/
            /*height: 22.5rem ;*/
            /*overflow-y: auto;*/
        /*}*/
    /*}*/
    /**/
    /*@media screen and (min-width: 600px){*/
        /*.classlist .category1{*/
            /*height: 19.6rem;*/
            /*overflow-y: scroll;*/
        /*}*/
        /*.classlist .category2{*/
            /*height: 19.6rem ;*/
            /*overflow-y: auto;*/
        /*}*/
    /*}*/
    /**/
    /*@media screen and (min-width: 768px){*/
        /*.classlist .category1{*/
            /*height: 15.4rem;*/
            /*overflow-y: scroll;*/
        /*}*/
        /*.classlist .category2{*/
            /*height: 15.4rem ;*/
            /*overflow-y: auto;*/
        /*}*/
    /*}*/
 	 .catalogTab a{
        text-decoration: none;
    }
    .tp-class-list a{
        text-decoration: none;
    }
</style>
<div class="topAS">
    <div class="classreturn">
        <div class="content">
            <div class="ds-in-bl return">
                <a href="/"><img src="__STATIC__/images/logo.png" alt="一礼通"></a>
            </div>
            <div class="ds-in-bl search" style="margin-left:15%;">
                <form action="" method="post">
                    <div class="sear-input">
                        <a href="{:Url('Goods/ajaxSearch')}">
                            <input type="text" value="" placeholder="搜索礼品/商铺/设计师">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ul class="catalogTab clearfix">
        <li><a href="{:url('Goods/gift')}">送礼攻略</a></li>
        <li><a href="{:url('Goods/categoryList')}" class="catalogTabAct">商品分类</a><span></span></li>
        <li><a href="{:url('Supplier/recsupplier')}">店铺精选</a></li>
    </ul>
</div>

<!--<div style="position: fixed;top:3.8rem;overflow-y: scroll;">-->
<div>
    <div class="catalogTab-list"  style="margin-bottom:200px; ">
        <div class="flool classlist catalogTab-col" style="background:#fff;">
            <div class="fl category1">
                <ul>
                    <assign name="m" value="0"/>
                    <foreach name="goods_category_tree" item="vo" key="k">
                        <if condition="$vo[level] eq 1">
                            <li>
                                <a href="javascript:void(0);" <if condition="$m eq 0"></if> data-id="{$m++}">{$vo['name']|getSubstr=0,12}</a>
                            </li>
                        </if>
                    </foreach>
                </ul>
            </div>
            <div class="fr category2">
                <assign name="j" value="0"/>
                <foreach name="tmp" key="kk" item="vo">
                    <div class="branchList">
                        <!--广告图-s-->
                        <!--<div class="tp-bann"  data-id="{$j++}">-->
                            <!--<adv  limit="1" item="v" pid="400">-->
                                <!--<a href="{$v.ad_link}" <if condition="$v['target'] eq 1">target="_blank"</if> >-->
                                    <!--<img src="{$v[ad_code]|default='__MOBILE__/images/zy.png'}" title="{$v[title]}">-->
                                <!--</a>-->
                            <!--</adv>-->
                        <!--</div>-->
                        <!--广告图-e-->
                        <!--分类-s-->
                        <div class="tp-class-list">
                            <!-- <h4><i></i><span>{$vo['name']}</span><i></i></h4> -->
                            <foreach name="vo.tmenu" item="v2" key="k2">
                            <h4><i></i><span><a href="{:Url('Goods/goodsList_S',array('id'=>$v2[id]))}">{$v2['name']}</a></span><i></i></h4>
                                <foreach name="v2.sub_menu" item="v3" key="k3">
                                    
                                <ul>
                                    <li>
                                        <a href="{:Url('Goods/goodsList_S',array('id'=>$v3[id]))}">

                                            <svg style="width: 4em;height: 4em;">
                                                <use xlink:href="{$v3['icon']}"></use>
                                            </svg>
                                           
                                            <p>{$v3['name']}</p>
                                        </a>
                                    </li>
                                </ul>

                                </foreach>
                             <div style="clear:both;"></div>
                            <!-- <ul>
                                <li>
                                    <a href="{:Url('Goods/goodsList_S',array('id'=>$v2[id]))}">
                                        <img src="{$v2['image']|default='__MOBILE__/images/zy.png'}"/>
                                        <p>{$v2['name']}</p>
                                    </a>
                                </li>
                            </ul> -->
                            </foreach>
                        </div>
                        <!--分类-e-->
                    </div>
                </foreach>
            </div>
        </div>
    </div>
</div>

<!--底部-start-->
<include file="public/footer"/>
<!--底部-end-->
<script src="__MOBILE__/js/iconfont_s.js"></script>
<script src="//at.alicdn.com/t/font_1350285_08dqmif5owi5.js"></script>
<script>
    $(function () {
        //点击切换2 3级分类
        var array=new Array();
        $('.category1 li').each(function(){
            array.push($(this).position().top-0);
        });
        $('.branchList').eq(0).show().siblings().hide();
        $('.category1 li').click(function() {
            var index = $(this).index() ;
            $('.category1').delay(200).animate({scrollTop:array[index]},300);
            $(this).addClass('cur').siblings().removeClass();
            $('.branchList').eq(index).show().siblings().hide();
            $('.category2').scrollTop(0);
        });
    });
</script>
	</body>
</html>