<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__MOBILE__/css/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/mobileindex.css">
    <title>倾请放粽</title>
</head>

<body>
    <div class="hz_content">
        <img src="/public/yilitong/images/m_bg_1@2x.png" alt="" class="m_bg">
        <img src="/public/yilitong/images/m_title_1@2x.png" alt="" class="m_title">
        <div class="section section1">
            <div class="product_top">
                <a href="{:Url('goodsInfo',array('id'=>$goods_a[goods_id]))}">
                    <div class="prod_left">
                        <p class="productname">{$goods_a[goods_name]}</p>
                        <p class="futitle">{$goods_a[goods_remark]}</p>
                        <p class="price">￥{$goods_a[shop_price]}<span class="err">￥{$goods_a[market_price]}</span></p>
                        <div class="gobuy">立即抢购</div>
                    </div>
                    <img src="{$goods_a[original_img]}" alt="" class="three_prod_img">
                </a>
            </div>
            <div class="duanwu_product">
            <volist name="$goods_b" id="val">
                <a href="{:Url('goodsInfo',array('id'=>$val[goods_id]))}">
                    <div class="productya">
                        <img src="{$val[original_img]}" alt="" class="img_prod">
                        <p class="productname">{$val[goods_name]}</p>
                        <div class="price_buy">
                            <p class="price">￥{$val[shop_price]}</p>
                            <div class="gobuy">立即抢购</div>
                        </div>
                    </div>
                </a>
            </volist>    
            </div>
        </div>
        <img src="/public/yilitong/images/m_title_2@2x.png" alt="" class="m_title m_title2">
        <div class="section section2">
            <div class="product_top">
                <a href="{:Url('goodsInfo',array('id'=>$goods_c[goods_id]))}">
                    <div class="prod_left">
                        <p class="productname">{$goods_c[goods_name]}</p>
                        <p class="futitle">{$goods_c[goods_remark]}</p>
                        <p class="price">￥{$goods_c[shop_price]}<span class="err">￥{$goods_c[market_price]}</span></p>
                        <div class="gobuy">立即抢购</div>
                    </div>
                    <img src="{$goods_c[original_img]}" alt="" class="three_prod_img">
                </a>
            </div>
            <div class="duanwu_product">
            <volist name="$goods_d" id="val">
                <a href="{:Url('goodsInfo',array('id'=>$val[goods_id]))}">
                    <div class="productya">
                        <img src="{$val[original_img]}" alt="" class="img_prod">
                        <p class="productname">{$val[goods_name]}</p>
                        <div class="price_buy">
                            <p class="price">￥{$val[shop_price]}</p>
                            <div class="gobuy">立即抢购</div>
                        </div>
                    </div>
                </a>
            </volist>    
            </div>
            <a href="{:Url('goodsDedicated',array('id'=>63))}">
                <div class="txt_more"><span>端午礼品专区</span><img src="/public/yilitong/images/m_icon_next@2x.png" alt=""></div>
            </a>
        </div>
        <div class="fenge"></div>
        <img src="/public/yilitong/images/m_title_3@2x.png" alt="" class="m_title m_title2">
        <div class="section section3">
            <div class="dapei_top">
                <div class="hx"></div>
                <p class="prodname">自由搭配套装</p>
                <p class="txt_miaos">为满足客户送礼的定制化需求，可将多种类型礼品搭配成新的套装。</p>
                <a href="{:Url('/mobile/User/consult')}" class="toconsult">立即咨询</a>
            </div>
            <div class="duanwu_product">
            <volist name="$goods_e" id="val">
                <a href="{:Url('/mobile/User/consult')}">
                    <div class="productya">
                        <img src="{$val[original_img]}" alt="" class="img_prod">
                        <p class="productname">{$val[goods_name]}</p>
                        <div class="price_buy">
                            <p class="price">￥{$val[shop_price]}</p>
                            <div class="gobuy">立即咨询</div>
                        </div>
                    </div>
                </a>
            </volist>    
            </div>
            <a href="{:Url('/mobile/Goods/goodsFestivaldw')}">
                <div class="txt_more"><span>查看全部搭配</span><img src="/public/yilitong/images/m_icon_next@2x.png" alt=""></div>
            </a>

        </div>
    </div>
</body>

</html>