<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__MOBILE__/css/customization.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
	</head>
	<body>
		<div class="customization" id="customization">
			<header>
			<div class="back">
					<a href="javascript:history.back(-1)">
						<img src="__MOBILE__/images/icon_back.png">
					</a>
				</div>
				<div class="headName">产品定制</div>
				<div></div>
			</header>
			<nav></nav>
    <form action="" enctype="multipart/form-data" id="custom" method="post">
			<section>
				<div class="linkman">
                    <input type="hidden" name="goods_id" value="{$goods_id}" >
					<div class="linkmanLeft">联系人</div>
					<div class="linkmanRight"><input type="text" placeholder="输入您的姓名" v-model="linkman" id="linkman"></div>
				</div>
				<div class="linkman">
					<div class="linkmanLeft">联系电话</div>
					<div class="linkmanRight"><input type="tel" placeholder="输入您的联系电话" v-model="phone" id="phone"></div>
				</div>
				<div class="logo">
					<div class="logoLeft">上传Logo</div>
					<div class="logoRight">
						<div class="logoImg">
                   			<input type="hidden" name="imagesss" id="imgfile" value="" >
							<input type="file" @change="clickLogo" ref="fileInput" name="logoimg"   id="rpimg">
							<img class="logoImages" :src="logoImages">							
						</div>
						<div class="logoHint">图片大小控制在1M之内</div>
					</div>
				</div>
				<div class="leaveWord">
					<div class="leaveWordLeft">留言</div>
					<div class="leaveWordRight">
						<textarea placeholder="输入您的详细需求(可不填写)" maxlength="100" v-model="leaveWord"  id="demand"></textarea>
						<div class="wordCount"><span>{{leaveWord.length}}</span>/100</div>
					</div>
				</div>
				<div class="submit" @click="clickSubmit" >提交</div>
				<div class="explain">
					<div class="explainTitle">定制说明</div>
					<p>1.订购100份以上方可定制礼品；</p>
					<p>2.500数量可以定制礼盒，低于500数量，如需定制，可不干胶贴来展示。</p>
				</div>
			</section>
	</form>
		</div>
		<script src="__MOBILE__/js/vue.js"></script>
		<script src="/public/js/jquery-1.10.2.min.js"></script>
		<script src="__MOBILE__/js/images_ajax/lrz.bundle.js"></script>
		<script>

			var app = new Vue({
				el: "#customization",
				data: {
					linkman: "", //联系人
					phone: "", //联系电话
					logoImages: "", //LOGO
					leaveWord: "", //留言
				},
				directives: {

				},
				created: function() { // 进入

				},
				mounted: function() { // 挂载后

				},
				updated: function() {

				},
				methods: {
					clickLogo: function(e) {
						const file = this.$refs.fileInput.files[0]					
						const fr = new FileReader()
						fr.onload = (e) => {
							this.logoImages = e.target.result
						}
						fr.readAsDataURL(file)	
					},
					clickSubmit: function(e) { // 提交
						// console.log("点击提交:");
						var linkman = $("#linkman").val();
                        var phone = $("#phone").val();
                        var demand = $("#demand").val();
                        var goods_id="{$goods_id}";
                        var imgfile = $("#imgfile").val();
						$.ajax({
                            type : "POST",
                            url:"{:Url('Mobile/Goods/goodsCustomization')}",//+tab,
                            data : {demand:demand,linkman:linkman,phone:phone,goods_id:goods_id,logoImages:imgfile},// 你的formid
                            dataType: "json",
                            success: function(data){                       
                                if(data.status == '1')
                                {
                                    alert(data.msg);
                                    window.history.go(-1);       //返回上一页
                                }else{
                                    alert(data.msg);
                                     if(data.status == '-2'){
                                     location.href ="{:Url('Model/User/login')}";
                                    }
                                   
                                }
                                }
                            })
						// 必填项验证
						if (!this.linkman || !this.phone) {
							alert("信息不完整");
							return false;
						}
						// 手机号验证
						var regTel = new RegExp(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57]|19[9])[0-9]{8}$/);
						if (!regTel.test(this.phone)) {
							alert("请填写正确的手机号");
							return false;
						}
					},
				}

			})




        $('input[name=logoimg]').on('change', function(){
             lrz(this.files[0], {width: 640})
                .then(function (rst) {
                
                    //console.log(rst.base64);

               $.ajax({
		                type : "POST",
		                url:"{:Url('Mobile/Goods/goodsCustom')}",//+tab,
		                // data : $('#custom').serialize(),// 你的formid
		                data : {logoImages:rst.base64},// 你的formid
		                dataType: "json",
				        success: function (data) {

				        	//console.log(data);
				                    if (data.status) {
				                       $("#imgfile").attr("value", data.pic_path);
				                     }
				               }, error: function () {
				                alert("请求出错，请联系开发人员");
				            }


                });
                        
                })
                .catch(function (err) {
 
                })
                .always(function () {
 
                });
        });


		</script>
	</body>
</html>
