<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的店铺</title>
		<link rel="stylesheet" href="__MOBILE__/css/distribution.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
	</head>
	<body  onload="opener.location.reload()">
		<div class="hisShop">
			<header class="hisShopTOP" >
	<form action="" id="search-form" method="post" onSubmit="return false">
				<div class="backImg"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_white.png"></a></div>
				<div class="headImgs_name">
					<if condition="empty($distribution[head_pic])">
						<div class="headImg"><img src="__MOBILE__/images/bg_master_center.png" alt=""></div>
					<else/>
						<div class="headImg"><img src="{$distribution.head_pic}" alt=""></div>
					</if>
					<input type="hidden" class="input" value="{$distribution['id']}">
					<div class="referrerBox">
						<if condition="empty($distribution[shop_name])">
							<div class="designations">{$distribution.nickname}</div>
						<else/>
							<div class="designations">{$distribution.shop_name}</div>
						</if>
						<div class="referrer">我的邀请码:{$distribution['l_code']}</div>
					</div>
					<div class="compile"><a href="{:Url('/Mobile/Distribution/shopInfo',array('id'=>$distribution['id']))}"><img src="__MOBILE__/images/icon_edit.png"></a></div>
				</div>
				<div class="shops">
					<div class="entires" onclick="goods({$distribution['id']})">
						<div class="entireNum">{$num.goods_id}</div>
						<div value="1">全部商品</div>
					</div>
					<div class="borderLeft"></div>
					<div class="hisAttention" onclick="shop({$distribution['id']})" >
						<div class="entireNum">{$num.shop_id}</div>
						<div value="2">我关注的店铺</div>
					</div>
					<div class="borderLeft"></div>
					<div class="promotion">
						<a href="{:Url('/Mobile/Distribution/maxCard')}">
							<div class="codeImg"><img src="__MOBILE__/images/icon_qrcode_white.png"></div>
							<div style="color: #ffffff">我的推广二维码</div>
						</a>
					</div>
				</div>
				<if condition="$distribution['shop_brief']">
					<div class="shopExplain">{$distribution['shop_brief']}</div>
				<else/>
					<div class="shopExplain">店主还未编辑介绍.</div>
				</if>
		</form>
			</header>

			<section class="commodityBox">
			<div class="seek"  id="content" ><img src="__MOBILE__/images/icon_search.png">
				<input type="text" value="" maxlength="10"  id="searchText" placeholder="珍妮曲奇饼">
				<div id="append"></div>
			</div>
				<!--ajax 返回 --> 
      			<div id="ajax_return" cellpadding="0" cellspacing="0" border="0"></div> 
			</section>
			<section class="focusShop">
				<!--ajax 返回 --> 
      			<div id="ajax_return2" cellpadding="0" cellspacing="0" border="0"></div> 
			</section>
		</div>
		<div style="height: 1rem"></div>
<!--底部-start-->
<include file="distribution/bottom"/>
<!--底部-end-->

<script src="__MOBILE__/js/jquery-1.11.3.min.js"></script>							
<script type="text/javascript" src="__STATIC__/mobile/js/sourch_submit.js"></script>
<script type="text/javascript">

	$(document).ready(function () {
        // 加载页面后默认显示ajax 商品列表
		var id = $('.input').val(); 
    	goods(id);

    });
    function goods(id) {
        $(".commodityBox").show();
        ajax_sourch_submit();
        $(".focusShop").hide();
    }
    // 分页加载 start******************
    	var page = 1;
        function ajax_sourch_submit(){
            if(page > 20){
                return;
            }
	        $.ajax({
	            type: "POST",
	            url:"/Mobile/Distribution/ajaxGoods/p/"+page,
	            // url:"/Mobile/Distribution/ajaxGoods/id/"+id+"/p/"+page,
	            data: {value:1},
	            success: function (data) {
	                // $("#ajax_return").html('');
	                $("#ajax_return").append(data);
	            }
	        });
            page++;
        }
         ajax_sourch_submit();
    // 分页加载 start******************
         
    function shop(id) {
        $(".focusShop").show();
        $.ajax({
            type: "POST",
            url: "/index.php?m=Mobile&c=Distribution&a=ajaxShop&id="+id,
            data: {value:2},
            success: function (data) {
            	// console.log(data);
                $("#ajax_return2").html('');
                $("#ajax_return2").append(data);
            }
        });
        $(".commodityBox").hide();
    }


     $("#content").keydown(function(event){
		if(event.keyCode == 13){
			var id = $('.hidden').val();
			var keyword = $('#searchText').val();
			$.ajax({
				type: 'POST',
				url: "{:Url('Mobile/Distribution/ajaxGoods')}",
				data:{id:id,keyword:keyword},
				dataType: 'json',
				success: function(data){
					 $("#ajax_return").html('');
                     $("#ajax_return").append(data);
				}
			});
		}
	})
</script>
	</body>
</html>
