<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我推荐的店铺</title>
		<link rel="stylesheet" href="__MOBILE__/css/distribution.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
	</head>
	<body>
		<div class="hisShop">
			<header class="titlesBar">
				<div class="backImg"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_black.png"></a></div>
				<div>我推荐的店铺</div>
				<div></div>
			</header>
			<section class="focusShop">
			<if condition="!$shop">
				<div class="noFocusShop">
					<div><img src="__MOBILE__/images/icon_focus_false.png"></div>
					<div>您暂时没有推荐的店铺</div>
				</div>
			<else/>
				<div class="storeBox">
			<volist name="$shop" id="value" >
				<if condition="$value[id] eq $id">
					<a href="{:Url('Distribution/myShop',array('id'=>$id))}">
				<else/>
					<a href="{:Url('Distribution/shopDetails',array('id'=>$id,'shop_id'=>$value[id]))}">
				</if>
					<div class="store">
						<div class="storeImg">
						<if condition="!empty($value[images])">
							<img src="{$value.images}" alt="">
						<elseif condition="!empty($value[head_pic])">
							<img src="{$value.head_pic}" alt="">
						<else/>
							<img src="__MOBILE__/images/bg_master_center.png" alt="">
						</if>
						</div>
						<if condition="empty($value[shop_name])">
							<div>{$value.nickname}</div>
						<else/>
							<div>{$value.shop_name}</div>
						</if>
					</div>
				</a>
			</volist>
					<div class="hints">您已无更多推荐的店铺~</div>
				</div>
			</if>
			</section>
		</div>	
	</body>	
</html>
