<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>收益明细</title>
		<link rel="stylesheet" href="__MOBILE__/css/distribution.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
	</head>
	<body>
		<div class="hisShop" id="earningsDetail">
			<header class="titlesBar">
				<div class="backImg"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_black.png"></a></div>
				<div>收益明细</div>
				<div></div>
			</header>
			<!-- <div class="predictEarnings">预计收益：+<span>0.00</span>元</div> -->
			<nav class="detailNav" >
			<!-- <nav class="detailNav" onclick="order_list()"> -->
				<div><span :class="{'actives':curNav==1,'':curNav!=1}" @click="clickNav(1)">全部</span></div>
				<div><span :class="{'actives':curNav==2,'':curNav!=2}" @click="clickNav(2)">待审核</span></div>
				<div><span :class="{'actives':curNav==3,'':curNav!=3}" @click="clickNav(3)">已完成</span></div>
				<div><span :class="{'actives':curNav==4,'':curNav!=4}" @click="clickNav(4)">无效</span></div>
			</nav>
			<section class="commodityBox" >
					<!-- <div class="earningsDetail" v-show="curNav==1"> -->
			<!--ajax 返回 --> 
      			<div id="ajax_return" class="earningsDetail" cellpadding="0" cellspacing="0" border="0"></div> 
			<!-- </div> -->
			</section>
		</div>
		<script src="__MOBILE__/js/jquery-1.11.3.min.js"></script>							
		<script src="__MOBILE__/js/vue.js"></script>
		<script>
			var wap = new Vue({
				el: "#earningsDetail",
				data: {
					curNav:1
				},
				created: function() { // 进入
					
				},
				mounted: function() { // 挂载后
					
				},
				updated: function() {
					
				},
				methods: {
					clickNav: function(e) { // 导航选项切换
						console.log("点击导航：" + e);
						this.curNav = e;
				        $.ajax({
				            type: "POST",
				            url: "/index.php?m=Mobile&c=Distribution&a=ajaxReturnsDetail",
				            data: {type:this.curNav},
				            success: function (data) {
				                $("#ajax_return").html('');
				                $("#ajax_return").append(data);
		                		$("#ajax_return").show();
	                			$(".earningsss").show();
				            }
				        });
					},
				}
			})
		$(document).ready(function () {
	        // 加载页面后默认显示ajax 商品列表
			// var u_id = {$_SESSION['user']['user_id']};
	    	$.ajax({
	            type: "POST",
	            url: "/index.php?m=Mobile&c=Distribution&a=ajaxReturnsDetail",
	            data: {type:1},
	            success: function (data) {
	                $("#ajax_return").html('');
	                $("#ajax_return").append(data);
	            }
	        });
	   	});
		</script>
	</body>
</html>
