<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>搜索商品</title>
		<link rel="stylesheet" href="__MOBILE__/css/distribution.css">
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
	</head>
	<body>
	<input type="hidden" value="" id="types">
	<input type="hidden" value="" id="sort_asc">
	<input type="hidden" value="" id="types_s">
	<input type="hidden" value="" id="sort_asc_s">
		<div class="hisShop" id="search">
			<header class="titlesseBar">
				<div class="backImg"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_black.png"></a></div>
				<div class="hunt"  id="content" @keyup.enter="content" ><img src="__MOBILE__/images/icon_search.png">
				<!-- <a href="{:Url('/Mobile/Distribution/search')}"> -->
				<input type="text" maxlength="10" placeholder="珍妮曲奇饼"  name="q"  id="searchText" value="{$filter_param[q]}">
				<!-- </a> -->
				</div>
			</header>
			<div class="seekResult">
				<nav class="curnav"  @click="clickSave" >
					
					<div :class="{'f23057':curNav==1,'':curNav!=1}" @click="clickNav(1)">综合</div>
					<div :class="{'f23057':curNav==2,'':curNav!=2}" @click="clickNav(2)">销量</div>
					<div :class="{'f23057':curNav==3,'':curNav!=3}" @click="clickNav(3)">
						<div class="prices" v-show="showpriceImg" @click="clickPrice">价格<img src="__MOBILE__/images/icon_price.png"></div>
						<div class="prices" v-show="price_up" @click="clickPriceUp">价格<img src="__MOBILE__/images/icon_price_up .png" value="desc" ></div>
						<div class="prices" v-show="price_down" @click="clickPriceDown">价格<img src="__MOBILE__/images/icon_price_down.png" value="asc" ></div>
					</div>
					
					<div :class="{'f23057':curNav==4,'':curNav!=4}" @click="clickNav(4)">新品</div>
				</nav>
				<section class="commodityBox">
					<!--ajax 返回 --> 
					<div class="productBox" v-show="curNav==1"  id="ajax_return" cellpadding="0" cellspacing="0" border="0"></div>
				</section>
			</div>

			<div class="seekBox">
				<div class="noSeek">
					<div class="seekImg"><img src="__MOBILE__/images/icon_search_false.png"></div>
					<div>无结果，换个关键词试试</div>
				</div>
			</div>
		</div>
    	<div style="height: 1rem"></div>
		<!--底部-start-->
		<include file="distribution/bottom"/>
		<!--底部-end-->
		<script src="__MOBILE__/js/jquery-1.11.3.min.js"></script>	
		<!-- <script type="text/javascript" src="__STATIC__/mobile/js/sourch_submit.js"></script>			 -->
		<script src="__MOBILE__/js/vue.js"></script>
		<script type="text/javascript">

		//滚动加载更多
			$(window).scroll(
			    function() {
			        var scrollTop = $(this).scrollTop();
			        var scrollHeight = $(document).height();
			        var windowHeight = $(this).height();
			        if (scrollTop + windowHeight > scrollHeight - 200) {
			            ajax_sourch_submit();//调用加载更多
			        }
			    }
			);
		</script>
		<script>
			// 分页加载 start******************
		    	var page = 1;
		        function ajax_sourch_submit(){
				   var keyword    =  $('#searchText').val();
				   var sort_asc   =  $("#sort_asc").val();
				   var sort_asc_s =  $("#sort_asc_s").val();
				   var types_s    =  $("#types_s").val();
                   var types      =  $("#types").val();
                   if(types!=types_s || sort_asc!=sort_asc_s){
                    page =1;
                   $("#types_s").val(types);
                   $("#sort_asc_s").val(sort_asc);
                   }
		           if(page > 20){
		               return;
		           }
		            $.ajax({
		                type : "get",
		                url:"/Mobile/Distribution/ajaxSearchGoods/p/"+page,
            			data:{types:types,sort_asc:sort_asc,q:keyword,is_ajax:1,p:page},
		                success: function(data)
		                {
		                    if(data){
		                        $("#ajax_return").append(data);
		                    }
		                }
		            });
		            page++;
		        }
		         ajax_sourch_submit();
		         // 分页加载 end******************
		</script>
		<script>
			var app = new Vue({
				el: "#search",
				data: {
					showpriceImg: 1,
					price_up: 0,
					price_down: 0,
					curNav:1,
				},
				directives: {

				},
				created: function() { // 进入

				},
				mounted: function() { // 挂载后

				},
				updated: function() {

				},
				methods: {
					clickPrice: function(e) {
						this.showpriceImg = 0;
						this.price_up = 1;
						this.price_down = 0;
					},
					clickPriceUp: function(e) {
						this.showpriceImg = 0;
						this.price_up = 0;
						this.price_down = 1;

					},
					clickPriceDown: function(e) {
						this.showpriceImg = 0;
						this.price_up = 1;
						this.price_down = 0;
					},
					clickNav: function(e) { // 导航选项切换
						// console.log("点击导航：" + e);
						this.curNav = e;
					},
					clickSave:function(){
						this.submitData();
					},
					submitData: function() { //  提交数据给后端
						var keyword = $('#searchText').val();
                             $("#sort_asc").val(this.price_down);
                              $("#types").val(this.curNav);

						$.ajax({
							type:'POST',
							url:"{:Url('Mobile/Distribution/ajaxSearchGoods')}",
							data:{
								types:this.curNav,
								q:keyword,
								sort_asc:this.price_down,
							},
							dataType: 'json',
							success: function (data) {
	                          	$("#ajax_return").html('');
		                		$("#ajax_return").append(data);
		                		$("#ajax_return").show();
	                         }
						})
						ajax_sourch_submit();
					},
					content:function(){
						var keyword = $('#searchText').val();
						$.ajax({
							type: 'POST',
							url: "{:Url('Mobile/Distribution/ajaxSearchGoods')}",
							data:{
								types:this.curNav,
								q:keyword,
								sort_asc:this.price_down,
							},
							dataType: 'json',
							success: function(data){
								if (data) {
									if (data.status == -1) {
		                          		alert(data.msg);
		                          		return;
									}
				                	$("#ajax_return").html('');
				                	$("#ajax_return").append(data);
		                        }
							}
						});
						ajax_sourch_submit();
					}
				}
			})
		</script>
	</body>
</html>

