<include file="public/layout" />
 
<style type="text/css">
    html, body {
        overflow: visible;
    }
    .clearfix:after{
        clear:both;
        height:0;
        content:"";
        overflow:hidden;
        visibility:hidden;
        display:block;
    }
    .clearfix{
        clear:both;
        zoom:1;
    }
    .return-infos-container{
        border: 1px solid #ccc;
        width: 1000px;
        margin: 0 auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .return-infos-title{
        width: 100%;
        text-align: center;
        line-height: 40px;
        background: #f9f9f9;
    }
    .goods-infos-list{
        width: 1000px;
    }
    .goods-infos-list li{
        width: 1000px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }
    .goods-infos-list li:last-of-type{
        border-bottom: none;
    }
    .goods-infos-list li div{
        float: left;
        width: 150px;
        height: 30px;
        padding: 0 10px;
        line-height: 40px;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: right;
        font-weight: bold;
    }
    .goods-infos-list li div:last-of-type{
        border-right: none;
    }
    .goods-infos-list li .w-350{
        width: 350px;
        text-align: left;
        font-weight: normal;
    }
    .goods-infos-del{
        width: 1000px;
        overflow: hidden;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    .titleColor{
        background: #edfbf9;
    }
    .goods-infos-del li{
        width: 150px;
        height: 40px;
        line-height: 40px;
        float: left;
        text-align: center;
    }
    .goods-infos-del li:last-of-type{
        border-right: none;
    }
    .goods-infos-del .w-400{
        width: 400px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .goods-infos-del-1{
        width: 1000px;
        overflow: hidden;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-bottom: 1px solid #ccc;
    }
    .goods-infos-del-1 li{
        width: 150px;
        padding: 20px 0;
        float: left;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .goods-infos-del-1 li:last-of-type{
        border-right: none;
    }
    .goods-infos-del-1 .w-400{
        width: 400px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .return-description{
        width: 1000px;
        border-bottom: 1px solid #ccc;
    }
    .return-description li{
        float: left;
        padding: 10px;
        min-height: 110px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .return-description li:nth-of-type(1){
        width: 150px;

        text-align: right;
        border-right: 1px solid #ccc;

    }
    .return-description li:nth-of-type(2){
        width: 850px;
        text-align: left;
    }
    #return-description img{
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .upload-img{
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .upload-img li{
        float: left;
        padding: 10px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .return-description-tips{
        width: 1000px;
    }
    .return-description-tips li{
        float: left;
        padding: 10px;
        min-height: 150px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .return-description-tips li:nth-of-type(1){
        width: 150px;
        text-align: right;
        border-right: 1px solid #ccc;
    }
    .return-description-tips li:nth-of-type(2){
        width: 850px;
        text-align: left;
    }

    .comment-list{
        font-size: 12px;
        max-height: 250px;
        overflow-y: auto;
    }
    .comment-list dd{
        line-height: 20px;
    }
    .comment-list .buyer{
        color: #555;
    }
    .comment-list .seller{
        color: orange;
    }
	 .reply{
        display: inline-block;
        padding: 5px 20px;
        background: #ec5151;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
    }
    .reply:hover{
        background: #e6002d;
    }

    /* **** 底部按钮 start *** */
    .dom a{
        display: inline-block;
        padding: 5px 20px;
        background: #ec5151;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
    }
    .dom a:hover{
        background: #e6002d;
    }
    /* **** 底部按钮 end *** */
</style>
<link rel="stylesheet" href="__PUBLIC__/static/css/bootstrap.min.css">
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>退换货详情</h3>
        <h5>用户提交退换货详情，暂时不能退款</h5>
      </div>
    </div>
  </div>
  <form class="form-horizontal" method="post" id="return_form"  name="return_form" ">



      <!-- new start -->
      <div class="return-infos-container">
          <div class="return-infos-title">订单基本信息</div>
          <ul class="goods-infos-list">
              <li>
                  <div>订单ID：</div>
                  <div class="w-350">{$order.order_id}</div>
                  <div>订单号：</div>
                  <div class="w-350"><a href="{:Url('Admin/order/detail',array('order_id'=>$return_order['order_id']))}">{$order.order_sn}</a></div>
              </li>
              <li>
                  <div>会员：</div>
                  <div class="w-350">{$order.consignee}</div>
                  <div>电话：</div>
                  <div class="w-350">{$order.mobile}</div>
              </li>
              <li>
                  <div>应付金额：</div>
                  <div class="w-350">{$order.order_amount}</div>
                  <div>下单时间：</div>
                  <div class="w-350">{$order.add_time|date='Y-m-d H:i',###}</div>
              </li>
              <li>
                  <div>订单状态：</div>
                  <div class="w-350">{$order_status[$order[order_status]]} / {$pay_status[$order[pay_status]]} / {$shipping_status[$order[shipping_status]]}</div>
                  <div>支付时间：</div>
                  <div class="w-350"><if condition="$order.pay_time neq 0">{$order.pay_time|date='Y-m-d H:i',###}<else/>N</if></div>
              </li>
              <li>
                  <div>收货时间：</div>
                  <div class="w-350"><if condition="$order.confirm_time neq 0">{$order.confirm_time|date='Y-m-d H:i',###}<else/>未确认收货</if></div>
                  <div>店铺名称：</div>
                  <div class="w-350">{$order.supplier_name}</div>
              </li>
              <li>
                  <div>支付方式：</div>
                  <div class="w-350">{$order.pay_name|default='其他方式'}</div>
                  <div>支付流水号：</div>
                  <div class="w-350">{$order.transaction_id}</div>
              </li>
          </ul>

          <div class="return-infos-title">收货信息</div>
          <ul class="goods-infos-list">
              <li>
                  <div>收货人：</div>
                  <div class="w-350">{$order.consignee}</div>
                  <div>联系方式：</div>
                  <div class="w-350">{$order.mobile}</div>
              </li>
              <li>
                  <div>收货地址：</div>
                  <div class="w-350">{$order.address2}</div>
                  <div>配送方式：</div>
                  <div class="w-350">{$order.shipping_name}</div>
              </li>

              <li>
                  <div>买家留言：</div>
                  <div style="width:850px;text-align:left;font-weight: normal;">{$order.user_note}</div>
              </li>
          </ul>

          <div class="return-infos-title">申请售后商品信息</div>
          <ol class="goods-infos-del titleColor">
              <li class="w-400">商品</li>
              <li>规格属性</li>
              <li>售后数量</li>
              <li>单品价格</li>
			        <li>退款金额</li>
          </ol>

          <ul class="goods-infos-del-1">
              <li class="w-400">
                  <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$return_order[goods_id]))}" target="_blank">{$goods[goods_name]}</a>
              </li>
              <li>
                  {$goods['spec_key_name']}
              </li>
              <li>
                 {$goods['send_number']}
              </li>
              <li>
				 {$goods['goods_price']}
              </li>
			  <li>
				 {$return_order['shop_price']}
              </li>
          </ul>

          <ul class="goods-infos-list" style="border-bottom: 1px solid #ccc;">
              <li>
                  <div>服务类型：</div>
                  <div style="width:850px;text-align:left;font-weight: normal;">
                      <if $return_order['type'] eq 1>退货<else>换货</if>
                  </div>
              </li>
          </ul>
          <ul class="goods-infos-list" style="border-bottom: 1px solid #ccc;">
              <li>
                  <div>申请日期：</div>
                  <div style="width:850px;text-align:left;font-weight: normal;">
                      {$return_order.addtime|date="Y-m-d H:i",###}
                  </div>
              </li>
          </ul>
          <ul class="return-description clearfix">
              <li style="font-weight:bold;">客户退换描述：</li>
              <li>
                  {$return_order['reason']}
              </li>
          </ul>

          <ul class="return-description clearfix">
              <li style="font-weight:bold;">客户上传图片凭证：</li>
              <li id="return-description">
                  <volist name="return_order[imgs]" id="item">
                      <a href="{$item}" target="_blank"><img src="{$item}" width="85" height="85" /></a>
                  </volist>
              </li>
          </ul>
		   <ul class="goods-infos-list" style="border-bottom: 1px solid #ccc;">
		   <li>
			  <div>用户寄回信息：</div>
                  <div style="width:850px;text-align:left;font-weight: normal;">
                      {$return_order.refund_shipping_no}
                  </div>
            
                  
              </li>
          </ul>

          <ul class="goods-infos-list" style="border-bottom: 1px solid #ccc;">
              <li>
                  <div style="font-weight:bold;">当前售后状态：</div>
                  <div style="width:850px;text-align:left;font-weight: normal;">
                          <if condition="$return_order['status'] eq 0">未处理</if>
                          <if condition="$return_order['status'] eq 1">处理中</if>
                          <if condition="$return_order['status'] eq -1">拒绝申请</if>
                          <if condition="$return_order['status'] eq 4">收到寄回商品</if>
                          <if condition="$return_order['status'] eq 5">寄出换货</if>
                          <if condition="$return_order['status'] eq 6">已完成</if>
                  </div>
              </li>
          </ul>

          <ul class="return-description-tips clearfix" style="border-bottom:1px solid #ccc;">
              <li style="font-weight:bold;">回复客户：</li>
              <li>
                  <textarea name="content" id="content" cols="80" rows="80" style="min-height:120px;" placeholder="退货地址及回复"></textarea>
          <a class="reply" onclick="ajax_submit_form('return_form','{:Url('Admin/order/return_info',array('id'=>$return_order['id'],'type'=>''))}');" >
               		回复</a>
              </li>
	
          </ul>
          <input type="hidden" name="id" value="{$id}">

          <ul class="return-description-tips clearfix">
              <li style="font-weight:bold;">留言：</li>
              <li class="comment-list">
                  <dl>
				     <foreach name="msg" key="k" item="v">
					  <if $v.supplier_id eq 0> 
					
						<dd class="seller">{$order.consignee}：<span>{$v.content}</span></dd>
					  
					  <else>
					 
						<dd class="buyer">{$order.supplier_name}：<span>{$v.content}</span></dd>
					  
					  </if>
                       
					  </foreach>
                      
                      
                  </dl>
              </li>
          </ul>
      </div>

      <div class="dom" style="width:1000px;margin: 30px auto 50px auto;text-align:center;">
          <!-- <div class="bot"> -->
				  <if $return_order['status'] eq 4>
					  <a href="{:Url('Admin/Order/delivery_info',array('order_id'=>$return_order['order_id']))}" >
						  完成维修/换新，去发货
                      </a>
				  </if>
          <!-- 售后操作 -->
			  <foreach name="button" item="vo" key="k">
			   <a <if $k eq 'refund'> onclick="received()"<else>onclick="ajax_submit_form('return_form','{:Url('Admin/order/return_info',array('id'=>$return_order['id'],'type'=>$k))}');"</if> >
               		{$vo}</a>
			  </foreach>
          </div>
      </div>
      <!-- new end -->
  </form>
</div>
<script type="text/javascript">
function received($k) {
	// 删除按钮
	layer.confirm('确认退款？', {
		btn: ['确定'] //按钮
	}, function () {
		//console.log("确定");
		ajax_submit_form('return_form',"{:Url('Admin/order/return_info',array('id'=>$return_order['id'],'type'=>'refund'))}");
	}, function () {
		console.log("取消");
	});
}

</script>

</body>
</html>