<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes”/>
    <title>超级品牌月9.9秒杀</title>
    <link rel="stylesheet" href="__STATIC__/mobile/css/mobile_designer.css">
    <link rel="stylesheet" href="__STATIC__/mobile/css/active.css">
    <style>
        .mid_autumn_goods_list li{
            position: relative;
        }
        .next{
            cursor:pointer;
        }
        #col-1{
            display: block;
        }
        #col-2{
            display: none;
        }
        .no-count{
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.6);
            color: #fff;
            text-align: center;
            line-height: 35rem;
            font-size: 3.6rem;
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>
<body>
    <div class="mid-month-bg">
        <div class="h5_mid_autumn_bg"><img src="/public/upload/active/images/mid_month_bg.png" alt=""></div>



        <!-- 10.19 start -->
        <div id="col-1">

            <!-- 今日秒杀 start -->
            <div class="mid_month_title">今日秒杀</div>
            <ul class="mid_autumn_goods_list">
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3560.html"><img src="/public/upload/active/images/mid_month_p1_1.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">垃圾袋5卷实惠装</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥20.00</s></dt>
                        <dd><a href="http://www.yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3560.html">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3198.html"><img src="/public/upload/active/images/mid_month_p1_2.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">卡通盒装彩色儿童皮筋</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥16.90</s></dt>
                        <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3198.html">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2657.html"><img src="/public/upload/active/images/mid_month_p1_3.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">馨恋水果手工皂香皂</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥45.00</s></dt>
                        <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2657.html">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3341.html"><img src="/public/upload/active/images/mid_month_p1_4.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">双层不锈钢保温保鲜饭盒</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥16.90</s></dt>
                        <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3341.html">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3361.html"><img src="/public/upload/active/images/mid_month_p1_5.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">芦荟修复补水润唇膏</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥18.80</s></dt>
                        <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3361.html">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3562.html"><img src="/public/upload/active/images/mid_month_p1_6.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">农家自制姜糖片</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥15.00</s></dt>
                        <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3562.html">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3557.html"><img src="/public/upload/active/images/mid_month_p1_7.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">爆炸果汽糖果水果糖</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥15.00</s></dt>
                        <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3557.html">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2907.html"><img src="/public/upload/active/images/mid_month_p1_8.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">精选彩晶石手工吊坠</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥128.00</s></dt>
                        <dd><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/2907.html">立即抢购</a></dd>
                    </dl>
                </li>
            </ul>
            <!-- 今日秒杀 end -->


            <!-- 明日预告 start -->
            <div class="mid_month_title">明日预告</div>
            <ul class="mid_autumn_goods_list">
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3303.html"><img src="/public/upload/active/images/mid_month_p14_1.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">长寿果特级新鲜银杏果</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥28.80</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3510.html"><img src="/public/upload/active/images/mid_month_p14_2.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">跑步手机臂包运动手臂包</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥25.00</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3576.html"><img src="/public/upload/active/images/mid_month_p14_3.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">卡通手捂抱枕暖手宝</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥23.00</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3575.html"><img src="/public/upload/active/images/mid_month_p14_4.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">创意多功能手机支架</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥20.00</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3574.html"><img src="/public/upload/active/images/mid_month_p14_5.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">浮雕卡通苹果手机壳</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥16.00</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3573.html"><img src="/public/upload/active/images/mid_month_p14_6.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">手工切片三味曲奇饼干</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥22.00</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3572.html"><img src="/public/upload/active/images/mid_month_p14_7.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">罐装酸甜情人梅零食</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥16.00</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/3571.html"><img src="/public/upload/active/images/mid_month_p14_8.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">经典蓝色格子折叠雨伞</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥15.00</s></dt>
                        <dd><a href="javascript:void(0);" class="next">立即抢购</a></dd>
                    </dl>
                </li>
            </ul>
            <!-- 明日预告 end -->


        </div>
        <!-- 10.19 end -->



        <!-- 10.20 start -->
        <div id="col-2">

            <!-- 今日秒杀 start -->
            <div class="mid_month_title" id="bbs">今日秒杀</div>
            <ul class="mid_autumn_goods_list">
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3303)"><img src="/public/upload/active/images/mid_month_p14_1.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">长寿果特级新鲜银杏果</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥28.80</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3303)">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3510)"><img src="/public/upload/active/images/mid_month_p14_2.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">跑步手机臂包运动手臂包</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥25.00</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3510)">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3576)"><img src="/public/upload/active/images/mid_month_p14_3.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">卡通手捂抱枕暖手宝</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥23.00</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3576)">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3575)"><img src="/public/upload/active/images/mid_month_p14_4.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">创意多功能手机支架</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥20.00</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3575)">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3574)"><img src="/public/upload/active/images/mid_month_p14_5.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">浮雕卡通苹果手机壳</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥16.00</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3574)">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3573)"><img src="/public/upload/active/images/mid_month_p14_6.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">手工切片三味曲奇饼干</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥22.00</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3573)">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3572)"><img src="/public/upload/active/images/mid_month_p14_7.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">罐装酸甜情人梅零食</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥16.00</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3572)">立即抢购</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="mid_autumn_goods-img"><a href="javascript:void(0);" onclick="clickId(3571)"><img src="/public/upload/active/images/mid_month_p14_8.jpg" alt=""></a></div>
                    <h4 class="mid_autumn_goods-name">经典蓝色格子折叠雨伞</h4>
                    <dl class="mid_autumn_goods-price">
                        <dt>¥9.90<s>¥15.00</s></dt>
                        <dd><a href="javascript:void(0);" onclick="clickId(3571)">立即抢购</a></dd>
                    </dl>
                </li>
            </ul>
            <!-- 今日秒杀 end -->


        </div>
        <!-- 10.20 end -->



        <div id="LeftTime" style="display: none;">
            <span id="_d"></span>
            <span id="_h"></span>
            <span id="_m"></span>
            <span id="_s"></span>
        </div>

    </div>

    <!--底部-start-->
    <!--<include file="public/designerFooter"/>-->
    <!--底部-end-->

    <script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>

    <script>
        //h5与原生 js交互
        var u = navigator.userAgent;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        var versionID = 0;  //声明版本变量并设置初始值

        function postH5IosVersionId(versionId) //IOS & 安卓 APP调用函数传APP版本号
        {
            versionID = versionId;
        }

        function clickId(gid){
            if(isiOS)
            {
                if(parseInt(versionID) >= 10){ //协商规定版本号为10，判断APP版本，有版本号跳原生详情页，否则挑正常网页链接
                    window.webkit.messageHandlers.senderModel.postMessage({goodid: gid, eventType: "jumpDetail"});
                }else{
                    location.href = "http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/" + gid + ".html"
                }
            }else if(isAndroid){
                if(parseInt(versionID) >= 10){
                    var result = prompt("js://webview?goodsid=" + gid);
                }else{
                    location.href = "http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/" + gid + ".html"
                }
            }else{
                location.href = "http://yilitong.com/index.php/Mobile/Goods/goodsInfo/id/" + gid + ".html"
            }
        }


        function countTime1() {
            //获取当前时间
            var date = new Date();
            var now = date.getTime();
            //设置截止时间
            var endDate = new Date("2017/10/20 00:00");
            var end = endDate.getTime();
            //时间差
            var leftTime = end-now;
            //定义变量 d,h,m,s保存倒计时的时间
            var d,h,m,s;
            if (leftTime>=0) {
                d = Math.floor(leftTime/1000/60/60/24);
                h = Math.floor(leftTime/1000/60/60%24);
                m = Math.floor(leftTime/1000/60%60);
                s = Math.floor(leftTime/1000%60);

                //将倒计时赋值到div中
                document.getElementById("_d").innerHTML = d+"天";
                document.getElementById("_h").innerHTML = h+"时";
                document.getElementById("_m").innerHTML = m+"分";
                document.getElementById("_s").innerHTML = s+"秒";
                //递归每秒调用countTime方法，显示动态时间效果

            }else{
                //alert(123);
                document.getElementById('col-1').style.display = 'none';
                document.getElementById('col-2').style.display = 'block';
                clearInterval(countTime1)
            }

        }
        countTime1();
        var sh;
        sh = setInterval(countTime1,1000);



        $(function () {
            $('.next').each(function () {
                $(this).click(function () {
                    alert('请关注明日活动哦！')
                })
            });
        })
    </script>
</body>
</html>