<include file="public/layout" />
<include file="public/file-thumd-modal">
<!--物流配置 css -start-->
<style>
    ul.group-list {
        width: 96%;min-width: 1000px; margin: auto 5px;list-style: disc outside none;
    }
    ul.group-list li {
        white-space: nowrap;float: left;
        width: 150px; height: 25px;
        padding: 3px 5px;list-style-type: none;
        list-style-position: outside;border: 0px;margin: 0px;
    }
    .row .table-bordered td .btn,.row .table-bordered td img{
        vertical-align: middle;
    }
    .row .table-bordered td{
      padding: 8px;
      line-height: 1.42857143;
    }
    .table-bordered{
      width: 100%
    }
    .table-bordered tr td{
      border: 1px solid #f4f4f4;
    }
    .btn-success {
        color: #fff;
        background-color: #449d44;
        border-color: #398439 solid 1px;
    }
    .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.row .tab-pane h4{
  padding: 10px 0;
}
.row .tab-pane h4 input{
  vertical-align: middle;
} 
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.ncap-form-default .title{
  border-bottom: 0
}
.ncap-form-default dl.row, .ncap-form-all dd.opt{
    /*border-color: #F0F0F0;*/
    border: none;
}
.ncap-form-default dl.row:hover, .ncap-form-all dd.opt:hover{
    border: none;
    box-shadow: inherit;
}

    /* *** 一键设计价格,一键设置库存 start *** */
    .setSamePrice,.setSameNum{
        display: inline-block;
        padding: 4px 6px;
        border: 1px solid #ccc;
        min-width: 50px;
        max-width: 100px;
        /*outline: none;*/
        font-size: 12px;
        border-radius: 4px;
        margin-left: 50px;
    }
    /* *** 一键设计价格 start *** */
    /*场景分类样式*/
    .extend_cat_id,.extend_cat_id_2,.extend_cat_id_3{
        height:200px;
    }
</style>
<!--物流配置 css -end-->
<!--以下是在线编辑器 代码 -->
<script type="text/javascript">
    /*
     * 在线编辑器相 关配置 js 
     *  参考 地址 http://fex.baidu.com/ueditor/
     */
    window.UEDITOR_Admin_URL = "/public/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";
</script>
<script type="text/javascript" charset="utf-8" src="/public/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/Ueditor/ueditor.all.min.js"> </script>
 <script type="text/javascript" charset="utf-8" src="/public/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">  
  
    var editor;
    $(function () {
        //具体参数配置在  editor_config.js  中
        var options = {
            zIndex: 999,
            initialFrameWidth: "95%", //初化宽度
            initialFrameHeight: 400, //初化高度
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign'
            , //允许的最大字符数 'fullscreen',
            pasteplain:false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
            autoHeightEnabled: true
         /*   autotypeset: {
                mergeEmptyline: true,        //合并空行
                removeClass: true,           //去掉冗余的class
                removeEmptyline: false,      //去掉空行
                textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                removeEmptyNode: false,      //去掉空节点
                                             //可以去掉的标签
                removeTagNames: {"font": 1},
                indent: false,               // 行首缩进
                indentValue: '0em'           //行首缩进的大小
            }*/,
            toolbars: [
                   ['fullscreen', 'source', '|', 'undo', 'redo',
                       '|', 'bold', 'italic', 'underline', 'fontborder',
                       'strikethrough', 'superscript', 'subscript',
                       'removeformat', 'formatmatch', 'autotypeset',
                       'blockquote', 'pasteplain', '|', 'forecolor',
                       'backcolor', 'insertorderedlist',
                       'insertunorderedlist', 'selectall', 'cleardoc', '|',
                       'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                       'customstyle', 'paragraph', 'fontfamily', 'fontsize',
                       '|', 'directionalityltr', 'directionalityrtl',
                       'indent', '|', 'justifyleft', 'justifycenter',
                       'justifyright', 'justifyjustify', '|', 'touppercase',
                       'tolowercase', '|', 'link', 'unlink', 'anchor', '|',
                       'imagenone', 'imageleft', 'imageright', 'imagecenter',
                       '|', 'insertimage', 'emotion','insertframe',
                       'insertcode', 'pagebreak', 'template',
                       'background', '|', 'horizontal', 'date', 'time',
                       'spechars', 'wordimage', '|',
                       'inserttable', 'deletetable',
                       'insertparagraphbeforetable', 'insertrow', 'deleterow',
                       'insertcol', 'deletecol', 'mergecells', 'mergeright',
                       'mergedown', 'splittocells', 'splittorows',
                       'splittocols', '|', 'print', 'preview', 'searchreplace']
               ]
        };
        editor = new UE.ui.Editor(options);
        editor.render("goods_content");  //  指定 textarea 的  id 为 goods_content

    }); 
</script>
<!--以上是在线编辑器 代码  end-->
<body class="page-header-fixed" style="background-color: #FFF; overflow: auto;">

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>商品管理</h3>
                <h5>商品基本属管理</h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="javascript:void(0);" data-index='1' class="tab current"><span>通用信息</span></a></li>
                <li><a href="javascript:void(0);" data-index='2' class="tab"><span>商品相册</span></a></li>
                <li><a href="javascript:void(0);" data-index='3' class="tab"><span>商品模型</span></a></li>    
                <li><a href="javascript:void(0);" data-index='5' class="tab"><span>SEO设置</span></a></li>                       
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li>请务必正确填写商品信息</li>
            <li>图片尺寸为800*800或等比例正方形，避免展示时图片压缩变形</li>

        </ul>
    </div>
    <!--表单数据-->
    <form method="post" id="addEditGoodsForm" data-auto="true">
<div id="tabBox">
<!--通用信息-->
        <div class="ncap-form-default tab_div_1">
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">商品名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.goods_name}" name="goods_name" class="input-txt"/>
                    <span class="err" id="err_goods_name" style="color:#F00; display:none;"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">商品货号</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.goods_sn}" name="goods_sn" class="input-txt"/>
                    <span class="err" id="err_goods_sn" style="color:#F00; display:none;"></span>                
                    <p class="notic">如果不填会自动生成</p>
                </dd>
            </dl>        
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">商品分类</label>
                </dt>
                <dd class="opt">
                      <!-- <select name="cat_id" id="cat_id" onChange="red_get_category(this.value,'cat_id_2','0');" class="small form-control"> -->
                      <select name="cat_id" id="cat_id" onChange="get_category(this.value,'cat_id_2','0');" class="small form-control">
                        <option value="0">请选择商品分类</option>                                      
                             <foreach name="cat_list" item="v" key="k" >
                                <option value="{$v['id']}" <if condition="$v['id'] eq $level_cat['1']">selected="selected"</if> >
                                    {$v['name']}
                                </option>
                             </foreach>
                      </select>
                      <!-- <select name="cat_id_2" id="cat_id_2" onChange="red_get_category(this.value,'cat_id_3','0');" class="small form-control"> -->
                      <select name="cat_id_2" id="cat_id_2" onChange="get_category(this.value,'cat_id_3','0');" class="small form-control">
                        <option value="0">请选择商品分类</option>
                      </select>
                      <select name="cat_id_3" id="cat_id_3" class="small form-control">
                        <option value="0">请选择商品分类</option>
                      </select>                      
                    <span class="err" id="err_cat_id" style="color:#F00; display:none;"></span>
                </dd>
            </dl>             
                <dl class="row">
                    <dt class="tit">
                        <label for="record_no">场景分类</label>
                    </dt>
                    <dd class="opt">
                      <select name="extend_cat_id" id="extend_cat_id" onChange="get_scenario_category(fun(),'extend_cat_id_2','0');" class="small form-control extend_cat_id" multiple="true">
                        <option value="0">请选择场景分类</option>
                             <foreach name="cat_scenario_list" item="v" key="k" >
                               <option value="{$v['id']}" <if condition="$v['id'] eq $level_cat2['1']">selected="selected"</if> >
                                 {$v['name']}
                               </option>
                             </foreach>
                      </select>
                        <!--<input type="button" value="确定" onclick="fun()" />-->
                      <select name="extend_cat_id_2" id="extend_cat_id_2" onChange="get_scenario_category(fun2(),'extend_cat_id_3','0');" class="small form-control extend_cat_id_2" multiple="true">
                        <option value="0">请选择场景分类</option>
                      </select>
                        <!--<input type="button" value="确定" onclick="fun2()" />-->
                      <select name="extend_cat_id_3" id="extend_cat_id_3" onChange="get_scenario_category(fun3(),'extend_cat_id_4','0');" class="small form-control extend_cat_id_3" multiple="true">
                        <option value="0">请选择场景分类</option>
                      </select>
                        <!--<input type="button" value="确定" onclick="fun3()" />-->
                        <span class="err" id="err_extend_cat_id" style="color:#F00; display:none;"></span>
                    </dd>
                </dl>  
                <dl class="row">
                    <dt class="tit">
                        <label for="record_no">商品品牌</label>
                    </dt>
                    <dd class="opt">
                    <select name="brand_id" id="brand_id"  class="small form-control">
                             <option value="">所有品牌</option>
                            <foreach name="brandList" item="v" key="k" >
                               <option value="{$v['id']}"  <if condition="$v['id'] eq $goodsInfo['brand_id'] ">selected="selected"</if>>
                                    {$v['name']}
                               </option>
                             </foreach>
                      </select> 
                    </dd>
                </dl> 
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">是否可定制LOGO</label>
                </dt>
                <select name="is_logo" id="is_logo" class="small form-control">
                    <option value="0" <if condition="$goodsInfo['is_logo'] eq 0">selected="selected"</if>>否</option>
                    <option value="1" <if condition="$goodsInfo['is_logo'] eq 1">selected="selected"</if>>是</option>
                </select>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">市场价</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.market_price}" name="market_price" class="t_mane" onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
                    <span class="err" id="err_market_price" style="color:#F00; display:none;"></span>
                     <p class="notic">供应商给出的市场参考价，谨慎修改</p>
                </dd>
            </dl>       
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">一件代发价</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.shop_price}" name="shop_price" class="t_mane" onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
                    <span class="err" id="err_shop_price" style="color:#F00; display:none;"></span>
                </dd>
            </dl>     
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">集采价</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.group_price}" name="group_price" class="t_mane" onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
                    <span class="err" id="err_shop_price" style="color:#F00; display:none;"></span>
                </dd>
            </dl>   
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">出货价</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.cost_price}" name="cost_price" class="t_mane" onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
                    <span class="err" id="err_market_price" style="color:#F00; display:none;"></span>
                     <p class="notic">仅供后台查看，不予展示</p>
                </dd>
            </dl> 
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">采购价</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.red_cost_price}" name="red_cost_price" class="t_mane" onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" <if condition="$goodsInfo.supplier_name neq '红礼供应链' && !empty($goodsInfo)" > readonly </if>/>
                    <span class="err" id="err_market_price" style="color:#F00; display:none;"></span>
                     <p class="notic">供应商填写的供货价，仅供后台查看，不予展示,供应商上传的商品后台不可修改</p>
                </dd>
            </dl>   
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">供货商名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.suppliers_name}" name="suppliers_name" class="t_mane" />
                     <p class="notic">仅供后台查看，不予展示</p>
                </dd>
            </dl> 
      
        <dl class="row">
            <dt class="tit">图片上传</dt>
            <dd class="opt">
            <div class="input-file-show" id="divComUploadContainer" style="width:50px;height:50px;border:none;padding:0;">
                <img onclick="showModal()" id="avatarImg" width="50" height="50" style="cursor: pointer;border:none;" src="{$goodsInfo.original_img|default='/public/static/images/addPic_icon.png'}">
                <input type="hidden" name="original_img" id="original_img" value="{$goodsInfo.original_img}">
                <input type="hidden" name="goods_thumb" id="thumb_img" value="{$goodsInfo.goods_thumb}">
            </div>
              <div id="thumbnails" class="ncap-thumb-list">
                <h5><i class="fa fa-exclamation-circle"></i> 请上传图片格式文件。</h5>
              </div>
            </dd>
        </dl>            

            <dl class="row">
                <dt class="tit">
                    <label for="record_no">库存数量</label>
                </dt>
                <dd class="opt">                
                    <if condition="$goodsInfo[goods_id] gt 0">
                        <input type="text" value="{$goodsInfo.store_count}" class="t_mane" name="store_count" onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
                    <else />
                        <input type="text" value="{$config[basic_default_storage]}" class="t_mane" name="store_count" onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />                                         
                    </if>
                    <span class="err" id="err_store_count" style="color:#F00; display:none;"></span>
                </dd>
            </dl>  
           <dl class="row">
                <dt class="tit">
                    <label for="record_no">商品简单描述</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.goods_remark}" name="goods_remark" class="input-txt"/>
                    <span class="err" id="err_keywords" style="color:#F00; display:none;"></span>
                </dd>
            </dl> 

            <!-- 礼包商品选择 -->
            <if condition="$is_group">
                <dl class="row">
                    <dt class="tit">
                        <label><em>*</em>选择礼包商品</label>
                    </dt>
                    <dd class="opt">
                        <input name="code_type" type="radio" value="0" id="code_type1" <if condition="$code['code_type'] eq 0">checked</if>>
                        <label class="notic" for="code_type1">
                            <a onclick="selectGoods()" class="ncap-btn"><i class="fa fa-search"></i>选择红礼商品</a>
                        </label>              
                    </dd>
                </dl>
                <dl class="row"> 
                    <dt class="tit">
                        <label>已选择的优惠商品</label>
                    </dt>
                    <dd class="opt">
                        <table>
                            <thead>
                            <tr>
                                <th style="display:none">选择</th>
                                <th class="text-left">商品名称</th>
                                <th class="text-left">价格</th>
                                <th class="text-left">库存</th>
                                <th class="text-left">操作</th>
                            </tr>
                            </thead>
                            <tbody id="goods_list">
                            <foreach name="prom_goods" item="vo">
                                <tr>
                                    <td style="display:none"><input type="checkbox" name="goods_group[]" checked="checked" value="{$vo.goods_id}"/></td>
                                    <td class="text-left">{$vo.goods_name}</td>
                                    <td class="text-left">{$vo.shop_price}</td>
                                    <td class="text-left">{$vo.store_count}</td>
                                    <td class="text-left"><a href="javascript:void(0)" onclick="javascript:$(this).parent().parent().remove();">删除</a></td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </dd>
                </dl> 
            </if>
    
            <!-- 礼包商品选择结束 -->

            <dl class="row">
                <dt class="tit">
                    <label for="record_no">商品详情描述</label>
                    <br/>
                    <h5 style="width: 150px;float: right;color:#F93; "><i class="fa fa-exclamation-circle"></i> 详情图要求：宽度800px内，高度1000px内，按照顺序上传；单张图片不超过2m；PNG/JPG格式；高清、视觉效果良好；</h5>
                </dt>
                <dd class="opt">                    
                    <textarea class="span12 ckeditor" id="goods_content" name="goods_content" title="">{$goodsInfo.goods_content}</textarea>
                    <span class="err" id="err_goods_content" style="color:#F00; display:none;"></span>                    
                </dd>
            </dl>  

            <dl class="row">
                <dt class="tit">
                    <label for="record_no">规格参数</label>
                </dt>
                <dd class="opt">                    
                <!-- 加载编辑器的容器 -->
                <script id="container" name="attribute" type="text/plain">
                    {$goodsInfo.attribute}
                </script>
                <!-- 配置文件 -->
                <!-- 实例化编辑器 -->
                <script type="text/javascript">
                    var ue = UE.getEditor('container');
                    </script>                  
                </dd>
            </dl>

        </div>
<!--通用信息-->
<!-- 商品相册-->        
        <div class="ncap-form-default tab_div_2" style="display:none;">
            <dl class="row">
                
                         <div class="tab-pane" id="tab_goods_images">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>                                    
                                    <td>                                    
                                    <foreach name="goodsImages" item="vo" key="k" >
                                        <div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
                                            <input type="hidden" value="{$vo['image_url']}" name="goods_images[]">
                                            <a onClick="" href="{$vo['image_url']}" target="_blank"><img width="100" height="100" src="{$vo['image_url']}"></a>
                                            <br>
                                            <a href="javascript:void(0)" onClick="ClearPicArr2(this,'{$vo['image_url']}')">删除</a>
                                        </div>
                                    </foreach>
                                    
                                        <div class="goods_xc" style="width:100px; text-align:center; margin: 5px; display:inline-block;">
                                            <input type="hidden" name="goods_images[]" value="" />
                                            <a href="javascript:void(0);" onClick="GetUploadify(10,'','goods','call_back2');"><img src="/public/images/add-button.jpg" width="100" height="100" /></a>
                                            <br/>
                                            <a href="javascript:void(0)">&nbsp;&nbsp;</a>
                                        </div>                                        
                                    </td>
                                </tr>                                              
                                </tbody>
                            </table>
                        </div>
                
            </dl>
        </div>   
<!-- 商品相册-->
<!-- 商品模型-->
        <div class="ncap-form-default tab_div_3" style="display:none;">
            <dl class="row">

                        <div class="tab-pane" id="tab_goods_spec">
                            <table class="table table-bordered" id="goods_spec_table">                                
                                <tr>
                                    <td>商品模型:</td>
                                    <td>                                        
                                      <select name="goods_type" id="spec_type" class="form-control" style="width:250px;">
                                        <option value="0">选择商品模型</option>
                                        <foreach name="goodsType" item="vo" key="k" >
                                            <option value="{$vo.id}"<if condition="$goodsInfo[goods_type] eq $vo[id]"> selected="selected" </if> >{$vo.name}</option>
                                        </foreach>                                        
                                      </select>
                                    </td>
                                </tr>
                            </table>
                            <div class="row">
                                <!-- ajax 返回规格-->
                                <div id="ajax_spec_data" class="col-xs-8" ></div>
                                <div id="" class="col-xs-4" >

                                </div>
                            </div>
                        </div>
                
            </dl>
        </div>   
<!-- 商品模型-->       
<!-- SEO设置-->
        <div class="ncap-form-default tab_div_5" style="display:none;">
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">SEO标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goodsInfo.title}" name="title" class="input-txt"/>
                    <span class="err" id="err_keywords" style="color:#F00; display:none;"></span>
                </dd>
            </dl>  
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">SEO关键词</label>
                </dt>
                <dd class="opt">
                    <input type="text"  value="{$goodsInfo.keywords}" name="keywords" class="input-txt"/>
                    <span class="err" id="err_keywords" style="color:#F00; display:none;"></span>
                </dd>
            </dl>  
            <dl class="row">
                <dt class="tit">
                    <label for="record_no">SEO描述</label>
                </dt>
                <dd class="opt">
                     <textarea style="width:280px;height:100px;" maxlength="200" class="span12 ckeditor" id="description" name="description" title="">{$goodsInfo.description}</textarea>
                    <span class="err" id="err_goods_content" style="color:#F00; display:none;"></span>       
                </dd>
            </dl>  
        </div> 
<!-- SEO设置-->
</div>

        <div class="ncap-form-default">
            <div class="bot">
                <input type="hidden" name="goods_id" value="{$goodsInfo.goods_id}">
                <input type="hidden" name="__token__" value="{$Request.token}" />
                <a href="javascript:;" class="ncap-btn-big ncap-btn-green" id="next">下一步</a>
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onClick="ajax_submit_form('addEditGoodsForm','{:Url('RedGift/addEditGoods?is_ajax=1')}');">确认提交</a>
            </div>
        </div>
     </form>
    <!--表单数据-->
</div>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
<script>
    //礼包商品选择
    function selectGoods(){
        var goods_id = [];
        //过滤选择重复商品
        $('input[name*="goods_id"]').each(function(i,o){
            goods_id.push($(o).val());
        });
        var url = '/index.php?m=Admin&c=RedGift&a=search_goods&goods_id='+goods_id+'&t='+Math.random();
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.3,
            area: ['70%', '80%'],
            content: url,
        });
    }
    //礼包商品已选列表
    function call_back(table_html)
    {
        layer.closeAll('iframe');
        $('#goods_list').append(table_html);
        // $('#supplier_list').html('');
    }
    // 物流设置相 关
     $(document).ready(function(){
        $(":checkbox[cka]").click(function(){
            var $cks = $(":checkbox[ck='"+$(this).attr("cka")+"']");
            if($(this).is(':checked')){
                $cks.each(function(){$(this).prop("checked",true);});
            }else{
                $cks.each(function(){$(this).removeAttr('checked');});
            }
        });
    });
    // 物流设置相 关
    function choosebox(o){
        var vt = $(o).is(':checked');
        if(vt){
            $('input[type=checkbox]').prop('checked',vt);
        }else{
            $('input[type=checkbox]').removeAttr('checked');
        }
    }
    /*
     * 以下是图片上传方法
     */
    // 上传商品图片成功回调函数
 //   function call_back(fileurl_tmp){
  //      $("#original_img").val(fileurl_tmp);
   //   $("#original_img2").attr('href', fileurl_tmp);
  //  }
 
    // 上传商品相册回调函数
    function call_back2(paths){
        
        var  last_div = $(".goods_xc:last").prop("outerHTML");  
        for (i=0;i<paths.length ;i++ )
        {                    
            $(".goods_xc:eq(0)").before(last_div);  // 插入一个 新图片
                $(".goods_xc:eq(0)").find('a:eq(0)').attr('href',paths[i]).attr('onclick','').attr('target', "_blank");// 修改他的链接地址
            $(".goods_xc:eq(0)").find('img').attr('src',paths[i]);// 修改他的图片路径
                $(".goods_xc:eq(0)").find('a:eq(1)').attr('onclick',"ClearPicArr2(this,'"+paths[i]+"')").text('删除');
            $(".goods_xc:eq(0)").find('input').val(paths[i]); // 设置隐藏域 要提交的值
        }              
    }
    /*
     * 上传之后删除组图input     
     * @access   public
     * @val      string  删除的图片input
     */
    function ClearPicArr2(obj,path)
    {
        $.ajax({
                    type:'GET',
                    url:"{:Url('Admin/Uploadify/delupload')}",
                    data:{action:"del", filename:path},
                    success:function(){
                           $(obj).parent().remove(); // 删除完服务器的, 再删除 html上的图片                
                    }
        });
        // 删除数据库记录
        $.ajax({
                    type:'GET',
                    url:"{:Url('Admin/RedGift/del_goods_images')}",
                    data:{filename:path},
                    success:function(){
                          //         
                    }
        });     
    }
 


/** 以下 商品属性相关 js*/

// 属性输入框的加减事件
function addAttr(a)
{
    var attr = $(a).parent().parent().prop("outerHTML");    
    attr = attr.replace('addAttr','delAttr').replace('+','-');  
    $(a).parent().parent().after(attr);
}
// 属性输入框的加减事件
function delAttr(a)
{
   $(a).parent().parent().remove();
}
 

/** 以下 商品规格相关 js*/
$(document).ready(function(){   
    // 商品模型切换时 ajax 调用  返回不同的属性输入框
    $("#spec_type").change(function(){        
        var goods_id = '{$goodsInfo.goods_id}';
        var spec_type = $(this).val();
            $.ajax({
                    type:'GET',
                    data:{goods_id:goods_id,spec_type:spec_type}, 
                    // url:"{:Url('admin/RedGift/ajaxGetSpecSelect')}",
                    url:"{:Url('admin/Goods/ajaxGetSpecSelect')}",
                    success:function(data){                            
                           $("#ajax_spec_data").html('')
                           $("#ajax_spec_data").append(data);
               ajaxGetSpecInput();  // 触发完  马上触发 规格输入框
                    }
            });           
    });
    // 触发商品规格
    $("#spec_type").trigger('change'); 
    
    $("input[name='exchange_integral']").blur(function(){
        var shop_price = parseInt($("input[name='shop_price']").val());
        var exchange_integral = parseInt($(this).val());
        if (shop_price * 100 < exchange_integral) {
            
        }
    });

});

/** 以下是编辑时默认选中某个商品分类*/
$(document).ready(function(){

    <if condition="$level_cat['2'] gt 0">
         // 商品分类第二个下拉菜单
         get_category('{$level_cat[1]}','cat_id_2','{$level_cat[2]}');  
    </if>
    <if condition="$level_cat['3'] gt 0">
        // 商品分类第三个下拉菜单
         get_category('{$level_cat[2]}','cat_id_3','{$level_cat[3]}');   
    </if>
    //  场景分类
    <if condition="$level_cat2['2'] gt 0">
         // 商品分类第二个下拉菜单
         get_scenario_category('{$level_cat2[1]}','extend_cat_id_2','{$level_cat2[2]}');    
    </if>
    <if condition="$level_cat2['3'] gt 0">
        // 商品分类第二个下拉菜单
         get_scenario_category('{$level_cat2[2]}','extend_cat_id_3','{$level_cat2[3]}');     
    </if>

});
 
 
    $(document).ready(function(){
     
        //插件切换列表
//        $('.tab-base').find('.tab').click(function(){
//            $('.tab-base').find('.tab').each(function(){
//                $(this).removeClass('current');
//            });
//            $(this).addClass('current');
//          var tab_index = $(this).data('index');
//          $(".tab_div_1, .tab_div_2, .tab_div_3, .tab_div_4").hide();
//          $(".tab_div_"+tab_index).show();
//      });

        //插件切换列表
        var iNow = 0;
        $('.tab-base li').click(function(){
            $(this).children('a').addClass('current');
            $(this).siblings().children('a').removeClass('current');
            var n = $(this).index();
            iNow = n;
            $('#tabBox .ncap-form-default').eq(iNow).css('display','block').siblings().css('display','none');
        })
        $('#next').click(function(){
            iNow++;
            if(iNow>1){
                $('#next').css('display','none');
                //return false;
            }

            $('.tab-base li').eq(iNow).children('a').addClass('current');
            $('.tab-base li').eq(iNow).siblings().children('a').removeClass('current');
            $('#tabBox .ncap-form-default').eq(iNow).css('display','block').siblings().css('display','none');
        })



    });
</script>
<script>
    function fun(){
         var select = document.getElementById("extend_cat_id");
         var str = [];
         for(i=0;i<select.length;i++){
             if(select.options[i].selected){
                str.push(select[i].value);
             }
         }
        return str;
     }
     function fun2(){
         var select = document.getElementById("extend_cat_id_2");
         var str = [];
         for(i=0;i<select.length;i++){
             if(select.options[i].selected){
                str.push(select[i].value);
             }
         }
         return str;
     }
     function fun3(){
         var select = document.getElementById("extend_cat_id_3");
         var str = [];
         for(i=0;i<select.length;i++){
             if(select.options[i].selected){
                str.push(select[i].value);
             }
         }
         return str;
     }

</script>
</body>
</html>