html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    font-family:"微软雅黑";
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {
    display:block
}
ol,ul,input{
    margin:0;
    padding:0;
    list-style:none
}
a,h1,h2,h3,h4,h5,h6,p,section,article {text-decoration:none; color:#000; font-family:"微软雅黑";}
blockquote,q {
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none;
}
button {
    cursor:pointer
}
/*a,img {display:block;}*/

.clearfix:after{
    clear:both;
    height:0;
    content:"";
    overflow:hidden;
    visibility:hidden;
    display:block;
}
.clearfix{
    clear:both;
    zoom:1;
}

/*top begin*/
.header{
    width:100%;
    height:100px;
}
.container-fluid{
    width:100%;
    height: 500px;
    background:url(../images/businessIndex_bg.png) no-repeat center top;
    position: relative;
}
.inner{
    width:1200px;
    margin:0 auto;
    position:relative;
    content:'';
    display:table;
}
.logo-businessCenter{
    overflow: hidden;
    margin-top:20px;
    float:left;
}
.logo-businessCenter li{
    float:left;
}
.logo-businessCenter li.logo-businessCenter-li1{
    margin-right:50px;
}
.logo-businessCenter li.logo-businessCenter-li2{
    padding-left:100px;
    border-left:1px solid #059ce1;
    line-height:60px;
    background:url(../images/businessOn.png) no-repeat 40px center;
}
.logo-businessCenter li.logo-businessCenter-li2 a{
    color: #555;
    font-size:18px;
}
.logo-businessCenter li.logo-businessCenter-li2 a:hover{
    color:#059ce1;
}
.reg-info{
    overflow:hidden;
    float:right;
    margin-top:44px;
    font-size:12px;
}
.reg-info li{
    float:left;
    padding-right:20px;
    color: #555;
}
.reg-info li.paddingL-no{
    padding-left:20px;
    padding-right:0;
    border-left:1px solid #888;

}
.reg-info li a{
    color: #555;
}
.reg-info li a:hover{
    color:#059ce1;
}

/* banner 注册登录 */
#banner-bg{
    /*width: 100%;*/
    /*height: 500px;*/
    /*background:url(../images/bannerBg.png) no-repeat;*/
    /*background-size: 100% auto;*/
    /*position:relative;*/
    /*font-size:12px;*/
}

/* 未登录状态 开始 */
.reg-login-title{
    margin-bottom:20px;
    box-sizing: border-box;
    font-size:12px;
    color: #666;
}
.reg-login{
    text-align:center;
    width: 150px;
    height: auto;
    padding: 30px 50px;
    position: absolute;
    right: 130px;
    top: 150px;
    background:rgba(255,255,255,.5);
    /*margin:0 auto;*/
}
.reg-login ul li{
    font-size: 14px;
    margin-bottom:20px;

}
.reg-login ul li:last-of-type{
    margin-bottom:0;
}
.reg-login ul li a{
    display:block;
    text-align: center;
    padding:10px 20px;
    border-radius: 4px;
}
.reg-login ul li a.reg-btn{
    background:#e62e53;
    border:1px solid #e62e53;
    color: #fff;
}
.reg-login ul li a.reg-btn:hover{
    background:#f33258;
}
.reg-login ul li a.login-btn{
    border:1px solid #e62e53;
    color: #e62e53;
}
.reg-login ul li a.login-btn:hover{
    border:1px solid #e62e53;
    background:#e62e53;
    color: #fff;
}
/* 未登录状态 结束 */

/* 已登录状态 开始 */
.reg-login-title{
    margin-bottom:20px;
    box-sizing: border-box;
    font-size:12px;
    color: #666;
}
.reg-logined{
    text-align:center;
    width: 200px;
    height: auto;
    padding: 30px 50px;
    position: absolute;
    right: 130px;
    top: 150px;
    background:rgba(255,255,255,.5);
    font-size:12px;
    /*margin:0 auto;*/
}
.reg-logined .close{
    position:absolute;
    right: 30px;
    top: 20px;
    margin-bottom:10px;
    cursor:pointer;
}
.reg-logined .close:hover{
    color:#e62e53;
}
.reg-logined ul{
    margin-top:20px;
    margin-bottom:20px;
}
.reg-logined ul li{
    font-size: 14px;
    margin-bottom:10px;
    color:#555;
}
.reg-logined ul li.welcome-ylt{
    margin-bottom:0;
}
.reg-logined .enter-business-center{
    width:42%;
    height:40px;
    line-height:40px;
  	float:left;
  	margin:0 2% 0 2%
}
.reg-logined .enter-business-center a{
    display:block;
    border-radius:4px;
    width:100%;
    text-align:center;
    font-size:14px;
    background:#e62e53;
    color:#fff;
}
.reg-logined .enter-business-center a:hover{
    background:#f73159;
}
.reg-logined .enter-business-old{
    width:100%;
    height:40px;
    line-height:40px;
}
.reg-logined .enter-business-old a{
    display:block;
    border-radius:4px;
    width:100%;
    text-align:center;
    font-size:14px;
    background:#e62e53;
    color:#fff;
}
.reg-logined .enter-business-old a:hover{
    background:#f73159;
}

/* 已登录状态 结束 */

.margin100{
    margin-top: 100px;
    margin-bottom: 100px;
}
.col-info{
    margin-bottom: 150px;
}
.col-title-bg{
    width:236px;
    height: 56px;
    margin:0 auto;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size:18px;
    background:url(../images/col-title-bg.png) no-repeat;
    background-size: 100% auto;
}
.col-title-info{
    width: 620px;
    margin: 30px auto 0 auto;
    overflow: hidden;
}
.col-title-info li{
    float:left;
}
.col-title-info li.col-line {
    height: 1px;
    width:200px;
    background:#ddd;
    margin-top:25px;
}
.col-title-info li.col-title {
    width: 160px;
    font-size:16px;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    color: #888;
}
.col-infos-p{
    text-indent: 30px;
    line-height: 30px;
    font-size:14px;
    color: #555;
    margin: 10px 0 30px 0;
}
.flow-chart{
    margin: 50px 0;
}
.flow-step{
    overflow: hidden;

}
.flow-step li{
    width: 300px;
    font-size:16px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #e62e53;
    font-weight: bold;
}
.step-line{
    width: 100%;
    height: 3px;
    background: #ddd;
    position: relative;
    margin: 20px 0;
}
.step-line ol{
    position: absolute;
    left:0;
    top:-5px;
}
.step-line ol li{
    width: 300px;
    height: auto;
    float: left;
    position: relative;
}
.step-line ol li span{
    display: block;
    width: 10px;
    height: 5px;
    border-radius:50px 50px 0 0;
    background: #e62e53;
    margin: 0 auto;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 0;*/
    /*margin-left: -5px;*/
}
.flow-items{
    overflow: hidden;
}
.flow-items li{
    width: 300px;
    float: left;
    text-align: center;
    font-size: 12px;
}
.flow-items li p{
    padding: 10px 20px;
}
.flow-items li a{
    display: block;
    width:30%;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    background: #059ce1;
    color: #fff;
}
.flow-items li a:hover{
    background:#06a6ef;
}

.col-ylt-super{
    margin-bottom: 80px;
}
.col-ylt-super li{
    width: 360px;
    /*height: 40px;*/
    float: left;
    padding-left:40px;
    font-size: 12px;

    text-align:center;
}
.col-ylt-super li i{
    display:block;
    float:left;
    margin-top:5px;
    margin-right:10px;
}
.col-ylt-super li p{
    float:left;
    line-height: 20px;
    text-align: left;
}
.col-ylt-super li p strong {
    font-weight: bold;
}


.hiding{
    display:none;
}























