<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
    <title>礼品定制_创意礼品设计_一礼通平台设计师为您服务</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="礼品定制,礼品设计,创意礼品,一礼通" />
    <meta name="description" content="一礼通传播世界前沿设计思潮和设计理念,推动中国原创设计发展，为用户提供了自己找设计师设计产品功能,其中包括产品，画册，包装等设计服务,实现了用户与设计师直接在线沟通交流，是中国最具价值的创意礼品设计服务平台！" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">

    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">

    <style>

    </style>

    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
</head>

<body style="background:#f4f4f4;">
<!--最顶部-->


<!--  导航 -->
<include file="public/header" />
<!--  导航  -->

<!-- 首页轮播图片 轮播js 广告-->
<script src="__STATIC__/js/slider.js"></script>
<script type="text/javascript">
    // 首页轮播图片 轮播js 广告
    $(function() {
        var bannerSlider = new Slider($('#banner_tabs'), {
            time: 5000,
            delay: 400,
            event: 'hover',
            auto: true,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });
        $('#banner_tabs .flex-prev').click(function() {
            bannerSlider.prev()
        });
        $('#banner_tabs .flex-next').click(function() {
            bannerSlider.next()
        });
    })
</script>
<!-- 首页轮播图片 轮播js 广告 end-->
<!--------banner-开始-------------->
<div class="nav-banner">
    <div class="inner">
        <div id="banner_tabs" class="flexslider">
            <ul class="slides">
                <adv limit="2" item="v" pid="45">
                    <li>
                        <a href="{$v.ad_link}" <if condition="$v['target'] eq 1">target="_blank"</if>>
                        <img src="{$v[ad_code]}"/>
                        </a>
                    </li>
                </adv>
            </ul>

            <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
                <adv  pid = "45" limit="2" item="v" key="k">
                    <li><a>{$k}</a></li>
                </adv>
            </ol>

        </div>
    </div>

</div>
<!--------banner-结束-------------->

<!-- ------  广告位 开始  ------ -->
<div style="width:100%;background:#fff;">
    <div class="inner">
        <ul class="designer-index-ad">
		  <adv limit="5" item="v" pid="36">
            <li><a href="{$v.ad_link}" <if condition="$v['target'] eq 1">target="_blank"</if>><img src="{$v[ad_code]}" alt=""></a></li>
		  </adv>
        </ul>
    </div>
</div>

<!-- ------  广告位 结束  ------ -->

<!-- ------  商品作品 开始  ------ -->
<div class="inner">
    <div class="inner personal-designs">
        <h4 class="personal-designs-title"><i></i>在售作品</h4>
        <ul class="personal-designs-types">
           <foreach name="GoodsCategory" item="v" key="k">
            <li><a href="{:Url('Home/Works/designsList',array('cat'=>$v['id']))}">{$v.name}</a></li>
		   </foreach>
        </ul>
        <a href="{:Url('Home/Works/designsList')}" class="more-personal-designs">更多</a>
    </div>
    <!-- ------  分类 结束  ------ -->

    <!-- 商品列表 start -->
    <div class="inner">
        <ul class="designs-container">
			<foreach name="goods_list" item="v" key="k">
            <li>
                <!-- <a href="{:Url('/Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}" class="designs-works-imgs">
                    <img src="{$v.goods_thumb|default='public/static/images/tou2.png'}" alt="">
                </a> -->
                <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}" class="designs-works-imgs">
                    <img src="{$v.goods_thumb|default='public/static/images/tou2.png'}" alt="">
                </a>
                <h6 class="designs-title">{$v.goods_name}</h6>
                <p class="designs-price">售价：<span>{$v.shop_price}</span>元</p>
                <dl class="designs-infos-content">
                    <dt>
                        <!-- <a href="{:Url('/Home/Supplier/StoreHome',array('id'=>$v.supplier_id))}"> -->
                        <a href="{:Url('Home/Works/personalInfos',array('id'=>$v['supplier_id']))}"> 
                            <p>{$v.supplier_name}</p>
                        </a>
                    </dt>
                     <dd><span>{$v.add_time|date='Y-m-d',###}</span></dd>
                </dl>
            </li>
			</foreach>
 
        </ul>
    </div>
    <!-- 商品列表 end -->
</div>
<!-- ------  商品作品 结束  ------ -->


<!-- ------  设计作品 开始  ------ -->
<div class="inner">
    <div class="inner personal-designs">
        <h4 class="personal-designs-title title-icon"><em></em>设计作品</h4>
        <ul class="personal-designs-types">
			<foreach name="WCategory" item="v" key="k">
			   <li><a href="{:Url('Home/Works/worksList',array('cat'=>$v['id']))}">{$v.name}</a></li>
			</foreach>
        </ul>
        <a href="{:Url('Home/Works/worksList')}" class="more-personal-designs">更多</a>
    </div>
    <!-- ------  分类 结束  ------ -->

    <!-- 设计作品列表 start -->
    <div class="inner">
        <ul class="designs-container">
         <foreach name="worksList" item="v" key="k">
            <li>
                <a href="{:Url('/Home/Works/WorksDetails',array('id'=>$v.works_id))}" class="works-imgs">
                    <img src="{$v.works_img}" alt="">
                </a>
                <h6 class="designs-title">{$v.works_name}</h6>
                <p class="designs-types">{$v.cat_name}</p>
                <dl class="works-browse-praise">
                    <dd>浏览<span>{$v.click_count}</span></dd>
                    <dd>赞<span>{$v.fabulous_count}</span></dd>
                </dl>
                <dl class="designs-infos-content">
                    <dt>
                        <a href="{:Url('Home/Works/personalInfos',array('id'=>$v['supplier_id']))}">
                            
                            <p>{$v.designer_name}</p>
                        
                    </dt>
                    <dd><span>{$v.add_time|date='Y-m-d',###}</span></dd>
                </dl>
            </li>
		 </foreach>
         
        </ul>
    </div>
    <!-- 设计作品列表 end -->
</div>
<!-- ------  设计作品 结束  ------ -->


<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->


<!--  评论  -->
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script>


<script>
    $(function () {
        //搜索
        $('.search-type').on('click',function () {
            $('.search-type-list').css('display','block');
        })
        $('.search-type').on('mouseleave',function () {
            $('.search-type-list').css('display','none');
        })

        $('.search-type-list li').each(function () {
            $(this).click(function () {
                $('.searching-type').text($(this).text());
            })
        })
    })
</script>
<script>
  $(function(){
   $("#li1").css("background","");
     $("#li2").css("background","");
     $("#li3").css("background","");
     $("#li4").css("background","#8a1313");
    
});
</script>
</body>
</html>