<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>密码-{$config['shop_info_store_title']}</title>
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <script src="__STATIC__/js/slider.js"></script>
	<script src="__PUBLIC__/js/global.js"></script>
    <script src="__PUBLIC__/js/pc_common.js"></script>
</head>

<body>
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<!--------用户中心 顶菜单-------------->
<include file="public/userTopbar" />
<!--------用户中心 顶菜单--------------->



<div class="layout pa-to-10 fo-fa-ar"> 

 <!--菜单-->
    <include file="user/menu" />
    <!--菜单-->
<div class="uc">
  
    <div class="uc_body pa-to-30">
        <div class="uc_body_form">
            <form action="" method="post">
                <table class="changeAccount_theme">
                    <tbody>
                    <tr class="tr_height">
                        <td class="cl_left fo-si-12" align="right"><label class="fo-si-12">原密码：</label></td>
                        <td class="cl_middle">
                            <input type="password" class="imput_text text_width foce" id="old_password" name="old_password">
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr class="tr_height">
                        <td class="cl_left fo-si-12" align="right"><label class="fo-si-12">新密码：</label></td>
                        <td class="cl_middle">
                            <input type="password" class="imput_text text_width foce" id="new_password" name="new_password" >
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr class="tr_height">
                        <td class="cl_left fo-si-12" align="right"><label class="fo-si-12">确认密码：</label></td>
                        <td class="cl_middle">
                            <input type="password" class="imput_text text_width foce" id="confirm_password" name="confirm_password">
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr class="tr_height">
                        <td valign="middle" align="center" colspan="3" style="height:120px;">
                            <input type="submit" value="提交" class="btn_midefy" id="btn_next">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</div>
<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->
</body>
</html>
