<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>充值中心</title>
    <script src="__STATIC__/refillcard/js/mui.min.js"></script>
    <link href="__STATIC__/refillcard/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__STATIC__/refillcard/css/index.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
	<div class="mui-content bg">
		<div style="text-align: center;"><a href="{$brand_roll.ad_link}"><img src="{$brand_roll.ad_code}" width="95%"></a></div>
		<ul class="mui-table-view mui-grid-view loglist">
			<foreach name="$four_list" item="value" key="key">
				<li class="mui-table-view-cell mui-media mui-col-xs-3">
					<a href="{$value.ad_link}">
						<img class="mui-media-object img_logo" src="{$value.ad_code}">
						<div class="mui-media-body">{$value.ad_name}</div>
					</a>
				</li>
			</foreach>
		</ul>

		<div class="tab_title"><div class="kuang"></div><span>为您推荐</span></div>
		
		
		<ul class="mui-table-view mui-grid-view">
			<foreach name="$goods" item="valu" key="ke">
				<li class="mui-table-view-cell mui-media mui-col-xs-6 product">
					<a href="{:Url('Goods/goodsInfo',array('id'=>$valu[goods_id]))}">
						<img class="mui-media-object" src="{$valu.goods_thumb}">
						<div class="mui-media-body">{$valu.goods_name}</div>
						<div class="mui-media-body col-red">￥{$valu.shop_price}</div>
					</a>
				</li>
			</foreach>
		</ul>
	</div>
	
</body>
</html>