<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1,user-scalable=no" />

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="keywords" content="一礼通，礼品商城，礼品网站，高端礼品，创意礼品，购物网站，礼品批发 ,礼品定制，礼品采购">
    <meta name="description" content="一礼通大型礼品商城平台诚邀品牌招商入驻，提供各类商务礼品，生日礼物，节日礼品，高端礼品，促销礼品，工艺礼品，员工礼品创意礼品采购等，个性化定制满足不同的送礼需求，结合了最具实力设计师、融合了最具创意的创客idea，为您提供最满意网上购物体验！">
    <meta content="yangjiangquan" name="author"/>
    <title>金融服务</title>
  	<style>
      body{
        margin:0;
        padding:0;
      }
      .bottem-div{
          position: fixed;
          background: #6a6e71;
          width: 100%;
          bottom: 0;
      }
      .bottem-a{
          color: aliceblue;
          width:50%;
          display: block;
          padding: 1rem 0;
          text-decoration: none;
    
          text-align: center;
      }
      .left{
      	 float: left;
      }
      .right{
      	float:right;
      }
  
    </style>
</head>

<body>
  	<div class="bottem-div">
        <a class="bottem-a left" href="tel: 4000897879"> 电话联系</a>
     	<a class="bottem-a right" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3004799897&site=qq&menu=yes"> 在线咨询</a>
    </div>
    <div  class="jrfw" style="width:100%;">
        <img style="width:100%;" src="/public/wap/img/yjq/jrfw.jpg">
    </div>  
  	
  	<script>
      var wScrollY = window.scrollY; // 当前滚动条位置
      var wInnerH = window.innerHeight; // 设备窗口的高度（不会变）
      var bScrollH = document.body.scrollHeight; // 滚动条总高度
     // alert(bScrollH);
    </script>

</body>
</html>