<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1,user-scalable=no" />

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="description" content="不超过150个字符"/>
    <meta name="keywords" content=""/>
    <meta content="caibaojian" name="author"/>
    <title>首页</title>

    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/wap/css/style.css">

    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/public/wap/jq/index.js"></script>  
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <style>
        *{ margin:0px; padding: 0px;}
        .all{margin: 0px auto;}
        .text  { height: 30px; overflow: hidden;}
        .text li{ list-style:none; text-align: center; height:30px; line-height:30px;overflow: hidden; }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function(){
            var marginTop =0;
            var bool=false;
            setInterval(function(){
                if(bool) return;//判断运行和停止
                $(".text li:first").animate({marginTop:marginTop--},10,function(){
                    if(!($(this).is(":animated"))) {    //判断是否有一个动画节点
                        if ((-marginTop) >= $(this).height()) {  //判断移出位置是否超过高度
                            $(this).css("margin", "0");
                            $(this).appendTo($(".text"));  //把第一个节点移到ul后面
                            marginTop = 0;      //重新设置移动数值
                        }
                    }
                });
            },100);
            $(".text").mouseover(function(){   //li鼠标移入，停止移动
                bool=true;
            });
            $(".text").mouseout(function(){
                bool=false;
            });

        });
    </script>
<script type="text/javascript">
//designWidth:设计稿的实际宽度值，需要根据实际设置
//maxWidth:制作稿的最大宽度值，需要根据实际设置
//这段js的最后面有两个参数记得要设置，一个为设计稿实际宽度，一个为制作稿最大宽度，例如设计稿为750，最大宽度为750，则为(750,750);
//第一个参数是设计稿的宽度，一般设计稿有640，或者是750，你可以根据实际调整
//第二个参数则是设置制作稿的最大宽度，超过750，则以750为最大限制。

(function(designWidth, maxWidth) {
    var doc = document,
    win = window,
    docEl = doc.documentElement,
    remStyle = document.createElement("style"),
    tid;

    function refreshRem() {
        var width = docEl.getBoundingClientRect().width;
        maxWidth = maxWidth || 540;
        width>maxWidth && (width=maxWidth);
        var rem = width * 100 / designWidth;
        remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
    }

    if (docEl.firstElementChild) {
        docEl.firstElementChild.appendChild(remStyle);
    } else {
        var wrap = doc.createElement("div");
        wrap.appendChild(remStyle);
        doc.write(wrap.innerHTML);
        wrap = null;
    }
    //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
    refreshRem();

    win.addEventListener("resize", function() {
        clearTimeout(tid); //防止执行两次
        tid = setTimeout(refreshRem, 300);
    }, false);

    win.addEventListener("pageshow", function(e) {
        if (e.persisted) { // 浏览器后退的时候重新计算
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }
    }, false);

    if (doc.readyState === "complete") {
        doc.body.style.fontSize = "16px";
    } else {
        doc.addEventListener("DOMContentLoaded", function(e) {
            doc.body.style.fontSize = "16px";
        }, false);
    }
})(750, 100);

//高小宝的
// (function (doc, win) {
//       var docEl = doc.documentElement,
//           resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
//           recalc = function () {
//               var clientWidth = docEl.clientWidth;
//               if (!clientWidth) return;
//               if(clientWidth>=750){
//                   docEl.style.fontSize = '100px';
//               }else{
//                   docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
//               }
//           }
//       if (!doc.addEventListener) return;
//       win.addEventListener(resizeEvt, recalc, false);
//       doc.addEventListener('DOMContentLoaded', recalc, false);
//   })(document, window);
</script>

</head>
<style>

</style>
<body>
    <div class="main">
        <div class="header">
            <div class="header-logo"><img src="/public/wap/img/logo.png"></div>
            <div class="header-sousuo"><a><img src="/public/wap/img/sousuo.png"></a></div>
            <div class="header-gouwuche"><a><img src="/public/wap/img/gouwuche.png"></a></div>
        </div>
        
        <!-- 轮播图 -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/public/wap/img/bine/bine1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="/public/wap/img/bine/bine2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="/public/wap/img/bine/bine3.jpg" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
<!--             <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> -->
        </div> 


        <!-- icon图标导航 -->
        <div class="navdiv">
            <foreach name="$four_list" item="v">
            <div class="navdivdiv">
                <a href="<if $v[ad_link] eq '##1' || $v[ad_link] eq '##2' || $v[ad_link] eq 'minus'><elseif is_numeric($v[ad_link])>{$v[ad_link]|getAdUrl=$v[media_type],###}<else>{$v[ad_link]}</if>">
                    <div class="navdivimg"><img src="{$v[ad_code]}" title="{$v[title]}" alt=""><span>{$v[ad_name]}</span></div>
                </a>
                <!--<a href="">
                <div class="navdivimg"><img src="/public/wap/img/yjq/1.png" /></div>
                <p>名企直采</p>
                </a>-->
            </div>
            </foreach>
            <!--<div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/1.png" /></div>
                <p>名企直采</p>
            </div>-->
            <!--<div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/2.png" /></div>
                <p>旗舰商城</p>
            </div>
            <div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/3.png" /></div>
                <p>活动资讯</p>
            </div>
            <div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/4.png" /></div>
                <p>金融服务</p>
            </div>
            <div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/5.png" /></div>
                <p>品牌</p>
            </div>
            <div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/6.png" /></div>
                <p>自营</p>
            </div>

            <div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/7.png" /></div>
                <p>找设计</p>
            </div>
            <div class="navdivdiv">
                <div class="navdivimg"><img src="/public/wap/img/yjq/8.png" /></div>
                <p>更多</p>
            </div>-->
        </div>

        <div class="horizontal-gray"></div>

        <!-- 消息公告 -->
        <div class="newdiv">
            <div class="newimg">
                <span>平台</span>
                <span>公告</span>
            </div>
            <div class="newfont">
                <div class="all">
                    <ul class="text">
                        <foreach name="article_list" item="v">
                            <li>{$v.title}</li>
                        </foreach>
                    </ul>
                </div>
            </div>
            <div  class="new-icon"><a > > </a></div>
        </div>

        <div class="horizontal-gray"></div>

        <!-- 优质品牌 -->
        <div class="column-contont">
            <div class="cloumn-div-cont">
                <div class="cloumn-left"><img src="/public/wap/img/yjq/yzpp.png" /><span>优质品牌</span></div>
                <div class="cloumn-right"><a href="" >查看更多 > </a></div>
            </div>
            <hr/>
            <div class="column-div">
                <volist name="brand_list" id="vo">
                    <div class="column-div-img"><a href="{:Url('mobile/Goods/goodsList',array('brand_id'=>$item[0][id]))}"><img src="{$vo['logo']}" /></a></div>
                </volist>
            </div>
        </div>
        <div class="horizontal-gray"></div>

        <!-- 优质供应商 -->
        <div class="column-contont">
            <div class="cloumn-div-cont">
                <div class="cloumn-left"><img src="/public/wap/img/yjq/yzgys.png" /><span class="yzgys-span">优质供应商</span></div>
                <div class="cloumn-right"><a href="" >查看更多 > </a></div>
            </div>
            <hr/>
            <div class="column-div">
                <foreach name="supplier_list" item="v">
                    <div class="column-div-img">
                        <a href=""><img src="{$v.logo}" /><span>{$v.company_name|getSubstr=0,5}</span></a>
                    </div>
                </foreach>
            </div>
        </div>
        <div class="horizontal-gray"></div>

        <!-- 秒杀专区 -->
        <div class="column-contont no-padding">
            <div class="cloumn-div-cont yes-margin">
                <div class="cloumn-left mszq"><img src="/public/wap/img/yjq/mszq.png" /><span class="mszq">秒杀专区</span></div>
                <div class="cloumn-right"><a href="" >查看更多 > </a></div>
            </div>

            <div class="column-red">
                <div class="column-red-left" > 
                    下一场开始 18:00 开始 本场结束剩 
                </div>
                <div class="column-red-right" >*** **** ****</div>
            </div>
            <div class="goods-list">
                <div class="goods-info">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-price"><span>秒杀价￥99</span><span>原价￥299 </span></div>
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                    </a>
                </div>

                <div class="goods-info">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-price"><span>秒杀价￥99</span><span>原价￥299 </span></div>
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                    </a>
                </div>

                <div class="goods-info">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-price"><span>秒杀价￥99</span><span>原价￥299 </span></div>
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                    </a>
                </div>

                <div class="goods-info">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-price"><span>秒杀价￥99</span><span>原价￥299 </span></div>
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                    </a>
                </div>
            </div>
            <!-- 好看的小点点 -->
            <div class="goods-li">
                <ol>
                    <a href=""><li></li></a>
                    <a href=""><li></li></a>
                    <a href=""><li></li></a>
                    <a href=""><li></li></a>
                </ol>
            </div>
        </div>

        <div class="horizontal-gray"></div>

        <!-- 最新资讯 -->
        <div class="column-contont ">
            <div class="cloumn-div-cont">
                <div class="cloumn-left "><img src="/public/wap/img/yjq/zxzx.png" /><span class="public-span">最新资讯</span></div>
                <div class="cloumn-right"><a href="" >查看更多 > </a></div>
            </div>
            <hr>
            <div class="cloumn-msg">
                <div class="cloumn-msg-1">2018年度春季礼至集团又新增礼品年度合作伙伴，对余下后面的看法</div>
                <div class="cloumn-msg-2">
                    <img src="/public/wap/img/yjq/zxzx.jpg">
                    <img src="/public/wap/img/yjq/zxzx.jpg">
                    <img src="/public/wap/img/yjq/zxzx.jpg">
                </div>
                <div class="cloumn-msg-3">
                    <div class="cloumn-msg-3left"><img src="/public/wap/img/yjq/see.png"> &nbsp;<span> 100</span></div>
                    <div class="cloumn-msg-3right"><img src="/public/wap/img/yjq/delete.png"></div>
                </div>
            </div>
            <hr>
            <div class="cloumn-msg">
                <div class="cloumn-msg-dleft">
                    <div class="cloumn-msg-1">2018年度春季礼至集团又新增礼品年度合作伙伴，对余下后面的看法</div>
                    <br>
                    <div class="cloumn-msg-3">
                        <div class="cloumn-msg-3left"><img src="/public/wap/img/yjq/see.png"> &nbsp;<span> 100</span></div>
                        <div class="cloumn-msg-3right"><img src="/public/wap/img/yjq/delete.png"></div>
                    </div>
                </div>    
                <div class="cloumn-msg-dright"><img src="/public/wap/img/yjq/zxzx.jpg"></div>
            </div>
            <hr>
            <div class="cloumn-msg">
                <div class="cloumn-msg-dleft">
                    <div class="cloumn-msg-1">2018年度春季礼至集团又新增礼品年度合作伙伴，对余下后面的看法</div>
                    <br>
                    <div class="cloumn-msg-3">
                        <div class="cloumn-msg-3left"><img src="/public/wap/img/yjq/see.png"> &nbsp;<span> 100</span></div>
                        <div class="cloumn-msg-3right"><img src="/public/wap/img/yjq/delete.png"></div>
                    </div>
                </div>    
                <div class="cloumn-msg-dright"><img src="/public/wap/img/yjq/zxzx.jpg"></div>
            </div>
            <hr>
        </div>    

        <div class="horizontal-gray"></div>
        <!-- 优选礼品 -->
        <div class="column-contont">
            <div class="cloumn-div-cont">
                <div class="cloumn-left "><img src="/public/wap/img/yjq/yxlp.png" /><span class="public-span">优选礼品</span></div>
                <div class="cloumn-right"><a href="" >查看更多 > </a></div>
            </div>
            <div class="goods-list yxlp">
                <div class="goods-info">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                        <div class="goods-price"><span>￥99.00</span></div>
                    </a>
                </div>   
                <div class="goods-info ">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                        <div class="goods-price"><span>￥99.00</span></div>
                    </a>
                </div>   
                <div class="goods-info">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                        <div class="goods-price"><span>￥99.00</span></div>
                    </a>
                </div>   
                <div class="goods-info ">
                    <a href=""><img src="/public/wap/img/yjq/mshd.jpg">
                        <div class="goods-font">银色星芒刺绣网纱底裤</div>
                        <div class="goods-price"><span>￥99.00</span></div>
                    </a>
                </div>                                
            </div>
            <div class="div-loading"><img src="/public/wap/img/yjq/loading.png"></div>
        </div>
        <div class="footer-bottom"></div>

        <div class="footer">
            <div class="footer-div">
                <a href=""><img src="/public/wap/img/yjq/homes.png"> <span>首页</span></a>
            </div>
            <div class="footer-div">
                <a href=""><img src="/public/wap/img/yjq/type.png"> <span>分类</span></a>
            </div> 
            <div class="footer-div">
                <a href=""><img src="/public/wap/img/yjq/buy.png"> <span>采购</span></a>
            </div> 
            <div class="footer-div">
                <a href=""><img src="/public/wap/img/yjq/quote.png"> <span>报价</span></a>
            </div> 
            <div class="footer-div">
                <a href=""><img src="/public/wap/img/yjq/my.png"> <span>我的</span></a>
            </div>           
        </div>

        

    </div>


    <script type="text/javascript">
        //轮播速度
        $('.carousel').carousel({
             interval: 2000,
         });


    </script>   
</body>
</html>