<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="keywords" content="一礼通App下载">
    <meta name="description" content="一礼通商城，购物，礼品">
    <title>一礼通App下载</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
</head>
<body>
    <div class="col-xs-12" style="padding:15rem 2rem 0 2rem;background:url(__STATIC__/images/appBg.jpg) no-repeat;background-size:100% 100%;">
        <div class="row">
            <img src="__STATIC__/images/appLogo.png" class="img-responsive" style="margin:0 auto;width:50%;height:auto;" alt="">
        </div>
        <div class="row" style="margin-top:1rem;">
            <img src="__STATIC__/images/word.png" class="img-responsive" style="margin:0 auto;width:50%;height:auto;" alt="">
        </div>
        <div class="row" style="margin-top:15rem;">
            <div class="col-xs-6">
                <a onclick="javascript:void(0);" class="down_ios"><img src="__STATIC__/images/iOS.png" class="img-responsive" style="margin:0 auto;width:80%;height:auto;" alt="苹果下载"></a>
            </div>
            <div class="col-xs-6">
                <a onclick="javascript:void(0);" class="down_and"><img src="__STATIC__/images/Android.png" class="img-responsive" style="margin:0 auto;width:80%;height:auto;" alt="安卓下载"></a>
            </div>
        </div>
		<div class="row" >
            <h1 style="text-align:center">建议使用微信授权登录   以便直接绑定到微信公众号</h2>
        </div>
        <div class="row" style="margin-top:18rem;">
            <img src="__STATIC__/images/phone.png" class="img-responsive" style="margin:0 auto;width:90%;height:auto;" alt="">
        </div>
    </div>

    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <script>
        $(function(){
            var id = '{$extension_id}';

            $("a.down_ios").on("click",function(){
                $.post("/index.php/home/Caseindex/extension_pc",{"extension_id":id,"system":"Ios"},function(resp){
                    console.log(resp);
                });
                window.location.href = "https://itunes.apple.com/cn/app/id1235378591";

            });

            $("a.down_and").on("click",function(){
                $.post("/index.php/home/Caseindex/extension_pc",{"extension_id":id,"system":"Android"},function(resp){
                    console.log(resp);
                });
                window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.lizhi.lizhimobileshop";

            });
        });
    </script>
</body>
</html>