<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes”>
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″>
    <title>礼品加盟_礼品店加盟_一礼通城市合伙人计划</title>
    <meta name="keywords" content="礼品加盟，礼品招商，礼品入驻，礼品店加盟，一礼通，城市合伙人">
    <meta name="description" content="一礼通商城全国诚招代理加盟、个人、商家、礼品店加盟一礼通合伙人赠送大礼包，小投资，大回报，帮你实现创业梦想轻松当老板，找礼品加盟项目就上一礼通！">
    <link rel="stylesheet" href="__STATIC__/css/active_css.css">
    <style>

    </style>
</head>
<body style="background:#c5dfff;padding:0;margin:0;overflow-x: hidden;">
    <div class="site_container">
        <div class="site-agent-banner">
            <img src="__STATIC__/img/site_agent_banner.png" alt="">
        </div>

        <div class="site_agent_col" style="margin-top:1000px;">
            <div class="site_agent_title">三重奖励</div>
        </div>

        <ul class="site_reward">
            <li>
                <img src="__STATIC__/img/site_icon_1.png" alt="">
                <span><strong>50%</strong>首款返现</span>
            </li>
            <li>
                <img src="__STATIC__/img/site_icon_2.png" alt="">
                <span><strong>40%</strong>奖励提成</span>
            </li>
            <li>
                <img src="__STATIC__/img/site_icon_3.png" alt="">
                <span><strong>VIP</strong>商家免费名额</span>
            </li>
        </ul>


        <div class="site_content">
            <ul>
                <li>A先生当月推荐了5个商家入驻一礼通与10名代理人签约，A先生将得到以下收益：</li>
                <li>商家入驻收益：5*3000*40%=6000元</li>
                <li>代理人签约收益：10*9998*40%=39992元</li>
                <li>A先生当月合计可获得6000元+39992元，<strong>轻松在家就赚了45992元</strong>，加上返还到一礼通平台账户金额4999元，共计50991元，<strong>0风险回本。</strong></li>
                <li>如推荐10家商户入驻一礼通与20名代理人签约，A先生当月收益为：</li>
                <li>商家入驻收益：10*3000*40%=12000元</li>
                <li>代理人签约收益：20*9998*40%=79984元</li>
                <li>A先生当月合计可获得12000元+79984元，轻松赚取91984元，加上一礼通商城返还4999元金额</li>
                <li><strong>当月收益达96983元。推荐的越多赚的越多，上不封顶。</strong></li>
                <li style="text-align:center;"><a href="http://yilitong.com/article/64.html">更多详情 >></a></li>
            </ul>
        </div>


        <div class="site_agent_col" style="margin-top: 80px;">
            <div class="site_agent_title">五大支持</div>
        </div>

        <div class="site_img">
            <img src="__STATIC__/img/site_img.png" alt="">
        </div>

        <div class="site_agent_col" style="margin-top:80px;">
            <div class="site_agent_title">资质要求</div>
        </div>

        <div class="site_img_bottom">
            <img src="__STATIC__/img/site_img_bottom.png" alt="">
            <span>www.yilitong.com</span>
        </div>
    </div>

    <div class="site_contact">
        <img src="__STATIC__/img/site_agent_contact.png" alt="">
    </div>
</body>
</html>