<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>超级品牌月9.9秒杀</title>
    <!--<meta name="keywords" content="{$config_info['store_keyword']}">-->
    <!--<meta name="description" content="{$config_info['store_desc']}">-->
    <link rel="stylesheet" href="__STATIC__/css/active_css.css">
    <style>
        #col-1{
            display: block;
        }
        #col-2{
            display: none;
        }
        .no-count{
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.6);
            color: #fff;
            text-align: center;
            line-height: 420px;
            font-size: 30px;
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>
<body>
<!--------头部开始-------------->
<include file="public/businessHeader" />
<!--------头部结束-------------->


<div class="mid-month-bg">
    <div class="inner">



        <!-- 10.19 start -->
        <div id="col-1">


            <!-- 今日秒杀 start -->
            <div class="mid-month-col">
                <h2 class="mid-month-col-title">今日秒杀</h2>

                <div class="good-container">
                    <ul class="good-list">
                        <li>
                            <div class="mid-month-goods-img"><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/3560.html" title=""><img src="/public/upload/active/images/mid_month_p1_1.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">垃圾袋5卷实惠装</h4>
                            <p class="mid-month-goods-dec">5卷实惠装</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥20.00</s></dt>
                                <dd><a href="http://www.yilitong.com/index.php/Home/Goods/goodsInfo/id/3560.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3198.html" title=""><img src="/public/upload/active/images/mid_month_p1_2.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">卡通盒装彩色儿童皮筋</h4>
                            <p class="mid-month-goods-dec">儿童皮筋</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥16.90</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3198.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2657.html" title=""><img src="/public/upload/active/images/mid_month_p1_3.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">馨恋水果手工皂香皂</h4>
                            <p class="mid-month-goods-dec">手工皂香</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥45.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2657.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3341.html" title=""><img src="/public/upload/active/images/mid_month_p1_4.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">双层不锈钢保温保鲜饭盒</h4>
                            <p class="mid-month-goods-dec">双层不锈钢</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥16.90</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3341.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3361.html" title=""><img src="/public/upload/active/images/mid_month_p1_5.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">芦荟修复补水润唇膏</h4>
                            <p class="mid-month-goods-dec">修复补水</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥18.80</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3361.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3562.html" title=""><img src="/public/upload/active/images/mid_month_p1_6.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">农家自制姜糖片</h4>
                            <p class="mid-month-goods-dec">姜糖片</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥15.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3562.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3557.html" title=""><img src="/public/upload/active/images/mid_month_p1_7.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">爆炸果汽糖果水果糖</h4>
                            <p class="mid-month-goods-dec">爆炸果汽糖</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥15.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3557.html">立即秒杀</a></dd>
                            </dl>
                        </li>


                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2907.html" title=""><img src="/public/upload/active/images/mid_month_p1_8.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">精选彩晶石手工吊坠</h4>
                            <p class="mid-month-goods-dec">晶石手工吊坠</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥128.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/2907.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 今日秒杀 start -->



            <!-- 明日预告 start -->
            <div class="mid-month-col">
                <h2 class="mid-month-col-title">明日预告</h2>

                <div class="good-container">
                    <ul class="good-list">
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3303.html" title=""><img src="/public/upload/active/images/mid_month_p14_1.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">长寿果特级新鲜银杏果</h4>
                            <p class="mid-month-goods-dec">特级新鲜</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥28.80</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3510.html" title=""><img src="/public/upload/active/images/mid_month_p14_2.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">跑步手机臂包运动手臂包</h4>
                            <p class="mid-month-goods-dec">手臂包</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥25.00</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3576.html" title=""><img src="/public/upload/active/images/mid_month_p14_3.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">卡通手捂抱枕暖手宝</h4>
                            <p class="mid-month-goods-dec">手捂抱枕暖手宝</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥23.00</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3575.html" title=""><img src="/public/upload/active/images/mid_month_p14_4.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">创意多功能手机支架</h4>
                            <p class="mid-month-goods-dec">创意多功能</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥20.00</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3574.html" title=""><img src="/public/upload/active/images/mid_month_p14_5.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">浮雕卡通苹果手机壳</h4>
                            <p class="mid-month-goods-dec">浮雕卡通</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥16.00</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3573.html" title=""><img src="/public/upload/active/images/mid_month_p14_6.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">手工切片三味曲奇饼干</h4>
                            <p class="mid-month-goods-dec">手工切片三味</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥22.00</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3572.html" title=""><img src="/public/upload/active/images/mid_month_p14_7.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">罐装酸甜情人梅零食</h4>
                            <p class="mid-month-goods-dec">酸甜情人梅零食</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥16.00</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>


                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3571.html" title=""><img src="/public/upload/active/images/mid_month_p14_8.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">经典蓝色格子折叠雨伞</h4>
                            <p class="mid-month-goods-dec">格子折叠</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥15.00</s></dt>
                                <dd><a href="javascript:void(0);" class="next">立即秒杀</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 明日预告 start -->

        </div>
        <!-- 10.19 end -->



        <!-- 10.20 start -->
        <div id="col-2">


            <!-- 今日秒杀 start -->
            <div class="mid-month-col">
                <h2 class="mid-month-col-title">今日秒杀</h2>

                <div class="good-container">
                    <ul class="good-list">
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3303.html" title=""><img src="/public/upload/active/images/mid_month_p14_1.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">长寿果特级新鲜银杏果</h4>
                            <p class="mid-month-goods-dec">特级新鲜</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥28.80</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3303.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3510.html" title=""><img src="/public/upload/active/images/mid_month_p14_2.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">跑步手机臂包运动手臂包</h4>
                            <p class="mid-month-goods-dec">手臂包</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥25.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3510.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3576.html" title=""><img src="/public/upload/active/images/mid_month_p14_3.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">卡通手捂抱枕暖手宝</h4>
                            <p class="mid-month-goods-dec">手捂抱枕暖手宝</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥23.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3576.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3575.html" title=""><img src="/public/upload/active/images/mid_month_p14_4.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">创意多功能手机支架</h4>
                            <p class="mid-month-goods-dec">创意多功能</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥20.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3575.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3574.html" title=""><img src="/public/upload/active/images/mid_month_p14_5.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">浮雕卡通苹果手机壳</h4>
                            <p class="mid-month-goods-dec">浮雕卡通</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥16.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3574.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3573.html" title=""><img src="/public/upload/active/images/mid_month_p14_6.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">手工切片三味曲奇饼干</h4>
                            <p class="mid-month-goods-dec">手工切片三味</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥22.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3573.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3572.html" title=""><img src="/public/upload/active/images/mid_month_p14_7.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">罐装酸甜情人梅零食</h4>
                            <p class="mid-month-goods-dec">酸甜情人梅零食</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥16.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3572.html">立即秒杀</a></dd>
                            </dl>
                        </li>


                        <li>
                            <div class="mid-month-goods-img"><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3571.html" title=""><img src="/public/upload/active/images/mid_month_p14_8.jpg" alt=""></a></div>
                            <h4 class="mid-month-goods-title">经典蓝色格子折叠雨伞</h4>
                            <p class="mid-month-goods-dec">格子折叠</p>
                            <dl class="mid-month-goods-price">
                                <dt>¥9.90<s>¥15.00</s></dt>
                                <dd><a href="http://yilitong.com/index.php/Home/Goods/goodsInfo/id/3571.html">立即秒杀</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 今日秒杀 start -->

        </div>
        <!-- 10.20 end -->



        <div id="LeftTime" style="display: none;">
            <span id="_d"></span>
            <span id="_h"></span>
            <span id="_m"></span>
            <span id="_s"></span>
        </div>

    </div>
</div>








<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->

<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
<script src="__PUBLIC__/static/js/layer/layer.js"></script>
<script>
    function countTime1() {
        //获取当前时间
        var date = new Date();
        var now = date.getTime();
        //设置截止时间
        var endDate = new Date("2017/10/20 00:00");
        var end = endDate.getTime();
        //时间差
        var leftTime = end-now;
        //定义变量 d,h,m,s保存倒计时的时间
        var d,h,m,s;
        if (leftTime>=0) {
            d = Math.floor(leftTime/1000/60/60/24);
            h = Math.floor(leftTime/1000/60/60%24);
            m = Math.floor(leftTime/1000/60%60);
            s = Math.floor(leftTime/1000%60);

            //将倒计时赋值到div中
            document.getElementById("_d").innerHTML = d+"天";
            document.getElementById("_h").innerHTML = h+"时";
            document.getElementById("_m").innerHTML = m+"分";
            document.getElementById("_s").innerHTML = s+"秒";
            //递归每秒调用countTime方法，显示动态时间效果

        }else{
            //alert(123);
            document.getElementById('col-1').style.display = 'none';
            document.getElementById('col-2').style.display = 'block';
            clearInterval(countTime1)
        }

    }
    countTime1();
    var sh;
    sh = setInterval(countTime1,1000);


    $(function () {
        $('.next').each(function () {
            $(this).click(function () {
                layer.alert('请关注明日活动哦！')
            })
        })
    })
</script>



</body>
</html>