<include file="public/header" title="找回密码"  body=""/>
<script src="__PUBLIC__/js/gt.js"></script>
<style>
    /*.layui-m-layersection{*/
        /*font-size:10px;*/
    /*}*/
    .layui-m-layerbtn span{
        font-size:.6rem;
    }
    .collect-goods-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        position: relative;
        background: #fff;
        margin-bottom:.1rem;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .4rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    .geetest_wind.geetest_panel .geetest_panel_box.geetest_panelshowslide{
        width: 510px;
        height: 514px;
    }
    #btn{
        display: inline-block;
        width: 4.5rem;
        height: 1.28rem;
        text-align: center;
        line-height: 1.3rem;
        font-size: .48rem;
        background-color: #ec5151;
        color: white;
        border-radius: .128rem;
    }
</style>
<div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>找回密码</div>
		<div class="loginsingup-input">
            <!--找回密码-s-->
			<form  id="loginform" method="post">
                <input type="hidden" name="referurl" id="referurl" value="{$referurl}">
				<div class="content30">
					<div class="lsu">
						<input type="text" name="mobile" id="mobile" value="" maxlength="11"  placeholder="请输入手机号"/>
					</div>
				</div>

                <div class="content30">
                    <div class="lsu boo zc_se">
                        <input type="text" id="mobile_code" value="" name="mobile_code" placeholder="请输入手机验证码" >
                        <input type="button" rel="mobile" id="btn" value="获取验证码" />
                        <span id="verify_notice"></span>
                    </div>
                    <div class="lsu">
                        <div id="embed-captcha"></div>
                        <p id="wait" class="hide">正在加载验证码......</p>
                        <p id="notice" class="hide">请先完成验证</p>
                    </div>
                    <div class="lsu submit">
                        <input type="button"  value="下一步"  onclick="check_mobile_code()" class="btn_big1"  />
                    </div>
                </div>

			</form>
            <!--登录表单-e-->
		</div>
<!--底部导航-start-->
 
<!--底部导航-end-->
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
    var handler = function(captchaObj){
        captchaObj.onReady(function(){
            $("#wait").hide();
        }).onSuccess(function(){
            var result = captchaObj.getValidate();
            if (!result) {
                return alert('请完成验证');
            }else{
                $.ajax({
                    url: '/mobile/User/jiyan_yz',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        geetest_challenge: result.geetest_challenge,
                        geetest_validate: result.geetest_validate,
                        geetest_seccode: result.geetest_seccode
                    },
                    success: function (data) {
                        if (data.status === 'success') {
                            $.ajax({
                                url:'/index.php?m=mobile&c=User&a=getBackPassword&type=1',
                                type:'post',
                                dataType:'json',
                                data:{send:$.trim($('#mobile').val()), scene:1},
                                success:function(res){
                                    if(res.status==1){
                                        //成功
                                        countdown();
                                        $('#verify_notice').html(res.msg).css('color','red');
                                    }else{
                                        //失败
                                        $('#verify_notice').html(res.msg).css('color','red');

                                    }
                                }
                            })
                        } else if (data.status === 'fail') {
                            setTimeout(function () {
                                alert('发送失败，请完成验证');
                                captchaObj.reset();
                            }, 1500);
                        }
                    }
                });
            }

        }).onError(function(){
            //your code
        })
        // 按钮提交事件
        $('#btn').click(function () {
            var mobile=$("#mobile").val();
            if(!mobile){
                return alert('手机号不能为空！');
            }else {
                // 调用之前先通过前端表单校验
                captchaObj.verify();
            }

        });
    }

    function countdown() {
        var s = 150;
        //改变按钮状态
        $("#btn").attr("disabled",true);
        callback();
        //循环定时器
        var T = window.setInterval(callback,1000);
        function callback()
        {
            if(s <= 0){
                //移除定时器
                window.clearInterval(T);
                $("#btn").attr("disabled",false);
                $("#btn").val('获取短信验证码');
            }else{
                if(s<=10){
                    $("#btn").val('0'+ --s + '秒后再获取');
                }else{
                    $("#btn").val(--s+ '秒后再获取');
                }
            }
        }
    }

    function check_mobile_code(){
        var mobilecode = $("#mobile_code").val();
        var mobile = $("#mobile").val();
        if(!mobilecode){
            $('#verify_notice').html("验证码不能为空").css('color','red');
            return false;
        }else{
            $.ajax({
                url:'/index.php?m=mobile&c=User&a=checkmobilecode',
                type:'post',
                dataType:'json',
                data:{
                    mobilecode:mobilecode,
                    mobile:mobile
                },
                success: function (res) {
                    if(res.status == 1){
                        window.location.href='{:Url("Mobile/User/newpassw")}?mobile='+res.mobile;
                    }else {
                        $('#verify_notice').html(res.msg).css('color','red');
                    }
                }
            })
        }

    }

    $.ajax({
        // 获取id，challenge，success（是否启用failback）
        url: "/mobile/User/jiyan?t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        data:{
            ip:returnCitySN['cip']
        },
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                new_captcha: data.new_captcha,
                product: "bind", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handler);
        }
    });

</script>
</body>
</html>
