<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <title>设计作品详情-{$config['shop_info_store_title']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />

    <link rel="stylesheet" href="__MOBILE__/css/mobile_designer.css">
</head>
<body style="background:#efefef;">
    <div class="topSearch">
        <a href="javascript:history.go(-1);" class="back"></a>
        <p>作品详情</p>
    </div>
    <div class="works-details-container">
        <h1 class="works-details-title">{$works_list.works_name}</h1>
        <p class="works-details-type">作品类型：<span>{$works_list.cat_name}</span></p>
    
        <div class="designer-details-infos">
            <!-- <a href="javascript:void(0);"> -->
            <a href="{:url('Mobile/Works/DesignerCenter1',array('id'=>$supplier_list.supplier_id))}">
                <div class="designer-details-headImg">
                    <img src="{$user_list.head_pic|default='images/big.jpg'}" alt="头像">
                </div>
                <p class="designer-name">{$works_list.designer_name}</p>
            </a>
        </div>
        <section class="works-details-content">

            <img src="{$works_list.works_img|default='images/big.jpg'}" alt="">
            {$works_list.works_content}
        </section>

        <div class="designer-details-infos-1">
            <a href="{:url('Mobile/Works/DesignerCenter1',array('id'=>$supplier_list.supplier_id))}">
                <div class="designer-details-headImg-1">
                    <img src="{$user_list.head_pic|default='images/big.jpg'}" alt="头像">
                </div>
                <p class="designer-name-1">{$works_list.designer_name}</p>
            </a>
            <dl class="designer-infos-1 clearfix">
                <dt>{$supplier_list.company_type}</dt>
            </dl>
        </div>
        <dl class="designer-infos-1 clearfix">
            <dt>个人简介：</dt>
            <dd>{$supplier_list.introduction}</dd>
        </dl>
    </div>
    <!-- <p class="details-more-works">更多他的作品</p> -->
    <p class="details-more-works"><a href="{:url('Mobile/Works/WorksDetail',array('uid'=>$works_list.user_id,'id'=>$works_list.works_id))}">更多他的作品</a></p>
    <div class="works-details-container" style="padding:0 2rem;">
        <foreach name="works_more" item="vo">
        <div class="more-his-works-col">
            <!-- works_img主图不是缩略图 -->
            <div class="more-his-works-img">
                <a href="{:url('Mobile/Works/WorksDetail',array('id'=>$vo.works_id))}">
                <img src="{$vo.works_img|default='images/big.jpg'}" alt="">
                </a>
            </div>
            <div class="more-his-works-infos">
               <!--  <p>乡愁是一份沉重的爱。离开故土的游子作品名称,乡愁是一份沉重的爱。</p> -->
                <p>{$vo.works_name}</p>
                <dl>
                    <dt>{$vo.cat_name}</dt>
                    <dd>浏览<span>{$vo.click_count}</span></dd>
                    <dd>收藏<span>{$vo.collect_count}</span></dd>
                </dl>
            </div>
        </div>
        </foreach>

    </div>

    <ul class="works-details-navBar">
        <li><a href="JavaScript:void(0);">
            <i class="link_out"></i>
            <span>转发</span>
        </a></li>
         <li><a href="javascript:void(0);" onclick="collect_works({$works_list.works_id})">
         <i class="m_collect_icon"></i>
            <span>收藏</span>
        </a></li>
        <li><a href="{:url('Mobile/Works/Comment',array('id'=>$works_list.works_id))}">
            <i class="designs_works_comment"></i>
            <span>评论</span>
        </a></li>
    </ul>


    <script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
    <script>
        // 点击收藏商品
        function collect_works(id){

            $.ajax({
                type : "GET",
                dataType: "json",
                url:"/index.php?m=Mobile&c=Works&a=collect_works&id="+id,//+tab,
                success:function(data){
                    if(data.status == 1){
                        alert(data.msg);
                    }else{
                        alert(data.msg);                      
                        return false;
                    }
                },
                error:function(){
                    alert('网络失败，请刷新页面后重试');
                },
            });
        }
    </script>
</body>
</html>