	<style>
        .iconfont {
          font-family:"iconfont" !important;
          font-size:16px;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }
        .icon-shouye:before { content: "\e637"; }
        .icon-fenlei:before { content: "\e666"; }
        .icon-gouwuche:before { content: "\e726"; }
        .icon-wode:before { content: "\e618";}
        .icon-paixing:before { content: "\e610"; }


        .icon i.icon-home{
            background:url(__MOBILE__/images/btn_under_home@2x.png) no-repeat;
        }
        .icon i.icon-classify{
            background:url(__MOBILE__/images/btn_under_classification@2x.png) no-repeat;
        }
        /*.icon i.icon-gift{*/
            /*background:url(__MOBILE__/images/li_n@2x.png) no-repeat;*/
        /*}*/
        .icon i.icon-shoppingCar{
            background:url(__MOBILE__/images/btn_under_shopping@2x.png) no-repeat;
        }
        .icon i.icon-my{
            background:url(__MOBILE__/images/btn_under_mime@2x.png) no-repeat;
        }
        .icon i.icon-home,.icon i.icon-classify,.icon i.icon-gift,.icon i.icon-shoppingCar,.icon i.icon-my{
            display:block;
            width:1.1rem;
            height:1.1rem;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            margin:0 auto;
        }
     	.li>a{
            text-decoration: none;
        }
    </style>


<div class="foohi">
    <div class="footer">
        <ul>
            <li>
                <a <if condition="CONTROLLER_NAME eq 'Index'">class="yello" </if>  href="{:Url('/mobile')}">
                <div class="icon">
                    <i class="icon-home"></i>
                    <p>首页</p>
                </div>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="{:Url('Goods/giftStrategy')}">-->
                    <!--<div class="icon">-->
                        <!--<i class="icon-gift"></i>-->
                        <!--<p>送礼攻略</p>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="{:Url('Goods/categoryList')}">
                    <div class="icon">
                        <i class="icon-classify"></i>
                        <p>分类</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{:Url('Cart/cart')}">
                    <div class="icon">
                        <i class="icon-shoppingCar"></i>
                        <p>购物车</p>
                    </div>
                </a>
            </li>
            <li>
                <a <if condition="CONTROLLER_NAME eq 'User'">class="yello" </if> href="{:Url('User/index')}">
                    <div class="icon">
                        <i class="icon-my"></i>
                        <p>我的</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
