<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>产品列表</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/productlist.css" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" media="screen" />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="vue_index">
        <div class="containerT">
            <div class="top">
                <a :href="['index.html']"><img src="img/logo.png" width="132px" height="39px"></a>
                <a href="index.html" class="shouye">首页</a>
                <div class="input-group search">
                    <input type="text" class="form-control form-searchbox" placeholder="搜索商品名称" v-model="keyword" @keyup.enter="sousuo(keyword)">
                    <span class="input-group-btn">
					<button class="btn btn-default btn-searchb" type="button" @click="sousuo(keyword)">
						搜索
					</button>
				</span>
                </div>
                <div class="shopcart">
                    <img src="img/icon_cart.png">
                    <a class="text" href="shopcart.html">购物车</a>
                    <a class="number" v-if="cartLength!=''">{{cartLength}}</a>
                </div>
                <img src="img/hz_header.png" width="50px" height="50px" class="headicon" @click="onUsercenter">
                <div class="userlist" v-show="userc">
                    <!-- <p class="username">杭州西湖国际中心的</p> -->
                    <p @click="UserCenter">用户中心</p>
                    <p @click="Lagout">退出登录</p>
                </div>
            </div>
        </div>
        <div class="containerp">
            <div class="conentya">
                <ul class="swiper_title">
                    <li id="prc1" :class="{active:currentItem==''}" @click="getCategeProduct('');page_html=1">全部商品</li>
                    <li v-for="(item,index) in category" :class="{active:item.id==currentItem}" @click.stop="page_html=1,getCategeProduct(item.id)">
                        <span class="spand">{{item.name}}</span>
                        <ul class="xiaofenlei" v-if="item.id==tet">
                            <li v-for="(cat,index) in item.tmenu" @click.stop="page_html=1,getCategeProduct2(cat.id)" :class="{active:cat.id==currentItem2}">
                                {{cat.name}}
                                <ul class="sanfenlei" v-if="cat.id==current_threeId">
                                    <li v-for="(sub,i) in cat.sub_menu" @click.stop="page_html=1,getCategeProduct3(sub.id)" :class="{active:sub.id==currentlithree}">{{sub.name}}</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pinpailist.html">品牌</a></li>
                    <!-- <li @click="getPriceProduct('0-10')" id="prc2">10元以下</li>
				<li @click="getPriceProduct('10-20')" id="prc3">10元-20元</li>
				<li @click="getPriceProduct('20-30')" id="prc4">20元-30元</li>
				<li @click="getPriceProduct('30-50')" id="prc5">30元-50元</li>
				<li @click="getPriceProduct('50-100')" id="prc6">50元-100元</li>
				<li @click="getPriceProduct('100-200')" id="prc7">100元-200元</li>
				<li @click="getPriceProduct('200-1000000')" id="prc8">200元以上</li> -->
                </ul>
                <div class="du">
                    <div class="hz_fenlei">

                    </div>
                    <ul class="productlist" v-if="productlist.length!==0">
                        <li v-for="item in productlist">
                            <a target="_blank" :href="['productDetail.html?goods_id='+item.goods_id]" target="_blank"><img :src="baseUrl+item.goods_thumb" width="240px" height="240px">
                                <p class="goods_name">{{item.goods_name}}</p>
                                <p class="price" v-if="item.parent_id_path==28">￥{{item.market_price}}</p>
                                <!-- <p class="price" v-else>￥{{item.shop_price}}</p> -->
                                <p class="price" v-else>￥{{item.group_price}}</p>
                            </a>
                        </li>
                        <div class="fenye" v-if="totalpage>1">
                            <div class="prepage" :class="{gray:page_html==1}" @click="getpropage(-1)">上一页</div>
                            <div class="currentpage">{{page_html}} / {{totalpage}}</div>
                            <div class="lastpage" :class="{gray:page_html==totalpage}" @click="getpropage(1)">下一页</div>
                            <!-- <div class="total_ym">共<span>{{totalpage}}</span>页</div> -->
                        </div>
                    </ul>

                </div>

                <!-- <div v-if="productlist.length==0" class="noproduct">
				<p>该价格区间下暂无商品</p>
			</div> -->
                <div class="noproduct" v-if="productlist.length==0">
                    <img src="img/icon_ss.png" width="104px" height="104px">
                    <p>该分类下暂无商品</p>
                </div>
            </div>

        </div>
        <div class="containerB">
            <p>红礼供应链管理有限公司</p>
        </div>
        <div class="dialog-bg" id="dialog-bg">
            <div class="img-box" id="img-box">
                <img src="">
            </div>
        </div>
</body>

<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script type="text/javascript">
    // 从而让整个应用都有路由功能
    var aa = new Vue({
        el: '#vue_index',
        data: {
            // baseUrl:'http://192.168.1.17/tp510',
            baseUrl: 'http://www.yilitong.com',
            addhover: true,
            cur: 0,
            placeh: 1,
            userc: false,
            productlist: [],
            keyword: '',
            admin_id: '',
            faw: 1,
            cartLength: '',
            category: [],
            currentItem: '',
            currentItem2: '',
            page_html: 1, //当前页
            count: '',
            showcount: 20,
            totalpage: '',
            tet: '',
            current_threeId: '',
            currentlithree: '',

        },
        created() {
            console.log(localStorage.admin_id);
            if (!localStorage.admin_id) {
                window.location.href = 'login.html';
            } else {
                this.admin_id = localStorage.admin_id;
                this.getCategeory();
                // this.getPriceProduct('0-100000000');
                // this.getCartList(localStorage.admin_id);

                // this.getCategeProduct(this.currentItem);
            }
            var url = window.location.href;
            var i = url.indexOf('?');
            var querystr = url.substr(i + 1);
            var arr1 = querystr.split('&');
            var arr2 = new Object();
            for (i in arr1) {
                var ta = arr1[i].split('=');
                arr2[ta[0]] = ta[1];
            }
            var fanwei = arr2.i;
            console.log(arr2.cat_id);
            this.getCategeProduct(arr2.cat_id);
            // cat_id

            // if(fanwei==1){
            // 	this.getPriceProduct('0-1000000');
            // }
            // if(fanwei==2){
            // 	this.getPriceProduct('0-10');
            // }
            // if(fanwei==3){
            // 	this.getPriceProduct('10-20');
            // }
            // if(fanwei==4){
            // 	this.getPriceProduct('20-30');
            // }
            // if(fanwei==5){
            // 	this.getPriceProduct('30-50');
            // }
            // if(fanwei==6){
            // 	this.getPriceProduct('50-100');
            // }
            // if(fanwei==7){
            // 	this.getPriceProduct('100-200');
            // }
            // if(fanwei==8){
            // 	this.getPriceProduct('200-1000000');
            // }
        },

        mounted: function() {

        },
        methods: {
            getpropage(e) {
                var currentp = this.page_html = this.page_html + e;
                this.page_html = currentp;
                if (!this.currentItem2) {
                    this.getCategeProduct(this.currentItem);
                } else {
                    this.getCategeProduct2(this.currentItem2);
                }

            },
            gettotalPage() {
                let showcount = this.showcount;
                let count = this.count;
                let totalpage = Math.ceil(count / showcount);
                this.totalpage = totalpage;
            },
            getCategeory: function() {
                var baseurl = this.baseUrl;
                var that = this;
                var list = {
                    // cat_id:cat_id,
                    admin_id: that.admin_id
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/home/RedGift/goodsList', {
                    params: list
                }).then(function(res) {
                    console.log(res);
                    // this.category=res.data.get_category;
                    var k = res.data.get_category;
                    var catearr = [];
                    for (i in k) {
                        catearr.push(k[i]);
                    }
                    // for(var i=0;i<10;i++){
                    // 	that.category[i]=catearr[i]
                    // }
                    that.category = catearr;
                    console.log(catearr[0].name);
                });
            },

            getCategeProduct: function(e) {
                console.log('aaa' + e);
                this.currentItem = e;
                if (this.tet == e) {
                    this.tet = '';
                } else {
                    this.tet = e;
                }

                // if(this.tet==''){
                // 	this.tet=e;
                // }
                this.currentItem2 = '',
                    console.log(this.currentItem);
                var baseurl = this.baseUrl;
                var that = this;
                var list = {
                    cat_id: e,
                    admin_id: that.admin_id,
                    page_html: that.page_html,
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/home/RedGift/goodsList', {
                    params: list
                }).then(function(res) {
                    // console.log(res.data);
                    that.count = res.data.count;
                    that.productlist = res.data.goods_list == null ? '' : res.data.goods_list;
                    that.gettotalPage();
                    console.log(e);
                });
            },
            getCategeProduct3: function(e) {
                console.log(e);
                this.currentlithree = e;
                var baseurl = this.baseUrl;
                var that = this;
                var list = {
                    cat_id: e,
                    admin_id: that.admin_id,
                    page_html: that.page_html,
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/home/RedGift/goodsList', {
                    params: list
                }).then(function(res) {
                    console.log(res.data);
                    that.count = res.data.count;
                    that.productlist = res.data.goods_list == null ? '' : res.data.goods_list;
                    that.gettotalPage();
                    // that.current_threeId=e;
                    console.log(e);

                });
            },
            getCategeProduct2: function(e) {
                this.currentItem2 = e;
                console.log('bbb' + e);
                var baseurl = this.baseUrl;
                var that = this;
                var list = {
                    cat_id: e,
                    admin_id: that.admin_id,
                    page_html: that.page_html,
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/home/RedGift/goodsList', {
                    params: list
                }).then(function(res) {
                    console.log(res.data);
                    that.count = res.data.count;
                    that.productlist = res.data.goods_list == null ? '' : res.data.goods_list;
                    that.gettotalPage();
                    // that.current_threeId=e;
                    console.log(e);
                    // that.current_threeId='';
                    if (that.current_threeId == e) {
                        that.current_threeId = '';
                    } else {
                        that.current_threeId = e;
                    }
                });
            },

            // getFenleisub():function(a,b){

            // }

            getCartList: function(e) {
                var baseurl = this.baseUrl;
                var that = this;
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/index.php/home/RedGift/ajaxCartList', {
                    params: {
                        admin_id: e
                    }
                }).then(function(res) {
                    console.log(res.data.cartList[41].list);
                    if (res.data.cartList[41].list == null) {
                        that.cartLength = '';
                    } else {
                        that.cartLength = res.data.cartList[41].list.length;
                        console.log(that.cartLength);
                    }
                });
            },
            Lagout: function() {
                localStorage.clear();
            },
            UserCenter: function() {
                window.location.href = 'usercenter.html?ed=2';
            },
            sousuo: function(e) {
                window.location.href = "sousuo.html?keyword=" + e;
            },
            getPriceProduct: function(e) {
                console.log(e);
                this.faw = e;
                var baseurl = this.baseUrl;
                var that = this;
                var price = {
                    price: e,
                    admin_id: that.admin_id
                };
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.get(baseurl + '/home/RedGift/Price_search', {
                    params: price
                }).then(function(res) {
                    console.info(res.data);
                    that.productlist = res.data.goods;
                });
            },
            onUsercenter: function() {
                this.userc = !this.userc;
            },
            details: function() {
                return this.site + " - 学的不仅是技术，更是梦想！";
            }
        }
    }).$mount('#vue_index');
</script>


</html>