<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>入驻商管理</h3>
				<h5>网站入驻商列表</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>网站管理员日志列表, 由总平台设置管理.</li>
		</ul>
		
	</div>
	
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>管理员日志列表</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		
		<form id="search-form2" class="navbar-form form-inline"  method="post" action="{:Url('/Admin/Supplier/BusinessList')}">
			  <div class="sDiv">  
			  
				<div class="sDiv2">
					  <input type="text" class="qsbox" id="input-order-id" placeholder="搜索词" value="{$_POST['keyword']}" name="keyword">                                        
				  <input type="submit" name="save" class="btn" value="搜索">
				  
				</div>
			  </div>
		
		</div>
	 
	 	<div class="tDiv2">
				<div class="fbutton"> 
					
						<div class="add" title="选定行数据导出excel文件,如果不选中行，将导出列表所有数据">
							<span><i class="fa fa-plus"></i><input type="submit" name="export" class="btn" value="导出数据"></span>
						</div>
					
				 </div>

		</div>
		</form>		
				
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">店铺ID</div>
                        </th>
						<th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 120px;" class="">公司名称</div>
                        </th>
						 <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">店铺名称</div>
                        </th>
                        <th align="center" abbr="article_title" axis="col4" class="">
                            <div style="text-align: center; width: 100px;" class="">公司地址</div>
                        </th>
                  
                        <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">公司规模</div>
                        </th>
                        <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">联系人姓名</div>
                        </th>
                        <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">手机号码</div>
                        </th>
                        <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">电子邮箱</div>
                        </th>
                        <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">经营范围</div>
                        </th>
						  <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">入驻时间</div>
                        </th>

						 <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">审核状态</div>
                        </th>
						 <th align="center" abbr="article_title" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">审核操作</div>
                        </th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="arr" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 50px;">{$vo.supplier_id}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 140px;">{$vo.company_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$vo.supplier_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.address}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.guimo}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.contacts_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.contacts_phone}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.email}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.business_sphere}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.add_time|date='Y-m-d',###}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;"> 已审核</div>
							</td>
							<td align="left" class="">
								<a href="{:Url('Admin/supplier/detail',array('id'=>$vo['supplier_id']))}"><div style="text-align: left; width: 100px;">入驻详情</div></a>
								<!--if $vo.status eq -1><a href="javascript:void(0);" onclick="del_supplier('{$vo[supplier_id]}')">删除店铺</a></if-->
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});


		  	  
		  function del_supplier(id){

    	layer.confirm('确定要彻底删除吗？', {btn: ['确定','取消'] }, function(){
    			$.ajax({
    				type : 'get',
    				url : "/index.php?m=Admin&c=supplier&a=delSupplier&id="+id,
    				dataType : 'json',
    				success : function(data){
    					if(data == 1){
    						layer.msg('操作成功', {icon: 1});
    				
    					}else{
    						layer.msg(data, {icon: 2,time: 2000});
    					}
    					layer.closeAll();
    				}
    			})
    		}, function(index){
    			layer.close(index);
    			return false;// 取消
    		}
    	);	
    }
	


</script>
</body>
</html>