<include file="public/layout" />
<!-- 审核详情页 -->
<style>
    .err{color:#F00; display:none;}
    .ui-tooltip{
        display:none;
        display:none !important;
    }
    .list_table {        
        border:1px #d2d2d2 solid;
        font-size: 16px;
        line-height: 30px;  
        color: #333;  
     }
   .list_table thead tr th{
        font-weight: bold;
        text-align: center;
        background: #ccc;
   }
   .list_table tbody tr td{
        text-align: center;
   }
</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<!-- 省市区插件 -->
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="__PUBLIC__/static/css/index.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/js/apply_one.css" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>企业采购 - 审核</h3>
                <h5>网站系统企业采购采集详情页</h5>
            </div>
        </div>
    </div>
    <if $su.status eq 0>
        <form class="form-horizontal" id="user_form" method="post">
            <input type="hidden" name="id" value="{$su.id}">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label>采购标题</label>
                    </dt>
                    <dd class="opt">
                              {$su.title}
                     <!--    <input type="text" name="title" id="title" value="{$su.title}" class="input-txt enable"> -->
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>公司名称</label>
                    </dt>
                    <dd class="opt">
                    {$su.company_name}
                 <!--        <input type="text" name="company_name" id="company_name" value="{$su.company_name}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>联系人</label>
                    </dt>
                    <dd class="opt">
                    {$su.contacts_name}
                    <!--     <input type="text" name="contacts_name" id="contacts_name" value="{$su.contacts_name}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>联系电话</label>
                    </dt>
                    <dd class="opt">
                        {$su.tel}
                    <!--     <input type="text" name="tel" id="tel" value="{$su.tel}" class="input-txt"> -->
                    </dd>
                </dl>            

                <dl class="row">
                    <dt class="tit">
                        <label>采购清单</label>
                    </dt>
                    <dd class="opt">
                        <table cellspacing="0" cellpadding="0" border="1px solid #000" class="list_table">
                            <thead>
                                <tr>
                                     <th width="200" height="30">产品名称</th>
                                     <th width="200" height="30">规格</th>
                                     <th width="200" height="30">颜色</th>
                                     <th width="200" height="30">品牌</th>
                                     <th width="200" height="30">单位</th>
                                     <th width="200" height="30">数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="list" item="vo" key="k" >
                                    <tr>
                                        <td>{$vo.goods_name}</td>
                                        <td>{$vo.goods_norm}</td>
                                        <td>{$vo.goods_color}</td>
                                        <td>{$vo.goods_brand}</td>
                                        <td>{$vo.goods_unit}</td>
                                        <td>{$vo.goods_num}</td>
                                    </tr>
                                </foreach> 
                            </tbody>
                        </table>

                     <!--    <input type="text" name="goods_name" id="goods_name" value="{$su.goods_name}" class="input-txt"> -->
                    </dd>
                </dl>

                 <dl class="row">
                    <dt class="tit">
                        <label for="record_no">产品编号</label>
                    </dt>
                    <dd class="opt">{$su.goods_sn}
                        <!-- <input type="text" value="{$su.goods_sn}" name="goods_sn" class="input-txt"/> -->
                    </dd>
                </dl> 
              
               <!--  <dl class="row">
                    <dt class="tit">
                        <label>采购商品数量</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="goods_count" id="goods_count" value="{$su.goods_count}" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" class="input-txt">
                    </dd>
                </dl> -->

                <dl class="row">
                    <dt class="tit">
                        <label>品牌要求</label>
                    </dt>
                    <dd class="opt">
                        <if $su.goods_ask eq null>
                            无
                        </if>
                        {$su.goods_ask}
                    </dd>
                </dl> 

                <dl class="row">
                    <dt class="tit">
                      <label>是否定制</label>
                    </dt>
                    <dd class="opt">
                      <div class="onoff">
                          <if condition="$su[sustomized] eq 1">
                            <label for="sustomized1" class="cb-disable selected">是</label>
                          </if>  
                          <if condition="$su[sustomized] eq 0">
                            <label for="sustomized0" class="cb-disable selected">否</label>
                          </if>
                      </div>
                      <p class="notic"></p>
                    </dd>
                </dl> 
       
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">询价时间</label>
                    </dt>
                    <dd class="opt">
    					{$su.inquiry_time|date="Y-m-d",###}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">截止时间</label>
                    </dt>
                    <dd class="opt">
                       {$su.dead_time|date="Y-m-d",###}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">期望收货时间</label>
                    </dt>
                    <dd class="opt">
                       {$su.expect_time|date="Y-m-d",###}
                    </dd>
                </dl>


                <dl class="row">
                    <dt class="tit">
                        <label>发票抬头</label>
                    </dt>
                    <dd class="opt">

                        <if $su.lnvoice_title eq null>
                            无要求
                        </if>
                        {$su.lnvoice_title}
                  <!--       <input type="text" name="lnvoice_title" id="lnvoice_title" value="{$su.lnvoice_title}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                      <label for="ac_name">地址</label>
                    </dt>
                    <dd class="opt">
                      <!-- <input type="text" class="input-txt city-tab" id="city" name="address" value="{$su.address}"> -->
                      {$region_list[$su['province']]['name']}，{$region_list[$su['city']]['name']}，{$region_list[$su['area']]['name']}
                    </dd>
                </dl>             

                 <dl class="row">
                    <dt class="tit">
                      <label for="ac_name">供货商所在地区</label>
                    </dt>
                    <dd class="opt">
                      {$su.region}
                 <!--      <textarea placeholder="默认-全国，如广东,上海,天津,湖南,海南,青海,浙江,江西,山东,黑龙江等" name="region" rows="3" class="tarea">{$su.region}</textarea> -->
                    </dd>
                 </dl>    

                <dl class="row">
                    <dt class="tit">
                        <label>报价要求</label>
                    </dt>
                    <dd class="opt">

                        <if $su.quote_ask eq null>
                            无要求
                        </if>
                        {$su.quote_ask}
                  <!--       <textarea placeholder="请输入报价要求：需要报含税价,包含运费不允许对询价单部分物料报价" name="quote_ask" rows="6" class="tarea">{$su.quote_ask}</textarea> -->
                    </dd>
                </dl>
                    <dl class="row">
                        <dt class="tit">
                            <label>审核结果</label>
                        </dt>
                        <dd class="opt"><select class="examine" name="status" id="status">
                         <option value="0" selected>未审核</option>   
                         <option value="1" >审核通过</option>   
                         <option value="2" >审核不通过</option>
                         <option value="-1">关闭企业采集</option>                  
                        </select>  </dd>
                    </dl>
                    <dl class="row reply " style="display: none">
                        <dt class="tit">
                            <label>审核回复</label>
                        </dt>
                        <dd class="opt">
                           <textarea placeholder="请输入审核不通过原因，以便客户尽快修改" name="reply" rows="6" class="tarea"></textarea> 
                        </dd>
                    </dl>
                    <div class="bot"><a href="JavaScript:void(0);" onclick="checkUserUpdate();" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
               
            </div>
        </form>
    </if>
    <if $su.status eq 1>
        <form class="form-horizontal" id="user_form" method="post">
            <input type="hidden" name="id" value="{$su.id}">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label>采购标题</label>
                    </dt>
                    <dd class="opt">
                              {$su.title}
                     <!--    <input type="text" name="title" id="title" value="{$su.title}" class="input-txt enable"> -->
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>公司名称</label>
                    </dt>
                    <dd class="opt">
                    {$su.company_name}
                 <!--        <input type="text" name="company_name" id="company_name" value="{$su.company_name}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>联系人</label>
                    </dt>
                    <dd class="opt">
                    {$su.contacts_name}
                    <!--     <input type="text" name="contacts_name" id="contacts_name" value="{$su.contacts_name}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>联系电话</label>
                    </dt>
                    <dd class="opt">
                        {$su.tel}
                    </dd>
                </dl>            
                <dl class="row">
                        <dt class="tit">
                            <label>采购清单</label>
                        </dt>
                        <dd class="opt">
                            <table cellspacing="0" cellpadding="0" border="1px solid #000" class="list_table">
                                <thead>
                                    <tr>
                                         <th width="200" height="30">产品名称</th>
                                         <th width="200" height="30">规格</th>
                                         <th width="200" height="30">颜色</th>
                                         <th width="200" height="30">品牌</th>
                                         <th width="200" height="30">单位</th>
                                         <th width="200" height="30">数量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="vo" key="k" >
                                        <tr>
                                            <td>{$vo.goods_name}</td>
                                            <td>{$vo.goods_norm}</td>
                                            <td>{$vo.goods_color}</td>
                                            <td>{$vo.goods_brand}</td>
                                            <td>{$vo.goods_unit}</td>
                                            <td>{$vo.goods_num}</td>
                                        </tr>
                                    </foreach> 
                                </tbody>
                            </table>
                        </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label for="record_no">产品编号</label>
                    </dt>
                    <dd class="opt">{$su.goods_sn}
                        <!-- <input type="text" value="{$su.goods_sn}" name="goods_sn" class="input-txt"/> -->
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>品牌要求</label>
                    </dt>
                    <dd class="opt">
                        <if $su.goods_ask eq null>
                            无
                        </if>
                        {$su.goods_ask}
                    </dd>
                </dl> 

                <dl class="row">
                    <dt class="tit">
                      <label>是否定制</label>
                    </dt>
                    <dd class="opt">
                      <div class="onoff">
                          <if condition="$su[sustomized] eq 1">
                            <label for="sustomized1" class="cb-disable selected">是</label>
                          </if>  
                          <if condition="$su[sustomized] eq 0">
                            <label for="sustomized0" class="cb-disable selected">否</label>
                          </if>
                      </div>
                      <p class="notic"></p>
                    </dd>
                </dl> 
       
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">询价时间</label>
                    </dt>
                    <dd class="opt">
                        {$su.inquiry_time|date="Y-m-d",###}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">截止时间</label>
                    </dt>
                    <dd class="opt">
                       {$su.dead_time|date="Y-m-d",###}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">期望收货时间</label>
                    </dt>
                    <dd class="opt">
                       {$su.expect_time|date="Y-m-d",###}
                    </dd>
                </dl>


                <dl class="row">
                    <dt class="tit">
                        <label>发票抬头</label>
                    </dt>
                    <dd class="opt">

                        <if $su.lnvoice_title eq null>
                            无要求
                        </if>
                        {$su.lnvoice_title}
                  <!--       <input type="text" name="lnvoice_title" id="lnvoice_title" value="{$su.lnvoice_title}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                      <label for="ac_name">地址</label>
                    </dt>
                    <dd class="opt">
                      <!-- <input type="text" class="input-txt city-tab" id="city" name="address" value="{$su.address}"> -->
                      {$region_list[$su['province']]['name']}，{$region_list[$su['city']]['name']}，{$region_list[$su['area']]['name']}
                    </dd>
                </dl>             

                 <dl class="row">
                    <dt class="tit">
                      <label for="ac_name">供货商所在地区</label>
                    </dt>
                    <dd class="opt">
                      {$su.region}
                 <!--      <textarea placeholder="默认-全国，如广东,上海,天津,湖南,海南,青海,浙江,江西,山东,黑龙江等" name="region" rows="3" class="tarea">{$su.region}</textarea> -->
                    </dd>
                 </dl>    

                <dl class="row">
                    <dt class="tit">
                        <label>报价要求</label>
                    </dt>
                    <dd class="opt">

                        <if $su.quote_ask eq null>
                            无要求
                        </if>
                        {$su.quote_ask}
                  <!--       <textarea placeholder="请输入报价要求：需要报含税价,包含运费不允许对询价单部分物料报价" name="quote_ask" rows="6" class="tarea">{$su.quote_ask}</textarea> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>审核结果</label>
                    </dt>
                    <dd class="opt">
                      已通过审核
                     </dd>
                </dl>
                <dl class="row reply" style="display: none">
                    <dt class="tit">
                        <label>审核回复</label>
                    </dt>
                    <dd class="opt">
                       <textarea placeholder="请输入审核不通过原因，以便客户尽快修改" name="quote_ask" rows="6" class="tarea">{$su.quote_ask}</textarea> 
                    </dd>
                </dl>
              
              	<dl class="row" style="height: 30px;">
                    <dt class="tit">
                        <label>被查看次数</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" value="{$su.be_viewed}" class="be_viewed" id="be_viewed">

                        <button class="submit1">提交</button>
                    </dd>
                </dl>
                <dl class="row" style="height: 30px;">
                    <dt class="tit">
                        <label>已报价数量</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" value="{$su.quoted}"  class="quoted" id="quoted">
                        <button class="submit2">提交</button>
                    </dd>
                </dl>
                <input type="hidden" data-id="{$su.id}" class="supplierId">
                <dl class="row" style="height: 30px;">
                </dl>
            </div>
        </form>
    </if>
    <if $su.status eq 2>
        <form class="form-horizontal" id="user_form" method="post">
            <input type="hidden" name="id" value="{$su.id}">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label>采购标题</label>
                    </dt>
                    <dd class="opt">
                              {$su.title}
                     <!--    <input type="text" name="title" id="title" value="{$su.title}" class="input-txt enable"> -->
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>公司名称</label>
                    </dt>
                    <dd class="opt">
                    {$su.company_name}
                 <!--        <input type="text" name="company_name" id="company_name" value="{$su.company_name}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>联系人</label>
                    </dt>
                    <dd class="opt">
                    {$su.contacts_name}
                    <!--     <input type="text" name="contacts_name" id="contacts_name" value="{$su.contacts_name}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>联系电话</label>
                    </dt>
                    <dd class="opt">
                        {$su.tel}
                    <!--     <input type="text" name="tel" id="tel" value="{$su.tel}" class="input-txt"> -->
                    </dd>
                </dl>            

                <dl class="row">
                    <dt class="tit">
                        <label>采购清单</label>
                    </dt>
                    <dd class="opt">
                        <table cellspacing="0" cellpadding="0" border="1px solid #000" class="list_table">
                            <thead>
                                <tr>
                                     <th width="200" height="30">产品名称</th>
                                     <th width="200" height="30">规格</th>
                                     <th width="200" height="30">颜色</th>
                                     <th width="200" height="30">品牌</th>
                                     <th width="200" height="30">数量</th>
                                     <th width="200" height="30">单位</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <foreach name="list" item="vo" key="k" >
                                        <tr>
                                            <td>{$vo.goods_name}</td>
                                            <td>{$vo.goods_norm}</td>
                                            <td>{$vo.goods_color}</td>
                                            <td>{$vo.goods_brand}</td>
                                            <td>{$vo.goods_unit}</td>
                                            <td>{$vo.goods_num}</td>
                                        </tr>
                                    </foreach> 
                            </tbody>
                        </table>

                     <!--    <input type="text" name="goods_name" id="goods_name" value="{$su.goods_name}" class="input-txt"> -->
                    </dd>
                </dl>

                 <dl class="row">
                    <dt class="tit">
                        <label for="record_no">产品编号</label>
                    </dt>
                    <dd class="opt">{$su.goods_sn}
                        <!-- <input type="text" value="{$su.goods_sn}" name="goods_sn" class="input-txt"/> -->
                    </dd>
                </dl> 
                <dl class="row">
                    <dt class="tit">
                        <label>品牌要求</label>
                    </dt>
                    <dd class="opt">
                        <if $su.goods_ask eq null>
                            无
                        </if>
                        {$su.goods_ask}
                    </dd>
                </dl> 

                <dl class="row">
                    <dt class="tit">
                      <label>是否定制</label>
                    </dt>
                    <dd class="opt">
                      <div class="onoff">
                          <if condition="$su[sustomized] eq 1">
                            <label for="sustomized1" class="cb-disable selected">是</label>
                          </if>  
                          <if condition="$su[sustomized] eq 0">
                            <label for="sustomized0" class="cb-disable selected">否</label>
                          </if>
                      </div>
                      <p class="notic"></p>
                    </dd>
                </dl> 
       
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">询价时间</label>
                    </dt>
                    <dd class="opt">
                        {$su.inquiry_time|date="Y-m-d",###}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">截止时间</label>
                    </dt>
                    <dd class="opt">
                       {$su.dead_time|date="Y-m-d",###}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="articleForm">期望收货时间</label>
                    </dt>
                    <dd class="opt">
                       {$su.expect_time|date="Y-m-d",###}
                    </dd>
                </dl>


                <dl class="row">
                    <dt class="tit">
                        <label>发票抬头</label>
                    </dt>
                    <dd class="opt">

                        <if $su.lnvoice_title eq null>
                            无要求
                        </if>
                        {$su.lnvoice_title}
                  <!--       <input type="text" name="lnvoice_title" id="lnvoice_title" value="{$su.lnvoice_title}" class="input-txt"> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                      <label for="ac_name">地址</label>
                    </dt>
                    <dd class="opt">
                      <!-- <input type="text" class="input-txt city-tab" id="city" name="address" value="{$su.address}"> -->
                      {$region_list[$su['province']]['name']}，{$region_list[$su['city']]['name']}，{$region_list[$su['area']]['name']}
                    </dd>
                </dl>             

                 <dl class="row">
                    <dt class="tit">
                      <label for="ac_name">供货商所在地区</label>
                    </dt>
                    <dd class="opt">
                      {$su.region}
                 <!--      <textarea placeholder="默认-全国，如广东,上海,天津,湖南,海南,青海,浙江,江西,山东,黑龙江等" name="region" rows="3" class="tarea">{$su.region}</textarea> -->
                    </dd>
                 </dl>    

                <dl class="row">
                    <dt class="tit">
                        <label>报价要求</label>
                    </dt>
                    <dd class="opt">

                        <if $su.quote_ask eq null>
                            无要求
                        </if>
                        {$su.quote_ask}
                  <!--       <textarea placeholder="请输入报价要求：需要报含税价,包含运费不允许对询价单部分物料报价" name="quote_ask" rows="6" class="tarea">{$su.quote_ask}</textarea> -->
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>审核结果</label>
                    </dt>
                    <dd class="opt">
                        审核不通过
                    <!--     <select class="examine" name="status" id="status">
                             <option value="0" selected>未审核</option>   
                             <option value="1" >审核通过</option>   
                             <option value="2" >审核不通过</option>
                             <option value="-1">关闭企业采集</option>                  
                        </select>  --> 
                    </dd>
                </dl>
                <dl class="row reply">
                    <dt class="tit">
                        <label>不通过原因</label>
                    </dt>
                    <dd class="opt">
                    {$su.reply}
                     <!--   <textarea placeholder="请输入审核不通过原因，以便客户尽快修改" name="quote_ask" rows="6" class="tarea"></textarea>  -->
                    </dd>
                </dl>
                <dl class="row" style="height: 30px;">
                </dl>
             <!--    <div class="bot"><a href="JavaScript:void(0);" onclick="checkUserUpdate();" class="ncap-btn-big ncap-btn-green">确认提交</a></div> -->
                <!-- <div class="bot"><a href="JavaScript:void(0);" onclick="checkUserUpdate();" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
                <input type="hidden" name="province" value="{$su.province}">
                <input type="hidden" name="city" value="{$su.city}">
                <input type="hidden" name="area" value="{$su.area}"> 
                <input type="hidden" name="sustomized" value="{$su.sustomized}"> -->
                <!-- <div class="bot"><a onclick="verifyForm()" class="ncap-btn-big ncap-btn-green">确认提交</a></div> -->
            </div>
        </form>
    </if>
</div>
<script type="text/javascript">
    function checkUserUpdate(){

        $('#user_form').submit();
    }
 //   $(".reply").hide();
    //$(".examine option:nth-child(2)").attr("selected", true);

    //绑定onchange事件

    $(".examine").change(function(){
        if($(".examine option").is(":selected")){
            var item=$(this).val();
            //alert("you select the value is "+$(this).val());
          if(item==2){
            $(".reply").show();
          }
         }
    })
  
  	//点击提交时更改数据
    $('.submit1').click(function(){
        var supplierId=$(".supplierId").data("id");
        var submitVal=$('.be_viewed').val();//获取输入框的值
        $.ajax({
            url:"{:url('admin/Beviewedhandle/Handle')}",
            data:"submitVal="+submitVal+"&supplierId="+supplierId,
            type:"POST",
            success : function(v){
                console.log(v);
            }
        })
    });
    $('.submit2').click(function(){
        var supplierId=$(".supplierId").data("id");
        var submitVal=$(".quoted").val();//获取输入框的值
        $.ajax({
            url:"{:url('admin/Quotedhandle/Handle')}",
            data:"submitVal="+submitVal+"&supplierId="+supplierId,
            type:"POST",
            success : function(v){
                console.log(v);
            }
        })
    })
</script>
</body>
</html>