<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="keywords" content="{$config['shop_info_store_keyword']}">
    <meta name="description" content="{$config['shop_info_store_desc']}">
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
    <title>企业采集单</title>
  <link rel="stylesheet" href="/public/yilitong/css/style.css" type="text/css">
<link rel="stylesheet" href="/public/yilitong/css/index.css" type="text/css">
    <link rel="stylesheet" href="__BUSINESS__/style/businessBuyerCase.css">
      <link rel="stylesheet" href="__BUSINESS__/style/quoted.css" type="text/css">
    <style>
        .slides li a img{
            margin-left:360px;
        }

    </style>
</head>
<body style="">
    <!--------头部开始-------------->
    <include file="public/header1" />
    <!--------头部结束-------------->

    <div class="inner">
       <div class="layout classification" >
            <div class="dquot">
                <div class="gdquot">
                    <div class="gdtop">
                        <span class="spantop"  style="width:75%;overflow: hidden;">{$info.title}</span>
                        <img class="imgclss"   src="__BUSINESS__/images/ico2.png" />
                        <p class="pclass">17人关注</p>
                    </div>
                    <div class="logoimg"><img src="{$supplier.logo}" width="180"  height="180"/></div>
                    <div class="centdiv">
                        <!--<p>预算 20W</p>-->
                        <br>
                        <p style="color:#999;">询价时间：{$info.inquiry_time|date="Y-m-d",###}</p>
                        <p style="color:#999;">报价截止：{$info.dead_time|date="Y-m-d",###}</p>
                        <p style="color:#999;">期望收货：{$info.expect_time|date="Y-m-d",###}</p><br>
                        <br>
                        <!--<p style="color:#999;">采购商品数量：300</p>-->
                        <p style="color:#999;">是否定制：{$info.sustomized}</p>
                        <p style="color:#999;">收货地址：{$info.region}</p>
                        <div class="baojia"><a href="{:Url('Home/Article/quoteNow',array('id'=>$item[id]))}" title="{$item.title}"  style="color: #fff;">立即报价</a></div>
                        <div class="shou"><img class="imgclss1"   src="__BUSINESS__/images/ico3.png" /><span>收藏</span></div>
                    </div>
                </div>

                <div class="gdquotr">
                    <div class="gdtopr">
                        <span class="spantop">商家基本资料</span>

                        <p class="pclass">商家入驻时间：{$supplier.add_time|date="Y-m-d",###}</p>
                    </div>

                    <div class="centdiv">
                        <span>公司名称：</span>
                        <span style="color:#999;">{$supplier.company_name}</span><br>
                        <span>联系人名字：</span>
                        <span style="color:#999;">{$supplier.contacts_name}</span><br>
                        <span>公司座机：</span>
                        <span style="color:#999;">{$supplier.phone_number}</span><br>
                        <span>电子邮箱：</span>
                        <span style="color:#999;">{$supplier.email}</span><br>
                        <span>地区：</span>
                        <span style="color:#999;">{$supplier.address}</span><br>

                        <div class="dihua">
                            <img class="imgclss1"   src="__BUSINESS__/images/ico1.png" />
                        </div>
                        <div class="dihuanum">
                            <p>{$info.tel}</p>
                            <p>请完成登录后查看电话</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="layout classification"  style="margin-top: 10px;" >
            <div class="dquot1">
                <div class="gdtop">
                    <p style="font-size: 24px;">公司介绍</p>
                </div>
                <p>{$supplier.introduction}</p>
            </div>
        </div>
        <div class="layout classification" style="margin-top: 10px;" >
            <div class="dquot1">
                <div class="gdtop">
                    <p style="font-size: 24px;">礼品清单</p>

                </div>
                <table class="tabletd">
                    <tr>
                        <td>序号</td>
                        <td>商品名称</td>
                        <td>规格</td>
                        <td>颜色</td>
                        <td>品牌</td>
                        <td>单位</td>
                        <td>数量</td>
                       

                    </tr>

                  <volist name="purchase_list" id="v">
                    <tr>
                        <td>{$key+1}</td>
                        <td>{$v.goods_name}</td>
                        <td>{$v.goods_norm}</td>
                        <td>{$v.goods_color}</td>
                        <td>{$v.goods_brand}</td>
                        <td>{$v.goods_unit}</td>
                        <td>{$v.goods_num}</td>


                    </tr>
                </volist>

                </table>

            </div>
        </div>

        <div class="layout distance" style="border:1px solid #aaa;margin-top:10px;">
            <div style="width:880px;">
               <p class="hearind">发现更多商机</p>
               <p style="float:right"><a href="/businessPurchase.html" title="查看更多"  >查看更多>></a></p>
            </div>  
            <div class="hearinddiv">
                <volist name="purchase" id="item" >
                <div class="product" style="width:260px;">
                    <div class="productdiv"><img src="/public/yilitong/images/logo.png"  style="height:80%;margin-top:5%"/></div>
                    <div class="productdiv1">
                        <p>{$item.title}</p>
                        <span>{$item.company_name}</span>

                        <br>

                        <div class="Quote">
                            <span><a href="{:Url('Home/Article/tradeList',array('id'=>$item[id]))}" title="{$item.title}"  style="color: #f00;">立即报价</a></span>
                            <p >{$item.dead_time|date='Y-m-d',###} 截止</p>
                        </div>
                    </div>
                </div>
              </volist>
            </div>
            <div class="demand" style="border-left:1px solid #aaa;height:430px;">
              <div>
                <p style="float: left;margin-left: 20px; font-size: 26px; margin-top: -50px;color:#E6002D;font-size:20px;">相似需求</p>
              </div>
      
          <volist name="plist" id="item">
          <a href="{:Url('Home/Article/tradeList',array('id'=>$item[id]))}" title="{$item.title}">
              <div style="margin-left:20px;margin-right:10px;margin-top:20px;">
                <div style="width:80px;height:60px;border:1px #aaa solid;float:left;margin-right:10px;"><img src="{$supplier.logo}" width="80"  height="60"/></div>
                <div>
                  <p style="text-align: left;height:20px;line-height:20px;">{$item.title}</p>
                  <p style="color:#aaa;    text-align: left;height:20px;line-height:20px;">{$item.dead_time|date='Y-m-d',###} 截止</p>
                  <p  style="color:#aaa;    text-align: left;height:20px;line-height:20px;">{$item.company_name}</p>
                </div>
              </div>
            </a>
              </volist>
           
        </div>        <!-- 企业采集单  e -->



    </div>
  </div>
    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->

  <script>
    $(function(){
      $("#tl-r").css("margin-top","-28px");
       $("#t1-r-ul1").css("margin-top","-28px");
      $(".design-nav>li").css("height","50px");
    })
  </script>
</body>
</html>