<include file="public/header" title="购物车" body=""/>

<style>
    body{
        background:#fafafa;
        /*padding-top: 1.9rem;*/
    }
    .classreturn{
        position: fixed;
        left:0;
        top:0;
        z-index: 999;
    }

    .loginlater{
        margin:1rem 0 2.5rem 0;
    }
    .loginlater span{
        font-size:.6rem;
    }
    .loginlater a{
        width:7.5rem;
        height:1.2rem;
        margin:0 auto;
        line-height:1.2rem;
        border-radius:.12rem;
        text-align:center;
        font-size:.7rem;
        display:block;
        padding:0;
    }
    .collect-goods-title{
        width: 100%;
        height: 1.7rem;
        line-height: 1.7rem;
        text-align: center;
        font-size: .58rem;
        position: relative;
        background: #fff;
        margin-bottom:.1rem;
    }
    .collect-goods-title span{
        font-size: 0.55rem;
        font-weight: 1000;
        color: #333;
    }
    .cart-col .orderlistshpop .deleshow .weight {
        /*width: 40% !important; */
        height: .9rem !important;
        line-height: .9rem !importants;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .4rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
</style>
    <!--搜索栏-s-->
    <!-- <div class="collect-goods-title"> -->
  
    <!-- </div> --> 
    <div class="collect-goods-title"><a href="javascript:history.go(-1);"></a><span>我的购物车</span></div>

    <!-- <a href="javascript:history.back(-1);">
        <img class="collect-goods-title" src="__STATIC__/images/btn_more@3x.png" alt="">
        <div class="classreturn whiback">
                <div class="content">
                    <div class="ds-in-bl search" style="color:#888;">
                        购物车
                    </div>
                </div> 
        </div>
    </a> -->
    <!--搜索栏-e-->

<if condition="empty($user['user_id'])">
<!--用户未登录-->
    <div class="loginlater">
        <img src="__MOBILE__/images/edit.png"/>
        <span>登录后可同步电脑和手机购物车</span>
        <a href="{:Url('Goods/ajaxlogin')}">登录</a>
    </div>
    <!--购物车有商品-s-->
    <!--<div class="cart_list">-->
        <!--<form id="cart_form" name="formCart" action="{:Url('Cart/ajaxCartList')}" method="post">-->
            <!--{:token()}-->
        <!--</form>-->
    <!--</div>-->
    <!--购物车有商品-e-->
<else/>
<!--###用户已登录###-->
    <!--购物车有商品-s-->
    <div class="cart_list" style="padding-bottom:3rem;">
        <form id="cart_form" name="formCart" action="{:Url('Cart/ajaxCartList')}" method="post">
            {:token()}
        </form>
    </div>
    <!--购物车有商品-e-->
<div style="height: 2rem"></div>
</if>
<if condition="$_SESSION['Distribution'] neq 1" >
<!--底部导航-start-->
<include file="public/footer"/>
<!--底部导航-end-->
</if>



<script type="text/javascript">

    $(document).ready(function(){
        ajax_cart_list(); // ajax 请求获取购物车列表
    });

    /**加载购物车商品列表*/
    var before_request = 1; 
    function ajax_cart_list(){
        if(before_request == 0) 
            return false;
        before_request = 0;
        $.ajax({
            type : "POST",
            url:"{:Url('Cart/ajaxCartList')}",//
            data : $('#cart_form').serialize(),// 
            success: function(data){
                $("#cart_form").html('');
                $("#cart_form").append(data);
                before_request = 1;
            }
        });
    }
    //取消店铺选择
    function ajax_cart_list_cancel(supID){
        if(before_request == 0)
            return false;
        before_request = 0;
 
        $.ajax({
            type : "POST",
            url:"{:Url('Cart/ajaxCartList')}",//
            dataType:'json',
            data :{
                supplier_cancel: supID
            },//
            success: function(data){
                $("#cart_form").html('');
                $("#cart_form").append(data);
                before_request = 1;
            }
        });
    }

    /**
     * 购买商品数量加加减减
     * 购买数量 , 购物车id , 库存数量
     */

    function switch_num(num,cart_id,store_count,spec_key,quantity){
        var num2 = parseInt($("input[name='goods_num["+cart_id+"]']").val());
        //加减数量
        num2 += num;

        // 抗疫活动免费领取需要
        if(spec_key==5937 ||spec_key==5938 || spec_key==5939){
            if(num2 > 1){
                num2 = 1;  // 保证购买数量不能少于 起售量
                layer.open({content:"活动限领"+num2+"件",time:2})
            }
        }
        // 抗疫活动介绍可删

        if(num2 < quantity){
            layer.open({content:"数量不能少于起售量 "+quantity+" 件",time:2})
            num2 = quantity;  // 保证购买数量不能少于 起售量
        }
        if(num2 > store_count) { //保证 不超过库存
            layer.open({content:"库存只有 "+store_count+" 件, 你只能买 "+store_count+" 件",time:2})
            num2 = store_count; // 保证购买数量不能多余库存数量
        }
        $("input[name='goods_num["+cart_id+"]']").val(num2);
        ajax_cart_list();
    }

    //删除商品
    function del_cart_goods(goods_id)
    {
        if(!confirm('确定要删除吗?'))
            return false;
        var chk_value = [];
        chk_value.push(goods_id);
        // ajax调用删除
        if(chk_value.length > 0)
            ajax_del_cart(chk_value.join(','));
    }

    // ajax 删除购物车的商品
    function ajax_del_cart(ids)
    {
        $.ajax({
            type : "POST",
            url:"{:Url('Cart/ajaxDelCart')}",
            data:{ids:ids},
            dataType:'json',
            success: function(data){
                if(data.status == 1)
                {
                    ajax_cart_list(); //ajax 请求获取购物车列表
                }
            }
        });
    }


</script>
</body>
</html>



