body{
    margin: 0;
    padding: 0;
}
.alldiv{
    width: 100%;
    
    margin: 0;
    padding: 0;
    background: #F3F3F3;
    overflow:hidden;
}
.foot{
    display: flex;
    position: fixed;
    height: 6rem;
    background: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1001;

    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


}
ul li{
    list-style-type:none;
}
.footul{
    margin: 0;
    padding: 0;
    width: 100%;


}
.lookup{
    width: 100%;
    height: 4.5rem;
    position: fixed; 
    background: #fff;
    margin: 0;
    padding:0;
    z-index:9999;
}
.lookupimg{
    width: 20%;
    height: 4.5rem;

    float: left;
}
.inputdiv{
    width: 75%;
    margin: 0.3rem;
    height:4rem;
    background: #f3f3f3;
    float: left;
   border-radius: 0.5rem;
    
}
.inputdiv div{
    width: 15%;
    height: 80%;
    float: left;
    text-align: center;
}
.inputdiv input{
    width: 65%;
    height: 3.3rem;
    float: left;
    outline: none;
    border:0;
    background: #f3f3f3;
}
.titlediv{
    background: #ffffff;
    height: 4rem;
    width: 100%;
  position: fixed;
    z-index: 99
}
.titlediv span{
    height: 4rem;
    line-height: 4rem;
    width: 15%;
    float: left;
    text-align: center;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
}
.lupodiv{
    height: 17rem;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #eeeeee;
}
.navdiv{
    margin-right: 1%;
    width: 98%;
    margin-left: 1%;
    position: relative;
    height: 22rem;
}
.classdivdiv1{
    height:17rem;
    width: 100%;
    background:#eee;
    margin-bottom: 10px;
    overflow: hidden;

}
.carousel li{
    height: 17rem;
    width: 100%;
}

.navdiv div{
    margin-top: 0.5rem;
    float: left;
    text-align: center;

}
.navdivdiv p{
    font-size: 1.6rem;

}
.navdivdiv{
    width: 20%;
    height: 10rem;
}
.newdiv{
    width: 100%;
    height: 5rem;
    padding: 2%;
    background: #ffffff;
    position: relative;
}
.newimg{
    width: 18%;
    height: 100%;
    background: #eeeeee;
    float: left;
}
.newfont {
    width: 70%;
    padding-left: 5%;
    float: left;
    text-align: left;
}
.titlenav{
    margin-left: 0;
    padding-left: 0;
    margin-top: 1rem;
    height: 3rem;
    line-height: 3rem;
    width: 20%;
    border-top-right-radius:2rem;
    border-bottom-right-radius:2rem;
    background: #E6002D;
    color: #fff;
    z-index: 10;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.navnav{
    width: 100%;
    background: #eeeeee;
    height: 3rem;
    padding-top: 1rem;
    position: relative;
}
.chanpin{
    
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    background:#fff;


}
.chanpin1{
   
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    background:#fff;


}
.spantitle{
   font-weight: bold;
    font-size: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
   margin-bottom:0;
  overflow: hidden;
}
.titlespan{
    color: #666;
    height: 1.2rem;
    line-height: 1.2rem;
    display: block;
}
.lititle{
    width: 100%;
    margin:0;
    padding:0;
}
.lititle li{
    height: 4rem;

    float: left;
}
.danchanpin{
   
    font-size: 1.4rem;
   
    width: 48%;
    height:11rem;
    overflow: hidden;
    border-top:0.2rem solid #eee;
    border-bottom:0.2rem solid #eee;
    border-left:0.2rem solid #eee;
    border-right:0.2rem solid #eee;
    float: left;
}
.danchanpin1{
    margin-top: 0.2rem;
    font-size: 1.4rem;
    background: #eee;
    width: 32.3%;
    height:10rem;
   

    float: left;
    overflow: hidden;
    border-top: 0.2rem solid #eee;
    border-bottom: 0.2rem solid #eee;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.chanpinlist{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
    height: 15rem;
    background: #fff;
}
.listdan{
    width:15%;
    height: 50%;
    float: left;
    background: #f8f8f8;
}
.listfont{
    width: 84%;
    height: 50%;
    float: left;
}
.newfont p{
    height: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin:0;
  padding:0;
}
.footul li{

    float: left;
    height: 100%;
    width: 20%;
    text-align: center;

}
.footul li div {
    width: 100%;
    height:5rem ;
    line-height: 5rem;
}
.footul li div img{
    height: 70%;
    margin-top: 10%;
}
.footul li span{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size:1rem ;
}
.navdivimg{
    width: 100%;
    height: 6rem;

}
.morediv{
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: right;
    background: #fff;
}