<include file="public/header" title="新增收货地址" body="pore_add"/>
<style>
    .collect-goods-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        position: relative;
        background: #fff;
        margin-bottom:.1rem;
        border-bottom: 1px solid #efefef;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .4rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    .padding-l-r{
        padding: 0 .5rem;
    }
    .padding-l-r .order .fl span{
        margin-left: .5rem;
    }
</style>

<div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>新建地址</div>
<div class="floor my p edit">
    <form action="{:Url('User/add_address')}" method="post" onSubmit="return checkForm()">
        <div class="content">
            <div class="floor list7">
                <div class="myorder p padding-l-r">
                    <div class="content30">
                        <a href="javascript:void(0)">
                            <div class="order">
                                <div class="fl">
                                    <span>收货人:</span>
                                </div>
                                <div class="fl">
                                    <input type="text" value="{$address.consignee}" name="consignee"/>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="myorder p padding-l-r">
                    <div class="content30">
                        <a href="javascript:void(0)">
                            <div class="order">
                                <div class="fl">
                                    <span>手机号码:</span>
                                </div>
                                <div class="fl">
       <input type="tel" value="{$address.mobile}" name="mobile" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="myorder p padding-l-r">
                    <div class="content30">
                        <a href="javascript:void(0)" onclick="locationaddress(this);">
                            <div class="order">
                                <div class="fl">
                                    <span>所在地区: </span>
                                </div>
                                <div class="fl">
                                    <input id="area" value=""  type="text">
                                    <input type="hidden" value="{$address['province']}" name="province" class="hiddle_area"/>
                                    <input type="hidden" value="{$address['city']}" name="city" class="hiddle_area"/>
                                    <input type="hidden" value="{$address['district']}" name="district" class="hiddle_area"/>
                                </div>
                                <div class="fr">
                                    <i class="Mright"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="myorder p padding-l-r">
                    <div class="content30">
                        <a href="javascript:void(0)">
                            <div class="order">
                                <div class="fl">
                                    <span>详细地址:</span>
                                </div>
                                <div class="fl">
                                    <input type="text" value="{$address.address}" name="address"/>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="myorder p padding-l-r">
                    <div class="content30">
                        <a href="javascript:void(0)">
                            <div class="order">
                                <div class="fl">
                                    <span>设为默认地址</span>
                                </div>
                                <div class="fr">
                                    <i id='default_addr' class="Mright turnoff <if condition="$address.is_default == 1">turnup</if>"></i>
                                </div>
                            </div>
                            <input type="hidden" name="is_default" value="{$address.is_default}"/>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="{$address.address_id}" />
        <div class="edita">
            <div class="content30">
                <if condition="$Request.param.source eq 'orderconfirm'"> <!--如果是下订单时提交过了的页面-->
                    <input type="submit" value="保存并使用该地址" class="dotm_btn1 beett" />
                    <input type="hidden" name="source" value="{$Request.param.source}" />
                <else/>
                    <input type="submit" value="保存收货地址" class="dotm_btn1" />
                </if>
            </div>
        </div>
    </form>
</div>
<!--选择地区-s-->
<div class="container" >
    <div class="city">
        <div class="screen_wi_loc">
            <div class="classreturn loginsignup">
                <div class="content">
                    <div class="ds-in-bl return seac_retu">
                        <a href="javascript:void(0);" onclick="closelocation();"><img src="__STATIC__/images/return.png" style="display:block;width:.44rem;height:auto;" alt="返回"></a>
                    </div>
                    <div class="ds-in-bl search center">
                        <span class="sx_jsxz">选择地区</span>
                    </div>
                    <div class="ds-in-bl suce_ok">
                        <a href="javascript:void(0);">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="province-list"></div>
        <div class="city-list" style="display:none"></div>
        <div class="area-list" style="display:none"></div>
    </div>
</div>
<!--选择地区-e-->
<div class="ed_shdele">
    <div class="sfk">是否删除该地址?</div>
    <div class="lineq">
        <span class="clos">取消</span>
        <span class="sur">确定</span>
    </div>
</div>
<div class="mask-filter-div" style="display: none;"></div>
 <!--底部导航-start-->
    <include file="public/footer"/>
    <!--底部导航-end-->
<script src="__MOBILE__/js/mobile-location.js"></script>
<script type="text/javascript">
    $(function(){
        $('.turnoff').click(function(){
            $(this).toggleClass('turnup');
            $("input[name=is_default]").val(Number($(this).hasClass('turnup')));
        });
    })
</script>
<script type="text/javascript">
    $(function(){
        $('.menu').click(function(){
            $('.ed_shdele').show();
            $('.mask-filter-div').show();
        })
        $('.ed_shdele .clos').click(function(){
            $('.ed_shdele').hide();
            $('.mask-filter-div').hide();
        })
    });
</script>
<script type="text/javascript">
    function checkForm()
    {
        var consignee = $('input[name="consignee"]').val();
        var address = $('input[name="address"]').val();
        var mobile = $('input[name="mobile"]').val();
        var area = $('#area').val();
        if(consignee == '' || address == '' || mobile == '' || area == '')
        {
            alert('请填完整信息');
            return false;
        }
        if(!checkMobile(mobile))
        {
            alert('手机号码格式有误');
            return false;
        }
    }
</script>
<script type="text/javascript">
    function locationaddress(e){
        $('.container').animate({width: '14.4rem', opacity: 'show'}, 'normal',function(){
            $('.container').show();
        });
        if(!$('.container').is(":hidden")){
            $('body').css('overflow','hidden')
            cover();
            $('.mask-filter-div').css('z-index','9999');
        }
    }
    function closelocation(){
        var province_div = $('.province-list');
        var city_div = $('.city-list');
        var area_div = $('.area-list');
        if(area_div.is(":hidden") == false){
            area_div.hide();
            city_div.show();
            province_div.hide();
            return;
        }
        if(city_div.is(":hidden") == false){
            area_div.hide();
            city_div.hide();
            province_div.show();
            return;
        }
        if(province_div.is(":hidden") == false){
            area_div.hide();
            city_div.hide();
            $('.container').animate({width: '0', opacity: 'show'}, 'normal',function(){
                $('.container').hide();
            });
            undercover();
            $('.mask-filter-div').css('z-index','inherit');
            return;
        }
    }
    $('body').on('click', '.area-list p', function () {
        var area = ' '+getCookie('province_name')+' '+getCookie('city_name')+' '+getCookie('district_name');
        $("#area").val(area);
        $("input[name=province]").val(getCookie('province_id'));
        $("input[name=city]").val(getCookie('city_id'));
        $("input[name=district]").val(getCookie('district_id'));
    });
</script>
</body>
</html>
