<include file="public/header" title="文章收藏" body="pore_add"/>

<style>
    body{
        background: #fafafa;
    }
    .collect-goods-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        /*position: relative;*/
        background: #fff;
        /*margin-bottom:1rem;*/
        border-bottom: 1px solid #efefef;
        position: fixed;
        left: 0;
        top: 0;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .5rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    /* *********  文章推荐 start  ********** */
    .article-container{
        width: 100%;
        margin-top: 1.6rem;
        padding: .5rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .article-col{
        width: 100%;
        height: auto;
        background: #fff;
        margin-bottom: .5rem;
    }
    .article-col>a,.article-col>a>img{
        display: block;
        width: 100%;
        height: auto;
    }
    .article-col>a>h2{
        font-size: .64rem;
        font-weight: normal;
        color: #333;
        padding: .5rem .3rem;
        /*line-height: .64rem;*/
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin:0;
    }
    .article-col>a>p{
        font-size: .56rem;
        color: #555;
        padding: 0 .3rem;
        line-height: .7rem;
    }
    .article-col dl{
        width: 100%;
        overflow: hidden;
        padding: .5rem .3rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: .52rem;
        border-top: 1px solid #efefef;
        margin-top: .5rem;
    }
    .article-col dl dt{
        float: left;
        width: 60%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: normal;
    }
    .article-col dl dd{
        float: right;
        padding-left: .8rem;
        margin-left: .8rem;
    }
    .article-col dl .collect-icon{
        background: url(__MOBILE__/images/collect_heart_icon.png) no-repeat left center;
    }
    .article-col dl .browse-icon{
        background: url(__MOBILE__/images/browse_eyes_icon.png) no-repeat left center;
    }
    .article-col dl .collect-icon,.article-col dl .browse-icon{
        background-size: .6rem auto;
    }
    /* *********  文章推荐 end  ********** */
</style>

<div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>文章收藏</div>
<!-- 文章收藏 start -->
<div class="article-container">
    <div class="article-col">
        <a href="">
            <img src="__STATIC__/images/c1.png" alt="">
            <h2>这里是一段文章标题文字这里是一段文章标题文字这里是一段文章标题文字这里是一段文章标题文字</h2>
            <p>这里是文章副标题（文章描述文字）这里是文章副标题（文章描述文字）这里是文章副标题（文章描述文字）这里是文章副标题（文章描述文字）</p>
        </a>
        <dl>
            <dt>这里是栏目标题这里是栏目标题这里是栏目标题这里是栏目标题这里是栏目标题</dt>
            <dd class="collect-icon">366</dd>
            <dd class="browse-icon">1124</dd>
        </dl>
    </div>
    <div class="article-col">
        <a href="">
            <img src="__STATIC__/images/c1.png" alt="">
            <h2>这里是一段文章标题文字这里是一段文章标题文字</h2>
            <p>这里是文章副标题（文章描述文字）这里是文章副标题（文章描述文字）这里是文章副标题（文章描述文字）这里是文章副标题（文章描述文字）</p>
        </a>
        <dl>
            <dt>这里是栏目标题</dt>
            <dd class="collect-icon">366</dd>
            <dd class="browse-icon">1124</dd>
        </dl>
    </div>
</div>
<!-- 文章收藏 start -->

	 <!--底部导航-start-->
    <include file="public/footer"/>
    <!--底部导航-end-->
</body>
</html>
