<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<title></title>
		<link rel="stylesheet"  type="text/css" href="/public/static/mobile/css/coupon.css">
	</head>
	<body>
		<div class="coupon">
			<div class="couponBox">
				<div class="shopLogo"><img src="{$post_link.logo}"></div>
				<div class="shopName">{$post_link.supplier_name}</div>
				<div class="couponMoney">
					<div class="sumDeadline">
						<div class="money">￥<span>{$post_link[money]}</span></div>
						<div class="deadline">使用期限</div>
						<div class="deadline">{$post_link[use_start_time]}-{$post_link[use_end_time]}</div>
					</div>
					<div class="promptlyCoupon"><span class="promptly" name='promptly' data-id="{$post_link.id}">立即领券</span></div>
				</div>
			</div>

			<div class="commodityBox">
				<div class="commodityModule">
					<div class="commodityImg"><img src="{$post_link.goods_thumb}"></div>
					<div class="commodityDetails">
                    <a style="text-decoration:none;" href="{:Url('mobile/Goods/goodsInfo',array('id'=>$post_link[goods_id]))}" class="title">
						<div class="commodityName">{$post_link[goods_name]}</div>
					</a>
						<div class="volamount">{$post_link[sales_sum]}笔成交</div>
						<div class="originalCost">现价：￥<span class="originalCostNum">{$post_link[shop_price]}</span></div>
						<div class="hintPrice">
							<div class="hintImg"><img src="__MOBILE__/images/hint.png"></div>
							<div class="currentPrice">￥<span>{$post_link[shop_price]-$post_link[money]}</span></div>
						</div>
					</div>
				</div>
                    <a style="text-decoration:none;" href="{:Url('mobile/Goods/goodsInfo',array('id'=>$post_link[goods_id]))}" class="title">
				<div class="examine">查看商品详情</div>
					</a>
			</div>
			<div class="activity">
				<div class="explain">------------&nbsp;&nbsp;活动说明&nbsp;&nbsp;------------</div>
				<div class="explainDetails">
					<ul>
						<li>1.点击“立即领取”按钮，领取成功后购买商品时使用，即可享受优惠。</li>
						<li>2.在 我的-优惠券，可查询已领到的优惠券。</li>
						<li>3.因商品参与其它活动等原因，付款时优惠券可能无法使用，此时商品最终成交价以您实际付款时提示金额为准。</li>
						<li>4.获取、使用优惠券时如存在违规行为(作弊领取、恶意套现、刷取信誉、虚假交易等)，将取消用户领取资格、撤销违规交易且收回全部优惠券(含 已使用及未使用的)，必要时追究法律责任。</li>
						<li>5.预售商品交付定金时，不可使用优惠券。</li>
					</ul>
				</div>
				<div class="explain">------------&nbsp;&nbsp;规则说明&nbsp;&nbsp;------------</div>
				<div class="rule">上传至该页面的商品与优惠券信息，会被一礼通平台官方收录并给其他用户使用。上传者上传此类信息的，表明上传者已与商家达成一致，即商家同意官方收录且给其他用户使用。如商家不同意，请上传者不要上传，如否导致的纠纷由上传者解决并承担责任。</div>
			</div>

		</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
	$(".promptly").click(function(){
	  var id=$(this).data('id');
	  var value={
	      promptly:$("input[name='promptly']").val(),
	    }
	  $.ajax({
	    url:"/index.php?m=Mobile&c=Coupon&a=coupon_link&id="+id,
	    dataType:"json",
	    type:"POST",
	    data:value,
	    success:function(data){
	    	// alert(123);
	      if (data.code==1) {
	        alert(data.msg);
	        window.location.href = data.url;
	      }else{
	      	alert(data.msg);
	        window.location.href = data.url;
	      }
	    }
	  })
	})
})
</script>
	</body>
</html>
