<include file="public/header" title="客户服务" body="pore_add"/>

<style>
    .collect-goods-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        position: relative;
        background: #fff;
        margin-bottom:1rem;
        border-bottom: 1px solid #efefef;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .4rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    .service-container{

    }
    .service-ways{
        width: 100%;
    }
    .service-ways li{
        padding: .4rem 1rem;
        border-bottom: 1px solid #efefef;
        font-size: .58rem;
    }
    .service-ways li span{
        color: #555;
        padding-left: .4rem;
    }
</style>

<div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>客户服务</div>
    <div class="service-container">
        <ul class="service-ways">
            <li>联系座机：<span>400-089-7879</span></li>
            <li>联系手机：<span><a href="tel:{$phone}">18126402625</a></span></li>
            <li>客服 Q Q：<span>2853116627</span></li>
        </ul>
    </div>

	 <!--底部导航-start-->
    <include file="public/footer"/>
    <!--底部导航-end-->
</body>
</html>
