<include file="public/header" title="查看物流信息" body="f3"/>
<style>
    .collect-goods-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        position: relative;
        background: #fff;
        margin-bottom:.1rem;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .4rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    .fl_addextra p{
        font-size: .56rem;
        line-height: .8rem;
    }
    .fl_addextra p .gray{
        color: #555;
    }
    .logistics{
        width:90%;
        margin:0 auto;
        padding:.4rem 0;
    }
    .logistics li{
        line-height:1rem;
        list-style:disc;
    }
    .logistics li span{
        font-size:.5rem;
        color:#666;
    }
</style>

<div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>物流信息</div>
<div class="dindboxt p">
    <div class="maleri30">
        <!--<h4 style="margin-bottom:.2rem;">查看物流信息：</h4>-->
        <div class="fl_addextra fl">
            <p><span class="gray">运单编号：</span><strong>{$delivery[invoice_no]}</strong></p>
            <p><span class="gray">国内承运人：</span><strong>{$delivery[shipping_name]}</strong></p>
			<p><span class="gray">订单编码：</span><strong>{$delivery[order_sn]}</strong></p>
            <if $delivery.logistics_information.lastResult.state eq 3> <p><span class="gray">签收：订单已签收</span></p></if>
        </div>

    </div>
</div>

<div class="listschdule orderrefuce ma-to-20">

        <p class="logis-detail-date" id="express_info"></p>

		  <!-- 物流信息 start-->
            <div class="order-track">
                <div class="track-list">

                    <ul class="logistics">
                        <volist name="$delivery.logistics_information.lastResult.data" id="list">
					        <li>
                                <span>{$list.time}</span>
                                <span>{$list.context}</span>
                            </li>
                        </volist>
                    </ul>

                </div>
            </div>


    <!--  物流信息 end-->
</div>
<div class="mask-filter-div" style="display: none;"></div>
<!--底部导航-start-->
<include file="public/footer"/>
<!--底部导航-end-->

</body>
</html>
