<include file="public/header" title="我的订单" body="g4"/>
<style>
    .collect-goods-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        position: relative;
        border-bottom: 1px solid #efefef;
    }
    .collect-goods-title a{
        position: absolute;
        left: .8rem;
        top: .4rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    .pay-state{
        width: 100%;
        border-top: 1px solid #efefef;
        padding: .2rem .4rem;
        overflow: hidden;
        margin: .2rem 0;
    }
    .pay-state a{
        margin-left: .4rem;
    }
    body{
        padding-top: 3rem;
    }
    .fixedTop{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background: #fff;
    }
</style>
<div class="fixedTop">
    <div class="collect-goods-title"><a href="javascript:history.go(-1);"></a>订单</div>
    <div class="tit-flash-sale p mytit_flash">
        <div class="maleri30">
            <ul class="">
                <li <if condition="$Request.param.type eq ''">class="red"</if>>
                <a href="{:Url('/Mobile/User/order_list')}" class="tab_head">全部订单</a>
                </li>
                <li id="WAITPAY" <if condition="$Request.param.type eq 'WAITPAY'">class="red"</if>">
                <a href="{:Url('/Mobile/User/order_list',array('type'=>'WAITPAY'))}" class="tab_head" >待付款</a>
                </li>
                <li id="WAITSEND" <if condition="$Request.param.type eq 'WAITSEND'">class="red"</if>>
                <a href="{:Url('/Mobile/User/order_list',array('type'=>'WAITSEND'))}"  class="tab_head">待发货</a>
                </li>
                <li id="WAITRECEIVE"><a href="{:Url('/Mobile/User/order_list',array('type'=>'WAITRECEIVE'))}"  class="tab_head <if condition="$Request.param.type eq 'WAITRECEIVE'">on</if>">待收货</a></li>
                <!--li id="WAITCCOMMENT"  <if condition="$Request.param.type eq 'WAITCCOMMENT'">class="red"</if>>
                    <a href="{:Url('/Mobile/User/order_list',array('type'=>'WAITCCOMMENT'))}" class="tab_head">已完成</a>
                </li-->
            </ul>
        </div>
    </div>
</div>

    <!--订单列表-s-->
    <div class="ajax_return">
        <if condition="count($lists) eq 0">
            <!-- 没有内容时-->
            <div class="comment_con p">
                <div class="none">
                    <br><br>
                    抱歉未查到数据！
                    <div class="paiton">
                        <div class="maleri30">
                            <a class="soon" href="/mobile"><span>去逛逛</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--没有内容时-->
        </if>
    </div> 
    <div style="height: 3rem"></div>
    <!-- 订单列表 -->
 <!-- 底部-start -->
    <include file="public/footer"/>
 <!--底部-end-->
<script type="text/javascript" src="__MOBILE__/js/sourch_submit.js"></script>
<script type="text/javascript">
    /**
     * 加载订单*/
    ajax_sourch_submit();

    /**
     * 取消订单
     */
    function cancel_order(id){
        if(!confirm("确定取消订单?"))
            return false;
        $.ajax({
            type: 'GET',
            dataType:'JSON',
            url:"/index.php?m=Mobile&c=User&a=cancel_order&id="+id,
            success:function(data){
                if(data){
                    layer.open({content:data.msg,time:2000});
                    location.href = "/index.php?m=Mobile&c=User&a=order_list";
                }
            },
            error:function(){
                layer.open({content:'网络失败，请刷新页面后重试',time:2000});
            },
        });
    }

    /**
     * 确定收货
     */
    function orderConfirm(id){
        if(!confirm("确定收到该订单商品吗?"))
            return false;
        location.href = "/index.php?m=Mobile&c=User&a=order_confirm&id="+id;
    }

    var  page = 1;
    /**
     *加载更多
     */
    function ajax_sourch_submit()
    {
        page += 1;
        $.ajax({
            type : "GET",
            url:"/index.php?m=Mobile&c=User&a=order_list&type={$Request.param.type}&is_ajax=1&p="+page,//+tab,

            success: function(data)
            {
                if(data == '')
                    $('#getmore').hide();
                else
                {
                    $(".ajax_return").append(data);
                    $(".m_loading").hide();
                }
            }
        });
    }
</script>
</body>
</html>
