<include file="public/header" title="设置" body="g4"/>
<link rel="stylesheet" href="__MOBILE__/css/customization.css">

<style>
	.collect-goods-title{
		width: 100%;
		height: 1.6rem;
		line-height: 1.6rem;
		text-align: center;
		font-size: .58rem;
		position: relative;
		background: #fff;
		margin-bottom:.1rem;
	}
	.collect-goods-title a{
		position: absolute;
		left: .8rem;
		top: .4rem;
		display: block;
		width: .44rem;
		height: .8rem;
		background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
		background-size: 100% auto;
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		-o-background-size: 100% auto;
		-ms-background-size: 100% auto;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
	}
	.padding-l-r{
		padding: 0 .5rem;
	}
	.padding-l-r .order .fl span{
		margin-left: .5rem;
	}
	.loginOut{
		display: block;
		width: 86%;
		font-size: .58rem;
		text-align: center;
		padding: .6rem 0;
		margin: 1rem auto;
		border-radius: 1rem;
		background: #e6002d;
		color: #fff;
	}
</style>
		<div class="floor my p setting" id="customization">
			<div class="collect-goods-title" style="display: flex;flex-direction: row;padding: 0 0.6rem">
				<div style="flex:1;"><a href="javascript:history.go(-1);"></a></div>
				<div style="flex:1; text-align: center;">设置</div>
				<div style="flex:1; text-align: right;"  @click="clickSubmit" >保存</div>
			</div>
			<div class="content">
				<div class="floor list7">
					<div class="myorder he p padding-l-r">
						<div class="content30">
							<div class="order">
								<div class="fl">
									<span>头像</span>
									<span class="bridh"></span>
								</div>
								<div class="fr">
									<div class="hendicon">
										<label class="file" style="cursor:pointer;">
										<div class="around" id="fileList">
				                   			<input type="hidden" name="imagesss" id="imgfile" value="" >
											<input type="file" @change="clickLogo" ref="fileInput" name="logoimg"   id="rpimg" style="display:none">
											<img  class="logoImages" id="head_pic" src="{$user.head_pic|default='__STATIC__/images/user68.jpg'}"  />
											<img class="logoImages"  id="logoImages" :src="logoImages"  >	
										</div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="myorder p padding-l-r" style="margin-top:.5rem;">
						<div class="content30">
							<!-- <a href="{:Url('User/userinfo',array('action'=>'mobile'))}"> -->
							<div class="order">
								<div class="fl">
									<span>手机</span>
								</div>
								<div class="fr">
									<span>{$user.mobile}</span>
									<!-- <i class="Mright"></i> -->
								</div>
							</div>
							<!-- </a> -->
						</div>
					</div>
					<div class="myorder p padding-l-r">
						<div class="content30">
							<!-- <a href="{:Url('User/userinfo',array('action'=>'nickname'))}"> -->
								<div class="order">
									<div class="fl">
										<span>昵称</span>
									</div>
									<div class="fr">
                                        <span>{$user.nickname}</span>
										<!-- <i class="Mright"></i> -->
									</div>
								</div>
							<!-- </a> -->
						</div>
					</div>
					<div class="myorder p padding-l-r">
						<div class="content30">
							<!-- <a href="{:Url('User/userinfo',array('action'=>'sex'))}"> -->
								<div class="order">
									<div class="fl">
										<span>性别</span>
									</div>
									<div class="fr">
                                        <span>{$sex[$user.sex]}</span>
										<!-- <i class="Mright"></i> -->
									</div>
								</div>
							<!-- </a> -->
						</div>
					</div>

					<!--div class="myorder p ma-to-20">
						<div class="content30">
							<a href="{:Url('User/password')}">
								<div class="order">
									<div class="fl">
										<span>修改密码</span>
									</div>
									<div class="fr">
										<i class="Mright"></i>
									</div>
								</div>
							</a>
						</div>
					</div-->
					<div class="myorder p ma-to-20 padding-l-r">
						<div class="content30">
							<a href="{:Url('User/address_list')}">
								<div class="order">
									<div class="fl">
										<span>收货地址</span>
									</div>
									<div class="fr">
										<i class="Mright"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!--<div class="myorder p ma-to-20 padding-l-r">-->
						<!--<div class="content30">-->
							<!--<a href="{:Url('User/logout')}">-->
								<!--<div class="order">-->
									<!--<div class="fl">-->
										<!--<span style="display:block;margin-top:.33rem;text-decoration:none;padding:0 1rem;font-size:.6rem;color:#fff;background:#e6002d;font-weight:normal;border-radius:.2rem;height:1.5rem;line-height:1.5rem;">安全退出</span>-->
									<!--</div>-->
									<!---->
								<!--</div>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>-->

					<a class="loginOut" href="{:Url('User/logout')}">退出登录</a>

			</div>
		 </div>
        </div>
	  <!--底部导航-start-->
    <include file="public/footer"/>
    <!--底部导航-end-->
<script src="__MOBILE__/js/vue.js"></script>
<script src="__MOBILE__/js/jquery-1.11.3.min.js"></script>							
<script src="__MOBILE__/js/images_ajax/lrz.bundle.js"></script>
<script>

			var app = new Vue({
				el: "#customization",
				data: {
					logoImages: "", //LOGO
				},
				directives: {

				},
				created: function() { // 进入

				},
				mounted: function() { // 挂载后

				},
				updated: function() {

				},
				methods: {
					clickLogo: function(e) {
						const file = this.$refs.fileInput.files[0]					
						const fr = new FileReader()
						fr.onload = (e) => {
							this.logoImages = e.target.result
						}
						fr.readAsDataURL(file)	
                        if (logoImages) {
                        	$('#logoImages').show();
                        	$('#head_pic').hide();
                        }
					},
					clickSubmit: function(e) { // 提交
						// console.log("点击提交:");
                        var imgfile = $("#imgfile").val();
						$.ajax({
                            type : "POST",
                            url:"{:Url('Mobile/User/userinfo')}",//+tab,
                            data : {logoImages:imgfile},// 你的formid
                            dataType: "json",
                            success: function(data){                       
                                if(data.status == '1')
                                {
                                    alert(data.msg);
                                    window.history.go(-1);       //返回上一页
                                }else{
                                    alert(data.msg);
                                     if(data.status == '-2'){
                                     location.href ="{:Url('Model/User/login')}";
                                    }
                                   
                                }
                            }
                        })
					},

				}

			})



        $('input[name=logoimg]').on('change', function(){
             lrz(this.files[0], {width: 640})
                .then(function (rst) {
               $.ajax({
	                type : "POST",
	                url:"{:Url('Mobile/User/userCustom')}",//+tab,
	                // data : $('#custom').serialize(),// 你的formid
	                data : {logoImages:rst.base64},// 你的formid
	                dataType: "json",
			        success: function (data) {
	                    if (data.status) {
	                       $("#imgfile").attr("value", data.pic_path);
	                     }
		            }, error: function () {
		                alert("请求出错，请联系开发人员");
		            }
                });
                        
                })
                .catch(function (err) {
 
                })
                .always(function () {
 
                });
        });


		</script>
	</body>
</html>