<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>手机充值</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/refillcard/css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/refillcard/css/tel.css"/>
	</head>

	<body>
		<script src="__STATIC__/refillcard/js/mui.js"></script>
			<script src="__STATIC__/refillcard/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		
		<div class="mui-content bg">
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted">
					<a onclick="ajax_tel(7,0,19,6)" class="mui-control-item mui-active" href="#item1">话费充值</a>
					<!-- <a onclick="ajax_tel(7,0,18,11)" class="mui-control-item" href="#item2">流量充值</a> -->
				</div>
				<!-- ajax调动 -->
				<form id="tel_form" name="formCart" action="{:Url('Refillcard/ajaxtel')}" method="post">
		            {:token()}
		        </form>
				
				<div class="fenge"></div>
				<div class="tab_title"><div class="kuang"></div><span>服务说明</span></div>
				<div class="txt">
					<p>1.每天22：00至次日8：00提交的订单统一会在次日8：00后按订单提交顺序充值到账；</p>
					<p>2.快充订单支付成功后，系统会在10分钟内自动完成充值，如遇系统繁忙话费会延迟到账。充值到账后会收到移动官方短信通知（停机手机收不到短信）；</p>
					<p>3.请谨慎填写核对充值手机号码，如填写错误无法撤销</p>
					<p>4.本服务不支持开具发票。</p>
				</div>
				<div class="btn_pay">立即支付</div>
		</div>
		
		
	
		<script type="text/javascript">	
			$(document).ready(function(){
				ajax_tel(7,0,19,6);
			});	
			function ajax_tel(pid,cid,tid,did){
				$.ajax({
					type:"post",
					url:"/index.php/Mobile/Refillcard/ajaxtel/pid/"+pid+"/cid/"+cid+"/tid/"+tid+"/did/"+did,
					success: function(data){
		                 $("#tel_form").html('');
		                 $("#tel_form").append(data);
		            }
				})
			}
			$(".btn_pay").click(function(){
				$.ajax({
					type:"post",
					url:"/index.php/Mobile/Refillcard/affirm_order",
            		data : $('#tel_form').serialize(),// 
					success: function(data){
						if (data.result == 1) {
							alert(data.info);
							location.href="/Mobile/Refillcard/index";
						}else if (data.result == 2){
                			location.href = "/index.php?m=Mobile&c=Cart&a=payment&order_id=" + data.order_id;
						}else{
							alert(data.info);
						}
		            }
				})
			})
			$(function(){
				$('#one li').click(function(){
					$('#one li> .gez').removeClass('active');
					$(this).find('.gez').addClass('active');
				});
				$('#two li').click(function(){
					$('#two li> .gez').removeClass('active');
					$(this).find('.gez').addClass('active');
				});
			})
		</script>
	</body>

</html>
