<include file="public/layout" />
<style>
    .err{color:#F00; display:none;}
</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>兑换管理 - 编辑兑换</h3>
                <h5>网站系统兑换活动详情页</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post">
        <input type="hidden" id="goods_id" name="goods_id" value="{$info.goods_id}">
        <input type="hidden" name="id" value="{$info.id}">
        <div class="ncap-form-default">
            
          <dl class="row">
                <dt class="tit">
                    <label><em></em>兑换时间</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.add_time|date='Y-m-d',###}</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em></em>兑换商品</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.goods_name}</p>
					 <p class="notic">{$info.spec_key_name}</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em></em>兑换数量</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.goods_num}</p>
                </dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label><em></em>收货人信息</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.consignee}-{$info.mobile}</p>
                </dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label><em></em>收货人地址</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.address}</p>
                </dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label><em></em>使用兑换点数</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.use_points}</p>
                </dd>
            </dl>
				<dl class="row">
                <dt class="tit">
                    <label><em></em>剩余积分</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.exchange_points}</p>
                </dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label><em></em>用户留言</label>
                </dt>
                <dd class="opt">
                    
                    <p class="notic">{$info.user_note}</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label><em></em>快递单号</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="shipping_code" name="shipping_code" value="{$info.shipping_code}"  class="input-txt">
                    <span class="err" id="err_start_time"></span>
                    <p class="notic">发货凭证</p>
                </dd>
            </dl>


            <div class="bot"><a onclick="verifyForm()" class="ncap-btn-big ncap-btn-green">确认发货</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#start_time').layDate();
        $('#end_time').layDate();
    })
    function verifyForm(){
        $('span.err').hide();
        $.ajax({
            type: "POST",
            url: "{:Url('Admin/Supplier/exchange_detail')}",
            data: $('#handleposition').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function(){
                        location.href = "{:Url('Admin/Supplier/exchange_log')}";
                    });
                } else {
                    layer.msg(data.msg, {icon: 2,time: 1000});
                    $.each(data.result, function (index, item) {
                        $('#err_' + index).text(item).show();
                    });
                }
            }
        });
    }
    function selectGoods(){
        var url = "{:Url('Promotion/search_goods',array('tpl'=>'select_goods'))}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
    }

    function call_back(goods_id,goods_name,store_count,price){
        $('#goods_id').val(goods_id);
        $('#goods_name').val(goods_name);
        $('#group_num').val(store_count);
        $('#price').val(price);
        layer.closeAll('iframe');
    }
</script>
</body>
</html>