    <if condition="$d_id">
      <if condition="!$corporate.company">
        <div class="notic" style="margin-left: 20rem;margin-top:3rem;font-size:3rem;" >
          暂无该公司的信息
        </div>
      <else/>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>公司名称</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.company}" class="input-txt" readonly/>
          </dd>
      </dl>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>纳税人识别号</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.identify_num}" class="input-txt" readonly/>
          </dd>
      </dl>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>营业执照公司地址</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.opening_address}" class="input-txt" readonly/>
          </dd>
      </dl>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>公司座机</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.special_num}" class="input-txt" readonly/>
          </dd>
      </dl>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>开户银行</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.opening_bank}" class="input-txt" readonly/>
          </dd>
      </dl>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>开户账号</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.opening_num}" class="input-txt" readonly/>
          </dd>
      </dl>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>法人代表</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.legal_person}" class="input-txt" readonly/>
          </dd>
      </dl>
      <dl class="row">
          <dt class="tit">
              <label for="record_no"><em>*</em>联系地址</label>
          </dt>
          <dd class="opt">
              <input type="text" value="{$corporate.contact_address}"  class="input-txt" readonly/>
          </dd>
      </dl>
      </if>
    </if>
      