<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;"> 
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back(-1);" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>修改表单</h3>
      </div>
    </div>
  </div>
    <!--表单数据-->
    <form class="form-horizontal" id="charitysave" method="post">
    <input type="hidden"  name="do_id" value="{$charity.do_id}">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">购买/供货/求助：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="is_purchase" value="<if condition='$charity.is_purchase eq 1'>购买<elseif condition='$charity.is_purchase eq 2'>供货<else/>求助</if>">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl>
      <if condition="$charity.is_purchase eq 1">
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">捐赠/自用：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="is_donate" value="{$charity.is_donate}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl> 
      </if>
      <if condition="$charity.is_purchase eq 1">
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">受捐方：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="beneficiaries" value="{$charity.beneficiaries}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl> 
      </if>

      <if condition="$charity.is_purchase eq 1">       
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">预算：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="budget" value="{$charity.budget}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl>  
      </if>
      <if condition="$charity.is_purchase eq 1">
      <volist name="materials" id="list" key="key">
        <dl class="row materials">
          <dt class="tit">
            <label for="ac_sort" style="color: red;">订购物资{$key}：</label>
          </dt>
          <dd class="opt">
            <input type="text" class="input-txt" name="materials[]" value="{$list}">
            <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
            <p class="notic"></p>
          </dd>
        </dl> 
      </volist>
      </if> 
      <if condition="$charity.is_purchase eq 3">
      <volist name="materials_s" id="list" key="key">
        <dl class="row materials_s">
          <dt class="tit">
            <label for="ac_sort"  style="color: red;">求助物资{$key}：</label>
          </dt>
          <dd class="opt">
            <input type="text" class="input-txt" name="materials_s[]" value="{$list}">
            <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
            <p class="notic"></p>
          </dd>
        </dl> 
      </volist>
      </if>          
      <if condition="$charity.is_purchase eq 1 or $charity.is_purchase eq 3">
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">联系人：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="do_name" value="{$charity.do_name}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl> 
      </if>
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">联系电话：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="do_phone" value="{$charity.do_phone}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl> 
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">公司名称：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="do_company" value="{$charity.do_company}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl> 
      <if condition="$charity.is_purchase eq 1 or $charity.is_purchase eq 3">
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">公司地址：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="do_address" value="{$charity.do_address}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl> 
      </if>
      <if condition="$charity.is_purchase eq 2">
      <volist name="supply_goods" id="list" key="key">
        <dl class="row supply_goods">
          <dt class="tit">
            <label for="ac_sort"  style="color: red;">供货物资{$key}：</label>
          </dt>
          <dd class="opt">
            <input type="text" class="input-txt" name="supply_goods[]" value="{$list}">
            <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
            <p class="notic"></p>
          </dd>
        </dl> 
      </volist>
      </if>
      <if condition="$charity.is_purchase eq 1 or $charity.is_purchase eq 3">
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">备注：</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="comment" value="{$charity.comment}">
          <span  class="err" id="err_url" style="color:#F00; display:none;"></span>
          <p class="notic"></p>
        </dd>
      </dl> 
      </if>
       <dl class="row">
          <dt class="tit">
              <label>审核结果：</label>
          </dt>
          <dd class="opt"><select name="status" id="status">
          <option value="1" <if condition="($charity[status] eq 1)">selected="selected"</if>>未审核</option>
          <option value="2" <if condition="($charity[status] eq 2)">selected="selected"</if>>审核通过</option>
          <option value="3" <if condition="($charity[status] eq 3)">selected="selected"</if>>审核不通过</option>
        </select>  </dd>
            </dl>                        
      <div class="bot">
        <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green">确认提交</a>
      </div>       
    </div>
  </form>
</div>
<script>
$(document).ready(function(){
    $('#deliveryTime').layDate();
    $('#installDate').layDate();
    $('#replenishmentTime').layDate();
})

$("div .bot").click(function(){
  var supply_goods=[];
  for(var j=0;j<$(".supply_goods").length;j++){
      if($(".supply_goods").eq(j).find("input[name='supply_goods[]']").val()!=''){
          supply_goods[j]=$(".supply_goods").eq(j).find("input[name='supply_goods[]']").val();
      }
  }
  var materials=[];
  for(var j=0;j<$(".materials").length;j++){
      if($(".materials").eq(j).find("input[name='materials[]']").val()!=''){
          materials[j]=$(".materials").eq(j).find("input[name='materials[]']").val();
      }
  }
  var materials_s=[];
  for(var j=0;j<$(".materials_s").length;j++){
      if($(".materials_s").eq(j).find("input[name='materials_s[]']").val()!=''){
          materials_s[j]=$(".materials_s").eq(j).find("input[name='materials_s[]']").val();
      }
  }
  var value={
    is_purchase:$("input[name='is_purchase']").val(),
    is_donate:$("input[name='is_donate']").val(),
    budget:$("input[name='budget']").val(),
    n95_mask:$("input[name='n95_mask']").val(),
    surgical_mask:$("input[name='surgical_mask']").val(),
    sanitiser:$("input[name='sanitiser']").val(),
    disinfectant:$("input[name='disinfectant']").val(),
    thermodetector:$("input[name='thermodetector']").val(),
    do_name:$("input[name='do_name']").val(),
    do_phone:$("input[name='do_phone']").val(),
    do_company:$("input[name='do_company']").val(),
    supply_goods:supply_goods,
    materials:materials,
    materials_s:materials_s,
    comment:$("input[name='comment']").val(),
    do_address:$("input[name='do_address']").val(),
    do_id:$("input[name='do_id']").val(),
    status:$("#status").val(),
  }
  console.log(value);
  $.ajax({
      type: "POST",
      url: "{:Url('Admin/System/charitysave')}",
      // data: $('#charitysave').serialize(),
      data:value,
      dataType: "json",
      success: function (data) {
          if (data.status == 1) {
              layer.msg(data.msg, {icon: 1});
              location.href = "javascript:history.back(-1);";
              // location.href = "{:Url('Admin/System/charity')}";
          }
      },
      error: function () {
          layer.alert("服务器繁忙, 请联系管理员!");
      },
  });
})
</script>
</body>
</html>