<include file="public/layout" />
<script src="__ROOT__/public/static/js/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;"> 
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>极光推送信息</h3>
        <h5>极光推送</h5>
      </div>
    </div>
  </div>
    <!--表单数据-->
    <form method="post" id="handleposition" action="{:Url('Admin/System/jpush')}">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="ac_name"><em>*</em>推送内容:</label>
        </dt>
        <dd class="opt">
         <textarea rows="4" cols="20" placeholder="推送内容" class="input-txt" name="message">
         
         </textarea>
		  <span class="err" id="message" style="color:#F00; display:none;">推送内容不能为空</span>                                                  
          <p class="notic"></p>
        </dd>
      </dl>	   
	  
	  <dl class="row">
        <dt class="tit" colspan="2">
          <label class="" for="s_sort">推送类型：</label>
        </dt>
        <dd class="opt">
        	<select name="type">
        		<option value ="1">推送首页</option>
        		<option value ="2">推送到商品详情</option>
        		<option value ="3">推送到活动</option>
        	</select>	
        </dd>
      </dl>       
	  <dl class="row">
        <dt class="tit" colspan="2">
          <label class="" for="s_sort">活动链接或者商品id：</label>
        </dt>
        <dd class="opt">
            <input type="text" class="input-txt"  name="url_ad" > 
            <span id="err_ad_height" class="err"  style="color:#F00; display:none;"></span>            
        </dd>
      </dl>          
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">全部推送：</label>
        </dt>
        <dd class="opt">
            <input type="radio" name="area" value="all" checked="checked"> 是
            <!-- <input type="radio" name="area" value="0"> 否 -->
          <span class="err"></span>
          <p class="notic"></p>
        </dd>
      </dl>	   	                              
      <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
    </div>
		 <input type="hidden" name="act" value="save">
  </form>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}
</script>
</body>
</html>