 <if condition="empty($cartList)">         
     <p style="text-align:center">暂无任何商品</p>
     <script>
        $(".sc-acti-list,.sc-pro-list").hide();
     </script>
 </if> 

<div class="sc-pro-list">
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <tr class="ba-co-danhui">
        <th class="pa-le-9" align="center" valign="middle">&nbsp;&nbsp;</th>
        <th align="center" valign="middle" colspan="2">商品</th>
        <th align="center" valign="middle">市场价（元）</th>                        
        <th align="center" valign="middle">单价（元）</th>
        <if condition="($user[discount] neq 1) and ($user[discount] neq null)">
            <th align="center" valign="middle">会员折扣价</th>        
        </if>
        <th align="center" valign="middle">数量</th>
        <th align="center" valign="middle">小计（元）</th>
        <th align="center" valign="middle">操作</th>
      </tr>            
     <foreach name="cartList" item="v1" key="k" >
     <tr>
     <td align="left" valign="middle" style="border:none;line-height:30px;"><h3>店铺名称：{$v1.supplier_name}</h3></td>
     </tr>
      <foreach name="v1.list" item="v2" key="ko" >
      <tr>
        <td class="pa-le-9" style="border-right:0" align="center" valign="middle">    
            <input type="checkbox"  name="cart_select[{$v2.id}]" <if condition="$v2[selected] eq 1" >checked="checked"</if> value="1" onclick="ajax_cart_list();" />
        </td>
        <td style="border-left:0px;;border-right:0px" class="pa-to-20 pa-bo-20 bo-ri-0" width="80px" align="center" valign="top" valign="middle">
            <a class="gwc-wp-list di-bl wi63 hi63" href="{:Url('Home/Goods/goodsInfo',array('id'=>$v2[goods_id]))}">
                <img class="wi63 hi63" src="{$v2.goods_thumb}">
            </a>
        </td>
        <td style="border-left:0px; border-right:0px"  class="pa-to-20 wi516"align="left"  valign="top" valign="middle">
            <p class="gwc-ys-pp">
                <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v2[goods_id]))}" style="vertical-align:middle">{$v2.goods_name}</a>
                <!--团购--><if condition="$v2[activity_type] eq 2"><img  width="80" height="60" src="/public/images/groupby2.jpg" style="vertical-align:middle"></if>
                <!--抢购--><if condition="$v2[activity_type] eq 1"><img  width="40" height="40" src="/public/images/qianggou2.jpg" style="vertical-align:middle"></if>                
            </p>
            <p class="ggwc-ys-hs">{$v2.spec_key_name}</p>
            <if condition="$v2[prom_type] eq 3"><p class="ggwc-ys-mj">满减活动：{$v2['prom']['start_time']|date="Y/m/d H:i",###} -- {$v2['prom']['end_time']|date="Y/m/d H:i",###} 单品满{$v2['prom']['money']} 减免 {$v2['prom']['expression']}</p></if>
        </td>
        <td style="border-left:0px" align="center" valign="middle"><span>￥{$v2.market_price}</span></td>                        
        <td style="border-left:0px" align="center" valign="middle"><span>￥{$v2.goods_price}</span></td>
        <if condition="($user[discount] neq 1) and ($user[discount] neq null)">
        <td style="border-left:0px" align="center" valign="middle"><span>￥{$v2.member_goods_price}</span></td>        
        </if>        
        <td align="center" valign="middle">
            <div class="sc-stock-area">
                <div class="stock-area">
                <foreach name="v2.store_count" item="t2" key="r2">
                    <a onClick="switch_num(-1,{$v2.id},{$t2},{$v2.quantity},{$v2.prom_type[0]},{$v2.spec_key});" title="减">-</a>
                    <input onkeydown="if(event.keyCode==13){return true;}" onchange="onChangeCart({$v2.id},{$t2},{$v2.quantity},{$v2.prom_type[0]},{$v2.spec_key})" class="wi43 fl" type="text" value="{$v2.goods_num}" name="goods_num[{$v2.id}]" id="goods_num[{$v2.id}]">
                    <a onClick="switch_num(1,{$v2.id},{$t2},{$v2.quantity},{$v2.prom_type[0]},{$v2.spec_key});" title="加">+</a>
                </foreach>                          
                </div>
            </div>
        </td>
        <td align="center" valign="middle">￥{$v2.goods_price * $v2.goods_num }</td>
        <td align="center" valign="middle"><a  class="gwc-gb" href="javascript:void(0);" onclick="if(confirm('确定要删除吗?')) ajax_del_cart({$v2.id});"></a></td>
      </tr>
     </foreach> 
    </foreach>      
    </table>
</div>
<div class="sc-total-list ma-to-20 sc-pro-list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="pa-le-28 gwx-xm-dwz">
            <input type="checkbox" name="select_all" id="select_all" <if condition="$select_all eq 1" >checked="checked"</if> onchange="check_all();" value="1"/>
            <label for="">全选</label>
            <a href="javascript:void(0);" onclick="del_cart_more();">删除选中商品</a>
        </td>
        <td width="190" align="right">总计金额：</td>
        <td width="69" align="right">￥{$total_price.total_fee }</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td id="bo-to-dedede" width="190" align="right">共节省：</td>
        <td id="bo-to-dedede" width="69" align="right">￥{$total_price.cut_fee}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td id="bo-to-dedede" width="190" align="right">合计（不含运费）：</td>
        <td id="bo-to-dedede" width="69" align="right"><em>￥{$total_price.total_fee }</em></td>
        <td>&nbsp;</td>
      </tr>
    </table>
</div>
