<if condition="count($cartList) eq 0">
    <div class="micart-about">
        <span class="micart-xg">您的购物车是空的，赶紧选购吧！</span>
    </div>
</if>
<div class="commod  commods">
<ul>
<foreach name="cartList" item="v"  key="k">
    <h3> &nbsp;&nbsp;&nbsp;&nbsp; {$v.supplier_name}  &nbsp;&nbsp;></h3>
    <foreach name="v.list" item="v2"  key="ko">
    <li class="goods">
        <div>
            <div class="p-img">
                <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v2[goods_id]))}">
                    <img src="{$v2.goods_thumb}" alt="">
                </a>
             </div>
             <div class="p-name">
                <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v2[goods_id]))}">
                    <span class="p-slogan">{$v2[goods_name]}</span>
                    <span class="p-promotions hide"></span>
                </a>
             </div>
             <div class="p-status">
                <div class="p-price">
                    <b>¥&nbsp;{$v2[member_goods_price]}</b>
                    <em>x</em>
                    <span>{$v2[goods_num]}</span>
                </div>
                <div class="p-tags"></div>
             </div>
             <!--
             <a href="" class="icon-minicart-del" title="删除">删除</a>
               -->
        </div>
    </li>
    </foreach>
 </foreach>
</ul>
</div>
<div class="settle">
    <p>共<em>{$cart_total_price[num]}</em>件商品，金额合计<b>¥&nbsp;{$cart_total_price[total_fee]}</b></p>
    <a class="js-button" href="{:Url('Home/Cart/cart')}" style="color:#fff;">去结算</a>
</div>
<script>
   $(".shopping-num > em").text('{$cart_total_price[anum]}'); // 购物车的总数量
</script>