<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>商家入驻申请—资质认证</title>
		<link rel="stylesheet" href="__BUSINESS__/style/apply_one.css" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link type="text/css" href="__BUSINESS__/style/fontsIco.css">
		<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
		<link rel="stylesheet" href="__BUSINESS__/style/apply_two.css" />
		<script type="text/javascript" src="__BUSINESS__/js/jquery.min.js"></script>
		<script type="text/javascript" src="__BUSINESS__/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="__BUSINESS__/js/ajaxupload.js"></script>
		<!--new add-->
		<!--<script src="__BUSINESS__/js/uploadPreview.js"></script>-->

		<link rel="stylesheet" href="__BUSINESS__/style/diyUpload.css" />
		<link rel="stylesheet" href="__BUSINESS__/style/webuploader.css" />

		<script src="__BUSINESS__/js/webuploader.html5only.min.js"></script>
		<script src="__BUSINESS__/js/diyUpload.js"></script>
		<script>
			if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
				alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
			}
		</script>
		<style>
			#operator-authorization-book,#permit-prove-book,#permit-prove-Upload,#business-licence,#organization-code,#general-taxpayer-prove,#bank-opening-permit-prove,#permit-prove-Upload2{
				width:78px;
				height:36px;
				overflow:hidden;
				border-radius:4px;

			}
			.webuploader-pick{
				width:100%;
				height:100%;
				text-align:left;
			}

		</style>
	</head>
	<body>
		<div class="customer-header" style="height:100px;line-height:100px;">
			<div class="wrap">
				<div class="simplelogo" style="overflow: hidden;">
					<ul class="logo-businessCenter">
						<li class="logo-businessCenter-li1"><a href="/"><img src="__BUSINESS__/images/regLogo.png" alt="logo" style=""></a></li>
						<li class="logo-businessCenter-li2"><a href="{:Url('Home/Business/BusinessIndex')}">商家中心</a></li>
					</ul>
					<ul class="regs-info">
						<li>24小时服务电话：400-089-7879</li>
						<li><a href="http://yilitong.com/index.php/Home/Article/detail/article_id/43.html">商家指南</a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr style="box-shadow:0 1px 2px #ccc;">

		<div class="inner">
			<div class="seller">
				<p>商户：<span>{$supplier.user_name}</span><a href="login_out">退出</a></p>
			</div>
		</div>

		<!--入驻进度-->
		<div class="centrol-controller-800">
			<ul class="progress-bar">
				<li>
					<span>1</span>
					<p class="progress-bar-info">填写公司基本信息</p>
				</li>
				<li class="gray-bg">
					<span>2</span>
					<p class="progress-bar-info">上传资质</p>
				</li>
				<li class="gray-bg">
					<span class="gray-bg">3</span>
					<p class="progress-bar-info">店铺信息</p>
				</li>
				<li class="progress-bar-noBody gray-bg">
					<span class="gray-bg">4</span>
					<p class="progress-bar-info">等待审核</p>
				</li>
			</ul>
		</div>

		<div class="inner">
			<div class="centrol-controller-800">
				<form>
					<h3>上传资质</h3>
					<table border="0" cellpadding="0" cellspacing="0" class="aptitude">
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>营业执照注册号：</label>
								<input name="business_licence_number" id="business_licence_number" type="text" class="inputW400H32 infos infos1" value="{$row['business_licence_number']}">
								<span class="shop-info-tips"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>上传企业证件图片：</label>
								<div class="upload-aptitude-pic">
									<div class="aptitude-info-tab">
										<if condition="$row.is_three_one eq 0">
										 <input class="ip" type="radio" name="business" id="business" value="1" ><label>三证合一</label>
										 <input class="ip" type="radio" name="business" id="three" value="0"  checked='checked'><label>非三证合一</label>
										<else>
										 <input class="ip" type="radio" name="business" id="business" value="1" checked='checked'><label>三证合一</label>
										 <input class="ip" type="radio" name="business" id="three" value="0" ><label>非三证合一</label>
										</if>
									</div>
								</div>

							</td>
						</tr>
					</table>
					<table class='tab <if condition="$row.is_three_one eq 0">hidden<else>shows</if>'>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>营业执照：</label>
								<div class="shop-info-box" style="float:left;">
									<div id="operator-authorization-book">选择文件</div>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>对公开户账号：</label>
								<input type="text" name="bank_account_number" id="bank-public-num" size=45 value="{$row['bank_account_number']}" class="inputW400H32 infos"  />
								<span class="shop-info-tips"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>对公开户名称：</label>
								<input type="text" name="bank_name" id="bank-public-name" size=45 value="{$row['bank_name']}" class="inputW400H32 infos"  />
								<span class="shop-info-tips">请填写开户公司名称</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>对公开户支行：</label>
								<input type="text" name="bank_branch" id="bank-subbranch-public-name" size=45 value="{$row['bank_account_name']}" class="inputW400H32 infos"  />
								<span class="shop-info-tips">如：中国建设银行爱华支行</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户许可证上传：</label>
								<div class="shop-info-box" style="float:left;">
									<div id="permit-prove-book">选择文件</div>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>

							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>运营者授权书：</label>
								<div class="upload-aptitude-pic" style="float:left;">
									<label><a href="__PUBLIC__/upload/active/agreement/operationAuthorization.doc" class="download-operator-prove" style="color:#059ce1;">《点击下载授权书》</a></label>
									<br><br>
									<div id="permit-prove-Upload">选择文件</div>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>
							</td>
						</tr>
					</table>

					<table class='tab <if condition="$row.is_three_one eq 0">shows</if>'>
						<tr>
							<td>
								<div class="prove-3">
									<div class="prove-col">
										<label class="aptitude-title"><span>*</span>企业营业执照上传：</label>
										<div class="shop-info-box" style="float:left;">
											<div id="business-licence">选择文件</div>
											<br>
											<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
										</div>
									</div>
									<div class="prove-col">
										<label class="aptitude-title">组织机构代码上传：</label>
										<div class="shop-info-box" style="float:left;">
											<div id="organization-code">选择文件</div>
											<br>
											<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
										</div>
									</div>
									<div class="prove-col">
										<label class="aptitude-title">一般纳税人证明上传：</label>
										<div class="shop-info-box" style="float:left;">
											<div id="general-taxpayer-prove">选择文件</div>
											<br>
											<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户银行账号：</label>
								<input type="text" name="bank_account_number2" id="bank-account-num" size=45 value="{$row['bank_account_number']}" class="inputW400H32 infos1"  />
								<span class="shop-info-tips">个体商户或无开户银行，请填写法人银行账号</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户姓名：</label>
								<input type="text" name="bank_name2" id="bank-name" size=45 value="{$row['bank_name']}" class="inputW400H32 infos1"  />
								<span class="shop-info-tips">个体商户或无开户银行，请填写法人姓名</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>开户行支行名称：</label>
								<input type="text" name="bank_branch2" id="bank-subbranch-name" size=45 value="{$row['bank_account_name']}" class="inputW400H32 infos1"  />
								<span class="shop-info-tips">如：中国建设银行爱华支行</span>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title">开户许可证：</label>
								<div class="upload-aptitude-pic">
									<label>（无对公开户银行，请上传法人或运营者身份证件）</label>
									<br><br>
									<div id="bank-opening-permit-prove">选择文件</div>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label class="aptitude-title"><span>*</span>运营者授权书：</label>
								<div class="upload-aptitude-pic" style="float:left;">
									<label><a href="__PUBLIC__/upload/active/agreement/operationAuthorization.doc" class="download-operator-prove" style="color:#059ce1;">《点击下载授权书》</a></label>
									<br><br>
									<div id="permit-prove-Upload2">选择文件</div>
									<br>
									<i class="shop-info-tips">图片大小不能超过2M，格式为：jpg、png、jpeg、gif</i>
								</div>
							</td>
						</tr>
					</table>

					<h3 style="margin-top:30px;">请阅读并同意协议</h3>
					<table border="0" cellpadding="0" cellspacing="0" class="aptitude">
						<tr>
							<td style="width:200px;"></td>
							<td style="margin-left:200px; _margin-left:200px;">
								<input class="checkbox1" type="checkbox" style="display:inline-block;width:12px;height:12px;">
								<label class="rules2">
									已阅读并同意
									<span>
										《一礼通平台商家入驻协议》
										<div class="rules-content-box">
											<h3>一礼通平台商家入驻协议</h3>
											<div class="rules-content">
												本协议由一礼通网络平台（www.yilitong.com,以下简称一礼通）的运营方即深圳一礼通互创科技有限公司（下称“甲方”或“一礼通”），以及同意并遵照本协议规定使用一礼通服务的法律实体（以下称“乙方”或“商家”）、达成的关于提供和使用一礼通网站商家在线服务协议服务的各项条款、条件和规则。《一礼通平台商家服务协议》（以下简称；本协议包括本协议正文及本协议附件（本协议附件包括；本协议项下要求或允许给予的所有“”、“、“、“”；本协议之签署、效力、解释和执行以及本协议项下争议）；甲方在此特别提醒乙方认真阅读、充分理解本协议各条。<br>
												<p>一、协议内容及效力</p>
												本协议内容包括协议正文及所有一礼通网站已经发布的或将来发布并依法通知商家的各类规则(可于www.yilitong.com和商家后台的“商家中心”查看，相同规则的内容如有不同，以“商家中心”显示为准)。所有一礼通网站公布的规则均为协议不可分割的一部分，与协议正文具有同等法律效力。商家在使用一礼通提供的各项服务时，承诺接受并遵守各项相关规则的规定。甲方可根据发展需要不时地修改本协议或制定、修改各类规则，但是对于影响商家权利义务的变更一礼通将提前至少7天在一礼通网站进行公示。<br>
												任何对本协议的修订和对规则的制定或修改一经生效即构成协议各方权利义务的补充，并成为本协议的一部分。如乙方不同意相关变更，须在3个工作日内以正式书面盖章的通知方式告知甲方，甲方有权选择终止相关变更或立即与乙方解约。如相关变更生效后，商家登录或继续使用一礼通服务将表示商家接受修订后的协议。除另行明确声明或另行签署协议外，任何扩大的服务范围或软件功能的增强均受本协议的约束。<br>
												本协议一经商家或商家授权的任何人点击确认即于乙方和甲方之间发生法律约束力。本协议之签署、效力、解释和执行以及本协议项下争议之解决均适用中华人民共和国法律（为本协议之目的，不包括香港、澳门、台湾法律）。甲乙双方在签署、履行本协议中发生的争议或纠纷，应通过友好协商解决；协商不成的，任何一方有权将争议提交至甲方住所地人民法院诉讼解决。<br>
												<p>二、服务内容</p>
													2.1 一礼通向商家提供“一礼通网络平台”上相应的网络空间、技术支持和系统维护，以及同意向商家提供的各项附属功能、增值服务等，以使商家作为销售者有能力独立开设店铺、上传并维护商品信息、与意向客户洽商交易以及开展与交易有关的各项业务。<br>
													2.2商家获得“商家后台管理系统”使用权限后，可独立开展店铺经营，同时可参与“一礼通网站”相关活动及接受其他有偿服务。其他有偿服务包括但不限于广告推广服务、支付结算服务等。商家如需使用该等有偿服务的，应以商家自身名义单独与提供方洽谈并签署协议。<br>
													2.3商家的经营行为受一礼通的监督和管理。一礼通依据法律法规、本协议约定以及“一礼通平台规则”，有权单方决定限制商家的经营行为，比如限制“商家后台管理系统”权限，要求商家删除或调整发布的信息等，商家拒绝履行或配合时，一礼通有权根据本协议及“一礼通平台规则”采取相应措施；一礼通同时有权将商家违法、违规行为举报到工商、药监等国家监管部门。<br>
													2.4商家的经营行为受消费者的监督，消费者可以通过“一礼通网络平台”评价功能对商家的商品和服务进行评价，该评价将以分值的形式体现商家商品及其服务的优劣；消费者也可以通过向一礼通、监管机关、媒体等进行投诉进行监督，一礼通知悉该投诉后，将介入调查并向商家出具意见，商家应积极配合并妥善解决。<br>
													商家的经营行为受国家监管机构的监督和管理。一礼通收到工商、药监等监管部门监管意见时，有权向监管机关提供相关资料，要求商家予以整改、执行监管意见等；商家怠于执行或迟延执行时，一礼通有权限制“商家后台管理系统”权限，删除或调整商家发布的信息等，由此产生的不利后果由商家自行承担。<br>
												<p>三、资格要求与证明文件</p>
													3.1 资格要求 <br>
														商家申请及开展店铺经营活动，须持续的同时满足以下基本条件：<br>
														1)商家已依照中华人民共和国法律注册并领取合法有效的营业执照及取得其他经营许可，身份信息应为商家自身情况的客观表现；<br>
														2)商家经营的商品来源合法，资质齐全，不侵犯第三方合法权益；<br>
														3)商家提交的任何信息均真实、合法、有效，所使用的图片、文字等不侵犯任何第三方合法权益；<br>
														4)商家自愿签署并严格履行本协议；<br>
														5)一礼通依据法律法规等要求及经营需要可能设定的其他条件。<br>
													3.2 证明文件 <br>
														1）商家须依据“商家在线入驻系统”所示在线提交各项必须文件或证明，包括但不限于营业执照、税务登记证、开户行证明、授权委托书、商标注册证、质检报告、报关单、检验检疫证书、产品来源地证明、法定代表人身份证正反面复印件等。在发生客户投诉、行政机关机构调查、诉讼解决等事项时，商家还应向一礼通提交与原件核对一致且加盖商家公章的纸质复印件。<br>
														2）商家保证向一礼通提供的上述证明文件或其他相关证明真实、合法、准确、有效，经甲方审核通过后，商家不得擅自修改、替换相应文件、资料及信息。如商家提供的文件、资料及/或信息不合法、无效或失效、不真实、不准确或不完整的，由此产生的任何争议、纠纷、处罚、诉讼、仲裁、投诉、索赔等均由商家自行负责处理并承担全部法律责任（包括但不限于赔偿由此给顾客、甲方及任何他方造成的全部损失），并且甲方有权立即终止商家使用在线签约系统、相关账户的权利，或终止与商家的部分或全部合作（不论该等合作是否基于本协议而产生，下同）。如商家提供的文件、资料及/或信息不合法、无效或失效、不真实、不准确、及/或不完整的, 甲方有权要求商家提供文件、资料及/或信息资料原件以供审核，商家有义务积极配合调查。如商家提供的文件、资料及/或信息系伪造及/或虚构等，由此产生的甲方及/或甲方委托的他方支出的成本和费用（包括但不限于甄别、鉴定和调查的成本和费用）均由乙方承担。<br>
														3）商家保证上述证明文件发生任何变更或更新时立即通知一礼通，并于五个工作日内，提交更新后的文件。<br>
												<p>四.服务的开通和期限</p>
													4.1服务将在以下条件均满足后七（7）个工作日内开通：<br>
														1）商家向提交的信息经一礼通审查通过；<br>
														2）商家符合当前的《一礼通入驻标准》；<br>
														3）商家与一礼通以在线点击确认的方式签订本协议；<br>
														4）商家与一礼通通过在线点击确认的方式签订《一礼通平台商家入驻协议》；<br>
														5）商家需缴纳的入驻费成功支付于一礼通指定账户；<br>
														6）商家保证金已按照指定的金额缴纳；<br>
														7）在申请使用服务之前没有发生过被一礼通终止合作、违反与一礼通的协议的情形；<br>
														8）一礼通已向商家发出服务开通通知。<br>
													4.2服务期自服务实际开通日算起，至次年对应的开通日日期为准。<br>
													4.3如商家签署或在线接受本协议后七（7）个工作日内仍未满足本条第一款规定的所有开通条件，或一礼通因任何原因向商家发出拒绝提供服务的通知，则一礼通有权不予开通服务并终止本协议。服务未开通本协议即被终止的，一礼通不承担任何违约或赔偿责任。

											</div>
										</div>
									</span>
								</label>
								<br><br>
								<input class="checkbox2" type="checkbox" style="display:inline-block;width:12px;height:12px;">
								<label class="rules2">
									已阅读并同意
									<span>
										《一礼通平台使用规则》
										<div class="rules-content-box">
											<h3>遵守一礼通的平台使用规则</h3>
											<div class="rules-content">
												<p>1、商家的承诺与保证</p>
												1、在服务使用过程中，商户承诺并保证：<br>
												1）其符合当前的一礼通入驻标准规定的申请条件，且向一礼通提供真实、合法、准确、有效的信息和资料，并保证其诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证一礼通及其他用户可以通过上述联系方式与自己进行联系。同时，商家也有义务在相关资料实际变更时及时更新有关信息和资料。<br>
												2）其承诺遵守本协议、《支付服务协议》、以及所有公示于一礼通的规则和流程。<br>
												3）其拥有合法的权利能力和行为能力缔结本协议并使用一礼通相关服务。<br>
												4）其展示于一礼通的所有信息真实、准确，符合相关法律法规、本协议和一礼通规则。<br>
												5）其对其展示于一礼通的交易信息中所涉商品有合法的销售权。<br>
												6）其将按照不低于《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》及其他法规、部门规章和国家强制性标准规定的要求，出售商品并提供“三包”等售后服务。<br>
												7）其有义务必要时按照买家就其一礼通店铺交易实际支付的现金金额为买家开具合规的发票；其就其一礼通店铺实际成交之金额依法及时、足额地向其所在地主管税务机关申报纳税。<br>
												8）其明示接受一礼通指定交易方式达成交易的支付工具。<br>
												9）其保证在使用服务进行交易的过程中遵守诚实信用的原则，不在交易过程中采取不正当竞争行为，不扰乱网上交易的正常秩序，不在一礼通平台从事与网上交易无关的行为。<br>
												10）其保证在使用服务时实施的所有行为均遵守国家法律、法规和天猫的相关规则、规定以及各种社会公共利益及公共道德。<br>
												11）其同意不对一礼通上任何数据作商业性利用，包括但不限于在未经一礼通事先书面批准的情况下，以复制、传播或向他方披露等方式使用在一礼通网站上其他用户展示的任何资料。<br>
												12）其承诺对其店铺负有管理义务，对其店铺中出现的违反国家有关法律、法规规定及一礼通规则的信息予以立即删除。<br>
												13）其承诺拥有合法的权利和资格向一礼通上传有关商品销售信息并进行销售，且前述行为未对任何第三方合法权益构成侵害，包括但不限于第三方知识产权、物权、肖像权等。<br>
												14）其承诺在与甲方达成保证金锁定在一礼通指定账户作为不动产余额用于店铺经营保证。<br>
												15）其认可一礼通有权独立的对其入驻资料、品牌经营权限开通申请进行评估、判断，审查结果一礼通评估、判断为准。<br>
												16）其承诺不在展示的商品中使用任何未获授权品牌的关键字。<br>
												17）其承诺接受一礼通对其出售商品是否具有合法进货来源的不定期检查，其有义务保留其商品具有合法进货来源的相关凭证。对于无法提供合法进货来源凭证的，一礼通将根据实际情况对商品的真伪作出判断，商家同意对此承担举证不利的后果。<br>
												18）其认可并接受一礼通基于维护市场良好持续、保障消费者权益的目的依照公示的规则进行商品品质抽检及真假鉴定，商家可依照公示规则就抽检及鉴定结果提出异议。对于经检抽检证明存在质量瑕疵，或者经鉴定为假货的商品，抽检或鉴定所发生的所有合理费用由商家承担。<br>
												19）其承诺同意一礼通于商家店铺内的固定位置展示一礼通活动信息、消费者保障信息或其他信息，具体位置为：商品详情页中“产品参数”的下方，信息内容由一礼通根据相关主题自行设计、制作。<br>
												20）商家同意授权一礼通对商家发布的违法违规或可能对消费者人身、财产权益造成侵害的商品交易进行撤销，对已完结交易可通知消费者退货退款。<br>
												21）商家同意一礼通对不符合强制性标准或严重不符合推荐性标准的品牌及其同类别商品上的关联品牌（包括同类别商品上共同使用的品牌及同一申请人注册并在同类别商品上分别使用的品牌等）在一礼通平台实施禁售，无论上述品牌是否作为商品主要标识。<br>
												22）在销售商品时，商家承诺作为最终零售商将使用自有货源、关联公司货源向消费者进行发货，其承诺不通过其他零售商、零售企业、零售网站向消费者发货。如商家违反前述承诺，则一礼通有权终止本协议。<br>
												23）商家承诺，不会采取任何手段或措施，包括但不限于明示或暗示用户或通过其他方式转移其可以通过一礼通网络平台在线达成的交易，或达成交易后不经由一礼通指定支付方式服务收取交易金额，以规避向一礼通支付相关服务费用。<br>
												<p>2、一礼通的权利和义务</p>
												2.1一礼通有义务在现有技术上维护整个一礼通网上交易平台的正常运行，使商家网上交易活动得以顺利进行；一礼通有权根据商家营业执照的经营范围、商家取得的品牌授权范围以及商家对自己店铺经营范围的描述自行决定/调整允许商家展示商品的类目、种类和数量；<br>
												2.2对商家在注册使用服务中所遇到的与交易或注册有关的问题及反映的情况，一礼通应及时作出回复；<br>
												2.3因网上交易平台的特殊性，一礼通没有义务对所有商家的交易行为以及与交易有关的其它事项进行事先审查，但下列情况除外：<br>
													1）第三方通知一礼通，认为某个具体商家或具体交易事项可能存在重大问题；<br>
													2）商家或第三方向一礼通告知交易平台上有违法或不当行为的；<br>
													3）一礼通发现某个具体商家或具体交易事项可能存在重大问题。<br>
												一礼通以普通非专业人员的知识水平标准对相关内容进行判别，可以认为这些内容或行为具有违法或不当性质的，一礼通有权根据不同情况选择删除相关信息、对商家店铺采取限制性措施或停止对该商家提供服务。<br>
												2.4一礼通有权对商家的注册数据及交易行为进行查阅，发现注册数据或交易行为中存在任何问题或怀疑，均有权向商家发出询问或要求改正的通知，或者直接作出删除或对商家店铺采取限制性措施等处理；<br>
												2.5经国家生效法律文书或行政处罚决定确认商家存在违法行为，或者一礼通有足够事实依据可以认定商家存在违法或违反协议行为的，一礼通有权在一礼通网站公布商家的违法和/或违规行为；<br>
												2.6对于商家在一礼通网上交易平台展示的下列各类信息，一礼通有权在不通知商家的前提下进行删除或采取其它限制性措施，包括但不限于：<br>
													1）一礼通有理由相信以规避一礼通费用为目的的信息；<br>
													2）一礼通有理由相信以炒作信用、销量为目的的信息；<br>
													3）一礼通有理由相信存在欺诈等恶意或虚假内容的信息；<br>
													4）一礼通有理由相信与网上交易无关或不是以交易为目的的信息；<br>
												2.7一礼通有理由相信存在恶意竞价或其它试图扰乱正常交易秩序因素的信息；<br>
												2.8一礼通有理由相信属违反公共利益或可能严重损害一礼通和/或其它用户合法利益的信息。<br>
												2.9一礼通可根据业务调整情况将本协议项下的全部权利义务一并转移给其关联公司，此种情况将会提前30天以网站公告的形式通知商家。<br>
												<p>3、“ 商家后台管理系统”权限开通及调整</p>
												3.1“商家后台管理系统”权限开通<br>
												对于商家拟开展经营的特定店铺，一礼通在满足以下全部条件后，为商家开通相关“商家后台管理系统”权限，一礼通将在权限正式开通前三个工作日以邮件及系统通知方式告知商家：<br>
												1)商家已通过“商家在线入驻系统”提交入驻申请，包括所需信息的提交和在线同意本协议；<br>
												2)商家入驻申请已通过一礼通审核，并依据审核结果另行签署了相关协议；<br>
												3)商家已足额缴纳保证金与首个服务期对应的“入驻费”；商家在未完成缴费前，仅具有缴费权限。<br>
												3.2“商家后台管理系统”权限延展<br>
												商家需持续经营，在服务期到期后延展权限的，应在权限到期前45日内，通过“商家后台管理系统”向一礼通提出申请，一礼通收到申请且商家满足以下全部条件后为商家延展一年有效期，以此类推：<br>
												1）商家延展申请（含提交各项“资格要求”所需资料）已通过一礼通审核；<br>
												2）商家已足额缴纳下一期服务期对应的“入驻费”；商家前一服务期到期，而又未完成缴费的，商家权限将被限制为只有缴费权限；<br>
												3）如需签署协议的，商家还应与一礼通完成协议签署。<br>
												3.3“商家后台管理系统”权限停止<br>
												“商家后台管理系统”权限停止，亦称限制“商家后台管理系统”权限，包括商家权限的全部停止和商家权限的部分停止。商家权限全部停止时，商家无法自行通过“商家后台管理系统”对其店铺进行任何操作，同时“一礼通平台”上不再显示商家店铺信息及其商品信息；商家权限部分停止时，商家只能使用“商家后台管理系统”的部分功能，可能导致商家无法上传维护商品信息，已上传信息无法在“一礼通平台”显示等情况的发生。<br>
												 3.4商家权限的全部停止<br>
												商家自愿申请权限全部停止的，应至少提前七个工作日向一礼通提出申请，经一礼通审核同意后由一礼通停止其权限；为弥补一礼通已投入的人力、物力和技术支持，商家同意一礼通不退还该店铺未到期部分对应的入驻费。<br>
												在商家经营过程中，发现以下任一情形时，一礼通有权随时停止商家全部权限；<br>
												1）比如提交虚假文件、资质不全或过期而无法及时补全、更新的；<br>
												2）商家产品价格、规格等信息标示错误，导致投诉、争议和纠纷的，或者遭受行政机关调查、处罚的；<br>
												3）商家产品质量、标识不合格的，或者产品涉嫌走私、假冒伪劣、三无产品、旧货、返修品的；<br>
												4）商家连续90（三十）日或每一服务期内累计120（一百二十天）日未经营店铺的；<br>
												5）商家未经一礼通事先审核产品类目、品牌，而上传某类目、品牌商品的；<br>
												6）其他违反本协议约定的，或者其他侵犯消费者、一礼通及其关联公司/机构权益的。<br>
												4.5商家权限的部分停止<br>
												商家自愿申请权限部分停止的，应至少提前七个工作日向一礼通提出申请，经一礼通审核同意后由一礼通停止其相应权限。<br>
												 在商家经营过程中，发现以下任一情形时，一礼通有权随时停止商家部分权限；<br>
												1）第三方向一礼通投诉商家侵权、违约，有待进一步核实或已查证部分侵权、违约属实的；<br>
												2）未按承诺参加“一礼通网络平台”相关活动的；<br>
												3）商家违反本协议约定<br>
												商家未经一礼通同意，擅自停止店铺经营，或者商家因为出现第3.4条情形被一礼通停止店铺服务的，商家已缴纳的本协议附件所涉及特定店铺的入驻费未到期部分，作为商家向一礼通支付的违约金，该金额不足以冲抵商家应付违约金和赔偿金时，商家应另行支付差额。<br>
												<p>4、保密协议</p>
												4.1本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容及在合作过程中涉及的其他秘密信息。任何一方未经商业秘密提供方同意，均不得将该信息向任何第三方披露、传播、编辑或展示。协议方承诺，本协议终止后仍承担此条款下的保密义务，保密期将另行持续三年。<br>
												4.2 因对方书面同意以及国家行政、司法强制行为而披露商业秘密的，披露方不承担责任；该商业秘密已为公众所知悉的，披露方不承担责任。 <br>
												<p>5、反商业贿赂</p>
												如发现商家、商家雇员、股东、法定代表人、实际控制人或关联企业等向一礼通或一礼通关联企业的雇员或顾问等提供实物、现金、现金等价物、劳务、旅游等价值明显超出正常交往范畴的利益，则可视为商家存在商业贿赂行为。<br>
												发生上述情形的，一礼通有权立即解除与商家的所有合作关系（包括但不限于基于本协议的合作）并向商家收取违约和/或赔偿金，违约金以一礼通规则的规定为准，赔偿额以一礼通因商户的贿赂行为而遭受的经济损失和商誉损失作为计算依据。<br>
												<p>6、有限责任</p>
												6.1一礼通服务按“现状”和“可得到”的状态提供。商家在开通一礼通服务前已充分了解一礼通平台的功能和服务特性并同意一礼通无须就已存在的软件瑕疵、功能不足或任何需改进事项对商家承担责任。<br>
												6.2因一礼通须向数量庞大的商家提供服务，且所提供的服务内容复杂、技术含量较高，故一礼通仅对因其故意或重大过失导致的商家损失承担违约和/或赔偿责任，且金额以商家已缴纳的服务费用为限。<br>
												6.3使用一礼通下载服务或者获取任何资料的行为均出于商家的独立判断并由商家自行承担风险。商家独自承担因此可能对其电脑系统或资料灭失造成的损失。<br>
												6.4不论在何种情况下，一礼通均不对由于Internet连接故障、计算机系统故障、通讯故障、电力故障、电脑病毒、黑客入侵、罢工、劳动争议、暴乱、起义、骚乱、火灾、洪水、风暴、爆炸、战争等不可抗力事件或第三方原因而造成的不能服务或延迟服务承担责任。<br>
												6.5一礼通仅作为用户物色交易对象，就货物和服务的交易进行协商，以及获取各类与贸易相关的服务的地点。本协议的签署并不意味着一礼通成为商家在一礼通网站上与第三方所进行交易的参与者，对前述交易一礼通仅提供软件服务，不对商家行为的合法性、有效性及商品的真实性、合法性和有效性作任何明示或暗示的担保。<br>
												6.6在使用一礼通服务的过程中，商家授权一礼通代商家对买家履行消费者保障义务并承担支付或赔偿责任。当一礼通代商家向消费者进行支付或赔偿时，商家同意一礼通以非专业或普通的注意义务对交易纠纷进行判责并确定责任金额，并认可一礼通确定的责任归属和责任金额，如最终证明一礼通判责有误或赔付金额过高，商家同意自行向受益的消费者进行追偿，不向一礼通追责或主张任何权利。<br>
												<p>7、协议的终止</p>
												7.1自然终止：本协议履行完毕或商家与支付宝公司签署的《支付服务协议》因任何原因终止，则本协议将同时终止。<br>
												7.2 通知解除：协议任何一方均可提前十五天以书面通知的方式终止本协议，商家应在线提出退出申请，未经一礼通同意不得行使单方解约权。如商家通过在线点击“确认退出”按钮申请终止本协议，则商家的店铺将立即进入“监管”状态（监管，是指在一定时间内商家店铺及店铺内所有商品信息无法通过搜索、访问店铺或商品链接等方式查看），十五天（15）后本协议终止、店铺正式进入退出流程，商家在处于退出流程后的三十天（30）天内可以且仅可使用其一礼通账户处理交易纠纷以及与一礼通之间的账务、发票结算事宜。<br>
												7.3发生下述情形时，一礼通有权立即行使单方解约权并对商家店铺进行关闭：<br>
													1）商家违反一礼通规则并达到须被终止合作的程度；<br>
													2）商家提交的信息或文件不真实、不合法、已失效或商家无法证明其信息或文件的真实性、合法性、有效性；<br>
													3）商家没有销售其商品或服务的合法资质（行政许可或备案）或其商品、服务不符合国家法律法规、规章和政策；<br>
													4）商家违反本协议第八条（二十二）、（二十三）款；<br>
													5）商家保证金不足额，且未能自行补齐，经一礼通催缴后仍未能在指定时间内补足；<br>
													6）商家存在违反本协议或一礼通规则的情形，经一礼通通知后，在限定的合理期限内未能改正；<br>
													7）一礼通判定商家存在对他人商标、商品名称、包装和装潢、企业名称、产品质量标志等仿冒行为容易造成消费者混淆、误认的；<br>
													8）商家申请破产或被申请破产；<br>
													9）商家丧失主体资格（如其申请企业注销或被吊销营业执照）。<br>
												7.4商家在超过九十（90）天的时间内未以一礼通服务账户及密码登录一礼通的，一礼通有权终止本协议。<br>
												7.5 协议终止后有关事项的处理：<br>
													1）协议终止后，一礼通没有义务为商家保留一礼通服务账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给商家或第三方，亦不就终止协议而对商家或任何第三者承担任何责任；<br>
													2）无论本协议因何原因终止，在协议终止前因商家行为所导致的任何赔偿和责任，商家必须完全且独立地承担；<br>
													3）协议终止后，一礼通有权保留商家的注册数据及以前的交易行为记录。如商家在协议终止前在一礼通网络交易平台上存在违法行为或违反协议的行为，一礼通仍可行使本协议所规定的权利；<br>
													4）协议终止之前1）商家已经上传至一礼通网站的商品信息尚未达成交易协议的，一礼通有权在协议终止时同时删除此项商品的相关信息；2）商家已经与另一用户就某商品信息达成交易协议的，一礼通可以不删除该项交易，但一礼通有权在协议终止的同时将协议终止的的情况通知该交易中的买方。<br>
													5）因为上述各项原因导致一礼通终止本服务协议，商家店铺在一礼通作出终止本服务协议时立即进入退出流程，商家在进入退出流程三十天（30）内可以且仅可使用其一礼通账户处理交易纠纷以及与一礼通之间的账务、发票结算事宜。<br>
												7.6如在协议期内，非因商家违约或过错导致本协议终止的，则商家有权凭一礼通就本协议开具的发票原件（如已开具）及退款申请要求一礼通退还未履行部分的服务费用（如有的话）至商家指定的银行账户。其他情况下协议发生终止时，未履行的服务费用将直接充抵商家应缴违约金或赔偿金。<br>
												7.7本服务协议终止后，商家同意一礼通有权通知一礼通指定支付服务方将向商家的一礼通付款账户余额止付30天，用于解决服务协议终止后的履约纠纷或对消费者、第三方的维权进行赔付。<br>
												7.8商家如对一礼通解除合同有异议的，应在收到解除合同的通知之日起30天以内向甲方所在地有管辖权的人民法院提起诉讼。<br>
												<p>8、违约责任</p>
												8.1在使用一礼通服务的过程中，商家存在侵犯第三方（如消费者、知识产权权利人或商品/服务的实际使用者）权益、违反国家法律法规或其他违反本协议和/或天猫规则的行为时，除根据本协议和/或一礼通规则应向一礼通支付违约金外，还应赔偿一礼通因此遭受的损失（如有），商家须赔偿的损失包括但不限于：<br>
													1）一礼通被判决须对任何第三方支付的违约金或赔偿额；<br>
													2）一礼通代商户向消费者支付的退款、违约金或赔偿额；<br>
													3）一礼通被执行行政处罚的金额；<br>
													4）一礼通支付的律师费用、消除影响所支出的必要费用。<br>
												8.2商家对一礼通存在任何期限届至而未付的款项时，除一礼通规则另有约定外，商家应自逾期之日起向一礼通支付未付款项每日千分之五的违约金。<br>
												8.3协议各方根据本协议的规定行使单方解约权可不承担违约责任。但是，在商家承诺向一礼通缴纳软件服务费的情况下，商家如欲行使解约权，则须提前向一礼通支付全额软件服务费，否则商家构成违约，应承担违约责任。<br>
												8.4如商家违反本协议第六条（三）项的约定，逾期未能向一礼通开具上年度的积分活动费用发票或发票类型不符，商家同意向一礼通支付上年度积分活动费用发票金额30%的款项作为违约金。<br>
												8.5如商家违反本协议第六条（6.2）项的约定，一礼通有权将商户全部保证金余额划扣作为违约金，还可就因此给一礼通造成的损失（包括但不限于减少的收入）向商家追偿。<br>
												8.6当第三方以商家侵权为由要求一礼通删除商户信息时，商家同意一礼通对删除行为不承担任何责任，如最终证明第三方为恶意或缺乏权利凭证，商家同意自行向第三方进行追责。<br>
												8.7一礼通因故意或重大过失导致商家利益受损时，一礼通对商家的违约和/或赔偿责任以商家直接的实际损失为计算依据。<br>
												<p>9、商业关系终止</p>
												在使用一礼通服务（包括但不限于本协议项下的各项服务内容）的过程中，如商家或商家实际控制人、董事、经理、业务负责人等实施了下列的行为之一，则一礼通有权立即终止商家继续使用一礼通的任何服务（包括但不限于关闭商家于一礼通开设的所有店铺），一礼通及一礼通各关联公司亦可终止与商家的任何合作关系并不再开展任何商业合作：<br>
												1）违背诚信经营原则或影响一礼通商业声誉的商业贿赂行为；<br>
												2）违背诚信经营原则或影响一礼通商业声誉的涉嫌刑事犯罪行为；<br>
												3）其他违背诚信经营原则或影响一礼通商业声誉的行为。<br>
												<p>10、有效通知</p>
												10.1商家在入驻一礼通时必须提供真实有效联系方式，对于联系方式发生变更的，商家有义务及时更新有关信息，并保持可被联系的状态。<br>
												10.2商家在注册一礼通时生成的用于登陆一礼通平台接收、发送站内信、系统消息和在线即时沟通信息的会员账号（包括子账号），也作为商家的有效联系方式。<br>
												10.3本协议下乙方对甲方的通知应以书面形式递交、以深圳一礼通互创科技有限公司客户部（广东省深圳市福田区桃花路6号腾飞工业大夏A座4楼402、404（礼至集团），邮编518041，一礼通客户部收）收讫为准。<br>
												一礼通通过商家向一礼通提供的有效联系方式发出通知，其中以纸质载体发出的书面通知，按照商家提供联系地址交邮后的第七个自然日即视为送达。以电子的方式向商家发出的书面通知，包括但不限于在一礼通网络平台公告、向商家提供的联系电话发送手机短信、向商家提供的电子邮件地址发送电子邮件、向商家的一礼通账号发送信息、系统消息以及站内信信息，在发送成功后即视为送达。<br>
												10.4对于因在一礼通上从事经营活动引起的任何纠纷，商家同意司法机关（包括但不限于人民法院）可以手机短信、电子邮件或QQ\微信等现代通讯方式或邮寄方式向商家送达法律文书（包括诉讼文书）。商家指定接收法律文书的手机号码、电子邮箱或一礼通账号等联系方式为商家在一礼通注册、更新时提供的手机号码、电子邮箱联系方式以及在注册一礼通时生成联系方式，司法机关以前述联系方式发出法律文书即视为送达。商家指定邮寄地址为商家的法定联系地址或商家提供的有效联系地址。<br>
												商家同意司法机关可采取以上一种或多种送达方式向本商家送达法律文书，司法机关采取多种方式向商家送达法律文书，送达时间以上述送达方式中最先送达的为准。<br>
												商家确认的上述送达方式适用于各个司法程序阶段，包括但不限于一审、二审、再审、执行以及督促程序。<br>
												商家保证所提供的联系方式是准确、有效的。如有变更的，商家应当及时告知一礼通和/或司法机关变更后的有效联系方式。如果因提供的联系方式不准确，或不及时告知变更后的码址，使法律文书无法送达或未及时送达，商家自行承担由此可能产生的法律后果。<br>
												<p>11 遵守消费者保障义务</p>
												消费者保障，指商家根据本协议约定的条款和条件及一礼通网站公示的规则，并利用一礼通指定支付方式向买家出售全新商品时，应履行“商品如实描述”、“商品7天无理由退换货”和“正品保障”的义务。一礼通将在一礼通网站不时公示新增的消费者保障义务或对原消费者保障义务内容进行修订。如商家对新增或修订的消费者保障义务持有异议，商户应当在发布3个工作日内以书面方式通知一礼通，一礼通可选择与商家解除本协议或终止执行新增、修订的内容，在新增或修订的内容生效后，如商家继续使用一礼通服务，则意味着商家接受一礼通新增或修订的内容。<br>
												11.1消费者保障内容<br>
												在商家通过一礼通平台展示商品信息以及与买家进行商品交易过程中，商家承诺:<br>
												11.1.1、履行“如实描述”义务。“如实描述”指商家承诺对其上传于一礼通网站的商品信息与实物相符，并对描述的准确和相符负有举证责任。“如实描述”义务应涵盖以下内容：<br>
													1）商家在展示商品时选择及填写的所有与商品本身有关的信息，包括但不限于文字描述、商品图片，买家均可在该商品的详情页面上进行直接查看；<br>
													2）商家与买家在交易过程中与一礼通网络平台即时在线进行沟通时，商家就商品本身信息、邮费、发货情况、交易附带物件向买家描述的内容属于商品信息范围。<br>
													3）商家有义务对商品本身存在的质量问题及瑕疵承担责任，除非商家已事先进行了质量问题及瑕疵的描述，且该质量问题及瑕疵不违反国家法律法规或本协议的规定；<br>
													4）如商家在汽车用品、汽车饰品类目下展示商品，应当使用实物拍摄图片，即商家针对该件商品本身实际拍摄的图片，不包括杂志图片、官方网站图片及宣传图片。如商家违反本条款之约定，则视为商家违反了商品如实描述义务；<br>
												11.1.2履行“7天无理由退换货”义务。“7天无理由退换货”指买家使用一礼通网络平台服务购买商家出售的商品后，在签收货物后7天内，如因买家主观原因不愿完成本次交易，商家承诺同意按照本协议之约定向买家提供退换货服务。如买家与商家就退换货事宜协商未果，买家向一礼通发起针对商家的维权，并申请“7天无理由退换货”赔付时，如一礼通判定买家赔付申请成立，商家同意按照一礼通的判定对买家进行相应的赔付或由一礼通代商家对买家进行先行赔付。“7天无理由退换货”义务涵盖如下内容：<br>
													1）商家同意依据一礼通在网站公示的内容（包括但不限于一礼通7天无理由退换货服务规范）提供7天无理由退换货服务。<br>
													2）商家同意一旦买家在收到货物后7天内向商家提出7天无理由退换货服务申请，商家应积极配合，与买家主动协商，以期双方自愿友好地达成退货退款协议。针对包邮商品的换货申请，商家同意承担再次发货之运费。前述买家签收货物的时间以物流签收单上确定的时间为准，如物流签收单上有准确签收时间的，则该签收时间后满168小时为7天；如物流签收单上的签收时间仅为日期的，则以该日期后的第二天零时起计算时间，满168小时为7天；<br>
													3）商家同意一旦买家在收到货物后提出以“7天无理由退换货”为退货原因的退款申请，或在交易成功后14天内提出“7天无理由退换货”赔付申请，商家应积极配合，并根据一礼通的要求在指定期间内提供真实、合法、有效的证据材料。根据商品类目不同，商家应根据一礼通通知的要求提交不同的证据材料，且一礼通有权根据维权处理情况要求商家进一步提供其它证明材料；<br>
													4）商家同意一礼通在处理买家的“7天无理由退换货”赔付申请或相关退货申请时，有权以普通或非专业人员的知识水平标准对商家和买家提交的证据材料进行表面审查，并依据该审查结果作出判断。如一礼通判断错误造成损害，一礼通不承担任何责任，商家同意自行向受益人索赔。<br>
													5）如商家未能在指定期间内提供相关证据材料，或相关证据材料明显无效，一礼通判定买家赔付申请成立，商家同意按照本协议之约定向买家赔偿其受到的损失，赔偿金额为买家已实际支付的商品价款。<br>
												11.1.3履行“遵守承诺”义务。“遵守承诺”指商家应当严格遵守通过各种方式直接或间接向买家作出的承诺，包括但不限于通过本协议、一礼通相关规则以及网络店铺、商品详情页面、在线即时沟通等方式向买家作出的承诺。<br>
												11.1.4履行“正品保障”义务。“正品保障”指当买家使用一礼通指定支付方式购买商家在一礼通网站出售的商品，在收到货物后，如买家认为该商品为假冒（包括盗版）商品或非原厂正品、未经报关进口商品、假冒材质成份商品（其中假冒商品、未经报关进口商品、假冒材质成份商品的定义以一礼通规则规定为准）且买家与商家协商未果的前提下，买家在一礼通指定期间内发起针对商家的维权，申请消费者保障赔付时，如一礼通判定买家赔付申请成立，商家同意按照本协议之约定向买家退回其实际支付的商品价款，并增加赔偿其受到的损失，增加赔偿的金额为买家实际支付商品价款的三倍，并承担维权所涉商品所有物流费用。对消费者寄送一礼通进行判定而被一礼通判定为假货的商品，一礼通可联系工商管理部门直接予以销毁，无需退还商户。部分特殊类目商品（如食品）的赔付办法，如国家相关法律法规规定的赔付标准高于本协议的，商家同意以法律法规规定为准。<br>
												11.2消费者保障责任及处理<br>
												11.2.1先行赔付：指商家与一礼通网络平台交易中的买家通过一礼通指定支付方式服务进行交易后，如因商家未履行消费者保障承诺，一礼通有权以普通或非专业人员的知识水平标准，根据相关证据材料判定商户是否应根据本协议的规定、一礼通相关规则的规定履行退款或赔付义务。在判定商户应对消费者进行退款、支付违约金和/或赔偿款的情况下，一礼通有权使用商家的保证金中直接划扣相应金额支付给消费者，一礼通亦有权使用自有资金代商户向消费者进行支付。<br>
												11.2.2商家明确了解并同意商家是消费者保障的责任主体。当发生本协议前述商家应当履行消费者保障义务情形时，商家应保证买家的消费者权益。对于买家因前述问题提出的要求，商家应积极处理。商家同意当一礼通受理买家提出的消费者保障维权和赔付申请时，商家应积极配合，在一礼通要求的时间期限内提供相关证据材料，以证明与买家交易的商品不存在买家提出的问题或符合双方的约定，并保证所提交的证据材料真实、合法。<br>
												<p>12、争议解决及其他</p>
												本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律，并以一礼通所在地人民法院为第一审管辖法院。<br>
												如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份仍具有法律效力。<br>
												一礼通于商户过失或违约时放弃本协议规定的权利，不应视为其对商家的其他或以后同类之过失或违约行为弃权。<br>
											</div>
										</div>
									</span>
								</label>
							</td>
						</tr>
					</table>

					<div class="pre2-next2-btn">
						<div class="pre-2"><a href="{:Url('Home/Business/BusinessOne')}">上一步</a></div>
						<div class="next-2"><a href="javascript:void(0)" id="nextBtn">下一步</a></div>
					</div>
					<!-- 
						营业执照片-> zhizhao,组织机构代码证电子->organization_code_electronic,纳税证明->general_taxpayer
						开户许可证->bank_licence_electronic,运营者授权证书->proxy
					-->
					<input type="hidden" name="zhizhao" id="zhizhao" value="{$row.zhizhao}">
					<input type="hidden" name="organization_code_electronic" id="organization_code_electronic" value="{$row.organization_code_electronic}">
					<input type="hidden" name="general_taxpayer" id="general_taxpayer" value="{$row.general_taxpayer}">
					<input type="hidden" name="bank_licence_electronic" id="bank_licence_electronic" value="{$row.bank_licence_electronic}">
					<input type="hidden" name="proxy" id="proxy" value="{$row.proxy}">
				</form>
			</div>


			<script>
				$(document).ready(function(){
					//阅读协议
					$('.rules2 span').hover(function(){
						$(this).children().css('display','block')
					},function(){
						$(this).children().css('display','none')
					});
					//三证合一、非证合一 选项卡切换
					$('input[name=business]').change(function(){
						var index = $(this).val()-1;
						$('.tab').eq(index).addClass('shows').siblings().removeClass('shows');
					});

					//确认勾选阅读并同意，点击下一步跳转
					$(".next-2").click(function(){
						if( $(".checkbox1").is(':checked') && $(".checkbox2").is(':checked')){
							var oTrue = true;
							var value=$('input[type=radio]:checked').val();
							if(value == 1){
								var bank_account_number=$("input[name='bank_account_number']").val();
								var bank_name=$("input[name='bank_name']").val();
								var bank_branch=$("input[name='bank_branch']").val();
								//三证合一判断图片是否上传
								//营业执照
								var zhizhao=$("input[name='zhizhao']").val();
								//开户许可证上传
								var bank_licence_electronic=$("input[name='bank_licence_electronic']").val();
								//运营授权书
								var proxy=$("input[name='proxy']").val();
								if(zhizhao==""){
									alert('请上传营业执照');exit;
								}else if(bank_licence_electronic==""){
									alert('请上传开户许可证上传');exit;
								}else if(proxy==""){
									alert('请上传运营授权证书');exit;
								}
								$('.infos').each(function(){
									if($(this).val() == ''){
										oTrue = false;
									}
								});
							}else if(value == 0){
								var bank_account_number=$("input[name='bank_account_number2']").val();
								var bank_name=$("input[name='bank_name2']").val();
								var bank_branch=$("input[name='bank_branch2']").val();
								
								//营业执照
								var zhizhao=$("input[name='zhizhao']").val();
								//开户许可证上传
								var bank_licence_electronic=$("input[name='bank_licence_electronic']").val();
								//运营授权书
								var proxy=$("input[name='proxy']").val();
								var organization_code_electronic=$("input[name='organization_code_electronic']").val();
								var general_taxpayer=$("input[name='general_taxpayer']").val();
								
								if(zhizhao==""){
									alert('请上传营业执照');exit;
								}else if(proxy==""){
									alert('请上传运营授权证书');exit;
								}
								
								$('.infos1').each(function(){
									if($(this).val() == ''){
										oTrue = false;
									}
								});
							}
						
							if(oTrue == false){
								alert('请填写完整所有信息');
							}else{
								$.ajax({
									type:'POST',
									url:'BusinessTwo_save',
									dataType:'json',
									data:{
										business_licence_number:$("input[name='business_licence_number']").val(),
										bank_account_number:bank_account_number,
										bank_name:bank_name,
										bank_branch:bank_branch,
										zhizhao:$("input[name='zhizhao']").val(),
										organization_code_electronic:$("input[name='organization_code_electronic']").val(),
										general_taxpayer:$("input[name='general_taxpayer']").val(),
										bank_licence_electronic:$("input[name='bank_licence_electronic']").val(),
										proxy:$("input[name='proxy']").val(),
										is_three_one:$("input[name='business']:checked").val()
									},
									success:function(data){
										if(data==true){
											//所有判断完成后进行跳转
											window.location="BusinessThree";
										}else if(data=='-1'){
											alert('请填写完整信息');
										}else{
											alert('操作失败');
										}
									},
									error:function(jqXHR){
										alert('系统繁忙！请重试')
									}
								});
							}

						}else{
							alert( "请确认所有信息填写完整，并阅读同意以上协议" );
						}
					});
				})
			</script>
			<script>
				$(function(){
					//图片上传
					var userList = [ "operator-authorization-book","permit-prove-book","permit-prove-Upload","business-licence","organization-code","general-taxpayer-prove","bank-opening-permit-prove","permit-prove-Upload2"];
					var userVal = ["zhizhao","bank_licence_electronic","proxy","zhizhao","organization_code_electronic","general_taxpayer","bank_licence_electronic","proxy"];
					$.each(userList,function(i,item){
						var obj=$('#'+item);
						var val=$("#"+userVal[i]);
						//图片上传
						obj.diyUpload({
							url:'upload',
							success:function( data ) {
								var data=data._raw;
								if(data==2){
									alert('文件过大');
								}else if(data==1){
									alert('上传失败');
								}
								val.val(data);
							},
							error:function( err ) {
								console.info( err );
							},
							buttonText : '',
							chunked:true,
							// 分片大小
							chunkSize:512 * 1024,
							//最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
							fileNumLimit:1,
							//fileSizeLimit:500000 * 1024,
							//fileSingleSizeLimit:50000 * 1024,
							fileSingleSizeLimit:1024 * 1024 * 2,
							accept: {}
						});
					});
				})

			</script>

		</div>


		<include file="public/footer" />
	</body>
</html>
