<include file="public/header" title="{$info.title}" body="g4"/>
<style>
    body{
	    background: #fafafa !important
	}
    .office-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: .58rem;
        position: relative;
        border-bottom: 1px solid #efefef;
		background:#fff;
    }
    .office-title a{
        position: absolute;
        left: .8rem;
        top: .4rem;
        display: block;
        width: .44rem;
        height: .8rem;
        background: url(__MOBILE__/images/btn_more@3x.png) no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
</style>

<div class="office-title"><a href="javascript:history.go(-1);"></a>官方公告</div>

	<div class="help_box" style="margin: 0px; padding: 10px 10px 10px 20px; color: rgb(102, 102, 102); line-height: 18px; font-family: Arial, Verdana, 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);">
		<p style="padding: 0px; margin-top: 0px; margin-bottom: 0px;"><br>
			{$info.content|htmlspecialchars_decode}
		    <!--html_entity_decode-->
		</p>
	</div>


<script type="text/javascript" src="__STATIC__/mobile/js/sourch_submit.js"></script>

</body>
</html>
