<body class="page-header-fixed">

      <div class="form-group">
     <label class="control-label col-md-2">浓缩图片</label>
            <div class="col-md-3"><input type="text" name="art_thumb" id="art-thumb" class="form-control"></div>
            <div class="col-md-2">
                     {// 调用 avatar-view}
                    <a class="btn red btn-outline sbold avatar-view"><i class="glyphicon glyphicon-folder-open"></i> 选择图片</a>
            </div>
            <div class="col-md-3"><div id="preview"></div></div>
     </div>
 
<include file="public/file-thumd-modal">
</body>