<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
    <table>
        <tbody>
        <volist name="openGift" id="list">
            <tr data-id="{$list['log_id']}">
                <td class="sign">
                    <div style="width: 24px;"><i class="ico-check"></i></div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 70px;">{$list.user_id}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 70px;">{$list.open_gift}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 80px;">{$list.business_type}</div>
                </td>
				<td align="left" class="">
                    <div style="text-align: center; width: 70px;">{$list.supplier_name}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 70px;">{$list.total_amount}</div>
                </td>
				 <td align="left" class="">
                    <div style="text-align: center; width: 70px;">{$list.none_portion}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 70px;">{$list.actual_amount}</div>
                </td>
				<td align="left" class="">
                    <div style="text-align: center; width: 80px;">{$list.change_time|date='Y-m-d',###}</div>
                </td>
				<td align="left" class="">
                    <div style="text-align: center; width: 100px;">{$list.desc}</div>
                </td>
                <td align="center" class="handle">
                    <div style="text-align: center; width: 170px; max-width:170px;">
		
					<!--a class="btn blue" href="{:Url('Admin/business/saleDetail',array('id'=>$list['log_id']))}">查看详情</a-->
                   
                    </div>
                </td>
                <td align="" class="" style="width: 100%;">
                    <div>&nbsp;</div>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<!--分页位置-->
{$page}
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid >table>tbody>tr').click(function(){
            $(this).toggleClass('trSelected');
        });
        $('#user_count').empty().html("{$pager->totalRows}");
    });
</script>