<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/shouye.css">
    <title>红礼供应链采购合同模板</title>
</head>

<body>
    <div class="hz_container">
        <div class="htongimg">
            <img src="__MOBILE__/images/contract/cghtong1.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong2.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong3.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong4.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong5.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong6.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong7.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong8.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong9.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong10.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong11.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong12.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong13.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong14.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong15.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong16.png" alt="">
            <img src="__MOBILE__/images/contract/cghtong17.png" alt="">

        </div>
        <div class="btn">
            <a style="text-decoration:none;" href="contract_newpdf.html">
                <div class="edit_button">
                    编辑合同
                </div>
            </a>
        </div>


    </div>
</body>

</html>