<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/me.css">
    <title>电子合同-我的合同</title>
</head>

<body>
    <div class="hz_cont">
        <div class="personinfo">
            <img src="__MOBILE__/images/contract/img_bg@3x.png" alt="" class="img_bg">
            <div class="info">
                <img src="{$user.head_pic}" alt="" class="touxiang">
                <span>{$user.nickname}</span>
            </div>

        </div>
        <div class="fenlei_list">
            <a href="contract_totalhetong">
                <div class="hetonglei">
                    <img src="__MOBILE__/images/contract/icon_contract2@3x.png" alt="">
                    <p class="active">我的合同</p>
                </div>
            </a>
            <img src="__MOBILE__/images/contract/icon_line@3x.png" alt="" class="icon_line">
            <a href="contract_totalhetong/type/1">
            <div class="hetonglei">
                <img src="__MOBILE__/images/contract/icon_up@3x.png" alt="">
                <p>待提交</p>
            </div>
            </a>
            <a href="contract_totalhetong/type/2">
            <div class="hetonglei">
                <img src="__MOBILE__/images/contract/icon_audit@3x.png" alt="">
                <p>待审核</p>
            </div>
            </a>
            <a href="contract_totalhetong/type/3">
            <div class="hetonglei">
                <img src="__MOBILE__/images/contract/icon_audit_wait@3x.png" alt="">
                <p>已审核</p>
            </div>
            </a>

        </div>
        <div class="inquiry">
            <p>咨询我们</p>
            <div class="right">
                <a href="tel:400-089-7879">400-089-7879</a>
                <img src="img/icon_next_gray@3x.png" alt="">
            </div>
        </div>
    </div>

</body>

</html>