<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__MOBILE__/css/charity/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/charity/index.css">
    <script src="__MOBILE__/js/charity/jquery-3.4.1.min.js"></script>
    <script src="__MOBILE__/js/charity/index.js"></script>
    <title>物资全球调拨行动</title>
</head>

<body>
    <div class="container">
        <div>
            <a href="#"><img src="__MOBILE__/images/charity/banner.png" alt="" class="banner"></a>
        </div>
        <div class="contentc">
            <div class="title">
                <h1>武汉加油</h1>
                <img src="__MOBILE__/images/charity/icon_ten@2x.png" alt="" class="icon_ten">
            </div>
            <p>物资全球调拨行动</p>

            <div class="title2">
                <div class="ban"></div>
                <h3>爱在行动</h3>
            </div>
            <p class="server_call">服务热线：<span><a href="tel:400-089-7879">400-089-7879</a> <a href="tel:18038195536">18038195536</a> </span></p>
            <div class="txt_content">
                <p>新型肺炎的疫情让原本欢腾的春节布满了阴霾，短时间不断攀升的疫情数字，让全国人民绷紧心弦。</p>
                <p>在严峻的疫情面前，礼至集团为解决抗疫物资紧缺问题， 帮助企业、员工自用或企业捐赠社会，整合海内外物资资源，抗击疫情。 由此向社会各企业单位发起“物资全球调拨行动”。 万企鼎力，众志成城，为防疫抗疫、战胜病毒贡献力量！
                </p>
                <div class="btn_open">展开更多<img src="__MOBILE__/images/charity/icon_up@2x.png" alt="" class="icon_up"></div>
                <div class="txt_dy hidden">
                    <p>冬已过，春已来。
                    </p>
                    <p>隔离病毒，但绝不会隔离爱！每一份贡献，都是大爱无疆！</p>
                </div>
                <div class="btn_close hidden">收起<img src="__MOBILE__/images/charity/icon_down@2x.png" alt="" class="icon_up"></div>

                <!-- <div class="">

                </div> -->
            </div>
            <div class="title2">
                <div class="ban"></div>
                <h3>物资召集行动</h3>
            </div>
            <div class="form_content">
                <div class="nav_q">
                	<input type="hidden"   name="is_purchase" value="1">
                    <div class="nav active" id="nav1">
                        我要捐赠/自用
                    </div>
                    <div class="nav" id="nav2">
                        我要供货
                    </div>
                    <div class="nav" id="nav3">
                        我要求助
                    </div>
                </div>
                <div class="juanz">
                    <form action="" method="post">
                        <div class="form_bioadn">
                            <p class="form_left">联系人姓名<span class="red">*</span></p>
                            <input type="text" placeholder="请输入联系人姓名" class="form_input" id="material_username"  name="do_name" value="{$charity.do_name}">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">联系方式<span class="red">*</span></p>
                            <input type="text" placeholder="请输入联系方式" class="form_input" id="material_tel"  name="do_phone" value="{$charity.do_phone}">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">企业名称</p>
                            <input type="text" placeholder="请输入企业名称" class="form_input"  name="do_company" value="{$charity.do_company}">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">企业地址</p>
                            <input type="text" placeholder="请选择企业地址" class="form_input"  name="do_address" value="{$charity.do_address}">
                        </div>
                        <div class="form_bioadn" >
                            <p class="form_left">物资用途<span class="red">*</span></p>
                            <input type="text" placeholder="请选择物资用途" class="form_input" id="material_use" readonly   name="is_donate" value="{$charity.is_donate}">
                            <div class="form_right">
                                <div class="jiantou"></div>
                            </div>
                        </div>
                        <div class="form_bioadn hidden" id="gethelp_form">
                            <p class="form_left">受捐方<span class="red">*</span></p>
                            <input type="text" placeholder="请选择受捐方" class="form_input" id="material_accept" readonly   name="beneficiaries" value="{$charity.beneficiaries}">
                            <div class="form_right">
                                <div class="jiantou"></div>
                            </div>
                        </div>
                        <div class="form_bioadn" >
                            <p class="form_left">捐赠/自用物资<span class="red">*</span></p>
                            <input type="text" placeholder="请选择物资类别及数量" class="form_input" id="material_typenum" readonly  name="materials" value="{$charity.materials}">
                            <div class="form_right">
                                <div class="jiantou"></div>
                            </div>
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">捐赠/自用预算<span class="red">*</span></p>
                            <input type="number" placeholder="请输入物资预算" class="form_input" id="material_budget"  name="budget" value="{$charity.budget}">
                            <div class="form_right">
                                <span>元</span>
                            </div>
                        </div>
                        <!-- <p>医院单位可填写默认值“0”</p> -->
                        <p class="att">备注信息</p>
                        <textarea  id="comment" placeholder="如没有您要选择的物资，请在此处备注" class="form_textarea">{$charity.comment}</textarea>
                        <div class="form_submit" id="submitJuan">提交</div>
                    </form>
                </div>
                <div class="gongh hidden">
                    <div class="form_bioadn">
                        <p class="form_left">企业名称</p>
                        <input type="text" placeholder="请输入企业名称" class="form_input"   name="do_company" value="{$charity.do_company}">
                    </div>
                    <div class="form_bioadn">
                        <p class="form_left">联系方式<span class="red">*</span></p>
                        <input type="num" placeholder="请输入联系方式" class="form_input" id="gong_tel"  name="do_phone" value="{$charity.do_phone}">
                    </div>

                    <div class="form_bioadn noborderb">
                        <p class="form_left">供货物资信息</p>
                    </div>
                    <div id='wz'>
                    <if condition="!empty($supply_goods_list)">
	     				<volist name="supply_goods_list" id="list">
	                        <div class="wuz_info active_s">
	                            <div class="form_bioadn">
	                                <p class="form_left">物资品类</p>
	                                	<input type="text" placeholder="请输入物资品类" class="form_input" value="{$list.0}"  name="supply_goods_0[]">
	                            </div>
	                            <div class="form_bioadn">
	                                <p class="form_left">物资型号</p>
	                                <input type="text" placeholder="请输入物资型号" class="form_input" value="{$list.1}"  name="supply_goods_1[]">
	                            </div>
	                            <div class="form_bioadn noborderb">
	                                <p class="form_left">价格区间</p>
	                                <div class="qujian">
	                                    ￥<input type="number" placeholder="请输入" class="form_input_quj" value="{$list.2}"  name="supply_goods_2[]">
	                                    <span class="hg">-</span>￥
	                                    <input type="number" placeholder="请输入" class="form_input_quj" value="{$list.3}"  name="supply_goods_3[]">
	                                </div>
	                                <div class="form_right">
	                                    <span>元</span>
	                                </div>
	                            </div>
	                        </div>
	                    </volist>
                    <else/>
                        <div class="wuz_info active_s">
                            <div class="form_bioadn">
                                <p class="form_left">物资品类</p>
                                	<input type="text" placeholder="请输入物资品类" class="form_input" >
                            </div>
                            <div class="form_bioadn">
                                <p class="form_left">物资型号</p>
                                <input type="text" placeholder="请输入物资型号" class="form_input">
                            </div>
                            <div class="form_bioadn noborderb">
                                <p class="form_left">价格区间</p>
                                <div class="qujian">
                                    ￥<input type="number dg" placeholder="请输入" class="form_input_quj">
                                    <span class="hg">-</span> ￥
                                    <input type="number" placeholder="请输入" class="form_input_quj" >
                                </div>
                            </div>
                        </div>
                    </if>
                        <div class="wuz_info hidden">
                            <div class="form_bioadn">
                                <p class="form_left">物资品类</p>
	                                <input type="text" placeholder="请输入物资品类" class="form_input"    name="supply_goods_0[]">
                            </div>
                            <div class="form_bioadn">
                                <p class="form_left">物资型号</p>
                                <input type="text" placeholder="请输入物资型号" class="form_input"   name="supply_goods_1[]">
                            </div>
                            <div class="form_bioadn noborderb">
                                <p class="form_left">价格区间</p>
                                <div class="qujian">
                                    ￥<input type="number dg" placeholder="请输入" class="form_input_quj" name="supply_goods_2[]">
                                    <span class="hg">-</span> ￥
                                    <input type="number" placeholder="请输入" class="form_input_quj" name="supply_goods_3[]">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 新增物资信息 -->
                    <div class="addwz_info">+新增物资信息</div>
                    </di>
                    <div class="form_submit" id="submitGong">提交</div>
                </div>
        <!-- 我要求助 -->
                <div class="qiuzhu hidden">
                    <form action="" method="post">
                        <div class="form_bioadn">
                            <p class="form_left">单位名称<span class="red">*</span></p>
                            <input type="text" placeholder="请输入单位名称" class="form_input" id="help_name"    name="do_company" value="{$charity.do_company}">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">联系人姓名<span class="red">*</span></p>
                            <input type="text" placeholder="请输入单位联系人姓名" class="form_input" id="help_username" name="do_name_s" value="{$charity.do_name}">

                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">联系方式<span class="red">*</span></p>
                            <input type="number" placeholder="请输入联系方式" class="form_input" id="help_tel" name="do_phone" value="{$charity.do_phone}">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">单位地址</p>
                            <input type="text" placeholder="请输入单位地址" class="form_input" id="help_address" name="do_address_s" value="{$charity.do_address}">
                        </div>
                        <div class="form_bioadn">
                            <p class="form_left">求助物资<span class="red">*</span></p>
                            <input type="text" placeholder="请选择物资类别及数量" class="form_input" id="help_typenum" readonly  name="materials_s" value="{$charity.materials_s}">
                            <div class="form_right">
                                <div class="jiantou"></div>
                            </div>
                        </div>
                        <p class="att">备注信息</p>
                        <textarea  id="comment_s"  placeholder="如没有您需要的物资，请在此处备注" class="form_textarea">{$charity.comment}</textarea>


                        <div class="form_submit" id="submitHelp">提交</div>
                    </form>
                </div>
            </div>

        </div>
        <!-- 成功以及失败的提示框 -->
        <div class="notice hidden">提示内容</div>
        <!-- 底部选择内容 -->
        <div class="wrap hidden"></div>
        <!-- 物资用途选择 -->
        <div class="goods_use_tc hidden">
            <div class="btn_confirm">
                <p>选择物资用途</p>
                <div class="btn_sure" id="goods_use">确定</div>
            </div>
            <div class="fengexin"></div>
            <ul class="xuan_content">
                <li><input type="radio" name="goodsuse" value="爱心捐赠">爱心捐赠</li>
                <li><input type="radio" name="goodsuse" value="企业自用">企业自用</li>
            </ul>
        </div>
        <!-- 物资类型以及数量选择 -->
        <div class="goods_typenum_tc hidden">
            <div class="btn_confirm">
                <p>选择物资类别及数量<span>（可多选）</span></p>
                <div class="btn_sure" id="goods_typn">确定</div>
            </div>
            <div class="fengexin"></div>
            <ul class="xuan_content">
                <li><input type="checkbox" name="goodstype" value="N95口罩">N95口罩
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="一次性使用医用口罩">一次性使用医用口罩
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="速干手消液">速干洗手液
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="医用消毒液">医用消毒水
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="测温枪">测温枪
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="护目镜">护目镜
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="自动感应消毒机">自动感应消毒机
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 物资类型以及数量选择 -->
        <div class="goods_typenum_tc2 hidden">
            <div class="btn_confirm">
                <p>选择物资类别及数量<span>（可多选）</span></p>
                <div class="btn_sure" id="helps_typn">确定</div>
            </div>
            <div class="fengexin"></div>
            <ul class="xuan_content">
                <li><input type="checkbox" name="goodstype" value="N95口罩">N95口罩
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="医用外科口罩">医用外科口罩
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="速干手消液">速干洗手液
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="医用消毒液">医用消毒水
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="测温枪">测温枪
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="护目镜">护目镜
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
                <li><input type="checkbox" name="goodstype" value="自动感应消毒机">自动感应消毒机
                    <div class="goods_num hidden">
                        <div class="num active">500-1000</div>
                        <div class="num">1001-5000</div>
                        <div class="num">5001-10000</div>
                        <div class="num">100001-50000</div>
                        <div class="num">50000以上</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="goods_typenum_tc3 hidden">
            <div class="btn_confirm">
                <p>选择受捐方</p>
                <div class="btn_sure" id="gethelp_typn">确定</div>
            </div>
            <div class="fengexin"></div>
            <ul class="xuan_content" id="donationlist">
                <li><input type="radio" name="donation" value="1"> 向公众捐赠
                    <span class="txt_gray">（将免费发放给社会公众）</span>
                </li>
                <li><input type="radio" name="donation" value="2">自定义单位
                    <input type="text" placeholder="请输入单位名称" class="gethelp_danyuan">
                </li>
                <li><input type="radio" name="donation" value="3">选择医疗单位
                    <div class="goods_num hidden" id="get_doctor">
                    <volist name="charity_assign_list" id="list">
                        <div class='num  <if condition="$charity_assign.do_company eq $list['do_company']"> active </if>'>{$list['do_company']}</div>
                    </volist>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tishikuang hidden">
            <div class="p1">您的表单提交成功，感谢您的填写。稍后会有工作人员联系您。</div>
            <div class="sure_tis">确定</div>
        </div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js "></script>
<script>
    //通过config接口注入权限验证配置
     // alert(location.href.split('#')[0]);
    wx.config({
        //debug : true,
        debug : false, 
        appId: '<?php echo $signPackage["appId"];?>',// 
        timestamp: '<?php echo $signPackage["timestamp"];?>',//生成签名的时间戳
        nonceStr: '<?php echo $signPackage["nonceStr"];?>',//生成签名的随机串
        signature: '<?php echo $signPackage["signature"];?>',

      jsApiList : ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo']

    });
	console.log(wx.config);
    wx.ready(function(){

      var
                s_title = '礼至集团发起‘抗疫救灾’物资全球调拨行动！',  // 分享标题

                s_link = 'https://www.yilitong.com/Mobile/Charity/MedicalCharity.html',  // 分享链接

                s_desc = '冬已过，春已来。隔离病毒，但绝不会隔离爱。每一份贡献，都是大爱无疆！',  //分享描述

                s_imgUrl = 'http://www.yilitong.com/__MOBILE__/images/charity/icon_ai.jpg'; // 分享图标

      //朋友圈

      wx.onMenuShareTimeline({

        title: s_title, // 分享标题

        link: s_link, // 分享链接

        imgUrl: s_imgUrl, // 分享图标

        success: function () { },

        cancel: function () { }

      });

      //发送给好友

      wx.onMenuShareAppMessage({

        title: s_title, // 分享标题

        desc: s_desc, // 分享描述

        link: s_link, // 分享链接

        imgUrl: s_imgUrl, // 分享图标

        type: '', // 分享类型,music、video或link，不填默认为link

        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空

        success: function () {},

        cancel: function () {}

      });

      //QQ好友

      wx.onMenuShareQQ({

        title: s_title, // 分享标题

        desc: s_desc, // 分享描述

        link: s_link, // 分享链接

        imgUrl: s_imgUrl, // 分享图标

        success: function () { },

        cancel: function () { }

      });

      //腾讯微博

      wx.onMenuShareWeibo({

        title: s_title, // 分享标题

        desc: s_desc, // 分享描述

        link: s_link, // 分享链接

        imgUrl: s_imgUrl, // 分享图标

        success: function () { },

        cancel: function () { }

      });

    });

</script>
<script>
    $(document).ready(function(){
		if (('{$charity.is_donate}' == '爱心捐赠' || '{$charity.is_donate}' == '爱心捐赠,企业自用')&&{$charity.is_purchase} == 1  ) {
	        $('#gethelp_form').removeClass('hidden');
		}
    });
	$("div .form_submit").click(function(){
	    var supply_goods_0=[];
	    var supply_goods_1=[];
	    var supply_goods_2=[];
	    var supply_goods_3=[];
        for(var j=0;j<$(".wuz_info").length-1;j++){
            if($(".wuz_info").eq(j).find("input[name='supply_goods_0[]']").val()!=''){
                supply_goods_0[j]=$(".wuz_info").eq(j).find("input[name='supply_goods_0[]']").val();
            }
            if($(".wuz_info").eq(j).find("input[name='supply_goods_1[]']").val()!=''){
                supply_goods_1[j]=$(".wuz_info").eq(j).find("input[name='supply_goods_1[]']").val();
            }
            if($(".wuz_info").eq(j).find("input[name='supply_goods_2[]']").val()!=''){
                supply_goods_2[j]=$(".wuz_info").eq(j).find("input[name='supply_goods_2[]']").val();
            }
            if($(".wuz_info").eq(j).find("input[name='supply_goods_3[]']").val()!=''){
                supply_goods_3[j]=$(".wuz_info").eq(j).find("input[name='supply_goods_3[]']").val();
            }
        }
		var value={
		    is_purchase:$("input[name='is_purchase']").val(),
		    is_donate:$("input[name='is_donate']").val(),
		    budget:$("input[name='budget']").val(),
		    do_name:$("input[name='do_name']").val(),
		    do_name_s:$("input[name='do_name_s']").val(),
		    do_phone:$("input[name='do_phone']").val(),
		    do_company:$("input[name='do_company']").val(),
		    do_address:$("input[name='do_address']").val(),
		    do_address_s:$("input[name='do_address_s']").val(),
		    supply_goods_0:supply_goods_0,
		    supply_goods_1:supply_goods_1,
		    supply_goods_2:supply_goods_2,
		    supply_goods_3:supply_goods_3,
		    comment:$("#comment").val(),
		    comment_s:$("#comment_s").val(),
		    materials:$("input[name='materials']").val(),
		    materials_s:$("input[name='materials_s']").val(),
		    beneficiaries:$("input[name='beneficiaries']").val(),
		}
            console.log(value);
	    if (value.is_donate != '' && value.materials != '' && value.budget != '' && value.do_name != '' && value.do_phone != '') {
	    	if (value.is_purchase == 1 && (((value.is_donate == '爱心捐赠' || value.is_donate == '爱心捐赠,企业自用' ) && value.beneficiaries != '' ) || value.is_donate == '企业自用')) {
			    $.ajax({
			        type: "POST",
			        url: "{:Url('Mobile/Charity/add_charity')}",
			        data:value,
			        dataType: "json",
			        success: function (data) {
			          if (data.status == 1) {
			              layer.msg(data.msg, {icon: 1});
			              location.href = "javascript:history.back(-1);";
			          }
			        },
			        error: function () {
			          layer.alert("服务器繁忙, 请联系管理员!");
			        },
			    });
	    	}
	    }
        if(value.is_purchase == 2 && value.do_phone != '' ){
		    $.ajax({
		        type: "POST",
		        url: "{:Url('Mobile/Charity/add_charity')}",
		        data:value,supply_goods_0,supply_goods_1,supply_goods_2,supply_goods_3,
		        dataType: "json",
		        success: function (data) {
		          if (data.status == 1) {
		              layer.msg(data.msg, {icon: 1});
		              location.href = "javascript:history.back(-1);";
		          }
		        },
		        error: function () {
		          layer.alert("服务器繁忙, 请联系管理员!");
		        },
		    });
	    }
        if(value.is_purchase == 3 && value.materials_s != '' && value.do_company != '' && value.do_name_s != '' && value.do_phone != ''){
		    $.ajax({
		        type: "POST",
		        url: "{:Url('Mobile/Charity/add_charity')}",
		        data:value,
		        dataType: "json",
		        success: function (data) {
		          if (data.status == 1) {
		              layer.msg(data.msg, {icon: 1});
		              location.href = "javascript:history.back(-1);";
		          }
		        },
		        error: function () {
		          layer.alert("服务器繁忙, 请联系管理员!");
		        },
		    });
	    }
	})
</script>
</body>
</html>