<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计师-我的账户-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/static/js/layer/layer.js"></script><!-- 弹窗js 参考文档 http://layer.layui.com/-->
    <script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">
	<link rel="stylesheet" href="__STATIC__/css/page.css" type="text/css">
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
</head>

<body style="background:#f7f7f7;">
<!--最顶部-->
<include file="public/siteTopbar" />

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<div class="user-home" style="background:#2e2e2e;">
    <div class="inner clearfix">
        <div class="logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
                <p>（返回一礼通商城首页）</p>
            </a>
        </div>
        <a href="{:Url('Home/User/index')}" class="exit">退出设计师后台</a>
    </div>
</div>


<div class="inner clearfix m-top-20">
    <!-- design-left  start -->
    <include file="public/designerLeftNav" />
    <!-- designer-left end -->

    <!-- design-right  start -->
    <div class="design-authentication-index">
        <div class="design-authentication-index-col">
            <p class="trade-title">我的收支<span style="font-size:12px;color:#ccc;font-weight:normal;padding-left:10px;">--提现</span><a href="javascript:history.go(-1);">返回上级</a></p>
        </div>

        <div class="design-authentication-index-col" style="margin-top:2px;">
            <p class="income-pay-title">提现明细<a href="{:url('Home/Designer/DrawCash')}">去提现</a></p>
        </div>

        <div class="design-authentication-index-col" style="margin-top:1px;padding-bottom:60px;">
            <ul class="withdraw-cash-list-title">
                <li>创建时间</li>
                <li>提现金额</li>
                <li>提现账号</li>
                <li>提现编号</li>
                <li>提现状态</li>
            </ul>
           		 <foreach name="account_list" item="vo">
            <ul class="withdraw-cash-list-col">
                <li>{$vo.add_time|date='Y-m-d H:i',###}</li>
                <li>{$vo.money_num}</li>
                <li>{$vo.account}</li>
                <li>{$vo.odd_numbers|default='&nbsp;'}</li>
                <li>
                    <span class="blue"><if $vo.status eq 0>提现中<else>提现成功</if></span>
                </li>
            </ul>
			 </foreach>
            
        </div>
		 <div class="fn-page-css-1 pagintion fix" style="display: block;">
				<div class="pagenavi text12">{$page->show()}</div>
			  </div>
    </div>
    <!-- designer-right end -->
</div>

<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->


<script type="text/javascript">

    $(function(){
        $('.works-type-list dd,.works-states dd').each(function () {
            $(this).on('click',function () {
                $(this).addClass('type-cur').siblings('dd').removeClass('type-cur');
            })
        })
    })


</script>
</body>
</html>