<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计师-上传作品-{$config['shop_info_store_title']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="keywords" content="{$config['shop_info_store_keyword']}" />
    <meta name="description" content="{$config['shop_info_store_desc']}" />
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">

    <link rel="stylesheet" href="__STATIC__/css/user-new-style.css">
    <link rel="stylesheet" href="__STATIC__/css/designer.css">

    <link rel="stylesheet" href="__BUSINESS__/style/diyUpload.css" />
    <link rel="stylesheet" href="__BUSINESS__/style/webuploader.css" />
    

    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor_php/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor_php/ueditor.all.min.js"> </script>

    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<10){
            alert("您的IE浏览器版本过低，为增加更好的使用体验，请下载IE10及以上版本或者使用谷歌，火狐，搜狗，360等其它浏览器");
        }
    </script>
    <style>

        /*#imgsUpload{*/
            /*overflow:hidden;*/
            /*border-radius:4px;*/
            /*width:80px;*/
            /*height:30px;*/
            /*line-height:50px;*/
        /*}*/
        /*.webuploader-pick{*/
            /*width:100%;*/
            /*height:100%;*/
            /*text-align:center;*/
            /*padding:0;*/
            /*background:#efefef;*/
            /*color:#888;*/
            /*line-height:50px;*/
        /*}*/
        .fileBoxUl li{
            width: 150px !important;
            height:150px !important;
            overflow:hidden;
        }
        .fileBoxUl li .viewThumb{
            width: 100% !important;
            height:100% !important;
            border-radius:4px;
        }
        .fileBoxUl li .viewThumb img{
            width:100% !important;
            height:auto;
        }
    </style>
</head>

<body style="background:#f7f7f7;"  class="page-header-fixed">
<!--最顶部-->
<include file="public/siteTopbar" />
<include file="public/works-thumd-modal">

<!--------在线客服-------------->
<include file="public/service" />
<!--------在线客服-------------->

<div class="user-home">
    <div class="inner clearfix">
        <div class="logo-home">
            <a href="/">
                <img src="__STATIC__/images/userIndexLogo.png" alt="logo">
                <p>（返回一礼通商城首页）</p>
            </a>
        </div>
        <a href="{:Url('Home/User/Index')}" class="exit">退出设计师后台</a>
    </div>
</div>


<div class="inner clearfix m-top-20" style="padding-bottom:80px;">
    <!-- design-left  start -->
    <div class="design-menu" style="background:#fff;">
        <ul class="designer-works-upload-menu">
            <li><a href="">上传作品</a></li>
            <li><a href="{:Url('Home/Designer/DesignsList')}">在售作品</a></li>
        </ul>
    </div>
    <!-- designer-left end -->

    <!-- design-right  start -->
    <div class="design-authentication-index">
        <!-- <form> -->
        <form class="form-horizontal" id="handleposition" method="post">
            <input type="hidden" name="user_id" id="user_id" value="{$info.user_id}">
            <div class="design-authentication-index-col">
                <div class="works-upload-title"><p class="works-title">发布作品</p></div>
            </div>
            <div class="design-authentication-index-col marginTop10">
                <div class="works-upload-title"><p class="works-info-title">作品信息</p></div>
                <div class="infos-col">
                    <label><span>*</span>作品名称</label>
                    <input type="text" name="works_name" value="{$info.works_name}" class="infos-text" placeholder="请输入作品名称，最多40字">
                </div>
                <div class="infos-col">
                    <label><span>*</span>作品类型</label>

                    <div class="works-type-select">

                     <select name="cat_id" class="infos-text-type" value="{$info.cat_id}" style="width:150px;margin-right:5px;margin-left:5px">
                        <option value="0">请选择</option>
                        <foreach name="works_cat" item="vo">
                          <option value="{$vo.id}" <if $info.cat_id eq $vo.id >selected="selected"</if>>{$vo.name}</option>
                        </foreach>
                     </select>

                    </div> 
                </div>
            </div>

            <div class="design-authentication-index-col marginTop10">
                <div class="works-upload-title"><p class="works-info-title">作品详情<span style="font-size:12px;color:#999;padding-left:20px;font-weight:normal;">注：请使用微软雅黑字体增强用户体验</span></p></div>
                <div class="imgsUpload-area" style="width:100%;">
                    <script id="editor" type="text/plain" style="width:845px;box-sizing:border-box;height:560px;max-height:800px;overflow-y:auto;overflow-x:hidden;">
                       {$info.works_content}
                    </script>
                </div>
            </div>

            <div class="design-authentication-index-col marginTop10">
                <div class="works-upload-title"><p class="works-info-title">上传封面</p></div>
                <div class="imgsUpload-area">                 
                    <img id="worksImg"  onclick="showModal()" src="{$info.works_img|default='__STATIC__/images/addPic_icon.png'}" width="280" height="180" style="display:block;cursor:pointer;" alt="">
                    <div class="limit-tips">请上传560*360像素，格式为jpg、gif、png的图片</div>
                </div>
            </div>
            
            <input type="hidden" name="works_img" id="works_img-1" value="{$info.works_img}" >
            <input type="hidden" name="works_id" id="works_id" value="{$info.works_id}">
            
        </form>
        <div class="marginTop10 works-submit">
            <a href="javascript:void(0);" onclick="submit_works()">发布</a>
           <!--  <a href="javascript:void(0);" onclick="submit_preview()">预览</a> -->
            <!-- <a href="{:Url('Home/Designer/DesignsPreview')}" id="preview">预览</a> -->
        </div>
    </div>
    <!-- designer-right end -->
</div>

<!--------footer-开始-------------->
<include file="public/footer" />
<!--------footer-结束-------------->

<script src="__PUBLIC__/static/js/layer/layer.js"></script>
<script src="__BUSINESS__/js/webuploader.html5only.min.js"></script>
<script src="__BUSINESS__/js/diyUpload.js"></script>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    //发布
    function submit_works() {
        //var getValue = $("#infos-introduction").value;
        //var endValue = ((getValue.replace(/<(.+?)>/gi,"&lt;$1&gt;")).replace(/ /gi,"&nbsp;")).replace(/\n/gi,"|");
        if($("input[name='works_name']").val() == ''){
            layer.alert('作品名称不能为空');
            return false;
        }else if($("input[name='cat_id']").val() == ''){
            layer.alert('作品类型不能为空');
            return false;
        }else if($("input[name='editorValue']").val() == ''){
            layer.alert('请上传作品详情');
            return false;
        }else if($("input[name='works_img']").val() == ''){
            layer.alert('请上传作品封面');
            return false;
        }else{
            $.ajax({
                type:'POST',
                url:"{:Url('Home/Designer/AddDesignsUpload')}",
                data: $('#handleposition').serialize(),
                dataType:'json',
                success:function (data) {
                    if(data.status== 1){
                        layer.msg(data.msg,{
                            icon:1,
                            time:1000
                        },function(){
                             //location.href = "{:Url('Home/Designer/DesignsList')}";
                             location.href = "{:Url('Home/Designer/WorksList')}";
                        });
                    }else if(data.status== -1){
                        layer.alert(data.msg);
                    }else{
                        layer.alert('操作失败');
                    }
                },
                error:function (jqXHR) {
                    layer.alert('系统繁忙！请重新再试');
                }

            })
        }
    }
    
  

    $(function(){
        $('.works-type-list dd,.works-states dd').each(function () {
            $(this).on('click',function () {
                $(this).addClass('type-cur').siblings('dd').removeClass('type-cur');
            })
        });
        $('.works-type-select').on('click',function () {
            $('.works-type-select-list').css('display','block');
        });

        $('.works-type-select-list li').each(function () {
            var vals = $(this).text();
            $(this).on('click',function () {
                $('.infos-text-type').val(vals);
                $('.works-type-select-list').css('display','none');
                //alert(vals)
            })
        });

        $('.works-type-select').mouseleave(function () {
            $('.works-type-select-list').css('display','none');
        });

        //作品封面上传
        var imgBook = ["works_img"];  //图片按钮
        var imgBookVal = ["works_img-1"];  //上传图片的值
        $.each(imgBook,function(i,item){
            var obj = $('#' + item);
            var val = $("#" + imgBookVal[i]);
            //图片上传
            obj.diyUpload({
                url:'upload',
                success:function( data ) {
                    var data = data._raw;
                    if(data == 2){
                        alert('文件过大');
                    }else if(data == 1){
                        alert('上传失败');
                    }
                    val.val(data);
                },
                error:function( err ) {
                    console.info( err );
                },
                buttonText : '',
                chunked:true,
                // 分片大小
                chunkSize:512 * 1024,
                //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
                fileNumLimit:1,
                //fileSizeLimit:500000 * 1024,
                //fileSingleSizeLimit:50000 * 1024,
                fileSingleSizeLimit:1024 * 1024 * 2,
                accept: {}
            });
        });
    })


</script>
</body>
</html>