<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="keywords" content="{$config['shop_info_store_keyword']}">
    <meta name="description" content="{$config['shop_info_store_desc']}">
    <title>每周新品</title>
    <link rel="stylesheet" href="__STATIC__/css/page.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/category.css" type="text/css">
    <link rel="stylesheet" href="__BUSINESS__/style/businessStore.css">
    <style>
        .slides li a img{
            margin-left:360px;
        }

    </style>
</head>
<body style="background-color:#f9f9f9;overflow-x:hidden;">
    <!--------头部开始-------------->
    <include file="public/businessHeader" />
    <!--------头部结束-------------->
    <script src="__PUBLIC__/js/pc_common.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>


    <div class="inner" style="height:40px;line-height:40px;">
        <ul class="store-bar">
            <li>一礼通自营店铺</li>
            <li><a href="#" id="attention">+关注</a></li>
            <li><a href="#" onclick="collect_stores(stores_id)">收藏</a></li>
        </ul>
    </div>
    <div class="shop-sign">
        <img src="__STATIC__/images/b.jpg" alt="">
    </div>

    <div class="store-nav">
        <div class="inner">
            <ul class="store-nav-list">
                <li style="padding-left:0;"><a href="{:Url('Home/Supplier/businessStoreHome')}">首页</a></li>
                <li><a href="{:Url('Home/Supplier/businessStoreCategory')}">全部商品</a></li>
                <li><a href="{:Url('Home/Supplier/businessStoreInfos')}" class="navLi-cur">店铺简介</a></li>
            </ul>
        </div>
    </div>


    <div class="inner">
        <div class="store-container">
            <div class="store-logo"></div>
            <div class="store-infos">
                <ul>
                    <li>店铺名称：<span>一礼通自营店</span></li>
                    <li>联系电话：<span>400-089-7879</span></li>
                    <li>开店时间：<span>2017-07-19</span></li>
                    <li>联系地址：<span>广东省深圳市福田区腾飞工业大厦</span></li>
                    <li>联系人：<span>李小姐</span></li>
                    <li>经营范围：<span class="introduction">店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介</span></li>
                </ul>
            </div>
        </div>
    </div>


    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->

    <script src="js/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function(){
            //店铺加关注
            var attention = function(stores_id){
                var data = {
                    "id":stores_id
                }
                $.ajax({
                    type:'POST',
                    url:'/index.php?m=Home&c=stores&a=collect_stores&stores_id="+stores_id',
                    data:data,
                    dataType:'json',
                    success:function(data){
                        if(data.success){
                            $('#attention').text('取消关注');
                        }else{
                            $('#attention').text('+关注');
                        }
                    }
                })
            }


            //产品预览切换 功能
            $('.pro-img-tab').each(function(){
                $(this).children().each(function(){
                    $(this).hover(function(){
                        $(this).addClass('curBorder');
                        $(this).siblings().removeClass('curBorder');
                        $(this).parent().siblings('.pro-img').children().children().attr('src',$(this).children().attr('src'))
                    })
                });
//                $(this).mouseleave(function(){
//                    $(this).children().removeClass('curBorder');
//                })
            });


        })
    </script>

</body>
</html>
