<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="keywords" content="{$config_info['store_keyword']}">
    <meta name="description" content="{$config_info['store_desc']}">
    <title>{$info.supplier_name}-商品列表-一礼通</title>
    <link rel="stylesheet" href="__STATIC__/css/page.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/category.css" type="text/css">
    <link rel="stylesheet" href="__BUSINESS__/style/businessStore.css">

    <style>
        .slides li a img{
            margin-left:360px;
        }


        .reorder-list .curColor a{
            color: #e6002d;
        }

    </style>
</head>
<body style="background-color:#f9f9f9;overflow-x:hidden;">
    <!--------头部开始-------------->
    <include file="public/head2" />
    <!--------头部结束-------------->
    <script src="__PUBLIC__/js/pc_common.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>


    <div class="inner" style="height:40px;line-height:40px;">
        <ul class="store-bar">
            <li>{$info.supplier_name}</li>
            <!--<li><a href="#" id="attention">+关注</a></li>-->
            <li><a href="#" onclick="collect_stores({$info.supplier_id})">收藏</a></li>
        </ul>
    </div>
    <div class="shop-sign">
        <img src="<if $config_info.store_banner != ''>{$config_info.store_banner}<else>__STATIC__/images/supplier_sign.jpg</if>" alt="">
    </div>

    <div class="store-nav">
        <div class="inner">
            <ul class="store-nav-list">
                <li style="padding-left:0;"><a href="{:Url('Home/Supplier/StoreHome',array('id'=>$info['supplier_id']))}">首页</a></li>
                <li><a href="{:Url('Home/Supplier/StoreCategory',array('id'=>$info['supplier_id']))}" class="navLi-cur">全部商品</a></li>
                <li><a href="{:Url('Home/Supplier/StoreInfos',array('id'=>$info['supplier_id']))}">店铺简介</a></li>
            </ul>
        </div>
    </div>


    <div class="inner">
        <!-- 产品分类 s -->
        <div class="types">
            <h5>产品分类</h5>
            <ul class="types-list">
             <foreach name="category" item="v" key="k">
                <li><a href="<?php echo urldecode(Url("/Home/Supplier/StoreCategory",array_merge($filter_param,array('extend_cat_id'=>$v['id'])),''));?>">{$v.name}<span></span></a></li>
            </foreach>
         
            </ul>
        </div>
        <!-- 产品分类 e -->

        <!-- 按需排序 s -->
        <ul class="reorder">
            <if class="reorder-list">
                <!-------------------   筛选 ------------------------->
        <li <if $Request.param.sort eq ''>class="curColor"</if>> <a class="col7ac  <if condition="$Request.param.sort eq ''">main</if>" href="<?php echo urldecode(Url("/Home/Supplier/StoreCategory",$filter_param,''));?>" style="cursor:pointer;"> 综合 </a> </li>
        <li <if $Request.param.sort eq 'sales_sum'>class="curColor"</if>> <a class="col7ac  <if condition="$Request.param.sort eq 'sales_sum'">main</if>" href="<?php echo urldecode(Url("/Home/Supplier/StoreCategory",array_merge($filter_param,array('sort'=>'sales_sum')),''));?>" style="cursor:pointer;"> 销量 </a> </li>
                
        <if condition="$Request.param.sort_asc eq 'desc'">
            <li <if $Request.param.sort eq 'shop_price'>class="curColor"</if>><a class="col7ac  <if condition="$Request.param.sort eq 'shop_price'">main</if>" href="<?php echo urldecode(Url("/Home/Supplier/StoreCategory",array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'asc')),''));?>" style="cursor:pointer;">价格<span class="icon_s "></span></a></li>
        <else />
            <li <if $Request.param.sort eq 'shop_price'>class="curColor"</if>><a class="col7ac  <if condition="$Request.param.sort eq 'shop_price'">main</if>" href="<?php echo urldecode(Url("/Home/Supplier/StoreCategory",array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'desc')),''));?>" style="cursor:pointer;">价格<span class="icon_s "></span></a></li>
        </if>    
        <li <if $Request.param.sort eq 'is_new'>class="curColor"</if>><a class="col7ac  <if condition="$Request.param.sort eq 'is_new'">main</if>"  href="<?php echo urldecode(Url("/Home/Supplier/StoreCategory",array_merge($filter_param,array('sort'=>'is_new')),''));?>" style="cursor:pointer;">新品</a></li>
            </ul>
        </ul>
        <!-- 按需排序 s -->

        <!-- 热销推荐 s -->
        <div class="pro-container">
            <div class="pro-type-tab">
             <foreach name="goods_list" item="v" key="k">
                <div class="pro-col">
                    <div class="pro-img"><a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}">
                        <img src="{$v.goods_thumb}" alt="{$v.goods_name}">
                    </a></div>

                    <div class="pro-price">
                        <p class="now-price">¥<strong>{$v[shop_price]}</strong></p>
                        
                    </div>
                    <a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}" class="pro-title" title="{$v.goods_name}">{$v.goods_name}</a>
                    <div class="business-infos">
                        <!--<a href="{:Url('Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}" class="business-name" title="{$info.supplier_name}">{$info.supplier_name}</a>-->
                        <if condition="!empty($v.goods_spec)">
                            <foreach item="vs" key="key" name="v[goods_spec]" >
                                <a href="javascript:void(0);" class="join-buy-car" title="加入购物车" onclick="Cartss({$v[goods_id]},1,'{$key}',{$vs[0][item_id]},'{$vs[0][p_id]}')"><img src="__STATIC__/images/buyCarIco.png" alt="加入购物车"></a>
                            </foreach> 
                        <else/>
                            <a href="javascript:void(0);" class="join-buy-car" title="加入购物车" onclick="Cartss({$v[goods_id]},1,'','','')"><img src="__STATIC__/images/buyCarIco.png" alt="加入购物车"></a>
                        </if>
                        
                        <!-- <a href="javascript:void(0);" class="join-buy-car" title="加入购物车" onClick="javascript:AjaxAddCart({$v[goods_id]},1,0);"><img src="__STATIC__/images/buyCarIco.png" alt="加入购物车"></a> -->
                    </div>
                </div>
             </foreach>
            </div>
        </div>
        <!-- 热销推荐 e -->
            <!-- Page -->
      
    </div>
     <div class="fn-page-css-1 pagintion fix" style="display: block;width:1200px;margin:0 auto 50px auto;">
        <div class="pagenavi text12" style="margin:0 auto;">{$page->show()}</div>
      </div>

    <!-- 加入购物车 start -->
    <div style="display:none;" id="shopdilog">
        <div class="ui-popup ui-popup-modal ui-popup-show ui-popup-focus">
            <div i="dialog" class="ui-dialog">
                <div class="ui-dialog-arrow-a"></div>
                <div class="ui-dialog-arrow-b"></div>
                <table class="ui-dialog-grid">
                    <tbody>
                    <tr>
                        <td i="body" class="ui-dialog-body">
                            <div i="content" class="ui-dialog-content" id="content:1459321729418" style="width: 450px; height: auto;">
                                <div id="addCartBox" class="collect-public" style="display: block;">
                                    <div class="colect-top">
                                        <i class="colect-icon"></i>
                                        <!--<i class="colect-fail"></i>-->
                                        <div class="conect-title">
                                            <span>添加成功</span>
                                            <div class="add-cart-btn fn-clear">
                                                <a href="javascript:;" class="ui-button ui-button-f80 fl go-shopping">继续购物</a>
                                                <a href="{:Url('Home/Cart/index')}" class="ui-button ui-button-122 fl">去购物车结算</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td i="footer" class="ui-dialog-footer" style="display: none;">
                            <div i="statusbar" class="ui-dialog-statusbar" style="display: none;"></div>
                            <div i="button" class="ui-dialog-button"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 加入购物车 end -->


    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->

    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script>
        window.onload = function () {
            var aLi = document.querySelector(".pro-img-tab").getElementsByTagName('li');

            for(var i=0;i<aLi.length;i++){
                if(i > 6){
                    aLi[i].style.display='none';
                }
            }
        }
    </script>
    <script>
        $(document).ready(function(){

            //排序
            $('.reorder-list li a').click(function(){
                $(this).css('color','#ff0000');
                $(this).parent().siblings().children().css('color','#333')
            })

            //产品预览切换 功能
            $('.pro-img-tab').each(function(){
                $(this).children('li').each(function(){
                    $(this).hover(function(){
                        $(this).addClass('curBorder').siblings().removeClass('curBorder');
                        $(this).parent().siblings('.pro-img').find('a').children().attr('src',$(this).children().attr('data-img'))
                    })
                });
            });
        })

        function Cartss(goods_id,goods_num,goods_key,goods_val,spec_id){
            var value={
                    goods_id:goods_id,
                    goods_num:goods_num,
                    goods_val:goods_val,
                    goods_key:goods_key,
                    spec_id:spec_id,
                }
                  // console.log(value);
                $.ajax({
                    type : "POST",
                    url:"/Mobile/Cart/ajaxAddCart",
                    data :value,
                    dataType:'json',
                    success: function(data){
                    if(data.status == 1){
                        cart_num = parseInt($('#cart_quantity').html())+parseInt(goods_num);
                        $('#cart_quantity').html(cart_num)
                        layer.open({
                              type: 2,
                              title: '温馨提示',
                              skin: 'layui-layer-rim', //加上边框
                              area: ['490px', '386px'], //宽高
                              content:"/Home/Goods/open_add_cart"
                        }); 
                    }else{
                        alert(data.msg);
                    }
                    return false;
                }
            })
        }
    </script>

</body>
</html>
