<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes” />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="keywords" content="{$config['shop_info_store_keyword']}">
    <meta name="description" content="{$config['shop_info_store_desc']}">
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" media="screen"/>
    <title>企业采集单</title>
    <link rel="stylesheet" href="__BUSINESS__/style/businessBuyerCase.css">
    <style>
        .slides li a img{
            margin-left:360px;
        }

    </style>
</head>
<body style="">
    <!--------头部开始-------------->
    <include file="public/header" />
    <!--------头部结束-------------->

    <div class="inner">
        <!-- 企业采集单 s -->
        <div class="purchase-container" style="margin:50px 0;">
            <div class="row">
                <div class="col-left">
                    <dl class="col-title">
                        <dt></dt>
                        <dd>深圳市礼至礼品集团中秋购物单(这里是购物清单标题)</dd>
                    </dl>
                    <ul class="trade-infos">
                        <li>询价时间：<span>2017.7.24</span></li>
                        <li>报价截止：<span>2017.10.30</span></li>
                        <li>期望收货：<span>2017.9.24</span></li>
                        <li>收货地址：<span>深圳市</span></li>
                    </ul>
                </div>
                <div class="col-right">
                    <h2 class="company-name">深圳市礼至礼品集团有限公司</h2>
                    <p class="strength">实力卖家</p>
                    <p class="enter-time">商家入驻时间：<span>2015-2-28</span></p>
                    <p class="enter-store"><a href="#">进入店铺</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-left">
                    <dl class="col-title">
                        <dt></dt>
                        <dd>询价产品</dd>
                    </dl>
                    <ul class="trade-infos">
                        <li>产品名称：<span>蓝牙耳机</span></li>
                        <li>产品数量：<span>12203</span></li>
                        <li>品牌要求：<span>李宁</span></li>
                        <li>是否定制：<span>否</span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-left">
                    <dl class="col-title">
                        <dt></dt>
                        <dd>对供应商要求</dd>
                    </dl>
                    <ul class="trade-infos">
                        <li>收货地：<span>广东深圳</span></li>
                        <li>发票要求：<span>增值税专用发票</span></li>
                        <li>所在地区：<span>广东，海南，上海，北京，浙江，湖南，江苏，福建,广东，海南，上海，北京，浙江，湖南，江苏，福建,广东，海南，上海，北京，浙江，湖南，江苏，福建,广东，海南，上海，北京，浙江，湖南，江苏，福建,广东，海南，上海，北京，浙江，湖南，江苏，福建</span></li>
                        <li>报价要求：<span>需要报含税价报价，需要包含运费，不允许对询价单部份物料报价</span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-left">
                    <dl class="col-title">
                        <dt></dt>
                        <dd>联系方式</dd>
                    </dl>
                    <ul class="trade-infos">
                        <li>联系人：<span>李小姐</span></li>
                        <li class="phone">
                            <i><img src="__BUSINESS__/images/m.png" alt=""></i>
                            <div class="get-phone">
                                <span>180****7895</span>
                                <p>请完成登录后查看电话</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 企业采集单  e -->



    </div>

    <!--------footer-开始-------------->
    <include file="public/footer" />
    <!--------footer-结束-------------->


</body>
</html>