<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>咨询</title>
	<!--<link rel="stylesheet" type="text/css" href="css/consult.css"/>-->
	<link rel="stylesheet" href="__MOBILE__/css/zixun/consult.css">
</head>
<body>
	<div class="contenter">
		<div class="h_top">
			<img src="__MOBILE__/images/zixun/bg@2x.png" class="conb">
			<div class="tit">
				<img src="__MOBILE__/images/zixun/logo@2x.png" class="logo">
				<p>企业礼品方案一站式服务平台</p>
			</div>
		</div>
		<div class="tel">
			<img src="__MOBILE__/images/zixun/consult_button@2x.png" class="tel_c">
			<a class="bottem-a left" href="tel: 4000897879"> 电话联系</a>
			<!--<p>400-089-7879</p>-->
		</div>
		<div class="contmn">
			<div class="be">
				<p>为您提供</p>
			</div>
			<ul>
				<li>
					<img src="__MOBILE__/images/zixun/service_1@2x.png" >
					<p><span class="t1">礼品集采：</span><span>正品行货，放心购物</span></p>
				</li>
				<li>
					<img src="__MOBILE__/images/zixun/service_2@2x.png" >
					<p><span class="t1">家居设计：</span><span>全套方案，高端设计</span></p>
				</li>
				<li>
					<img src="__MOBILE__/images/zixun/service_3@2x.png" >
					<p><span class="t1">商家进驻：</span><span>海量商机，精准买家</span></p>
				</li>
				<li>
					<img src="__MOBILE__/images/zixun/service_4@2x.png" >
					<p><span class="t1">服务咨询：</span><span>采供咨询，售后服务</span></p>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>