<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″>
    <title>礼品招商_礼品加盟入驻_礼品店加盟_一礼通招商网</title>
    <meta name="keywords" content="礼品招商，礼品加盟，礼品入驻，礼品店加盟，礼品招商网">
    <meta name="description" content="一礼通礼品网火热招商中，找礼品网加盟入驻，推荐上一礼通商城，国内大型礼品网站，这里有2018最热门的礼品资源，最火的赚钱项目，礼品招商网诚邀礼品行业商家入驻，共享礼业财富！
">
    <link rel="stylesheet" href="__STATIC__/css/active_css.css">
</head>
<body style="overflow-x: hidden;">
    <!-- 顶部banner 登录入驻 start -->
    <div class="fb-col">
        <div class="fb-content-center" style="height: 1080px;">
            <img class="banner" src="/public/upload/active/images/zs_banner.png" alt="">
            <ul class="fb-login">
                <li><a href="{:url('Business/login')}">马上登录</a></li>
                <li><a href="{:url('Business/register')}">立即入驻</a></li>
            </ul>
        </div>
    </div>
    <!-- 顶部banner 登录入驻 end -->

    <!-- 关于一礼通 start -->
    <div class="fb-col" style="padding: 100px 0;background:#eaeae4;">
        <div class="fb-content-center">
            <div class="clearfix">
                <div class="aboutUs">
                    <p class="aboutUs-title">ABOUT  US</p>
                    <p class="aboutYlt">关于一礼通/<span>公司简介</span></p>
                    <article class="aboutUs-content">
                        <p>一礼通是礼至集团旗下国内首家礼生活移动互联网平台，是以礼为核心, 以产品、文化、思想为基础， 以互联网应用为载体，构建一个用户自主、资源共享、全民创新的智能生活应用平台</p>
                        <p style="margin-top:10px;">意在为广大用户提供个性创意、稳定快捷、安全实用的个性化礼品定制服务，为设计师提供广阔的创意展现空间、为艺术大师营造高端无限的市场领地，创造独具特色的中国礼文化。</p>
                    </article>
                </div>
                <div class="aboutUs-img">
                    <img src="/public/upload/active/images/zs_aboutUs.jpg" alt="">
                </div>
            </div>
            <div class="superiority">
                <div class="superiority-title"><img src="/public/upload/active/images/zs_title_1.png" alt=""></div>
                <ul class="superiority-list">
                    <li>
                        <h4>商机无限</h4>
                        <p>国内首家礼文化生活应用平台，蓝海市场、商机无限</p>
                    </li>
                    <li>
                        <h4>成本低</h4>
                        <p>低成本入驻、快速抢占礼品市场</p>
                    </li>
                    <li>
                        <h4>资源多</h4>
                        <p>开放集团大客户采购资源，共享6年积累集团采购礼品客户</p>
                    </li>
                    <li>
                        <h4>立体营销</h4>
                        <p>全方位立体营销，助力商家推广产品，降低商家宣传成本</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 关于一礼通 end -->

    <!-- 区别同行 start -->
    <div class="fb-col diff-bg">
        <div class="fb-content-center clearfix">
            <div class="diff-left">
                <dl>
                    <dt>传统电商</dt>
                    <dd>1.周期饱和/遇天花板</dd>
                    <dd>2.压榨供应链</dd>
                    <dd>3.入驻成本高昂/独立作战</dd>
                    <dd>4.缺附加值</dd>
                    <dd>5.越卖越便宜</dd>
                    <dd>6.无有力支撑却越卖越贵</dd>
                </dl>
                <h2>V</h2>
            </div>
            <div class="diff-right">
                <div class="diff-title">
                    <p>ADVANTAGE</p>
                    <span>区别同行/</span>
                </div>
                <dl style="width:250px;">
                    <dt style="text-align:left;">一礼通</dt>
                    <dd>1.初始周期/无限空间</dd>
                    <dd>2.共享共创，帮助供应链</dd>
                    <dd>3.入驻成本低/生态链作战</dd>
                    <dd>4.高附加值</dd>
                    <dd>5.花出去/赚回来</dd>
                    <dd>6.可持续的越卖越贵或越卖越快</dd>
                </dl>
                <h2>S</h2>
            </div>
        </div>
    </div>
    <!-- 区别同行 end -->

    <!-- 资费标准 start -->
    <div class="fb-col" style="padding:75px 0;background:#eaeae4;">
        <div class="fb-content-center">
            <div class="superiority-title"><img src="/public/upload/active/images/zs_title_2.png" alt=""></div>
            <div class="cost clearfix">
                <div class="cost-left"><img src="/public/upload/active/images/zs_cost.png" alt=""></div>
                <div class="cost-right">
                    <p class="cost-title">FEE SCALE</p>
                    <span></span>
                    <ul>
                        <li>入驻费&nbsp;&nbsp;&nbsp;3000元</li>
                        <li>保证金&nbsp;&nbsp;&nbsp;5000元(可退)</li>
                        <li>扣点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无</li>
                        <li>提现手续费&nbsp;&nbsp;&nbsp;1%</li>
                    </ul>
                    <dl>
                        <dt>优享礼包：</dt>
                        <dd>价值2688元的净水器一台；实力商家认证</dd>
                        <dd>5次产品广告免费推送；15日广告位免费展观</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- 资费标准 end -->

    <!-- 入驻流程 start -->
    <div class="fb-col flow-bg">
        <div class="fb-content-center clearfix">
            <div class="flow-title">
                <p>ADVANTAGE</p>
                <span>入驻流程/</span>
            </div>
            <div class="flow-arr"><img src="/public/upload/active/images/zs_flow_arr.png" alt=""></div>
        </div>
    </div>
    <!-- 入驻流程 end -->

    <!-- 入驻流程 start -->
    <div class="fb-col" style="padding: 80px 0;background:#eaeae4;">
        <div class="fb-content-center clearfix">
            <div class="superiority-title"><img src="/public/upload/active/images/zs_join.png" alt=""></div>
            <div class="join">
                <ul>
                    <li>
                        <img src="__STATIC__/images/downLoadCode.png" alt="" width="130" height="130">
                        <p>扫码下载即可下载 <br>一礼通客户端</p>
                    </li>
                    <li>
                        <img src="__STATIC__/images/business_reg_code.png" alt="" width="130" height="130">
                        <p>扫码下载即可注册 <br>商家入驻通道</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 入驻流程 end -->
</body>
</html>