<include file="public/layout" />
<style>
    td{height:40px;line-height:40px; padding-left:20px;}
    .span_1{
        float:left;
        margin-left:0px;
        height:130px;
        line-height:130px;
    }
    .span_1 ul{list-style:none;padding:0px;}
    .span_1 ul li{
        border:1px solid #CCC;
        height:40px;
        padding:0px 10px;
        margin-left:-1px;
        margin-top:-1px;
        line-height:40px;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>区域代理管理 - 区域代理信息</h3>
                <h5>网站系统区域代理管理信息</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="user_form" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>区域代理公司名称</label>
                </dt>
				 <dd class="opt"> <input id="company_name"  name="company_name" value="{$su.company_name}" class="input-txt" type="text"></dd>
				 <input type="hidden" name="FUid" id="FUid" value="{$su.FUid}">
            </dl>
     
            <dl class="row">
                <dt class="tit">
                    <label>公司所在地</label>
                </dt>
                <dd class="opt">
				  

					<select  class="selec" name="province" id="province" onChange="get_business_city(this)" >
						<option value="0">请选择省份</option>
						<volist name="province" id="p">
							<option <if condition="$su['province'] eq $p['id']">selected</if> value="{$p.id}">{$p.name}</option>
						</volist>
					</select>
					<select  class="selec" name="city" id="city" onChange="get_business_area(this)">
						<option value="0">请选择城市</option>
						<volist name="city" id="p">
							<option <if condition="$su['city'] eq $p['id']">selected</if> value="{$p.id}">{$p.name}</option>
						</volist>
					</select>
					<select  class="selec" name="district" id="district">
						<option value="0">请选择地区</option>
						<volist name="area" id="p">
							<option <if condition="$su['district'] eq $p['id']">selected</if> value="{$p.id}">{$p.name}</option>
						</volist>
					</select>
                             
							
			</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="address">详细地址</label>
                </dt>
                <dd class="opt">
                    <input id="address"  name="address" value="{$su.address}" class="input-txt" type="text">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label class="operating_name">负责人姓名</label>
                </dt>
                <dd class="opt">
                    <input id="operating_name" name="operating_name" value="{$su.operating_name}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>
			 <dl class="row">
                <dt class="tit">
                    <label class="mobile">手机号</label>
                </dt>
                <dd class="opt">
                    <input id="mobile" name="mobile" value="{$su.mobile}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label class="operating_id">负责人身份证号码</label>
                </dt>
                <dd class="opt">
                    <input id="operating_id" name="operating_id" value="{$su.operating_id}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>

			 <dl class="row">
                <dt class="tit">
                    <label>开户银行</label>
                </dt>
                <dd class="opt"><input name="bank_name" id=" bank_name" value="{$su.bank_name}" class="input-txt" type="text"></dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label>开户支行名称</label>
                </dt>
                <dd class="opt"><input name="bank_account_name" id=" bank_account_name" value="{$su.bank_account_name}" class="input-txt" type="text"></dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label>开户名称</label>
                </dt>
                <dd class="opt"><input name="account_name" id=" account_name" value="{$su.account_name}" class="input-txt" type="text"></dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label>对公账号</label>
                </dt>
                <dd class="opt"><input name="bank_account_number" id=" bank_account_number" value="{$su.bank_account_number}" class="input-txt" type="text"></dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label>保证金</label>
                </dt>
                <dd class="opt"><input name="bond_number" id=" bond_number" value="{$su.bond_number}" class="input-txt" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></dd>
            </dl>

            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>营业执照</label>
                </dt>
                <dd class="opt">

					<div class="input-file-show" id="divComUploadContainer">
						<span class="show">
						  <a id="img_a1" class="nyroModal" rel="gal" href="{$su.business_licence}">
							  <i id="img_i1" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$su.business_licence}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
						  </a>
						</span>           
						<span class="type-file-box">            
						<input type="text" id="business_licence" name="business_licence" value="{$su.business_licence}" class="type-file-text">            
						<input type="button" class="type-file-button" onClick="GetUploadify(1,'business_licence','business','img_call_back')" value="上传图片" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效"/> 
						</span>
					</div>
				</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>税务登记</label>
                </dt>
                <dd class="opt">
				<div class="input-file-show" id="divComUploadContainer">
						<span class="show">
						 <a id="img_a2" class="nyroModal" rel="gal" href="{$su.tax_registration}">
							  <i id="img_i2" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$su.tax_registration}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
						</a>
						</span>
						<span class="type-file-box">            
						<input type="text" id="tax_registration" name="tax_registration" value="{$su.tax_registration}" class="type-file-text">            
						<input type="button" class="type-file-button" onClick="GetUploadify(1,'tax_registration','business','img_call_back2')" value="上传图片" hidefocus="true"  title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">          
						</span>
					  </div>
				</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>身份证正面</label>
                </dt>
                <dd class="opt">
					
					<div class="input-file-show" id="divComUploadContainer" >
						<span class="show">
						  <a id="img_a3" class="nyroModal" rel="gal" href="{$su.identity_positive}">
							<i id="img_i3" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$su.identity_positive}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
						  </a>
						</span>
						<span class="type-file-box">            
						<input type="text" id="identity_positive" name="identity_positive" value="{$su.identity_positive}" class="type-file-text">            
						 <input type="button" class="type-file-button" onClick="GetUploadify(1,'identity_positive','business','img_call_back3')" value="上传图片" hidefocus="true"  title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">          
						</span>
					  </div>
				</dd>
				
					
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>身份证反面</label>
                </dt>
				<dd class="opt">
					
					<div class="input-file-show" id="divComUploadContainer" >
						<span class="show">
						  <a id="img_a4" class="nyroModal" rel="gal" href="{$su.identity_opposite}">
							<i id="img_i4" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$su.identity_opposite}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
						  </a>
						</span>
						<span class="type-file-box">            
						<input type="text" id="identity_opposite" name="identity_opposite" value="{$su.identity_opposite}" class="type-file-text">            
						
						 <input type="button" class="type-file-button" class="type-file-file" onClick="GetUploadify(1,'identity_opposite','business','img_call_back4')" value="上传图片" hidefocus="true"  title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">          
						</span>
					  </div>
				</dd>

            </dl>
			
			<dl class="row">
                <dt class="tit">
                    <label>申请时间</label>
                </dt>
                <dd class="opt">{$su.add_time|date='Y-m-d H:i',###}</dd>
            </dl>  



			 <dl class="row">
                <dt class="tit">
                    <label>审核结果</label>
                </dt>
                <dd class="opt"><select name="status" id="status">
				 <option value="0" <if condition="($su[status] eq 0)">selected="selected"</if>>未审核</option>   
				  <option value="1" <if condition="($su[status] eq 1)">selected="selected"</if>>审核通过</option>   
				   <option value="2" <if condition="($su[status] eq 2)">selected="selected"</if>>审核不通过</option>
					<option value="-1" <if condition="($su[status] eq -1)">selected="selected"</if>>关闭</option>  				   
				</select>  </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="checkUserUpdate();" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
	<script type="text/javascript">
	
function img_call_back(fileurl_tmp)
    {
        $("#business_licence").val(fileurl_tmp);
        $("#img_a1").attr('href', fileurl_tmp);
        $("#img_i1").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
function img_call_back2(fileurl_tmp)
    {
        $("#tax_registration").val(fileurl_tmp);
        $("#img_a2").attr('href', fileurl_tmp);
        $("#img_i2").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
function img_call_back3(fileurl_tmp)
    {
        $("#identity_positive").val(fileurl_tmp);
        $("#img_a3").attr('href', fileurl_tmp);
        $("#img_i3").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
function img_call_back4(fileurl_tmp)
    {
        $("#identity_opposite").val(fileurl_tmp);
        $("#img_a4").attr('href', fileurl_tmp);
        $("#img_i4").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }

	
 function checkUserUpdate(){

        $('#user_form').submit();
    }

/**
 * 获取城市
 * @param t  省份select对象
 */
function get_business_city(t){
    var parent_id = $(t).val();
    if(!parent_id > 0){
        return;
    }
    $('#district').empty().css('display','none');
    $('#twon').empty().css('display','none');
    var url = '/index.php?m=admin&c=Business&a=getBusinessCity&level=2&parent_id='+ parent_id;
    $.ajax({
        type : "GET",
        url  : url,
        error: function(request) {
            alert("服务器繁忙, 请联系管理员!");
            return;
        },
        success: function(v) {
            v = '<option value="0">选择城市</option>'+ v;
            $('#city').empty().html(v);
        }
    });
}

/**
 * 获取地区
 * @param t  城市select对象
 */
function get_business_area(t){
    var parent_id = $(t).val();
    if(!parent_id > 0){
        return;
    }
    $('#district').empty().css('display','inline');
    $('#twon').empty().css('display','none');
    var url = '/index.php?m=admin&c=Business&a=getBusinessArea&level=2&parent_id='+ parent_id;
    $.ajax({
        type : "GET",
        url  : url,
        error: function(request) {
            alert("服务器繁忙, 请联系管理员!");
            return;
        },
        success: function(v) {
            v = '<option>选择区域</option>'+ v;
            $('#district').empty().html(v);
        }
    });
}
</script>
</div>
</body>
</html>