<include file="public/layout" />
<style>
    td{height:40px;line-height:40px; padding-left:20px;}
    .span_1{
        float:left;
        margin-left:0px;
        height:130px;
        line-height:130px;
    }
    .span_1 ul{list-style:none;padding:0px;}
    .span_1 ul li{
        border:1px solid #CCC;
        height:40px;
        padding:0px 10px;
        margin-left:-1px;
        margin-top:-1px;
        line-height:40px;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>订单分销管理 - 订单分销数据信息</h3>
                <h5>订单分销数据信息</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="user_form" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>订单编码</label>
                </dt>
				 <dd class="opt"><a class="btn blue" href="{:Url('Admin/order/detail',array('order_id'=>$info['order_id']))}"><i class="fa fa-search">{$info.order_sn}</i></a></dd>
				 <input type="hidden" name="log_id" id="log_id" value="{$info.log_id}">
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label class="supplier_name">店铺名称</label>
                </dt>
                <dd class="opt">
                    <input id="supplier_name" name="supplier_name" value="{$info.supplier_name}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="total_amount">订单总金额</label>
                </dt>
                <dd class="opt">
                    <input id="total_amount"  name="total_amount" value="{$info.total_amount}" class="input-txt" type="text">
                </dd>
            </dl>
            
			 <dl class="row">
                <dt class="tit">
                    <label class="recommend_code">推荐人CODE</label>
                </dt>
                <dd class="opt">
                    <input id="recommend_code" name="recommend_code" value="{$info.recommend_code}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label class="commission_price">佣金总额</label>
                </dt>
                <dd class="opt">
                    <input id="commission_price" name="commission_price" value="{$info.commission_price}" class="input-txt" type="text">
                    <span class="err"></span> </dd>
            </dl>
			 <dl class="row">
                <dt class="tit">
                    <label class="commission_divided">佣金分成</label>
                </dt>
                <dd class="opt"><input name="commission_divided" id=" commission_divided" value="{$info.commission_divided}" class="input-txt" type="text"></dd>
            </dl>

			<dl class="row">
                <dt class="tit">
                    <label class="commission_portion">佣金比例</label>
                </dt>
                <dd class="opt"><input name="commission_portion" id=" commission_portion" value="{$info.commission_portion}" class="input-txt" type="text"></dd>
            </dl>
			<dl class="row">
                <dt class="tit">
                    <label class="supplier_id">订单商家</label>
                </dt>
                <dd class="opt"><input name="supplier_id" id=" supplier_id" value="{$info.supplier_id}" class="input-txt" type="text"></dd>
            </dl>
			<if $info.city_agent_id>
				 <dl class="row">
					<dt class="tit">
						<label class="city_agent_id">市代ID</label>
					</dt>
					 <dd class="opt"><input name="city_agent_id" id=" city_agent_id" value="{$info.city_agent_id}" class="input-txt" type="text"></dd>
				</dl>

				<dl class="row">
					<dt class="tit">
						<label class="city_divided">市代分成</label>
					</dt>
					<dd class="opt"><input name="city_divided" id=" city_divided" value="{$info.city_divided}" class="input-txt" type="text"></dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label class="city_portion">市代分成比例</label>
					</dt>
					<dd class="opt"><input name="city_portion" id=" city_portion" value="{$info.city_portion}" class="input-txt" type="text"></dd>
				</dl>
			<else>
				<dl class="row">
					<dt class="tit">
						<label class="city_agent_id">市代</label>
					</dt>
					 <dd class="opt">暂无</dd>
				</dl>
			
			</if>
			<if $info.area_agent_id>
				<dl class="row">
					<dt class="tit">
						<label class="area_agent_id">区代ID</label>
					</dt>
					<dd class="opt"><input name="area_agent_id" id=" area_agent_id" value="{$info.area_agent_id}" class="input-txt" type="text"></dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label class="area_divided">区代分成</label>
					</dt>
					<dd class="opt"><input name="area_divided" id=" area_divided" value="{$info.area_divided}" class="input-txt" type="text"></dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label class="area_portion">区代分成比例</label>
					</dt>
					<dd class="opt"><input name="area_portion" id=" area_portion" value="{$info.area_portion}" class="input-txt" type="text"></dd>
				</dl>
			<else>
				<dl class="row">
					<dt class="tit">
						<label class="area_agent_id">区代</label>
					</dt>
					<dd class="opt">暂无</dd>
				</dl>
			</if>
			<if $info.FManagerId>
				<dl class="row">
					<dt class="tit">
						<label class="FManagerId">区域经理ID</label>
					</dt>
					<dd class="opt"><input name="FManagerId" id=" FManagerId" value="{$info.FManagerId}" class="input-txt" type="text"></dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label class="manager_divided">区域经理分成</label>
					</dt>
					<dd class="opt"><input name="manager_divided" id=" manager_divided" value="{$info.manager_divided}" class="input-txt" type="text"></dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label class="manager_portion">区域经理分成比例</label>
					</dt>
					<dd class="opt"><input name="manager_portion" id=" manager_portion" value="{$info.manager_portion}" class="input-txt" type="text"></dd>
				</dl>
			<else>
				<dl class="row">
					<dt class="tit">
						<label class="FManagerId">区域经理</label>
					</dt>
					<dd class="opt">暂无</dd>
				</dl>
			</if>
            <dl class="row">
                <dt class="tit">
                    <label class="supplier_divided">商家分成</label>
                </dt>
                <dd class="opt"><input name="supplier_divided" id=" supplier_divided" value="{$info.supplier_divided}" class="input-txt" type="text"></dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label class="supplier_portion">店铺分成比例</label>
                </dt>
                <dd class="opt"><input name="supplier_portion" id=" supplier_portion" value="{$info.supplier_portion}" class="input-txt" type="text"></dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label class="shopkeeper_id">微店主</label>
                </dt>
                <dd class="opt"><input name="shopkeeper_id" id=" shopkeeper_id" value="{$info.shopkeeper_id}" class="input-txt" type="text"></dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label class="shopkeeper_divided">微店主分成</label>
                </dt>
                <dd class="opt"><input name="shopkeeper_divided" id=" shopkeeper_divided" value="{$info.shopkeeper_divided}" class="input-txt" type="text"></dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label class="shopkeeper_portion">微店铺分成比例</label>
                </dt>
                <dd class="opt"><input name="shopkeeper_portion" id=" shopkeeper_portion" value="{$info.shopkeeper_portion}" class="input-txt" type="text"></dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label class="pay_code">支付方式</label>
                </dt>
                <dd class="opt"><input name="pay_code" id=" pay_code" value="{$info.pay_code}" class="input-txt" type="text"></dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label class="transaction_id">支付凭证</label>
                </dt>
                <dd class="opt"><input name="transaction_id" id=" transaction_id" value="{$info.transaction_id}" class="input-txt" type="text"></dd>
            </dl>


			
			<dl class="row">
                <dt class="tit">
                    <label>订单支付时间</label>
                </dt>
               <dd class="opt">{$info.add_time|date='Y-m-d H:i',###}</dd>
            </dl>
			
		   <dl class="row">
                <dt class="tit">
                    <label class="status">分成状态</label>
                </dt>
                <dd class="opt"><if $info.status eq 1>已分成<else>未分成</if></dd>
            </dl>
		   <dl class="row">
                <dt class="tit">
                    <label>分成时间</label>
                </dt>
               <dd class="opt">{$info.sign_time|date='Y-m-d H:i',###}</dd>
            </dl>

            <div class="bot"><a href="{:Url('Admin/business/orderDividedList')}"  class="ncap-btn-big ncap-btn-green">确认返回</a></div>
        </div>
    </form>
	<script type="text/javascript">
	
function img_call_back(fileurl_tmp)
    {
        $("#business_licence").val(fileurl_tmp);
        $("#img_a1").attr('href', fileurl_tmp);
        $("#img_i1").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }


	
 function checkUserUpdate(){

        $('#user_form').submit();
    }


</script>
</div>
</body>
</html>