<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/shouye.css">
    <title>采购合同</title>
</head>

<body>
    <div class="xz_container">
        <div class="banner">
            <img src="__MOBILE__/images/contract/img_banner@3x.png" alt="">
        </div>
        <div class="cont">
            <p class="p1">创建电子合同</p>
            <p class="p2">方便快捷，省心服务</p>
            <div class="imglist">
                <a href="contract_htong.html"><img src="__MOBILE__/images/contract/1@3x.png" alt=""></a>
                <a href="contract_cghtong.html"><img src="__MOBILE__/images/contract/2@3x.png" alt=""></a>
                <!-- <a href="#" onclick="alert('敬请期待')" ><img src="__MOBILE__/images/contract/2@3x.png" alt=""></a> -->
            </div>
            <p class="p3">合同最终解释权归礼至集团所有</p>
        </div>
    </div>

</body>

</html>