<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电子合同</title>
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/start_index.css">
    <script src="__MOBILE__/js/contract/jquery-3.4.1.min.js"></script>
    <script src="__MOBILE__/js/contract/start_index.js"></script>
</head>

<body>
    <div class="hz_cont">
        <div class="search_box">
            <a href="contract_search">
            <div class="box">
                <input type="text" placeholder="搜索合同名称">
                <img src="__MOBILE__/images/contract/icon_search@3x.png" alt="" class="icon_search">
            </div>
            </a>
            <span>|</span>
            <a href="contract_me">
            <img src="__MOBILE__/images/contract/icon_me@3x.png" class="icon_me">
            </a>
        </div>
        <div class="navv">
            <ul class="nav">
                <li class="active" onclick="navigation(1)">红礼供应链</li>
                <li onclick="navigation(2)">礼至礼品</li>
                <li onclick="navigation(3)">礼至家居</li>
                <li onclick="navigation(4)">一礼通</li>
                <li onclick="navigation(5)">礼至汇文化</li>
                <!-- <li onclick="navigation(6)">礼至信息科技</li> -->
            </ul>
        </div>

        <div class="banner">
            <!-- <a href=""> -->
            <img src="__MOBILE__/images/contract/banner@3x.png" alt="" class="banner_img">
            <!-- </a> -->
        </div>
        <div class="hetonglist">
            <!--ajax 返回 合同列表--> 
            <div id="ajax_contract_shouye" cellpadding="0" cellspacing="0" border="0"></div>
        </div>
        <p class="nomore">没有更多了~</p>

    </div>
</body>
<script type="text/javascript">
$(document).ready(function(){

        // ajax 加载商品列表
        navigation(1);

        // $("#liya li").hover(function(){
        // var imgsrc=$(this).attr("data-src");
        //     $("#imgkk").attr("src",imgsrc);
        //     $("#liya li").removeClass('active');
        //     $(this).addClass('active');
        // });
    });
    function navigation(id) {
        $.ajax({
            type: "POST",
            url: "/index.php/Mobile/Charity/ajax_contract_shouye/id/"+id,
            success: function (data) {
                $("#ajax_contract_shouye").html('');
                $("#ajax_contract_shouye").append(data);
            }
        });
    }
</script>
</html>