<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/shouye.css">
    <title>医疗防护用品代采合同模板</title>
</head>

<body>
    <div class="hz_container">
        <div class="htongimg">
            <img src="__MOBILE__/images/contract/ht1.png" alt="">
            <img src="__MOBILE__/images/contract/ht2.png" alt="">
            <img src="__MOBILE__/images/contract/ht3.png" alt="">
            <img src="__MOBILE__/images/contract/ht4.png" alt="">
            <img src="__MOBILE__/images/contract/ht5.png" alt="">
            <img src="__MOBILE__/images/contract/ht6.png" alt="">
            <img src="__MOBILE__/images/contract/ht7.png" alt="">
            <img src="__MOBILE__/images/contract/ht8.png" alt="">
        </div>
        <div class="btn">
            <a style="text-decoration:none;" href="contract_update.html">
                <div class="edit_button">
                    编辑合同
                </div>
            </a>
        </div>


    </div>
</body>

</html>