<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电子合同-合同中心</title>
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/totalhetong.css">
    <script src="__MOBILE__/js/contract/jquery-3.4.1.min.js"></script>
    <script src="__MOBILE__/js/contract/start_index.js"></script>
</head>

<body>
    <div class="hz_cont">
        <ul class="navlist">
            <a href="contract_shouye" class="icon_back"><img src="__MOBILE__/images/contract/icon_back@2x.png" alt=""></a>
            <li <if condition="empty($type)">class="active" </if>>
            <a href="/Mobile/Charity/contract_totalhetong">
                <span>全部</span>
            </a>
                <div class="redban"></div>
            </li>
            <li <if condition="$type eq 1">class="active" </if>>
            <a href="/Mobile/Charity/contract_totalhetong/type/1">
                <span>待提交</span>
            </a>
                <div class="redban"></div>
            </li>
            <li <if condition="$type eq 2">class="active" </if>>
            <a href="/Mobile/Charity/contract_totalhetong/type/2">
                <span>待审核</span>
            </a>
                <div class="redban"></div>
            </li>
            <li <if condition="$type eq 3">class="active" </if>>
            <a href="/Mobile/Charity/contract_totalhetong/type/3">
                <span>已审核</span>
            </a>
                <div class="redban"></div>
            </li>
        </ul>
        <div class="hetonglist">
        <volist name="totalhetong" id="list">
            <if condition="$list.type eq 1">  
                <div class="hetongya">
                    <p>{$list.project_name}</p>
                    <div class="status">
                        <span>{$list.add_time|date='Y-m-d',###}</span> 
                        <span class="hg">|</span>
                        <span>待提交</span>
                        <span class="hg">|</span>
                        <img  src="__MOBILE__/images/contract/icon_delete@2x.png" alt="" class="icon_illu" data-id="{$list.id}">
                    </div>
                    <a href="{:Url('/Mobile/Charity/contract_transfer',array('d_id'=>$list.d_id,'p_id'=>$list.p_id,'c_id'=>$list.c_id,'id'=>$list.id,'Lo_id'=>$list.p_id))}"><img src="__MOBILE__/images/contract/icon_edit@3x.png" alt="" class="icon_gray"></a>
                </div>
            <elseif condition="$list.type eq 2">  
                <div class="hetongya">
                    <p>{$list.project_name}</p>
                    <div class="status">
                        <span>{$list.add_time|date='Y-m-d',###}</span> 
                        <span class="hg">|</span>
                        <span  onclick="waitThrough()" >待审核</span>
                        <span class="hg">|</span>
                        <img  src="__MOBILE__/images/contract/icon_delete@2x.png" alt="" class="icon_illu" data-id="{$list.id}">
                    </div>
                    <!-- <img src="__MOBILE__/images/contract/icon_next_gray@3x.png" alt="" class="icon_gray"> -->
                </div>
            <elseif condition="$list.type eq 3">  
                <a style="text-decoration:none;" href="">
                    <div class="hetongya">
                        <p>{$list.project_name}</p>
                        <div class="status">
                            <span>{$list.add_time|date='Y-m-d',###}</span> 
                            <span class="hg">|</span>
                            <span>审核通过</span>
                        </div>
                            <a target="_blank" href="{$list.img_url}" class="download_btn"><img src="__MOBILE__/images/contract/iocn_download_gray@3x.png" alt="" class="icon_download_gray" download="htong.pdf"></a>
                            <img src="__MOBILE__/images/contract/2.gif" alt="" class="icon_gif hidden">
                            <img src="__MOBILE__/images/contract/icon_through@3x.png" alt="" class="icon_through">
                    </div>
                </a>
            <elseif condition="$list.type eq 4">  
                <div class="hetongya">
                    <a style="text-decoration:none;" href="{:Url('/Mobile/Charity/contract_transfer',array('d_id'=>$list.d_id,'p_id'=>$list.p_id,'c_id'=>$list.c_id,'id'=>$list.id,'Lo_id'=>$list.p_id))}">
                    <p>{$list.project_name}</p>
                    </a>
                    <div class="status">
                        <span>{$list.add_time|date='Y-m-d',###}</span> 
                        <span class="hg">|</span>
                        <span>审核未通过</span>
                        <span class="hg">|</span>
                        <img  src="__MOBILE__/images/contract/icon_delete@2x.png" alt="" class="icon_illu"  data-id="{$list.id}">
                        <!-- <img src="__MOBILE__/images/contract/icon_illustration@3x.png" alt="" class="icon_illu"> -->
                    </div>
                    <a style="text-decoration:none;" href="{:Url('/Mobile/Charity/contract_transfer',array('d_id'=>$list.d_id,'p_id'=>$list.p_id,'c_id'=>$list.c_id,'id'=>$list.id,'Lo_id'=>$list.p_id))}">
                    <img src="__MOBILE__/images/contract/icon_edit@3x.png" alt="" class="icon_gray">
                    </a>
                </div>
            </if>
        </volist>
        </div>
        <p class="nomore">没有更多了~</p>

        <div class="wrap hidden"> </div>
        <div class="tanc hidden">
            <div class="top">
                说明
            </div>
            <div class="content">
                请联系负责人沟通具体事宜
                <!-- 公司电话错误；报价错误；公司名称错误；报价表错误；公司电话错误；报价错误； -->
            </div>
            <div class="bottom">
                我知道了
            </div>
        </div>
        <div class="tanc2 hidden">

            <div class="content">
                您的合同正在等待平台审核，请耐心等待。
            </div>
            <div class="bottom">
                我知道了
            </div>
        </div>
        <div class="successBox hidden">
            <div class="p1" style="font-size: 15px;">确定删除该合同吗？点击确定将彻底删除该合同</div>
            <div class="btton_an"><a  href="javascript:void(0)" data-url="{:Url('Admin/System/contract_list_del')}" id="confirmDelete">确定</a><a href="javascript:;" style="color: #E6002D;" id="cancelDelete">取消</a>
            </div>
        </div>
    </div>


</body>

</html>