<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电子合同</title>
    <link rel="stylesheet" href="__MOBILE__/css/contract/normalize.css">
    <link rel="stylesheet" href="__MOBILE__/css/contract/search.css">
</head>

<body>
    <div class="hz_cont">
        <div class="search_box">
            <div class="box">
                <input type="text" placeholder="搜索合同名称">
                <img src="__MOBILE__/images/contract/icon_search@3x.png" alt="" class="icon_search">
            </div>
            <span>取消</span>

        </div>
        <div class="hot_search">
            <div class="search_title">
                <span>热门搜索</span>
                <img src="__MOBILE__/images/contract/icon_hot@3x.png" alt="" class="icon_hot">
                <img src="__MOBILE__/images/contract/icon_delete@3x.png" alt="" class="icon_delete">
            </div>
            <ul class="hot_content">
                <li><a hre="#">防护医疗合同</a></li>
                <li><a hre="#">防护医疗合同</a></li>
                <li><a hre="#">防护医疗合同</a></li>
                <li><a hre="#">防护医疗合同</a></li>
            </ul>
        </div>
        <div class="tuijian">
            <p class="title">为您推荐</p>
            <div class="list">
                <a href="">
                    <div class="het">
                        <span>01</span>
                        <div class="xinxi">
                            <img src="__MOBILE__/images/contract/icon_moon@3x.png" alt="">
                            <span>中秋月饼销售合同</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="het">
                        <span>01</span>
                        <div class="xinxi">
                            <img src="__MOBILE__/images/contract/icon_moon@3x.png" alt="">
                            <span>中秋月饼销售合同</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    </div>

</body>

</html>