<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">	
		<title>绑定礼品卡</title>
		<link rel="stylesheet" href="__MOBILE__/css/giftCard.css">
	</head>
	<body>
		<div class="bound">
			<header>
				<div class="back"><a href="javascript:history.go(-1);"><img src="__MOBILE__/images/icon_back_s.png"></a></div>
				<div class="headName">绑定礼品卡</div>
				<div></div>
			</header>
			<div class="explain">一礼通是一礼通礼品卡唯一官方认可的销售平台。</div>
			<div class="indicate">请输入礼品卡密码</div>
			<div class="inputBox">
			<input type="tel" id="code" placeholder="请输入6-8位密码" maxlength="8">
			</div>
			<div class="promptly" onclick="submit()">立即绑定</div>
		</div>
		<script src="__MOBILE__/js/screenAdaptation.js"></script>
		<script src="__MOBILE__/js/jquery-1.11.3.min.js"></script>							
		<script>
		function submit(){
			var code=$("#code").val();
			var uid = {$_SESSION['user']['user_id']};
			// console.log(code);
			$.ajax({
				type:'POST',
				url:"{:Url('Coupon/boundCodes')}",
				data:{code:code,uid:uid},
				dataType: 'json',
				success: function(data){
			       if(data.status == 1){
			          alert(data.msg);
					  location.href = '/Mobile/Coupon/electCodes/uid/'+uid;
				   }else{
			           alert(data.msg);
				      // showErrorMsg(data.msg);
				   }
				}
			})
		}
		</script>
	</body>
</html>
