<!DOCTYPE html>
<html>
<link rel="stylesheet" href="__MOBILE__/css/mobile.css">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/mobile/css/coupon.css">
	</head>
	<body>
		<div class="coupon">
        <volist name="links" id="post_link">
			<if condition="strtotime($post_link['use_end_time']) GT $post_link['time'] and $post_link[ling_num] !='0％' ">
			<header>
				<div class="coupon_Box">
					<div class="couponLeft">
						<div class="leftTop">
							<div class="leftTop_money">￥<span>{$post_link[money]}</span></div>
							<div class="leftTop_condition">
								<div class="condition">满<span>{$post_link[condition]}</span>可用</div>
								<div class="astrict">每人限领{$post_link[limitget]}张</div>
							</div>
						</div>
						<div class="couponTime">使用期限：{$post_link[use_start_time]}-{$post_link[use_end_time]}</div>
					</div>
					<div class="couponRight">
						<div class="clickGet">
							<div class="circle" id='promptly' data-id="{$post_link.id}">立即<br>领取</div>
						</div>
						<div class="surplus" >剩余<span>{$post_link[ling_num]}</span></div>
					</div>
				</div>
			</header>
			<else/>
			<header>
				<div class="coupon_Box">
					<div class="couponLeft">
						<div class="leftTop">
							<div class="leftTop_money" style="color: #8E8E8E">￥<span>{$post_link[money]}</span></div>
							<div class="leftTop_condition">
								<div class="condition">满<span>{$post_link[condition]}</span>可用</div>
								<div class="astrict">每人限领{$post_link[limitget]}张</div>
							</div>
						</div>
						<div class="couponTime">使用期限：{$post_link[use_start_time]}-{$post_link[use_end_time]}</div>
					</div>
					<div class="couponRight" style="background-color: #8E8E8E">
						<div class="clickGet">
							<div class="circle" style="color: #8E8E8E">活动<br>停止</div>
						</div>
						<div class="surplus">剩余<span>{$post_link[ling_num]}</span></div>
					</div>
				</div>
			</header>
			</if>
		</volist>
			<nav>
				<div class="ticketBox1"> <span class="ticket">&nbsp;券 | <span>{$post_link[money]}-{$post_link[condition]}</span>&nbsp;</span></div>
				<div class="hint">该优惠券适用于以下商品</div>
			</nav>
			<section>
        <volist name="links" id="post_link">
				<div class="commodity" >
		    		<a href="{:Url('Goods/goodsInfo',array('id'=>$post_link[goods_id]))}">
					<div class="commodityLeft"><img src="{$post_link[goods_thumb]}"></div>
					<div class="commodityRight">
						<div class="commodityName">{$post_link[goods_name]}</div>
						<div class="price">
							<div class="discountPrice">券后价 <span>￥{$post_link[price]}</span></div>
							<div class="marketPrice">现售价 ￥{$post_link[shop_price]}</div>
						</div>
						<div class="ticketBox"> <span class="ticket">&nbsp;券 | <span>{$post_link[money]}-{$post_link[condition]}</span>&nbsp;</span></div>
					</a>
						<div class="rightBottom">
							<div class="shop">
								<span>{$post_link['supplier_name']}</span>
							</div>
							<if condition="!empty($post_link.goods_spec)">
                                <foreach item="vs" key="key" name="post_link[goods_spec]">
                                    <div class="Cartss" onclick="Cartss({$post_link[goods_id]},1,'{$key}',{$vs[0][item_id]})">
                                        <img src="__STATIC__/mobile/images/cart.png"  value="购物车">
                                    </div>
                                </foreach> 
                            <else/>
                                <div class="Cartss" onclick="Cartss({$post_link[goods_id]},1,'','')">
                                    <img src="__STATIC__/mobile/images/cart.png"  value="购物车">
                                </div>
                            </if>
						</div>
					</div>
				</div>
		</volist>
			<div class="commodityHints">已无更多该优惠券相关商品啦~ </div>
			</section>
			<footer>
				<div class="explain">活动说明</div>
				<div class="explainDetails">				
						<p>1.点击“立即领取”按钮，领取成功后购买商品时使用，即可享受优惠。</p>
						<p>2.在 我的-优惠券，可查询已领到的优惠券。</p>
						<p>3.因商品参与其它活动等原因，付款时优惠券可能无法使用，此时商品最终成交价以您实际付款时提示金额为准。</p>
						<p>4.获取、使用优惠券时如存在违规行为(作弊领取、恶意套现、刷取信誉、虚假交易等)，将取消用户领取资格、撤销违规交易且收回全部优惠券(含 已使用及未使用的)，必要时追究法律责任。</p>
						<p>5.预售商品交付定金时，不可使用优惠券。</p>						
				</div>
			</footer>
		</div>
<!-- 加入购物车弹出框 s -->
<div id="tips-box1" class="win2">
    <div class="win2wrap">
    <div class="win2sharebox">
        <div class="tips_title1">
            <span>信息</span>
            <i class="tips-close1"><img src="__MOBILE__/images/close-icon.png" alt="关闭"></i>
        </div>
        <div class="tips-con1">添加成功！</div>
        <ul class="tips-buy-btn1">
            <li><a href="{:Url('Cart/cart')}">去购物车</a></li>
            <li><a href="javascript:;" class="tips-close">再逛逛</a></li>
        </ul>
    </div>
    </div>
</div>
<!-- 加入购物车弹出框 e -->
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
<script src="__STATIC__/mobile/js/screenAdaptation.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#promptly").click(function(){
	  var id=$(this).data('id');
	  $.ajax({
	    url:"/index.php?m=Mobile&c=Coupon&a=coupon_link&id="+id,
	    dataType:"json",
	    type:"POST",
	    // data:value,
	    success:function(data){
	    	// alert(123);
	      if (data.code==1) {
	        alert(data.msg);
	        window.location.href = data.url;
	      }else{
	      	alert(data.msg);
	        window.location.href = data.url;
	      }
	    }
	  })
	})
})
function Cartss(goods_id,goods_num,goods_key,goods_val){
         var value={
                goods_id:goods_id,
                goods_num:goods_num,
                goods_val:goods_val,
                goods_key:goods_key,
            }
              // console.log(value);
            $.ajax({
                type : "POST",
                url:"/Mobile/Cart/ajaxAddCart",
                data :value,
                dataType:'json',
                success: function(data){
                if(data.status == 1){
                    $('#tips-box1').css({display:'block'});
                    $('.tips-close').click(function(){
                    $('#tips-box1').hide();
                    })
                    $('.tips-close1').click(function(){
                    $('#tips-box1').hide();
                    })
                }else{
                    alert(data.msg);
                }
                return false;
            }
        })
    }

</script>
	</body>
</html>
